=link_to "Concept Exercise: #{exercise.title}", track_exercise_path(track, exercise)

-#
  - if @solution
    - if @solution.completed?
      Exercise Completed
    - else
      Exercise Started
      = link_to "Continue", edit_solution_path(@solution.uuid)
      = link_to "Complete", complete_track_concept_path(@track, @concept), method: :patch
  - else
    Exercise not started
    = button_to "Start exercise", start_track_concept_url(@track, @concept), method: :patch

