.md-container
  %h2 #{@track.title}: #{@concept.name}

  Concept Learnt

  - if @concept_exercise
    Learn this:
    = render "tracks/concepts/show/concept_exercise", track: @track, exercise: @concept_exercise
