:root {
    /* TODO: Rename these to match figma */
    --c-6E82AA: #6e82aa;
    --c-2E57E8: #2e57e8;
    --c-211D2F: #211d2f;
    --c-2E57E8: #2e57e8;
    --c-76709F: #76709f;
    --c-5C5589: #5c5589;
    --c-130B43: #130b43;
    --c-130b43: #130b43;
    --c-CBC9D9: #cbc9d9;
    --c-322C44: #322c44;
    --c-3F3A5A: #3f3a5a;
    --c-6D6986: #6d6986;
    --c-6A93FF: #6a93ff;
    --c-533F56: #533f56;
    --c-8480A0: #8480a0;
    --c-EAECF3: #eaecf3;
    --c-26282D: #26282d;
    --c-000000: #000000;
    --c-FFFFFF: #ffffff;
    --c-FBFCFE: #fbfcfe;
    --c-282339: #282339;
    --c-A9A6BD: #a9a6bd;
    --c-604FCD: #604fcd;
    --c-B0A8E3: #b0a8e3;
    --c-433F56: #433f56;
    --c-4FCDA7: #4fcda7;
    --c-F0F3F9: #f0f3f9;
    --c-D5D8E4: #d5d8e4;
    --c-F4F7FD: #f4f7fd;
    --c-E1EBFF: #e1ebff;
    --c-C8D5EF: #c8d5ef;
    --c-FAFAFF: #fafaff;
    --c-E8EDF7: #e8edf7;
    --c-F6F7FB: #f6f7fb;
    --c-403A66: #403a66;
    --c-6A6781: #6a6781;
    --c-3A3557: #3a3557;
    --c-302B42: #302b42;
    --c-4A475F: #4a475f;
    --c-191525: #191525;
    --c-2F2943: #2f2943;
    --c-A7B7D6: #a7b7d6;
    --c-7097FF: #7097ff;

    --darkThemeBackgroundColor: var(--c-282339);
    --track-color-c: 52, 19, 148;
    --track-color-csharp: 19, 140, 148;
    --track-color-cpp: 130, 19, 148;
    --track-color-kotlin: 249, 138, 10;
    --track-color-javascript: 240, 219, 79;
    --track-color-ruby: 235, 87, 87;
    --track-color-bash: 0, 0, 0;
    --track-color-clojure: 88, 129, 216;
    --track-color-coffeescript: 205, 124, 79;
    --track-color-common-lisp: 45, 58, 62;
    --track-color-crystal: 0, 0, 0;
    --track-color-d: 193, 95, 94;
    --track-color-dart: 44, 183, 246;
    --track-color-elm: 95, 180, 203;
    --track-color-emacs-lisp: 127, 93, 182;
    --track-color-erlang: 169, 5, 51;
    --track-color-f: 48, 185, 219;
    --track-color-go: 0, 172, 215;
    --track-color-haskell: 94, 81, 135;
    --track-color-java: 234, 45, 46;
    --track-color-julia: 64, 99, 216;
    --track-color-lua: 0, 0, 125;
    --track-color-ocaml: 237, 110, 13;
    --track-color-perl5: 58, 60, 91;
    --track-color-python: 55, 112, 160;
    --track-color-elixir: 125, 65, 164;
    --track-color-fsharp: 48, 185, 219;
    --track-color-mips: 98, 65, 192;
    --track-color-nim: 239, 199, 67;
    --track-color-clojurescript: 99, 177, 50;
    --track-color-ceylon: 52, 73, 94;
    --track-color-ballerina: 81, 194, 192;
    --track-color-cf: 12, 42, 114;
    --track-color-cfml: 52, 23, 114;
    --track-color-delphi: 243, 39, 53;
    --track-color-ecmascript: 248, 220, 61;
    --track-color-groovy: 97, 156, 188;
    --track-color-haxe: 246, 135, 18;
    --track-color-idris: 138, 8, 25;
    --track-color-lfe: 102, 120, 40;
    --track-color-objective-c: 11, 90, 157;
    --track-color-raku: 255, 51, 102;
    --track-color-pharo-smalltalk: 43, 152, 216;
    --track-color-php: 80, 94, 156;
    --track-color-plsql: 248, 0, 0;
    --track-color-powershell: 54, 40, 123;
    --track-color-prolog: 241, 75, 37;
    --track-color-purescript: 20, 22, 26;
    --track-color-r: 87, 87, 94;
    --track-color-racket: 159, 29, 32;
    --track-color-reasonml: 221, 75, 57;
    --track-color-rust: 57, 46, 46;
    --track-color-scala: 222, 52, 35;
    --track-color-scheme: 0, 0, 0;
    --track-color-sml: 118, 73, 214;
    --track-color-swift: 240, 81, 56;
    --track-color-tcl: 30, 92, 179;
    --track-color-typescript: 49, 120, 198;
    --track-color-vimscript: 1, 152, 51;
    --track-color-vbnet: 0, 78, 140;
    --track-color-x86-64-assembly: 98, 65, 192;
    --track-color-gnu-apl: 0, 0, 0;

    --filter-twitter: invert(51%) sepia(82%) saturate(2086%) hue-rotate(175deg)
        brightness(98%) contrast(93%);
    --filter-CBC9D9: invert(93%) sepia(8%) saturate(833%) hue-rotate(199deg)
        brightness(90%) contrast(88%);
    --filter-E2EBFF: invert(86%) sepia(12%) saturate(630%) hue-rotate(194deg)
        brightness(103%) contrast(107%);
    --filter-59D2AE: invert(74%) sepia(71%) saturate(309%) hue-rotate(106deg)
        brightness(89%) contrast(88%);
    --filter-FFFFFF: invert(99%) sepia(33%) saturate(62%) hue-rotate(352deg)
        brightness(109%) contrast(100%);
    --filter-2E57E8: invert(21%) sepia(78%) saturate(3537%) hue-rotate(227deg)
        brightness(98%) contrast(85%);
    --filter-7097FF: invert(57%) sepia(30%) saturate(2773%) hue-rotate(199deg)
        brightness(101%) contrast(101%);
    --filter-E2CB2D: invert(73%) sepia(100%) saturate(350%) hue-rotate(3deg)
        brightness(94%) contrast(94%);

    /* textColor6 dark-mode variant */
    --filter-A9A6BD: invert(75%) sepia(8%) saturate(561%) hue-rotate(208deg)
        brightness(90%) contrast(90%);

    --container-padding-x: 16px;
    @screen md {
        --container-padding-x: 32px;
    }
}

.theme-light {
    --backgroundColorA: var(--c-FFFFFF);
    --backgroundColorA-RGB: 255, 255, 255;
    --backgroundColorB: var(--c-FBFCFE);
    --backgroundColorC: var(--c-EAECF3);
    --backgroundColorD: var(--c-F0F3F9);
    --backgroundColorE: var(--c-F4F7FD);
    --backgroundColorF: var(--c-FAFAFF);
    --backgroundColorG: var(--c-F6F7FB);
    --backgroundColorH: var(--c-130B43);
    /* veryLightBlue */
    --backgroundColorI: #e1ebff;

    /* used at background linear-gradients */
    --backgroundColorJ: #fbfbff;
    /* lightBlue */
    --fillColorProgress: #2e57e8;
    --borderColor1: var(--c-000000);
    --borderColor3: var(--c-26282D);
    --borderColor4: var(--c-6D6986);
    --borderColor5: var(--c-CBC9D9);
    --borderColor6: var(--c-D5D8E4);
    --borderColor7: var(--c-EAECF3);
    --borderColor9: var(--c-FFFFFF);
    /* textColor1 and textColor2 has different dark-themes */
    --textColor1: var(--c-130B43);
    --textColor2: var(--c-130B43);
    --textColor3: var(--c-26282D);
    --textColor5: var(--c-3F3A5A);
    --textColor6: var(--c-5C5589);
    --textColor7: var(--c-76709F);
    --textColor8: var(--c-E1EBFF);
    --textColor9: var(--c-FFFFFF);
    /* inline codeblock - gotToLoveAPurple - needs a theme-dark pair  */
    --textColor10: #271b72;

    --color22: #c8d5ef;

    --linkColor: var(--c-2E57E8);
    --buttonBorderColor1: var(--c-26282D);
    --buttonBorderColor2: var(--c-A9A6BD);
    --inputBackgroundColor: var(--c-FFFFFF);
    --inputBorderColor: var(--c-8480A0);
    --inputBorderColorFocus: var(--c-2E57E8);
    --inputBoxShadowColorFocus: rgba(46, 87, 232, 0.25);
    --tabBackgroundColorSelected: var(--c-E1EBFF);
    --tabBorderColorSelected: var(--c-A7B7D6);
    --modalBackgroundColor: rgba(251, 252, 254, 0.7);
    --lockedColor: var(--c-E8EDF7);
    --paginationCurrentBorderColor: var(--c-6E82AA);
    --paginationCurrentBackgroundColor: var(--c-E1EBFF);
    --chartBorderColor: var(--c-D5D8E4);
    --successColor: #3db591;

    --box-shadow-sm: 0px 4px 16px 0px rgb(79, 114, 205, 0.1);
    --box-shadow-base: 0px 4px 24px 0px rgba(79, 114, 205, 0.15);
    --box-shadow-lg: 0px 4px 42px 0px rgba(79, 114, 205, 0.15);
    --box-shadow-lgZ1: 0px 4px 42px 0px rgba(79, 114, 205, 0.3);

    --commonBadge-RGB: 240, 243, 249;
    --commonBadgeFill-RGB: 80, 83, 89;
    --commonBadgeShadow-RGB: 80, 83, 89; /* TODO */
    --rareBadge-RGB: 159, 180, 255; /* 219, 240, 255 */
    --rareBadgeFill-RGB: 0, 20, 75;
    --rareBadgeShadow-RGB: 219, 240, 255;
    --ultimateBadge-RGB: 246, 150, 5;
    --ultimateBadgeFill-RGB: 86, 0, 0;
    --ultimateBadgeShadow-RGB: 246, 150, 5; /* TODO */
    --legendaryBadge-RGB: 235, 87, 87;
    --legendaryBadgeFill-RGB: 75, 0, 0;
    --legendaryBadgeShadow-RGB: 235, 87, 87; /* TODO */

    /* https://codepen.io/sosuke/pen/Pjoqqp */
    --notifications-active-filter: invert(76%) sepia(54%) saturate(3406%)
        hue-rotate(349deg) brightness(92%) contrast(111%);
    --notifications-inactive-filter: invert(17%) sepia(25%) saturate(368%)
        hue-rotate(188deg) brightness(93%) contrast(86%);
    --primary-reputation-filter: invert(88%) sepia(37%) saturate(870%)
        hue-rotate(355deg) brightness(90%) contrast(96%);
    --link-blue-filter: invert(49%) sepia(99%) saturate(6416%)
        hue-rotate(225deg) brightness(94%) contrast(93%);
    --white-filter: var(--filter-FFFFFF);
    --purple-filter: invert(23%) sepia(90%) saturate(1818%) hue-rotate(236deg)
        brightness(97%) contrast(80%);
    --dark-purple-filter: invert(20%) sepia(60%) saturate(1812%)
        hue-rotate(229deg) brightness(92%) contrast(89%);
    --exercism-with-logo-black-filter: var(--textColor1-filter);

    /* TODO: Replace with purple-filter */
    --another-purple-filter: invert(23%) sepia(90%) saturate(1818%)
        hue-rotate(236deg) brightness(97%) contrast(80%);
    --textColor1-filter: invert(10%) sepia(35%) saturate(3157%)
        hue-rotate(231deg) brightness(99%) contrast(113%);
    --textColor2-filter: invert(7%) sepia(25%) saturate(7470%)
        hue-rotate(241deg) brightness(100%) contrast(107%);
    --textColor5-filter: invert(22%) sepia(33%) saturate(565%)
        hue-rotate(209deg) brightness(96%) contrast(93%);
    --textColor6-filter: invert(35%) sepia(3%) saturate(6422%)
        hue-rotate(208deg) brightness(94%) contrast(87%);
    --textColor7-filter: invert(47%) sepia(9%) saturate(1718%)
        hue-rotate(208deg) brightness(94%) contrast(83%);
    --orange-filter: invert(57%) sepia(90%) saturate(682%) hue-rotate(354deg)
        brightness(95%) contrast(104%);
    --dark-green-filter: invert(55%) sepia(64%) saturate(367%)
        hue-rotate(111deg) brightness(99%) contrast(87%);
    --red-filter: invert(78%) sepia(76%) saturate(7147%) hue-rotate(332deg)
        brightness(105%) contrast(84%);
    --buttonBorderColor1: invert(10%) sepia(2%) saturate(5253%)
        hue-rotate(186deg) brightness(92%) contrast(84%);
    --yellow-filter: invert(100%) sepia(52%) saturate(2878%) hue-rotate(329deg)
        brightness(106%) contrast(96%);
    /* #A7B7D6 */
    --mid-gray-filter: invert(72%) sepia(16%) saturate(458%) hue-rotate(181deg)
        brightness(101%) contrast(84%);
    --lightGold-filter: invert(87%) sepia(66%) saturate(518%) hue-rotate(308deg)
        brightness(102%) contrast(101%);
    --linkColor-filter: var(--filter-2E57E8);

    --exercise-header-gradient: linear-gradient(
        180deg,
        #e1ebff 0%,
        rgba(225, 235, 255, 0) 100%
    );

    @apply text-textColor5 bg-backgroundColorB;
}

.theme-dark {
    color-scheme: dark;

    --backgroundColorA: var(--c-282339);
    --backgroundColorA-RGB: 40, 35, 57;
    --backgroundColorB: var(--c-211D2F);
    --backgroundColorC: var(--c-302B42);
    --backgroundColorD: var(--c-3A3557); /* Confirmed */
    --backgroundColorE: var(--c-4A475F); /* Confirmed */
    --backgroundColorF: var(--c-191525);
    --backgroundColorG: var(--c-2F2943);
    --backgroundColorH: var(--c-F0F3F9);

    /* backgroundColorF's colors */
    --backgroundColorI: var(--c-191525);

    /* this is used at tiny gradients - needs a proper dark-theme color */
    --backgroundColorJ: var(--backgroundColorA);
    --fillColorProgress: linear-gradient(to right, #2200ff 0%, #9e00ff 100%);
    --borderColor3: var(--c-8480A0);
    --borderColor5: var(--c-433F56); /* Confirmed */
    --borderColor6: var(--c-433F56);
    --borderColor7: var(--c-533F56);
    --textColor1: var(--c-FFFFFF);
    --textColor2: var(--c-F0F3F9); /* Confirmed */
    /* same as buttonBorderColor1 for now */
    --textColor3: var(--c-8480A0);
    --textColor5: var(--c-CBC9D9);
    --textColor6: var(--c-A9A6BD); /* Confirmed */
    --textColor7: var(--c-6A6781); /* Confirmed */
    --textColor9: var(--c-000000);

    --color22: var(--c-533F56);

    --linkColor: var(--c-7097FF);
    --buttonBorderColor1: var(--c-8480A0);
    --buttonBorderColor2: var(--c-6A6781);
    --inputBackgroundColor: var(--c-282339);
    --inputBorderColorFocus: var(--c-8480A0);
    --tabBackgroundColorSelected: var(--c-604FCD);
    --successColor: var(--c-4FCDA7);
    --chartBorderColor: var(--c-6A6781);

    --paginationCurrentBorderColor: var(--c-6A6781);
    --paginationCurrentBackgroundColor: var(--c-403A66);

    --modalBackgroundColor: rgba(40, 35, 57, 0.7);
    --box-shadow-sm: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    --box-shadow-base: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
    --box-shadow-lg: 0px 4px 42px 0px rgba(0, 0, 0, 0.6);
    --box-shadow-lgZ1: 0px 4px 42px 0px rgba(0, 0, 0, 0.9);

    --white-filter: var(--filter-FFFFFF);

    /* this only applies if it is dark mode */
    --white-filter-when-dark: var(--filter-FFFFFF);
    /* this can be a dark mode filter for all (or most) the black svgs */
    /* it is only present in the dark-mode block and won't effect the original variant */
    --svg-darkmode-filter: var(--filter-A9A6BD);
    /* This is yellow */
    --orange-filter: invert(100%) sepia(52%) saturate(2878%) hue-rotate(329deg)
        brightness(106%) contrast(96%);
    --another-purple-filter: invert(23%) sepia(90%) saturate(1818%)
        hue-rotate(236deg) brightness(97%) contrast(80%);
    --textColor1-filter: invert(100%) sepia(0%) saturate(7500%)
        hue-rotate(242deg) brightness(101%) contrast(100%);
    --textColor2-filter: invert(93%) sepia(31%) saturate(246%)
        hue-rotate(177deg) brightness(100%) contrast(96%);
    --textColor5-filter: invert(89%) sepia(10%) saturate(255%)
        hue-rotate(208deg) brightness(94%) contrast(84%);
    --textColor6-filter: invert(71%) sepia(18%) saturate(258%)
        hue-rotate(208deg) brightness(93%) contrast(86%);
    --textColor7-filter: invert(43%) sepia(4%) saturate(2017%)
        hue-rotate(207deg) brightness(92%) contrast(86%);
    --buttonBorderColor1-filter: invert(52%) sepia(9%) saturate(862%)
        hue-rotate(208deg) brightness(97%) contrast(95%);
    --primary-reputation-filter: invert(88%) sepia(37%) saturate(870%)
        hue-rotate(355deg) brightness(90%) contrast(96%);
    --light-gold-filter: invert(79%) sepia(31%) saturate(572%)
        hue-rotate(340deg) brightness(105%) contrast(101%);
    --linkColor-filter: var(--filter-7097FF);
    /* same as light theme, but becomes black if it is missing */
    --link-blue-filter: invert(49%) sepia(99%) saturate(6416%)
        hue-rotate(225deg) brightness(94%) contrast(93%);
    --purple-filter: var(--filter-FFFFFF);

    --exercism-with-logo-black-filter: var(--textColor6-filter);

    @apply text-textColor5 bg-backgroundColorB;
}

@media (prefers-color-scheme: dark) {
    .theme-unset {
        @inline .theme-dark;
    }
}

@media (prefers-color-scheme: light) {
    .theme-unset {
        @inline .theme-light;
    }
}
