@layer components {
    .filter-twitter {
        filter: var(--filter-twitter);
    }

    .filter-textColor6 {
        filter: var(--textColor6-filter);
    }

    .filter-white,
    .white-filter {
        filter: var(--white-filter);
    }
}
