@layer components {
    .filter-twitter {
        filter: var(--filter-twitter);
    }

    .filter-textColor6 {
        filter: var(--textColor6-filter);
    }

    .filter-white,
    .white-filter {
        filter: var(--white-filter);
    }

    .filter-lightGold {
        filter: var(--lightGold-filter);
    }

    .filter-shadow-huge {
        -webkit-filter: drop-shadow(0px 4px 128px rgba(79, 114, 205, 0.8));
        filter: drop-shadow(0px 4px 128px rgba(79, 114, 205, 0.8));
    }
}
