@layer base {
    /* Makes element scrollable on the x-axis but hides the scrollbar */
    .scroll-x-hidden {
        @apply overflow-x-auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Opera, Safari */
        }
        mask-image: linear-gradient(
            to right,
            transparent,
            white 20px,
            white 90%,
            transparent
        );
        @apply px-[10%];
    }
}
