- require_stylesheet "insiders"

#page-insiders.pt-40
  .flex.flex-col.items-center.pb-40{ class: 'min-h-[50vh]' }
    = graphical_icon "insiders", css_class: 'h-[64px] w-[64px] mb-8'
    %h1.text-h1.flex.items-center.mb-20 Exercism Insiders

    %p.text-p-large.mb-24 Waiting for confirmation from your payment provider.
    = graphical_icon "spinner", css_class: 'filter-textColor6 h-[64px] w-[64px] animate-spin-slow'

    = render ReactComponents::Insiders::PaymentPending.new
