.c-dropdown-generic-menu {
    @apply bg-backgroundColorA shadow-lg rounded-8;
    @apply px-16 py-12;
    @apply z-dropdown;

    & li {
        & button,
        & a {
            @apply flex w-100;
            @apply px-16 py-8;
            @apply text-textColor6 font-medium;
            @apply text-16 leading-huge;
            @apply bg-backgroundColorA;
            @apply flex items-center;

            & .emoji {
                line-height: 16px;
            }
            & .c-icon:first-child,
            & .emoji {
                width: 16px;
                height: 16px;
                @apply mr-16;
            }
            & .c-icon.external-link {
                width: 12px;
                height: 12px;
                @apply ml-16;
            }

            .c-icon {
                @apply filter-textColor6;
            }

            &:hover {
                @apply bg-backgroundColorD;
                @apply text-textColor5;
            }
        }
    }
}
