@import "../styles";

.c-request-mentoring-dropdown {
    width: 100%;
    max-width: 555px;

    @apply bg-backgroundColorA;
    @apply py-16 px-24;
    @apply shadow-baseZ1 rounded-8;
    @apply relative z-dropdown;

    & .mentoring-request {
        & h3 {
            @apply text-h5 mb-4;
        }
        & p {
            @apply text-16 leading-160 mb-12;
        }
    }
    & .discussions {
        & h3 {
            @apply text-h6 mb-4;
        }
        & p {
            @apply text-16 leading-160 mb-12;
        }
    }

    & .mentoring-request,
    & .discussion-in-progress {
        @apply mb-16;
    }

    & .discussion-in-progress,
    & .no-discussions {
        @apply bg-backgroundColorD;
        @apply py-12 px-16;

        & h3 {
            @apply text-h6 text-textColor6 mb-4;
        }
        & p {
            @apply text-14 text-textColor6 leading-160;
        }
    }

    & .discussions {
        & h3 {
            @apply mb-12;
        }
        & .c-mentor-discussion-summary + .c-mentor-discussion-summary {
            @apply mt-12;
        }
    }
}
