body {
  background: black;
}
main {
  width: 80vmin;
  height: 80vmin;
  margin: 10vmin auto;
  background: white;
  position: relative;
}

#maze {
  display:grid;
  height:100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  .cell {
      position: relative;
      border:1px solid black;

      &.wall {
        background:#666;
      }
      &.start {
        background:pink;
      }
      &.target {
        background:lightgreen;
      }
  }
}
#blob {
  position:absolute;
  border-radius:100%;
  background: blue;

  top:0; /* Set this using a variable */
  left:0; /* Set this using a variable */
  margin:3%; /* Set this using a variable */

  &:before, &:after {
    content: "";
    position:absolute;
    width:30%;
    height:30%;
    background:blue;
    border-radius:100%;
    bottom:-20%;
  }
  &:before {
    left:10%;
  }
  &:after {
    right:10%;
  }
}