Hi #{@user.handle},
\
Thank you for your donation! Exercism exists to bring the joy of programming to everyone, everywhere. Your donation helps make everything we do possible.
\
You can see all the donations you've made to Exercism in your Settings page and download any receipts from there: #{donations_settings_url}
\
Thank you again!

