%p Hi #{@user.handle},
%p Thank you for your donation! Exercism exists to bring the joy of programming to everyone, everywhere. Your donation helps make everything we do possible.
%p You can see all the donations you've made to Exercism in your Settings page and download any receipts from there.
%p Thank you again!
= email_button_to "View your donations", badges_journey_url

