.c-admin-table
  .lg-container
    %h1.text-h1.mb-8= t('.title')
    %ul.text-p-base
      %li
        = t('.num_subscribers', count: @num_subscribers)

      %li
        = t('.total_recurring_donations', amount: number_to_currency(@total_recurring_amount_in_dollars))
