%section.c-zero-section
  = graphical_icon "person-celebrating", category: :graphics

  %h3= t('.title')
  %p= t('.description')
  = link_to t('.link'), mentoring_queue_path, class: 'btn-default btn-s'
