-# TODO: (Optional) Change this to only select the fields needed for an icon
- track_icon_urls = Track.active.order('rand()').limit(8).map(&:icon_url)
- num_tracks = Track.active.count

%section.c-tracks-zero-section.c-zero-section
  .track-icons
    - track_icon_urls.each do |icon_url|
      = image_tag icon_url, alt: '', class: "c-icon c-track-icon"

  %h3 You've not joined a track yet.

  %p
    Choose from over
    %strong #{num_tracks} language tracks,
    from the every day to downright odd, start your code practice now.
  = link_to "Browse #{num_tracks} language tracks", tracks_path, class: 'btn-primary btn-s'

