.exercise-layer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.exercise-card {
  box-sizing: border-box;

  padding: 20px 20px 20px 20px;
  margin: 25px 10px;

  border-radius: 10px;

  background-color: var(--concept-graph-card-background);
  color: var(--concept-graph-text-locked);
  box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.25);

  pointer-events: auto;
}

.exercise-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.exercise-display-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.exercise-display-stats {
  min-height: 20px;
}

.exercise-status {
  color: black;
}