:root {
    --c-concept-graph-background: #ffffff;
    --c-concept-graph-card-background: #ffffff;
    --c-concept-graph-check-green: #82e7c1;
    --c-concept-graph-line-complete: #64b294;
    --c-concept-graph-line-available: #7194f7;
    --c-concept-graph-line-locked: #c9c8d7;
    --c-concept-graph-text-unlocked: #26282d;
    --c-concept-graph-text-locked: #83819e;
    --c-concept-graph-line-width: 2;
    --c-concept-graph-circle-radius: 4;
}

.c-exercise-graph {
    & .track {
        @apply pointer-events-none block

        &:hover {
            & .card {
                @apply opacity-50;
            }

            & .card:hover {
                @apply opacity-100;
            }
        }

        & .layer {
            @apply flex justify-evenly flex wrap

            & .card {
                @apply box-border p-20 my-24 mx-12 rounded-lg pointer-events-auto

                background-color: var(--c-concept-graph-card-background);
                color: var(--c-concept-graph-text-locked);
                box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.25);
                transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1);

                & .display {
                    @apply flex items-center justify-between

                    & .name {
                        @apply text-20 font-semibold;
                    }

                    & .stats {
                    }

                    & .status {
                    }

                    & .complete-icon {
                        @apply ml-8;
                    }
                }
            }
        }

        & .connections {
            & .canvas {
                @apply absolute m-0 p-0 -z-1 top-0 left-0
                touch-action: none;
                border: 0;
            }
        }
    }
}
