#page-profile-locked
  %section.top-section
    .lg-container.container
      = graphical_icon "profiles-intro", category: 'graphics'
      %h1 Showcase your work on Exercism
      %hr.c-divider
      %p Creating a public profile is a great way to showcase your published solutions, testimonials and open source contributions.
      %p Creating a profile is currently locked. To
