#page-profile-solutions
  = render ViewComponents::Profile::Header.new(@user, @profile, :badges)

  %article
    .lg-container
      = render ViewComponents::Introducer.new(:profile_solutions, "solutions") do
        %h2 Showcasing code and improvements
        %p See #{@user.handle}'s published solutions from completing exercises on Exercism. Discover how they improved their solution over iterations.

  = render ReactComponents::Profile::SolutionsList.new(@user, @solutions)
