#page-blog {
    @apply bg-backgroundColorB;
    & header {
        @apply shadow-base;

        & .main-graphic {
            height: 80px;
            width: 80px;
            @screen md {
                height: 128px;
                width: 128px;
            }
        }
        & p a {
            @apply text-textColor5 border-b-1 border-borderColor5 font-normal;
        }
    }
    & .highlighted-post {
        @apply bg-backgroundColorA rounded-8;
        &:hover {
            & h2 {
                @apply underline;
            }
        }

        & .main-image-link {
            max-width: 40%;
        }
        & .info-bar {
            @apply text-textColor6;
            @apply mb-16 md:mb-24;
            & .video img {
                @apply filter-textColor6;
                height: 24px;
                width: 24px;
            }
        }
    }
}
