@import "../styles";

#page-concept-show {
    & .concept-header {
        & .container {
            @apply flex items-center py-32;
            height: 190px;
        }
        background: linear-gradient(
            180deg,
            #e1ebff 0%,
            rgba(225, 235, 255, 0) 100%
        );
        & .c-concept-icon {
            @apply mr-48;
        }
        & .info {
            @apply flex-grow;
        }
        & h1 {
            @apply flex items-center text-h1 mb-8;
            & small {
                @apply text-18 ml-16 mr-12 text-textColor5 font-normal;
            }
            & .c-track-icon {
                /* TODO: Switch these */
                /*@mixin track-icon 48px;*/
                width: 48px;
                height: 48px;
            }
        }
        & .exercises {
            @apply flex items-center text-18;
            & svg {
                @apply mr-8;
                height: 24px;
                width: 24px;
            }
        }
        & .progress {
            @apply flex-shrink-0;

            & .c-concept-progress-bar {
                height: 8px;
                @apply mb-8;
            }
            & .progress-text {
                @apply flex items-center;
                @apply text-16 font-medium text-darkGray font-medium;

                & .c-icon {
                    height: 24px;
                    width: 24px;
                    @apply hidden mr-12;
                }

                &.completed {
                    @apply text-darkGreen font-semibold;
                    & .c-icon {
                        @apply block;
                    }
                }
            }
        }
    }
    & .about {
        @apply mb-32;

        & h2 {
            @apply text-h2 mb-8;
        }
        & p {
            @apply text-prose;
        }
    }
    & .links {
        & h3 {
            @apply text-h3 mb-16;
        }
        & ul {
            @apply flex flex-wrap gap-12;
        }
        & a {
            @apply flex items-center;
            @apply shadow-base py-6 px-16 rounded-100;
            & .c-bg-img {
                @apply mr-12;
                height: 16px;
                width: 16px;
            }
            & svg {
                height: 13px;
                width: 13px;
            }
        }
    }
    & .learn,
    & .practice {
        & h3 {
            @apply flex items-center text-h3 mb-16;
            & svg {
                @apply mr-16;
                height: 24px;
                width: 24px;
            }
        }
        & .exercises {
            @apply flex;
        }
    }
}
