@import "../styles";

.theme-light #page-dashboard {
    background: linear-gradient(
        180deg,
        #e1ebff 70px,
        rgba(225, 235, 255, 0) 290px
    );
}
.theme-dark #page-dashboard {
    background: linear-gradient(180deg, #000 0%, rgba(#282339, 0) 220px);
}
#page-dashboard {
    & .rhs {
        width: 420px;
        @apply flex-grow-0 flex-shrink-0 ml-48;
    }
    & .summary-bar {
        @apply block bg-backgroundColorA shadow-lg py-8;

        & .container {
            @apply flex items-center;
        }
        & .c-avatar {
            height: 48px;
            width: 48px;

            @apply mr-16 flex-shrink-0;
        }
        & .info {
            @apply flex-grow;

            & .handle {
                @apply text-h5-mono;
            }
            & .extra {
                @apply text-textColor6 leading-huge;
            }
        }

        & .badges {
            @apply flex items-center;
            & .c-badge-medallion {
                @apply ml-8;
                height: 54px;
                width: 54px;
            }
            & .count {
                @apply text-15 text-textColor6 font-semibold;
                @apply ml-12;
            }
        }
        & .journey {
            @apply flex pl-48 ml-48 items-center;
            @apply text-textColor6 font-medium text-16 leading-huge;
            @apply border-l-1 border-borderLight;
            & .c-icon {
                @apply ml-32;
                height: 16px;
                width: 16px;
            }
        }
    }
    & header.dashboard-header {
        @apply flex pt-32 mb-48;

        & .intro {
            @apply flex;

            & .c-icon {
                width: 80px;
                height: 80px;

                @apply flex-shrink-0 mr-32;
            }

            & .content {
                @apply flex flex-col;
            }

            & h1 {
                @apply text-h1 mb-8;
            }
            & p.welcome {
                @apply text-18 leading-huge mb-16;

                & strong {
                    @apply font-semibold;
                }
            }

            & p.cta {
                @apply self-start;
                @apply bg-lightGold py-8 px-16 rounded-100;
                @apply text-16 font-semibold text-darkGray leading-huge;

                & a {
                    @apply text-lightBlue;
                }
            }
        }
        & .rhs {
            @apply flex justify-end;
            & a {
                height: 96px;
                width: 96px;
                transition: box-shadow 0.2s;
                @apply bg-backgroundColorA shadow-sm rounded-circle;
                @apply flex flex-col items-center justify-center;
                @apply ml-16;

                @apply text-textColor3 font-medium leading-140;

                &:hover {
                    @apply shadow-lg;
                }

                & .c-icon {
                    height: 32px;
                    width: 32px;
                    @apply mb-8;
                }
            }
        }
    }

    & article {
        @apply flex mb-48;
    }

    & section.actions-section {
        height: 216px;
        @apply flex mb-48;
        @apply rounded-8 bg-backgroundColorA;

        box-shadow: 0px 4px 42px rgba(79, 114, 205, 0.15);

        & .action {
            width: 25%;

            @apply flex flex-col items-center justify-start;
            @apply p-24 text-16 leading-paragraph text-center;
            @apply border-r-1 border-borderColor7;
            transition: box-shadow 0.2s ease-out;

            &:last-child {
                @apply border-r-0;
            }

            &:hover {
                @apply shadow-lg;
            }

            & .c-icon {
                height: 96px;
                width: 96px;

                @apply mb-12;
            }
        }
    }
    & section.posts-section {
        @apply flex flex-col mb-32;

        & h2 {
            @apply text-h3 mb-24;
        }
        & .posts {
            @apply grid gap-16 mb-24;
            grid-template-columns: repeat(3, 1fr);
        }
        & .post {
            @apply block p-16 rounded-8 shadow-base;
            & .img {
                height: 150px;
                @apply mb-12 rounded-8;
                background: lightgray; /* TODO: REMOVE */
            }
            & .new {
                @apply bg-lightGold text-unnamed13 font-mono text-12 leading-paragraph;
                @apply uppercase font-bold;
                @apply inline-flex py-4 px-8 mb-8;
            }
            & .title {
                @apply text-h6 mb-4;
                @apply overflow-hidden;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                max-height: 44px; /* Fallback for max 2 lines */
            }
            & .byline {
                @apply text-16 leading-paragraph text-textColor6 font-medium;
                & > * {
                    @apply inline;
                }
            }
        }
        & .c-prominent-link {
            @apply self-center;
        }
    }
    & section.activity-section {
        & h2 {
            @apply text-h3 mb-24;
        }
    }
    & section.tracks-section {
        @apply mb-48;

        & .c-heading-with-count {
            @apply mb-16;
        }
        & .tracks {
            @apply mb-24;

            & .track {
                @apply flex mb-16 items-center;
                & .c-track-icon {
                    @apply mr-16 flex-shrink-0;
                    height: 54px;
                    width: 54px;
                }
                & .info {
                    @apply flex flex-col flex-grow;

                    & .title {
                        @apply text-h5-mono;
                        @apply mb-12;
                    }

                    & progress {
                        @apply appearance-none w-100 rounded-8 overflow-hidden;
                        @apply mb-8;
                        height: 8px;

                        &::-webkit-progress-bar {
                            @apply bg-veryLightBlue;
                        }
                        &[value] {
                            &::-webkit-progress-value {
                                @apply bg-lightBlue;
                            }
                        }
                    }
                    & .counts {
                        @apply text-textColor6 font-medium;
                    }
                }
                & .action-icon {
                    @apply ml-48 text-textColor6;
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
    & section.mentoring-section {
        @apply mb-48;

        & .c-heading-with-count {
            @apply mb-12;
        }

        & .discussions {
            @apply mb-24;
        }
    }
}
