@import "../styles";

body.controller-docs.action-section,
body.controller-docs.action-show {
    padding-left: 66px;
    .auth-buttons {
        a:nth-child(2) {
            @apply sm:flex hidden;
        }
    }
}

@screen xl {
    body.controller-docs.action-section,
    body.controller-docs.action-show {
        padding-left: unset;
    }
}

#page-docs-show {
    & .container {
        @apply flex;
    }
    & .docs-content {
        @apply pt-48 pb-48 xl:px-80 px-16;
        @apply flex-grow;
        @apply max-w-[100%] xl:max-w-[940px];

        & h1 {
            @apply text-h1 mb-4;
            overflow-wrap: anywhere;
            hyphens: auto;
        }
        & .h1-subtitle {
            @apply text-23 leading-170 text-textColor6;
        }
        & hr.c-divider {
            @apply my-20;
        }
    }
}
