#page-editor {
    --side-padding: 32px;
    --border-color: rgba(203, 201, 217, 0.5);

    @apply fixed grid;
    width: 100%;
    height: 100%;

    grid-template-areas: "header header" "main-lhs main-rhs" "footer-lhs footer-rhs";
    grid-template-rows: 54px auto 84px;
    grid-template-columns: 60% auto;

    & .header {
        grid-area: header;
        border-color: var(--border-color);

        @apply flex items-center px-32 border-b-1;

        & .close-btn {
            @apply flex;
            @apply font-semibold text-textLight text-16;
            & .c-icon {
                height: 16px;
                width: 16px;
                @apply mr-24;
            }
        }
        & .title {
            @apply flex-grow flex justify-center;
            @apply font-semibold text-16;

            & .track {
                @apply text-textLight;
            }

            & .divider {
                @apply text-textLight px-16;
            }

            & .exercise {
            }
        }

        & .hints-btn,
        & .keyboard-shortcuts-btn,
        & .settings-btn,
        & .more-btn {
            height: 36px;
        }

        & .hints-btn {
            @apply text-14 text-textLight border-textLight mr-24;
        }

        & .hints-btn,
        & .keyboard-shortcuts-btn,
        & .settings-btn {
            @apply mr-24;
        }

        & .keyboard-shortcuts-btn,
        & .settings-btn,
        & .more-btn {
            @apply flex justify-center items-center;
            @apply text-textLight;
            width: 48px;
            & .c-icon {
                height: 24px;
                width: 24px;
            }
        }
    }
    & .main-lhs {
        grid-area: main-lhs;
        overflow-x: hidden;
        overflow-y: scroll;

        border-color: var(--border-color);
        @apply border-r-1;
    }
    & .main-rhs {
        grid-area: main-rhs;
        overflow-x: hidden;
        overflow-y: scroll;

        & section.instructions {
            @apply py-16 px-32;

            & .c-textual-content {
                & * {
                    @apply text-15 leading-code;
                }
                & h2 {
                    @apply text-24 mb-8;
                }
                & h3 {
                    @apply text-18 mb-8;
                }
                & * + h3 {
                    margin-top: 0;
                } /* Override the default */
                & :not(h2) + h3 {
                    @apply mt-28;
                }
            }
        }
    }
    & .footer-lhs {
        grid-area: footer-lhs;

        border-color: var(--border-color);
        @apply border-r-1;

        @apply flex items-center justify-end px-32;

        & button {
            @apply ml-20;
        }
    }
    & .footer-rhs {
        grid-area: footer-rhs;

        @apply relative flex items-center px-32;

        & .tabs {
            @apply flex;

            & .c-tab {
                height: 36px;
                @apply mr-24;

                & svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        &:before {
            content: "";
            height: 48px;
            top: -48px;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(251, 252, 254, 0) 0%,
                #fbfcfe 44.22%
            );
        }
    }
}
