@import "../styles";

#page-editor {
    --side-padding: 32px;
    --border-color: rgba(203, 201, 217, 0.5);

    @apply fixed grid;
    width: 100%;
    height: 100%;

    grid-template-areas: "header header" "main-lhs main-rhs" "footer-lhs footer-rhs";
    grid-template-rows: 54px auto 84px;
    grid-template-columns: 60% auto;

    & .header {
        grid-area: header;
        border-color: var(--border-color);
        @apply bg-backgroundColorA;

        @apply flex items-center px-32 border-b-1;

        & .close-btn {
            @apply flex;
            @apply font-semibold text-textColor6 text-16;
            & .c-icon {
                height: 16px;
                width: 16px;
                @apply mr-24;
            }
        }
        & .title {
            @apply flex-grow flex justify-center;
            @apply font-semibold text-16;

            & .track {
                @apply text-textColor6;
            }

            & .divider {
                @apply text-textColor6 px-16;
            }

            & .exercise {
            }
        }

        & .hints-btn,
        & .keyboard-shortcuts-btn,
        & .settings-btn,
        & .more-btn {
            height: 36px;
        }

        & .hints-btn {
            @apply text-14 text-textColor6 border-borderColor4 mr-24;
        }

        & .hints-btn,
        & .keyboard-shortcuts-btn,
        & .settings-btn {
            @apply mr-24;
        }

        & .keyboard-shortcuts-btn,
        & .settings-btn,
        & .more-btn {
            @apply flex justify-center items-center;
            @apply text-textColor6;
            width: 48px;
            & .c-icon {
                height: 24px;
                width: 24px;
            }
        }

        & .settings-dialog {
            @apply bg-backgroundColorA;
            @apply flex flex-col shadow-lg;
            @apply py-24 px-32 text-left;

            & .setting {
                @apply flex items-center justify-between;
                @apply mb-16;
                &:last-child {
                    @apply mb-0;
                }

                & .name {
                    @apply text-16 font-medium text-darkGray;
                    @apply mr-56;
                    width: 100px;
                }

                & .options {
                    @apply bg-borderLight rounded-100;
                    @apply flex items-center;
                    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);

                    & label {
                        @apply block relative;
                        & .label {
                            @apply px-12 py-6;
                            @apply cursor-pointer;
                            @apply border-1 border-borderLight rounded-100;
                            @apply text-textColor6 font-mono font-bold leading-regular;
                        }

                        /* Keep it here so it's discoverable by touch
                         * for accessibility purposes */
                        & input {
                            @apply absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            &:checked + .label {
                                @apply bg-lightBlue;
                                @apply text-textColor9;
                            }

                            /* It would be nice to DRY this up with application.css
                             * but its tricky with the adjecent element. */
                            &:focus {
                                & + .label {
                                    outline: 5px auto -webkit-focus-ring-color;
                                }
                                &:not(.focus-visible) + .label {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & .main-lhs {
        grid-area: main-lhs;
        overflow-x: hidden;
        overflow-y: hidden;

        border-color: var(--border-color);
        @apply border-r-1;
        @apply bg-bgGray;

        @apply flex flex-col;

        & .react-monaco-editor-container {
            @apply pt-20;
        }

        & .monaco-editor {
            & .monaco-scrollable-element .scrollbar {
                background: transparent;
                .arrow-background {
                    background: purple;
                }

                & .slider {
                    background: red;
                }
            }
        }
    }
    & .main-rhs {
        grid-area: main-rhs;
        overflow-x: hidden;
        overflow-y: scroll;

        & section.instructions {
            @apply py-16 px-32;

            & > .c-textual-content {
                & * + h3 {
                    margin-top: 0;
                } /* Override the default */
                & :not(h2) + h3 {
                    @apply mt-28;
                }
                & > .c-details {
                    @apply border-t-2 border-lightGray;
                    @apply mt-24 pt-16;
                    @apply px-32;
                    margin-left: -32px;
                    margin-right: -32px;

                    & > .--summary {
                        @apply flex items-center;
                        @apply mb-8;

                        &::-webkit-details-marker {
                            @apply hidden;
                        }
                        & .--summary-title {
                            @apply flex-grow;
                            @apply text-h2 text-18 leading-huge;
                        }

                        & .--closed-icon,
                        & .--open-icon {
                            height: 24px;
                            width: 24px;

                            @apply flex flex-shrink-0 items-center justify-center;
                            @apply border-gray border-1 rounded-circle;
                            @apply text-darkGray;
                            @apply ml-16;

                            & .c-icon {
                                height: 11px;
                                width: 11px;
                            }
                        }
                    }
                }
                &.hints-btn {
                }
            }
        }
        & section.results {
            & .summary-status {
                @apply flex items-center justify-center;
                @apply pt-6 pb-8 px-8 border-t-4 mb-24;
                @apply font-bold font-mono uppercase leading-code;
                & .--dot {
                    @apply rounded-circle mr-12;
                    height: 8px;
                    width: 8px;
                }
                &.failed {
                    @apply bg-lightRed text-red;
                    @apply border-red;
                    & .--dot {
                        @apply bg-red;
                    }
                }
                &.passed {
                    @apply bg-veryLightGreen text-darkGreen;
                    @apply border-literallySoManyGreens;
                    & .--dot {
                        @apply bg-darkGreen;
                    }
                }
            }
            & .tests-list {
                @apply px-32 pb-16;

                & .tests-group {
                    & .tests-group-summary {
                        @apply inline-flex items-center;
                        @apply font-semibold text-14 text-darkGray;
                        @apply border-2 border-lightGray rounded-100;
                        @apply py-8 px-24 mb-12;
                        &::-webkit-details-marker {
                            @apply hidden;
                        }
                        & .c-icon.indicator {
                            height: 24px;
                            width: 24px;
                            @apply mr-16;
                        }
                    }
                }

                & .c-test-summary {
                    @apply flex items-center;
                    @apply bg-unnamed15 font-mono;
                    @apply mb-12 rounded-8;

                    & .--summary {
                        @apply flex items-center;
                        @apply py-8 px-24 mb-12;
                        &::-webkit-details-marker {
                            @apply hidden;
                        }

                        & .--status {
                            @apply flex-grow-0 flex-shrink-0 mr-24 flex items-center justify-center;
                            @apply font-bold uppercase text-13 leading-huge;
                            @apply text-textColor9 bg-darkGreen;
                            width: 70px;
                        }
                        & .--summary-details {
                            @apply flex-grow;
                            & .--summary-idx {
                                @apply font-semibold text-textColor6 leading-huge;
                            }
                            & .--summary-name {
                                @apply font-body font-semibold text-15 leading-regular;
                            }
                        }
                    }
                    & .--explanation {
                        @apply py-8 px-24;

                        & .--info {
                            @apply mb-16;
                            & h3 {
                                @apply font-bold text-darkGray uppercase leading-huge mb-8;
                            }
                            & pre {
                                @apply bg-backgroundColorA py-16 px-20 whitespace-pre-wrap;
                            }
                        }
                    }

                    &.error,
                    &.fail {
                        & summary {
                            & .--status {
                                @apply bg-red text-textColor9;
                            }
                        }
                    }
                }
            }
        }
    }
    & .footer-lhs {
        grid-area: footer-lhs;

        border-color: var(--border-color);
        @apply border-r-1;

        @apply flex items-center justify-end px-32;

        & button {
            @apply ml-20;
        }
    }
    & .footer-rhs {
        grid-area: footer-rhs;

        @apply relative flex items-center px-32;

        & .tabs {
            @apply flex;

            & .c-tab {
                height: 36px;
                @apply mr-24;

                & .c-icon {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        &:before {
            content: "";
            height: 48px;
            top: -48px;
            left: 0;
            right: 0;
            position: absolute;
            background: linear-gradient(
                180deg,
                rgba(251, 252, 254, 0) 0%,
                #fbfcfe 44.22%
            );
        }
    }

    & .c-iteration-pane {
        height: 100%;
    }
}

.c-modal.modal-editor-hints {
    & .--modal-content {
        max-width: 1100px;
    }
}
