@import "../styles";

body.namespace-tracks,
body.namespace-.controller-tracks {
    .auth-buttons {
        a:nth-child(2) {
            @apply sm:flex hidden;
        }
    }
}

body.namespace-tracks.controller-exercises.action-show {
    .explore-concept-button {
        display: none;
    }
}

#page-exercise-show {
    & section.completed-info {
        @apply bg-backgroundColorA py-24 px-32 shadow-lg rounded-8 mb-20;

        & h3 {
            @apply text-20 font-semibold leading-140;
        }

        & .progressed-concepts {
            @apply mb-16;
            & .c-react-wrapper-student-exercise-status-dot {
                @apply ml-8;
            }
        }
        & .c-prominent-link {
            @apply mb-24;
        }
    }
    & .tutorial-introduction {
        @apply shadow-lg rounded-8 bg-backgroundColorB;
        @apply py-16 px-32 mb-24;
        @apply text-p-large;
        & strong {
            @apply font-medium text-textColor2;
        }
    }
    & section.taught-concepts {
        @apply bg-backgroundColorA py-16 px-32 shadow-lg rounded-8 mb-20;

        & h3 {
            @apply text-20 font-semibold leading-140;
        }
        & .concepts {
            @apply flex flex-wrap;

            & .concept {
                @apply flex items-center border-1 border-unnamed15;
                @apply py-8 px-16 mr-8 bg-backgroundColorA rounded-8 shadow-base;
                @apply text-14 font-semibold;
                & .c-concept-icon {
                    @apply mr-8;
                }
            }
        }
        & .c-prominent-link {
            @apply mb-24;
        }
        & .explanation {
            @apply bg-unnamed15 py-12 px-24 rounded-8;
            @apply text-16 leading-paragraph font-medium;

            & a {
                @apply text-prominentLinkColor;
            }
        }
    }

    & section.latest-iteration {
        @apply bg-backgroundColorA shadow-lg rounded-8 mb-32;
        @apply py-24 px-32;

        & header {
            @apply flex mb-20;

            & .info {
                @apply flex-grow;

                & h2 {
                    @apply text-h3 mb-6;
                }
                & p {
                    @apply text-16 leading-160;
                    & .essential {
                        @apply text-red font-semibold;
                    }
                    & .actionable {
                        @apply text-textColor3 font-semibold;
                    }
                    & .non-actionable {
                        @apply text-textColor6 font-semibold;
                    }
                    & strong {
                        @apply font-semibold;
                    }
                    & a {
                        @apply inline-flex items-center;
                        @apply font-medium text-prominentLinkColor;
                        & .c-icon {
                            @apply filter-prominentLinkColor;
                            height: 12px;
                            width: 12px;
                            @apply ml-8;
                            @apply filter-textColor6;
                        }
                    }
                }
            }
            & > .c-icon.spinner {
                @apply ml-24 filter-textColor6;
                height: 24px;
                width: 24px;
                @apply filter-textColor6;
                animation: spin 3s linear infinite;
            }
            & .status {
                @apply mt-16 mr-16 rounded-circle;
                @apply flex-shrink-0;
                height: 8px;
                width: 8px;
                overflow: hidden;

                &.passed {
                    @apply text-darkGreen bg-darkGreen;
                }
                &.failed {
                    @apply text-red bg-red;
                }
            }
        }

        & a.iteration {
            @apply rounded-8 shadow-sm border-1 border-borderColor5;
            @apply py-8 px-24 mb-16;
            @apply flex items-center;

            & .action-icon {
                height: 16px;
                width: 16px;
                @apply ml-64;
                @apply filter-textColor6;
            }
        }

        & .next-steps {
            @apply border-t-1 border-borderColor7 mt-32;
            @apply grid grid-cols-2;

            & .community-solutions,
            & .mentoring {
                @apply pt-24;
                @apply flex flex-col items-center;
                @apply text-center;

                & .header-icon {
                    width: 48px;
                    height: 48px;
                    @apply mb-12;
                }
                & h3 {
                    @apply text-h4 mb-6;
                }

                & p {
                    @apply text-16 leading-160 mb-20;
                }
            }
            & .community-solutions {
                @apply pr-32;
                @apply border-r-1 border-borderColor7;
                & p {
                    @apply mb-20;
                }
            }

            & .mentoring {
                @apply pl-32;
                & p {
                    @apply mb-16;
                }
                & .c-combo-button {
                    @apply mb-16;
                }
                & .learn-more {
                    @apply flex items-center;
                    @apply font-semibold text-prominentLinkColor text-14 leading-170;
                    & .c-icon {
                        height: 14px;
                        width: 14px;
                        @apply ml-8 filter-prominentLinkColor;
                    }
                }
            }
        }
    }

    & section.instructions {
        @apply mb-32 bg-backgroundColorA rounded-8 shadow-lg;
        & .source {
            @apply mt-24;
            & hr {
                @apply mb-16;
            }
            & a {
                @apply inline-flex items-center;
                & .c-icon {
                    height: 12px;
                    width: 12px;
                    @apply ml-6;
                }
            }
        }
    }
    & section.extra-info {
        @apply flex flex-row items-center mb-40;
        a {
            @apply xs:flex hidden items-center;
            @apply text-15 text-textColor6 font-medium;
            @apply ml-auto;

            .c-icon {
                filter: var(--textColor6-filter);
            }

            .github-icon {
                height: 22px;
                width: 22px;
                @apply mr-16;
            }
            .action-icon {
                height: 12px;
                width: 12px;
                @apply ml-12;
            }
        }
    }
    & .action-box {
        @apply relative;
        @apply border-l-1 border-borderColor6 pl-24;

        & + .action-box {
            @apply pt-24;
            &:before {
                @apply mt-24;
            }
        }

        &.locked + .action-box {
            @apply pt-16;
            &:before {
                @apply mt-16;
            }
        }

        &.pending:before,
        &.locked:before,
        &.completed:before {
            @apply absolute left-[-12px] top-[2px];
            @apply rounded-circle bg-backgroundColorA;
            @apply w-[24px] h-[24px];
            content: "";
        }

        &.pending {
            &:before {
                background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0ibWludXMtY2lyY2xlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5hIHsKICAgICAgICBmaWxsOiBub25lOwogICAgICAgIHN0cm9rZTogY3VycmVudENvbG9yOwogICAgICAgIHN0cm9rZS1saW5lY2FwOiByb3VuZDsKICAgICAgICBzdHJva2UtbGluZWpvaW46IHJvdW5kOwogICAgICAgIHN0cm9rZS13aWR0aDogMS41cHg7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDx0aXRsZT5zdWJ0cmFjdC1jaXJjbGU8L3RpdGxlPgogIDxsaW5lIGNsYXNzPSJhIiB4MT0iNy41IiB5MT0iMTIiIHgyPSIxNi41IiB5Mj0iMTIiIC8+CiAgPGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjExLjI1IiAvPgo8L3N2Zz4K");
            }
        }
        &.locked {
            &:before {
                background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNjQgNjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxjaXJjbGUgY3g9IjMyIiBjeT0iMzIiIHI9IjMyIiBmaWxsPSIjRTFFQkZGIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjMuNjE5IDMxLjIxNDRDMjMuNjE5IDMwLjM4NTkgMjQuMjkwNiAyOS43MTQ0IDI1LjExOSAyOS43MTQ0SDM4Ljg4MUMzOS43MDk0IDI5LjcxNDQgNDAuMzgwOSAzMC4zODU5IDQwLjM4MDkgMzEuMjE0NFY0MS45Mjg2QzQwLjM4MDkgNDIuNzU3MSAzOS43MDk0IDQzLjQyODYgMzguODgwOSA0My40Mjg2SDI1LjExOUMyNC4yOTA2IDQzLjQyODYgMjMuNjE5IDQyLjc1NzEgMjMuNjE5IDQxLjkyODZWMzEuMjE0NFoiIHN0cm9rZT0iIzVDNTU4OSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMjYuNjY2NyAyOS43MTQ0VjI1LjkwNDlDMjYuNjY2NyAyMi45NTkzIDI5LjA1NDUgMjAuNTcxNSAzMiAyMC41NzE1QzM0Ljk0NTUgMjAuNTcxNSAzNy4zMzMzIDIyLjk1OTMgMzcuMzMzMyAyNS45MDQ5VjI5LjcxNDQiIHN0cm9rZT0iIzVDNTU4OSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMzIgMzUuODA5NkMzMS43ODk2IDM1LjgwOTYgMzEuNjE5IDM1Ljk4MDEgMzEuNjE5IDM2LjE5MDVDMzEuNjE5IDM2LjQwMDkgMzEuNzg5NiAzNi41NzE1IDMyIDM2LjU3MTVDMzIuMjEwNCAzNi41NzE1IDMyLjM4MSAzNi40MDA5IDMyLjM4MSAzNi4xOTA1QzMyLjM4MTIgMzYuMDg5NCAzMi4zNDEyIDM1Ljk5MjQgMzIuMjY5NyAzNS45MjA5QzMyLjE5ODIgMzUuODQ5MyAzMi4xMDExIDM1LjgwOTMgMzIgMzUuODA5NlYzNS44MDk2IiBzdHJva2U9IiM1QzU1ODkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
            }
            h3 {
                @apply text-textColor6 text-h5 mb-0;
            }
        }
        &.completed {
            &:before {
                background-image: url("data:image/svg+xml;base64,PHN2ZwogIGlkPSJjb21wbGV0ZWQtY2hlY2stY2lyY2xlIgogIHZpZXdCb3g9IjAgMCA1MTIgNTEyIgogIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICBjbGFzc05hbWU9ImNvbXBsZXRlLWljb24iCj4KICA8cGF0aAogICAgZD0ibTI1NiAwYy0xNDEuMTY0MDYyIDAtMjU2IDExNC44MzU5MzgtMjU2IDI1NnMxMTQuODM1OTM4IDI1NiAyNTYgMjU2IDI1Ni0xMTQuODM1OTM4IDI1Ni0yNTYtMTE0LjgzNTkzOC0yNTYtMjU2LTI1NnptMCAwIgogICAgZmlsbD0iIzU5RDJBRSIKICAvPgogIDxwYXRoCiAgICBkPSJtMzg1Ljc1IDIwMS43NS0xMzguNjY3OTY5IDEzOC42NjQwNjJjLTQuMTYwMTU2IDQuMTYwMTU3LTkuNjIxMDkzIDYuMjUzOTA3LTE1LjA4MjAzMSA2LjI1MzkwN3MtMTAuOTIxODc1LTIuMDkzNzUtMTUuMDgyMDMxLTYuMjUzOTA3bC02OS4zMzIwMzEtNjkuMzMyMDMxYy04LjM0Mzc1LTguMzM5ODQzLTguMzQzNzUtMjEuODI0MjE5IDAtMzAuMTY0MDYyIDguMzM5ODQzLTguMzQzNzUgMjEuODIwMzEyLTguMzQzNzUgMzAuMTY0MDYyIDBsNTQuMjUgNTQuMjUgMTIzLjU4NTkzOC0xMjMuNTgyMDMxYzguMzM5ODQzLTguMzQzNzUgMjEuODIwMzEyLTguMzQzNzUgMzAuMTY0MDYyIDAgOC4zMzk4NDQgOC4zMzk4NDMgOC4zMzk4NDQgMjEuODIwMzEyIDAgMzAuMTY0MDYyem0wIDAiCiAgICBmaWxsPSIyNjI4MkQiCiAgLz4KPC9zdmc+Cg==");
            }
            h3 {
                /*@apply text-textColor6 text-h5 mb-0;*/
            }
        }

        .action-box-content {
            & > *:last-child {
                @apply !mb-0;
            }
        }
        & .inner-box {
            @apply relative flex ml-10;
            @apply border-l-1 border-borderColor6;

            & + .inner-box {
                @apply pt-24;
                &:before {
                    @apply mt-24;
                }
            }

            &:before {
                @apply absolute left-[-11px] top-[0px];
                @apply rounded-circle bg-backgroundColorA;
                @apply w-[20px] h-[20px];
                content: "";
            }

            &.in-progress {
                &:before {
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCAxOEMxNC40MTgzIDE4IDE4IDE0LjQxODMgMTggMTBDMTggNS41ODE3MiAxNC40MTgzIDIgMTAgMkM1LjU4MTcyIDIgMiA1LjU4MTcyIDIgMTBDMiAxNC40MTgzIDUuNTgxNzIgMTggMTAgMThaTTEwIDIwQzE1LjUyMjggMjAgMjAgMTUuNTIyOCAyMCAxMEMyMCA0LjQ3NzE1IDE1LjUyMjggMCAxMCAwQzQuNDc3MTUgMCAwIDQuNDc3MTUgMCAxMEMwIDE1LjUyMjggNC40NzcxNSAyMCAxMCAyMFoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik03LjUgMTBDNy41IDEwLjgyODQgNi44Mjg0MyAxMS41IDYgMTEuNUM1LjE3MTU3IDExLjUgNC41IDEwLjgyODQgNC41IDEwQzQuNSA5LjE3MTYgNS4xNzE1NyA4LjUgNiA4LjVDNi44Mjg0MyA4LjUgNy41IDkuMTcxNiA3LjUgMTBaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBkPSJNMTEuNSAxMEMxMS41IDEwLjgyODQgMTAuODI4NCAxMS41IDEwIDExLjVDOS4xNzE2IDExLjUgOC41IDEwLjgyODQgOC41IDEwQzguNSA5LjE3MTYgOS4xNzE2IDguNSAxMCA4LjVDMTAuODI4NCA4LjUgMTEuNSA5LjE3MTYgMTEuNSAxMFoiIGZpbGw9ImJsYWNrIi8+CjxwYXRoIGQ9Ik0xNS41IDEwQzE1LjUgMTAuODI4NCAxNC44Mjg0IDExLjUgMTQgMTEuNUMxMy4xNzE2IDExLjUgMTIuNSAxMC44Mjg0IDEyLjUgMTBDMTIuNSA5LjE3MTYgMTMuMTcxNiA4LjUgMTQgOC41QzE0LjgyODQgOC41IDE1LjUgOS4xNzE2IDE1LjUgMTBaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4KCg==");
                }
            }
            &.pending {
                &:before {
                    background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0ibWludXMtY2lyY2xlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5hIHsKICAgICAgICBmaWxsOiBub25lOwogICAgICAgIHN0cm9rZTogY3VycmVudENvbG9yOwogICAgICAgIHN0cm9rZS1saW5lY2FwOiByb3VuZDsKICAgICAgICBzdHJva2UtbGluZWpvaW46IHJvdW5kOwogICAgICAgIHN0cm9rZS13aWR0aDogMS41cHg7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDx0aXRsZT5zdWJ0cmFjdC1jaXJjbGU8L3RpdGxlPgogIDxsaW5lIGNsYXNzPSJhIiB4MT0iNy41IiB5MT0iMTIiIHgyPSIxNi41IiB5Mj0iMTIiIC8+CiAgPGNpcmNsZSBjbGFzcz0iYSIgY3g9IjEyIiBjeT0iMTIiIHI9IjExLjI1IiAvPgo8L3N2Zz4K");
                }
            }
            &.locked {
                &:before {
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNjQgNjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxjaXJjbGUgY3g9IjMyIiBjeT0iMzIiIHI9IjMyIiBmaWxsPSIjRTFFQkZGIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMjMuNjE5IDMxLjIxNDRDMjMuNjE5IDMwLjM4NTkgMjQuMjkwNiAyOS43MTQ0IDI1LjExOSAyOS43MTQ0SDM4Ljg4MUMzOS43MDk0IDI5LjcxNDQgNDAuMzgwOSAzMC4zODU5IDQwLjM4MDkgMzEuMjE0NFY0MS45Mjg2QzQwLjM4MDkgNDIuNzU3MSAzOS43MDk0IDQzLjQyODYgMzguODgwOSA0My40Mjg2SDI1LjExOUMyNC4yOTA2IDQzLjQyODYgMjMuNjE5IDQyLjc1NzEgMjMuNjE5IDQxLjkyODZWMzEuMjE0NFoiIHN0cm9rZT0iIzVDNTU4OSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMjYuNjY2NyAyOS43MTQ0VjI1LjkwNDlDMjYuNjY2NyAyMi45NTkzIDI5LjA1NDUgMjAuNTcxNSAzMiAyMC41NzE1QzM0Ljk0NTUgMjAuNTcxNSAzNy4zMzMzIDIyLjk1OTMgMzcuMzMzMyAyNS45MDQ5VjI5LjcxNDQiIHN0cm9rZT0iIzVDNTU4OSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMzIgMzUuODA5NkMzMS43ODk2IDM1LjgwOTYgMzEuNjE5IDM1Ljk4MDEgMzEuNjE5IDM2LjE5MDVDMzEuNjE5IDM2LjQwMDkgMzEuNzg5NiAzNi41NzE1IDMyIDM2LjU3MTVDMzIuMjEwNCAzNi41NzE1IDMyLjM4MSAzNi40MDA5IDMyLjM4MSAzNi4xOTA1QzMyLjM4MTIgMzYuMDg5NCAzMi4zNDEyIDM1Ljk5MjQgMzIuMjY5NyAzNS45MjA5QzMyLjE5ODIgMzUuODQ5MyAzMi4xMDExIDM1LjgwOTMgMzIgMzUuODA5NlYzNS44MDk2IiBzdHJva2U9IiM1QzU1ODkiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
                }
                h3 {
                    @apply text-textColor6 text-h5 mb-0;
                }
            }
            &.completed {
                &:before {
                    background-image: url("data:image/svg+xml;base64,PHN2ZwogIGlkPSJjb21wbGV0ZWQtY2hlY2stY2lyY2xlIgogIHZpZXdCb3g9IjAgMCA1MTIgNTEyIgogIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICBjbGFzc05hbWU9ImNvbXBsZXRlLWljb24iCj4KICA8cGF0aAogICAgZD0ibTI1NiAwYy0xNDEuMTY0MDYyIDAtMjU2IDExNC44MzU5MzgtMjU2IDI1NnMxMTQuODM1OTM4IDI1NiAyNTYgMjU2IDI1Ni0xMTQuODM1OTM4IDI1Ni0yNTYtMTE0LjgzNTkzOC0yNTYtMjU2LTI1NnptMCAwIgogICAgZmlsbD0iIzU5RDJBRSIKICAvPgogIDxwYXRoCiAgICBkPSJtMzg1Ljc1IDIwMS43NS0xMzguNjY3OTY5IDEzOC42NjQwNjJjLTQuMTYwMTU2IDQuMTYwMTU3LTkuNjIxMDkzIDYuMjUzOTA3LTE1LjA4MjAzMSA2LjI1MzkwN3MtMTAuOTIxODc1LTIuMDkzNzUtMTUuMDgyMDMxLTYuMjUzOTA3bC02OS4zMzIwMzEtNjkuMzMyMDMxYy04LjM0Mzc1LTguMzM5ODQzLTguMzQzNzUtMjEuODI0MjE5IDAtMzAuMTY0MDYyIDguMzM5ODQzLTguMzQzNzUgMjEuODIwMzEyLTguMzQzNzUgMzAuMTY0MDYyIDBsNTQuMjUgNTQuMjUgMTIzLjU4NTkzOC0xMjMuNTgyMDMxYzguMzM5ODQzLTguMzQzNzUgMjEuODIwMzEyLTguMzQzNzUgMzAuMTY0MDYyIDAgOC4zMzk4NDQgOC4zMzk4NDMgOC4zMzk4NDQgMjEuODIwMzEyIDAgMzAuMTY0MDYyem0wIDAiCiAgICBmaWxsPSIyNjI4MkQiCiAgLz4KPC9zdmc+Cg==");
                }
                h3 {
                    /*@apply text-textColor6 text-h5 mb-0;*/
                }
            }

            .inner-box-content {
                @apply ml-20 mt-[-2px];
                & > *:last-child {
                    @apply !mb-0;
                }
            }
        }

        & .prereqs {
            @apply flex flex-wrap gap-4;

            & .c-exercise-widget {
                @apply mr-8 mb-8;
                &.--published,
                &.--completed {
                    &.--skinny {
                        @apply outline outline-2 outline-darkGreen;
                    }
                }
            }
        }
        & h4 {
            @apply text-label-code-caps mb-12 text-textColor6;
        }

        & .editor-btn {
            @apply mb-16;
        }

        .c-copy-text-to-clipboard {
            @apply border-btnBorder;
        }

        & .c-cli-walkthrough-button {
            @apply mb-16;
        }
        & .cli-btn {
            @apply font-mono font-normal text-14 mb-16;
        }
        & .c-prominent-link {
            @apply mt-16;
        }

        & .complete {
            & button {
                @apply w-100;
            }
        }
        & .publish-section {
            @apply text-16 leading-160 mb-16;
            .c-react-wrapper-student-unpublish-solution-modal-button,
            .c-react-wrapper-student-change-published-iteration-modal-button {
                @apply inline-block;
            }
            & .c-community-solution {
                @apply mt-16;
            }
        }
    }

    .join-box {
        @apply bg-backgroundColorA shadow-lg py-20 px-20 rounded-8 lg:py-24 lg:px-32;

        & .icons {
            @apply flex items-center;
            @apply mb-12;

            & .c-track-icon,
            & .c-icon {
                height: 48px;
                width: 48px;
            }
            & .c-icon.plus {
                height: 16px;
                width: 16px;
                @apply mx-12;
            }
        }
        & p {
            & a {
                @apply font-semibold;
            }
        }
        & .buttons {
            & .btn-primary {
                @apply w-100;
            }
            & > :first-child {
                @apply mb-12;
            }
        }
    }

    .action-box h3,
    .join-box h3 {
        @apply flex items-center text-h4 mb-4;
    }
    .action-box p,
    .join-box p {
        @apply text-16 leading-160 text-textColor2;

        a {
            @apply font-medium text-prominentLinkColor;
        }

        strong {
            @apply font-medium;
            a {
                @apply border-b-2 border-prominentLinkColor text-prominentLinkColor;
            }
        }
    }

    a.latest-iteration-link {
        @apply rounded-8 shadow-sm border-1 border-borderColor5;
        @apply py-8 px-24;
        @apply flex items-center;

        h3 {
            @apply text-h5;
        }

        .--published,
        .--latest,
        .--upload-method-icon {
            @apply hidden;
        }
    }
}
