@import "../styles";

#page-exercise-show {
    & .exercise-header {
        & .container {
            @apply flex items-center py-32;
            height: 190px;
        }
        background: linear-gradient(
            180deg,
            #e1ebff 0%,
            rgba(225, 235, 255, 0) 100%
        );
        & .exercise-icon {
            @apply mr-32;
            width: 118px;
            height: 118px;
        }
        & .info {
            @apply flex-grow;
        }
        & h1 {
            @apply flex items-center text-h1 mb-12;
            & .c-icon {
                height: 32px;
                width: 32px;
                @apply ml-16;
            }
        }
        & .difficulty {
            @apply inline-flex py-8 px-12 rounded-100;
            @apply text-darkGreen font-medium;
            @apply border-1 border-darkGreen;
        }
        & .makers {
            @apply flex items-center;

            & .faces {
                @apply relative flex;
                height: 32px;
                padding-left: 16px;

                & .author {
                    margin-left: -16px;
                    transition: margin 0.2s ease-out;
                    cursor: pointer;

                    & .c-rounded-bg-img {
                        height: 32px;
                        width: 32px;
                    }
                }

                &:hover {
                    & .author {
                        margin-left: 4px;
                    }
                }
            }
            & .stats {
                @apply ml-16;
                & .authors {
                    @apply font-semibold mb-8;
                }
                & .contributors {
                    @apply font-medium;
                }
            }
        }
    }
    & section.completed-heading {
        @apply flex items-center py-16 px-32 shadow-lg rounded-8 mb-24;
        @apply border-2 border-darkGreen bg-mediumGreen;

        & .check-mark-icon {
            height: 32px;
            width: 32px;
            @apply mr-16;
        }
        & .text {
            @apply text-h5 flex-grow;
        }
    }
    & section.completed-info {
        @apply bg-white py-24 px-32 shadow-lg rounded-8 mb-32;

        & h3 {
            @apply text-h4 mb-16;
        }
        & .concepts {
            @apply flex flex-wrap mb-16;

            & .c-concept {
                @appl ymr-8;
            }
        }
        & .c-prominent-link {
            @apply mb-24;
        }
        & .explanation {
            @apply bg-unnamed15 py-12 px-24 rounded-8;
            @apply text-16 leading-paragraph font-medium;

            & a {
                @apply text-lightBlue font-medium;
            }
        }
    }
    & section.taught-concepts {
        @apply bg-white py-16 px-32 shadow-lg rounded-8 mb-32;

        & h3 {
            @apply text-18 font-medium mb-8 leading-paragraph;
            & strong {
                @apply font-semibold;
            }
        }
        & .concepts {
            @apply flex flex-wrap;

            & .concept {
                @apply flex items-center border-1 border-unnamed15;
                @apply py-8 px-16 mr-8 bg-white rounded-8 shadow-base;
                @apply text-14 font-semibold;
                & .c-concept-icon {
                    @apply mr-8;
                }
            }
        }
        & .c-prominent-link {
            @apply mb-24;
        }
        & .explanation {
            @apply bg-unnamed15 py-12 px-24 rounded-8;
            @apply text-16 leading-paragraph font-medium;

            & a {
                @apply text-lightBlue;
            }
        }
    }

    & section.latest-iteration {
        @apply bg-white py-24 px-32 shadow-lg rounded-8 mb-32;

        & h2 {
            @apply text-h3;
        }
        & p {
            @apply text-16 leading-paragraph;
        }

        & a.iteration {
            @apply rounded-5 shadow-sm border-1 border-borderLight;
            @apply py-12 px-24 mb-16;
            @apply flex items-center;

            & .action-icon {
                height: 16px;
                width: 16px;
                @apply ml-64;
            }
        }

        & h2 + p {
            @apply mt-8;
        }
        & h2 + a.iteration {
            @apply mt-16;
        }
        & p + a.iteration {
            @apply mt-24;
        }
    }

    & section.instructions {
        @apply mb-32 px-32 py-24 bg-white rounded-8 shadow-lg;
    }
    & .action-box {
        @apply shadow-lg py-24 px-32 rounded-8;

        & h3 {
            @apply flex items-center text-h4 mb-12;
            & .c-icon {
                height: 24px;
                width: 24px;
                @apply mr-16;
            }
        }
        & p {
            @apply text-16 leading-paragraph mb-24;

            & strong {
                @apply font-medium;
            }
        }
        & .prereqs {
            @apply flex;

            & .c-exercise-widget {
                @apply gap-8;
            }
        }
        & h4 {
            @apply text-label-code-caps mb-12;
        }

        & .editor-btn {
            @apply btn-cta mb-16;
        }

        & .editor-btn {
            @apply mb-16;
        }

        & .cli-btn {
            @apply font-mono font-normal text-14 mb-16;
        }
        & .c-prominent-link {
            @apply mt-16;
        }

        & .complete {
            @apply mt-20 pt-20 border-t-1 border-borderLight;

            & button {
                @apply mb-12 w-100;
            }

            & .explanation {
                @apply text-14 leading-paragraph;
            }
        }
    }
}
