@import "../styles";

@keyframes nudgeSlideIn {
    from {
        min-height: 0px;
        margin-bottom: 0;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    to {
        max-height: 200px;
        margin-bottom: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

#page-exercise-show {
    & section.completed-heading {
        @apply flex items-center py-12 px-32 shadow-lg rounded-8 mb-24;
        @apply border-2 border-darkGreen;
        background: var(--backgroundColorCompletedHeading);

        & .check-mark-icon {
            height: 32px;
            width: 32px;
            @apply mr-16;
        }
        & .text {
            @apply text-h5 flex-grow;
        }

        .c-prominent-link {
            color: var(--backgroundColorNotificationsUnreadDot);
            .c-icon {
                filter: var(--iconFilterNotificationsProminentLink);
            }
        }
    }
    & section.completed-info {
        @apply bg-backgroundColorA py-24 px-32 shadow-lg rounded-8 mb-32;

        & h2 {
            @apply text-h4 mb-16;
        }

        & .progressed-concepts {
            @apply mb-16;
            & .c-react-wrapper-student-exercise-status-dot {
                @apply ml-8;
            }
        }
        & .c-prominent-link {
            @apply mb-24;
        }
    }
    & .tutorial-introduction {
        @apply shadow-lg rounded-8 bg-backgroundColorB;
        @apply py-16 px-32 mb-24;
        @apply text-p-large;
        & strong {
            @apply font-medium text-textColor2;
        }
    }
    & section.taught-concepts {
        @apply bg-backgroundColorB py-16 px-32 shadow-lg rounded-8 mb-32;

        & h3 {
            @apply text-18 font-medium mb-8 leading-paragraph;
            & strong {
                @apply font-semibold;
            }
        }
        & .concepts {
            @apply flex flex-wrap;

            & .concept {
                @apply flex items-center border-1 border-unnamed15;
                @apply py-8 px-16 mr-8 bg-backgroundColorA rounded-8 shadow-base;
                @apply text-14 font-semibold;
                & .c-concept-icon {
                    @apply mr-8;
                }
            }
        }
        & .c-prominent-link {
            @apply mb-24;
        }
        & .explanation {
            @apply bg-unnamed15 py-12 px-24 rounded-8;
            @apply text-16 leading-paragraph font-medium;

            & a {
                @apply text-lightBlue;
            }
        }
    }

    & section.completion-nudge,
    & section.mentoring-prompt-nudge,
    & section.mentoring-request-nudge,
    & section.mentoring-discussion-nudge {
        @apply flex items-center;
        @apply shadow-baseZ1 rounded-12;
        @apply py-24 mb-24;

        &.animate {
            max-height: 0;
            opacity: 0;
            @apply py-0 mb-0;

            animation: nudgeSlideIn 0.35s ease-out 1s 1 normal forwards,
                fadeIn 0.5s ease-out 1.25s 1 normal forwards;
        }
    }

    & section.completion-nudge {
        @apply pl-32 pr-40;
        @apply bg-backgroundColorA;

        & > .c-icon {
            height: 64px;
            width: 64px;
            @apply mr-24;
            @apply self-start;
        }

        & > .info {
            @apply mr-24;
            & h3 {
                @apply text-h4 mb-4;
            }
            & p {
                @apply text-16 leading-160;

                & strong {
                    @apply font-medium;
                }
            }
        }
        & .btn-primary {
            @apply ml-40;
        }
    }
    & section.mentoring-prompt-nudge,
    & section.mentoring-request-nudge,
    & section.mentoring-discussion-nudge {
        @apply border-2 border-gradient rounded-12;
        @apply bg-backgroundColorF;
    }
    & section.mentoring-prompt-nudge {
        @apply px-40;

        & > .c-icon {
            height: 120px;
            width: 120px;
            @apply mr-24;
        }

        & .info {
            & h3 {
                @apply text-h4 mb-4;
            }
            & p {
                @apply text-16 leading-160;
                @apply mb-16;
            }
            & .options {
                @apply flex items-center;
                & .c-combo-button {
                    @apply mr-24;
                }
                & .btn-primary {
                    @apply mr-24;
                }
                & a.more-info {
                    color: var(--c-prominent-link-color);
                    @apply text-16  leading-170 font-semibold;
                    @apply flex items-center;

                    & .c-icon {
                        height: 16px;
                        width: 16px;
                        @apply ml-8;
                        filter: var(--c-prominent-link-icon-filter);
                    }
                }
            }
        }
    }
    & section.mentoring-request-nudge {
        @apply px-32;

        & > .info {
            @apply flex-grow;
            & h3 {
                @apply text-h4 mb-4;
            }
            & p {
                @apply text-p-base;
                & em {
                    @apply not-italic;
                    @apply text-14;
                    @apply ml-8;
                }
            }
        }
        & > a {
            @apply ml-24;
        }
    }
    & section.mentoring-discussion-nudge {
        @apply px-40;
        & .student-avatar,
        & .mentor-avatar {
            height: 54px;
            width: 54px;
        }
        & .mentor-avatar {
            margin-left: -20px;
            @apply mr-36;
        }

        & > .info {
            @apply flex-grow;
            & h3 {
                @apply text-h4 mb-8;
                @apply font-medium;
                & strong {
                    @apply font-semibold;
                }
            }
            & .details {
                @apply flex items-center;
            }
            & .--turn {
                @apply mr-16;
            }
        }
        & > a {
            @apply ml-24;
        }
    }

    & section.latest-iteration {
        @apply bg-backgroundColorA shadow-lg rounded-8 mb-32;
        @apply py-24 px-32;

        & header {
            @apply flex mb-20;

            & .info {
                @apply flex-grow;

                & h2 {
                    @apply text-h3 mb-6;
                }
                & p {
                    @apply text-16 leading-160;
                    & .essential {
                        @apply text-red font-semibold;
                    }
                    & .actionable {
                        @apply text-textColor3 font-semibold;
                    }
                    & .non-actionable {
                        @apply text-textColor6 font-semibold;
                    }
                    & strong {
                        @apply font-semibold;
                    }
                    & a {
                        @apply inline-flex items-center;
                        @apply font-medium text-lightBlue;
                        & .c-icon {
                            height: 12px;
                            width: 12px;
                            @apply ml-8;
                        }
                    }
                }
            }
            & > .c-icon.spinner {
                @apply ml-24;
                height: 24px;
                width: 24px;
                animation: spin 3s linear infinite;
            }
            & .status {
                @apply mt-16 mr-16 rounded-circle;
                @apply flex-shrink-0;
                height: 8px;
                width: 8px;
                overflow: hidden;

                &.passed {
                    @apply text-darkGreen bg-darkGreen;
                }
                &.failed {
                    @apply text-red bg-red;
                }
            }
        }

        & a.iteration {
            @apply rounded-8 shadow-sm border-1 border-borderLight;
            @apply py-8 px-24 mb-16;
            @apply flex items-center;

            & .action-icon {
                height: 16px;
                width: 16px;
                @apply ml-64;
                @apply filter-textColor6;
            }
        }

        & .next-steps {
            @apply border-t-1 border-borderColor7 mt-32;
            @apply grid grid-cols-2;

            & .community-solutions,
            & .mentoring {
                @apply pt-24;
                @apply flex flex-col items-center;
                @apply text-center;

                & .header-icon {
                    width: 48px;
                    height: 48px;
                    @apply mb-12;
                }
                & h3 {
                    @apply text-h4 mb-6;
                }

                & p {
                    @apply text-16 leading-160 mb-20;
                }
            }
            & .community-solutions {
                @apply pr-32;
                @apply border-r-1 border-borderColor7;
                & p {
                    @apply mb-20;
                }
            }

            & .mentoring {
                @apply pl-32;
                & p {
                    @apply mb-16;
                }
                & .c-combo-button {
                    @apply mb-16;
                }
                & .learn-more {
                    @apply flex items-center;
                    @apply font-semibold text-prominentLinkColor text-14 leading-170;
                    & .c-icon {
                        height: 14px;
                        width: 14px;
                        @apply ml-8;
                        filter: var(--c-prominent-link-icon-filter);
                    }
                }
            }
        }
    }

    & section.instructions {
        @apply mb-32 bg-backgroundColorA rounded-8 shadow-lg;
        & .source {
            @apply mt-24;
            & hr {
                @apply mb-16;
            }
            & a {
                @apply inline-flex items-center;
                & .c-icon {
                    height: 12px;
                    width: 12px;
                    @apply ml-6;
                }
            }
        }
    }
    & section.extra-info {
        @apply flex items-center mb-40;
        & .updated-at,
        & a {
            @apply text-15 text-textColor6 font-medium;
        }

        & a {
            @apply flex items-center;
            @apply ml-auto;

            & .c-icon {
                filter: var(--textColor6-filter);
            }

            & .github-icon {
                height: 22px;
                width: 22px;
                @apply mr-16;
            }
            & .action-icon {
                height: 12px;
                width: 12px;
                @apply ml-12;
            }
        }
    }
    & .action-box {
        @apply bg-backgroundColorA;
        @apply shadow-lg py-20 px-20 rounded-8;
        @apply lg:py-24 lg:px-32;

        & h3 {
            @apply flex items-center text-h4 mb-8;
            & .c-icon {
                height: 24px;
                width: 24px;
                @apply mr-16;
            }
        }
        & p {
            @apply text-16 leading-160 mb-16 text-textColor2;

            & a {
                @apply font-medium;
                color: var(--c-prominent-link-color);
            }

            & strong {
                @apply font-medium;
                & a {
                    @apply border-b-2 border-color22 text-textColor2;
                }
            }
        }
        & .prereqs {
            @apply flex flex-wrap;

            & .c-exercise-widget {
                @apply mr-8 mb-8;
            }
        }
        & h4 {
            @apply text-label-code-caps mb-12;
        }

        & .editor-btn {
            @apply mb-16;
        }

        & .c-cli-walkthrough-button {
            @apply mb-16;
        }
        & .cli-btn {
            @apply font-mono font-normal text-14 mb-16;
        }
        & .c-prominent-link {
            @apply mt-16;
        }

        & .complete {
            @apply mb-24 pb-20 border-b-1 border-borderLight;

            & button {
                @apply w-100;
            }

            & .explanation {
                @apply text-14 leading-160 mt-12;
            }
        }
        & .publish-section {
            @apply border-b-1 border-borderColor5;
            @apply mb-24 pb-20;

            & .header {
                @apply flex items-center;
                @apply mb-16;
                & h3 {
                    @apply text-h4 mb-0;
                }
                & button.publish-settings-button {
                    @apply ml-auto;
                    @apply px-0 border-borderColor6;
                    & .c-icon {
                        filter: var(--textColor6-filter);
                    }
                }
                & .published-solution-menu {
                    @apply pt-10;
                    min-width: 380px;
                }
            }
            & p {
                @apply mb-16;
            }
            & button.publish-btn {
                @apply w-100;
            }
            & .c-community-solution {
                & pre {
                    @apply hidden;
                }
            }
        }

        &.join {
            & .icons {
                @apply flex items-center;
                @apply mb-12;

                & .c-track-icon,
                & .c-icon {
                    height: 48px;
                    width: 48px;
                }
                & .c-icon.plus {
                    height: 16px;
                    width: 16px;
                    @apply mx-12;
                }
            }
            & p {
                & a {
                    @apply font-semibold;
                }
            }
            & .buttons {
                & .btn-primary {
                    @apply w-100;
                }
                & > :first-child {
                    @apply mb-12;
                }
            }
        }
    }
}
