#impact-page {
    .map-point {
        transform-origin: left top;

        &.metric-sign_up_metric,
        &.metric-start_solution_metric {
            animation: zoomIn 0.4s, zoomOut 0.3s linear 3s forwards;
        }
        &.metric-publish_solution_metric,
        &.metric-open_issue_metric,
        &.metric-open_pull_request_metric,
        &.metric-merge_pull_request_metric {
            animation: zoomIn 0.3s, zoomOut 0.3s linear 6s forwards;
        }
    }
}
