@keyframes impactZoomIn {
    from {
        transform: scale(0, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}
@keyframes impactFadeOut {
    from {
        transform: scale(1, 1);
        opacity: 1;
    }
    to {
        transform: scale(0, 0);
        opacity: 0;
    }
}

#impact-page {
    .map-point {
        transform-origin: left top;
        &.metric-submit_submission_metric,
        &.metric-start_solution_metric {
            z-index: 1;
            opacity: 0;
            animation: impactZoomIn 0.2s linear 0.05s forwards,
                impactFadeOut 30s linear 3s forwards;
        }

        &.metric-sign_up_metric,
        &.metric-publish_solution_metric,
        &.metric-open_issue_metric,
        &.metric-open_pull_request_metric,
        &.metric-merge_pull_request_metric {
            z-index: 2;
            opacity: 0;
            animation: impactZoomIn 0.2s linear 0.05s forwards,
                impactFadeOut 0.3s linear 6s forwards;

            img {
                filter: drop-shadow(0px 0px 10px rgba(79, 114, 205, 0.3));
            }
        }
    }
}
