@import "../styles";

#page-individual-supporters {
    @apply bg-backgroundColorA;

    & > header {
        & .md-container {
            @apply pt-44;
        }

        & .emoji {
            @apply md:text-[80px] text-[42px];
            @apply mb-16;
        }

        & p {
            max-width: 780px;
        }
        & h1 {
            & strong {
                @apply text-textColor1NoDark;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgxIiBoZWlnaHQ9IjcwIiB2aWV3Qm94PSIwIDAgMjgxIDcwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMjYuMzQyNyAyNS4wMzZDMjcuNDU5IDIyLjQwODcgMzAuMDAwMiAyMC43MTk4IDMyLjk1MjggMjAuNjQyOUwyNjYuOTA0IDE0LjU1NjFDMjcxLjMyMSAxNC40NDEyIDI3NS4yNzggMTcuOTA5OSAyNzUuNzQzIDIyLjMwMzdMMjc5LjE0NiA1NC40OUMyNzkuNjE2IDU4LjkzNzIgMjc2LjMzMSA2Mi42MTYyIDI3MS44NTMgNjIuNjU2MkwyMi40NjI0IDY0Ljg4M0MxNi40NzQyIDY0LjkzNjUgMTIuMDQ2OSA1OC42ODIxIDE0LjMwNzIgNTMuMzYyNEwyNi4zNDI3IDI1LjAzNloiIGZpbGw9IiNGQUU1NEUiLz4KPHBhdGggZD0iTTYuMDk4NDIgOC43OTM1MkM2LjY1MjEgNC40NzIzMSAxMC41NjgzIDEuMTA5NzYgMTQuOTE1NyAxLjIyMjc2TDI2MC43MjMgNy42MTE3NkMyNjUuMTM5IDcuNzI2NTcgMjY4LjM0NCAxMS4zODE1IDI2Ny44NzkgMTUuNzc1M0wyNjQuNDUzIDQ4LjE5ODRDMjYzLjk5MyA1Mi41NTM0IDI2MC4wOTkgNTYuMDA3NSAyNTUuNzE1IDU1Ljk0ODJMOC43ODkwNiA1Mi42MTJDNC4yNTc2IDUyLjU1MDggMC45NzY0NyA0OC43NjggMS41NTI4OCA0NC4yNjk0TDYuMDk4NDIgOC43OTM1MloiIGZpbGw9IiNGQUU1NEUiLz4KPC9zdmc+Cgo=");
                background-size: cover;
                @apply font-bold;
                @apply px-10;
                margin-left: -10px;
                margin-right: -10px;
            }
        }
    }
    & .cta {
        @apply shadow-smZ1 rounded-8 border-2;

        &.top-cta {
            margin-top: -58px;
        }

        & > img {
            height: 64px;
            width: 64px;
            @apply mr-16;
        }
        & a {
            @apply rounded-12;
            @apply md:px-80;
        }
    }
    & .donors {
        & .donor {
            @apply shadow-base px-24 py-12 rounded-8;
            & img {
                height: 48px;
                width: 48px;
                @apply mr-16 rounded-circle;
            }
        }
    }
    & .missing {
        & .c-icon {
            height: 16px;
            width: 16px;
            @apply mt-4 mr-16;
            @apply filter-textColor6;
        }
    }
}
