@import "../styles";

#page-iterations-index {
    & section.zero-state {
        @apply flex flex-col items-center;
        @apply rounded-8;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23C8D5EF' stroke-width='3' stroke-dasharray='16%2c16' stroke-dashoffset='4' stroke-linecap='round'/%3e%3c/svg%3e");
        @apply py-48 px-32 mb-32;

        & h2 {
            @apply text-h2 mb-12 text-center;
        }
        & p {
            @apply text-18 leading-170 text-center mb-28;
            max-width: 640px;
        }
        & .box {
            @apply flex;
            @apply border-2 border-purple rounded-12 bg-randomBlue;
            @apply py-24 px-32 mb-24;
            width: 100%;
            max-width: 640px;
            & h4 {
                @apply text-label-code-caps mb-12;
            }
            & .editor {
                @apply mr-32;
            }
            & .cli {
                @apply overflow-hidden;
                & .c-copy-text-to-clipboard {
                    @apply w-100;
                }
            }
        }
    }
    & section.iterations {
        & .iteration {
            @apply mb-16 shadow-lg rounded-8;
            @apply flex flex-col;

            & .header {
                @apply flex items-center py-12 px-24;
                @apply border-b-1 border-borderLight border-opacity-50;

                & .opener {
                    @apply pl-24 ml-32;
                    @apply border-l-1 border-borderColor5;
                }
                & .--closed-icon,
                & .--open-icon {
                    height: 32px;
                    width: 32px;

                    @apply flex flex-shrink-0 items-center justify-center;
                    @apply border-borderColor4 border-1 rounded-circle;
                    @apply text-textColor6;

                    & .c-icon {
                        height: 14px;
                        width: 14px;
                    }
                }
            }
            & .content {
                @apply flex-grow;
                @apply flex items-stretch;
                @apply mb-32;
                max-height: calc(95vh - 80px);

                & .files,
                & .information {
                    @apply overflow-auto;
                }

                & .files {
                    @apply flex-grow;
                }

                & .information {
                    @apply w-1-3 flex-grow-0 flex-shrink-0 px-24 py-24;
                    @apply border-l-1 border-borderLight;

                    & .automated-feedback-pending,
                    & .automated-feedback-absent {
                        @apply flex flex-col items-center;
                        @apply py-24;

                        & .c-icon {
                        }

                        & h3 {
                            @apply text-18 leading-regular font-semibold text-textColor1;
                            @apply mb-12 text-center;
                            max-width: 280px;
                        }
                        & p {
                            @apply text-16 leading-huge text-center;
                        }
                    }
                    & .automated-feedback-pending {
                        & .c-icon {
                            height: 24px;
                            width: 24px;
                            @apply mb-16 text-orange;
                            animation: spin 3s linear infinite;

                            @keyframes spin {
                                0% {
                                    transform: rotate(0deg);
                                }
                                100% {
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }

                    & .automated-feedback-absent {
                        & .c-icon {
                            height: 120px;
                            width: 120px;
                            @apply mb-16;
                        }
                        & p {
                            @apply mb-24;
                        }
                    }
                    & .analyzer-feedback {
                        & .summary {
                            @apply bg-lightOrange rounded-8;
                            @apply text-brown text-15 leading-160 font-medium;
                            @apply py-8 px-16 mb-16;
                        }
                        & .comment {
                            & + .comment {
                                @apply border-t-1 border-lightGray mt-16 pt-16;
                            }

                            @apply flex flex-col items-start;

                            & .tag {
                                @apply text-13 leading-170 font-mono font-bold;
                                @apply px-8 mb-8;
                                &.essential {
                                    @apply bg-red text-white;
                                }
                            }
                        }
                        & .explanation {
                            @apply border-t-2 border-borderColor6 pt-16 mt-16;
                            @apply text-15 leading-160;
                            & a {
                                @apply inline-flex items-center;
                                @apply text-lightBlue font-semibold;
                                @apply mr-8;
                                & .c-icon {
                                    height: 12px;
                                    width: 12px;
                                    @apply ml-6;
                                }
                            }
                        }
                    }
                    & .representer-feedback + .analyzer-feedback {
                        @apply border-t-2 border-borderColor6 pt-16 mt-24;
                        @apply mt-16 pt-16;
                    }

                    & .representer-feedback,
                    & .analyzer-feedback {
                        & .feedback-header {
                            @apply flex items-center;
                            @apply mb-12;

                            & > .c-avatar,
                            & > .c-icon {
                                height: 32px;
                                width: 32px;
                                @apply mr-16;
                            }
                            & .info {
                                @apply text-15 leading-160 font-medium text-textColor6;
                                & strong {
                                    @apply text-textColor3 font-semibold;
                                }
                            }
                        }
                        & .c-textual-content {
                            @apply text-15 text-textColor3 leading-paragraph;
                            @apply mb-12;
                        }
                        & .byline {
                            @apply flex items-center;
                            @apply text-textColor6 font-medium;

                            & .c-avatar {
                                height: 32px;
                                width: 32px;
                                @apply mr-12;
                            }
                            & .c-reputation {
                                @apply ml-12;
                            }
                        }
                    }
                }
            }
        }
    }
}
