@import "../styles";

#page-iterations-index {
    & .c-track-exercise-nav {
        @apply mb-32;
    }
    & section.zero-state {
        @apply flex flex-col items-center mt-56;

        & h2 {
            @apply text-h3 mb-16 text-center;
        }
        & p {
            @apply text-16 leading-paragraph text-center mb-32;
            max-width: 640px;
        }
        & .box {
            @apply flex;
            @apply border-2 border-purple rounded-12 bg-randomBlue;
            @apply py-24 px-32 mb-24;
            & h4 {
                @apply text-label-code-caps mb-12;
            }
            & .editor {
                @apply mr-48;
            }
            .c-copy-text-to-clipboard {
                width: 370px;
            }
        }
    }
    & section.iterations {
        & .iteration {
            @apply mb-24 shadow-lg rounded-8;

            & .header {
                @apply flex items-center py-12 px-24;
                @apply border-b-1 border-borderLight border-opacity-50;
            }
            & .content {
                @apply flex items-stretch;

                & .files {
                    @apply flex-grow px-24 py-12;
                }

                & .automated-feedback {
                    @apply w-1-3 flex-grow-0 flex-shrink-0 px-24 py-24;
                    @apply border-l-1 border-borderLight;

                    & .automated-feedback-pending {
                        @apply flex flex-col items-center;
                        @apply py-24;

                        & .c-icon {
                            height: 24px;
                            width: 24px;
                            @apply mb-16 text-orange;
                            animation: spin 3s linear infinite;

                            @keyframes spin {
                                0% {
                                    transform: rotate(0deg);
                                }
                                100% {
                                    transform: rotate(360deg);
                                }
                            }
                        }
                        & h3 {
                            @apply text-18 leading-regular font-semibold text-black;
                            @apply mb-12 text-center;
                            max-width: 280px;
                        }
                        & p {
                            @apply text-16 leading-huge;
                        }
                    }
                    & .automated-feedback-present {
                        & .comment {
                            @apply text-15 leading-paragraph;
                            & p {
                                @apply mb-12;
                            }

                            & + .comment {
                                @apply border-t-1 border-lightGray mt-16 pt-16;
                            }
                        }
                        & .byline {
                            @apply flex items-center;
                            @apply text-textLight;

                            & .c-rounded-bg-img {
                                height: 32px;
                                width: 32px;
                                @apply mr-12;
                            }
                            & span a {
                                @apply border-b-1 border-textLight border-opacity-50;
                            }
                            & .c-reputation {
                                @apply ml-12;
                            }
                        }
                    }
                    & .automated-feedback-absent {
                    }
                }
            }
        }
    }
}
