#page-profile-testimonials {
    @apply mb-80 bg-backgroundColorB;
    & article {
        @apply pt-32;
        & .stats {
            @apply grid md:grid-cols-3 grid-cols-1 justify-items-center;
            @apply mx-auto mb-48;
            max-width: 690px;
            & .stat {
                max-width: 230px;
                @apply px-24;
                & .number {
                    @apply text-24 leading-160 font-medium text-textColor2;
                    @apply text-center;
                }
                & .metric {
                    @apply text-16 leading-160 text-textColor2;
                    @apply text-center;
                }
            }
        }

        & .testimonials {
            @apply columns-1 sm:columns-2 md:columns-3 gap-24;
        }
        & .testimonial {
            display: inline-block;
            margin: 24px 0;
            width: 100%;
            @apply bg-backgroundColorA;
            @apply pt-36 pb-24 px-24;
            @apply border-1 border-borderColor6;
            @apply shadow-sm;
            @apply rounded-8;
            @apply relative;
            @apply text-left;

            & .c-avatar {
                @apply absolute;
                top: -24px;
                height: 48px;
                width: 48px;
            }
            & .content {
                @apply text-20 leading-130 font-medium;
                @apply mb-8;
            }
            & .student-name {
                @apply text-16 text-textColor2 font-medium leading-160;
                @apply mb-2;
            }
            & .exercise {
                @apply flex items-center mb-8;
                @apply text-16 text-textColor6 leading-160;
                & .c-track-icon {
                    height: 24px;
                    width: 24px;
                    @apply mx-8;
                }
                & .track-title {
                    @apply text-textColor6 font-medium;
                }
            }
            & time {
                @apply text-textColor6 leading-140 font-medium;
            }
        }
    }
}
