@import "../styles";

#page-profile {
    @apply bg-backgroundColorA;

    & header.main-header {
        @apply bg-backgroundColorA;
        @apply relative shadow-base;
        @apply pt-24;

        & .info-section {
            @apply flex;

            & .c-avatar {
                height: 128px;
                width: 128px;

                @apply shadow-xsZ1;
                @apply mr-32;
            }

            & .info {
                @apply flex-grow;

                & .heading {
                    @apply flex items-center;
                    @apply mb-12;
                    & h1 {
                        @apply text-h2 mr-20;
                    }
                    & .c-primary-reputation {
                        @apply mr-28;
                    }
                    & .tracks {
                        @apply flex;

                        & .c-track-icon {
                            height: 54px;
                            width: 54px;
                            @apply mr-12;
                        }
                    }
                }

                & .details-1,
                & .details-2,
                & .bio {
                    @apply mb-12;
                }
                & .details-1,
                & .details-2 {
                    @apply flex items-center;
                }
                & .details-1 {
                    & .handle {
                        @apply text-h4 text-textColor6 leading-100;
                        @apply pr-24 mr-24;
                        @apply border-borderColor6 border-r-2;
                    }
                    & .joined {
                        @apply text-textColor6 text-18;
                    }
                }
                & .details-2 {
                    & .location,
                    & .pronouns {
                        @apply text-16 leading-150 text-textColor1 font-medium;
                        @apply mr-32;
                        @apply flex items-center;
                        & .c-icon {
                            height: 16px;
                            width: 16px;
                            @apply mr-12;
                        }
                    }
                }
                & .bio {
                    @apply text-p-base;
                }
            }
            & .badges-and-tags {
                @apply flex flex-col items-end;

                & .header {
                    @apply flex items-center;
                    @apply mb-12;

                    & .c-icon {
                        height: 16px;
                        width: 16px;
                        @apply mr-12;
                    }
                    & h3 {
                        @apply font-medium text-textColor1;
                        @apply mr-32;
                    }
                    & .c-prominent-link {
                        @apply text-14;
                    }
                }
                & .badges {
                    @apply flex mb-32;
                    & .c-badge {
                        @apply ml-12;

                        & .c-badge-medallion {
                            height: 48px;
                            width: 48px;
                        }
                    }
                }
                & .tags {
                    @apply flex;

                    & .tag {
                        @apply ml-16;
                        @apply py-6 px-16;
                        @apply border-2 rounded-100;
                        @apply flex items-center;

                        & .c-icon {
                            height: 16px;
                            width: 16px;
                            @apply mr-10;
                        }
                        & .title {
                            @apply font-semibold leading-170;
                        }

                        &.staff {
                            @apply bg-backgroundColorF;
                            border-color: #9e00ff;
                        }
                        &.maintainer {
                            @apply border-textColor2;
                        }
                    }
                }
            }
        }
        & .tabs-section {
            @apply mt-4;
            @apply flex items-center;
            & .external-links {
                @apply ml-auto mb-10; /* Bottom margin accounts border tab border */

                @apply flex items-center;

                & a {
                    @apply px-16 py-12;
                    @apply shadow-baseZ1 bg-backgroundColorA rounded-100 ml-12;
                    & .c-icon {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
    & article {
        & section {
            @apply pt-48 pb-64;
            background: linear-gradient(180deg, #ffffff 80%, #fbfbff 100%);
        }
        & header.section-header {
            @apply relative self-center;
            @apply flex flex-col items-center;
            @apply mb-40;

            & .c-icon {
                height: 64px;
                width: 64px;
                @apply mb-12;
            }
            & h2 {
                @apply text-h2 mx-auto text-center mb-20;
                & span {
                    display: block;
                }
            }
            & .total-count {
                @apply absolute px-12 flex items-center;
                @apply font-medium text-14 text-textColor6 leading-regular;
                @apply border-1 border-borderColor4 rounded-100;

                right: -50px;
                top: 84px;
                height: 30px;
            }
        }

        & .container {
            @apply flex flex-col;
        }

        & section.published-solutions-section {
            & .solutions {
                @apply flex justify-center mb-40;
                & > * {
                    @apply mx-8;
                    width: calc((100% / 3) - 16px);
                }
            }
            & .c-prominent-link {
                @apply self-center;
            }
        }

        & section.testimonials-section {
            & .testimonials {
                & .stats {
                    @apply grid grid-cols-3;
                    @apply mb-24;
                    & .stat {
                        @apply py-12 px-24;
                        & .number {
                            @apply text-24 leading-160 font-medium text-textColor2;
                            @apply text-center;
                        }
                        & .metric {
                            @apply text-16 leading-160 text-textColor2;
                            @apply text-center;
                        }
                    }
                }
                @apply flex flex-col items-center;
                & .testimonial {
                    max-width: 840px;
                    @apply mx-auto text-center;

                    @apply text-21 leading-170 mb-16;
                }
                & .stars {
                    @apply flex mb-40;
                    @apply mx-auto text-center;
                    & .c-icon {
                        height: 32px;
                        width: 32px;
                    }
                }

                & .bylines {
                    @apply flex items-center mb-48;

                    & .byline {
                        @apply rounded-8 py-16 px-32 mx-16;
                        @apply flex items-center;

                        & .c-avatar {
                            height: 48px;
                            width: 48px;
                            @apply mr-16;
                        }
                        & .student {
                            @apply text-h6 leading-170;
                        }
                        & .exercise {
                            @apply text-p-base text-textColor6;
                        }
                        &.active {
                            @apply shadow-lg bg-backgroundColorA;
                        }
                        &.unactive {
                            & .c-avatar {
                                filter: grayscale(1);
                            }
                        }
                    }
                }
            }
            & .c-prominent-link {
                @apply self-center;
            }
        }

        & section.badges-section {
            @apply mt-40 pt-128 mb-128;
            background: url("data:image/svg+xml;base64,ICAgICAgPHN2ZyB3aWR0aD0iMTQxNyIgaGVpZ2h0PSIyNDQiIHZpZXdCb3g9IjAgMCAxNDE3IDI0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgICAgPHBhdGggb3BhY2l0eT0iMC42IiBkPSJNMCAxNDIuODEyTDQ0NC45NzYgMzAuNjI5M0M1NjIuMDI1IDEuMTIwMjkgNjgzLjQ0OSAtNi45NTI3NCA4MDMuMzc0IDYuODAwNzNMMTQ5NCA4Ni4wMDQ2VjI0NEgwVjE0Mi44MTJaIiBmaWxsPSJ1cmwoI3BhaW50MF9saW5lYXIpIi8+CiAgICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSI3NDciIHkxPSItMTQiIHgyPSI3NDciIHkyPSIyNDQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iI0UxRUJGRiIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNGMEYzRjkiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgICA8L2RlZnM+CiAgICAgIDwvc3ZnPgo=");
            background-repeat: no-repeat;
            background-size: 100%;

            & header {
                @apply mb-32;
            }

            & .summary {
                @apply shadow-lg bg-backgroundColorA py-24 mb-48 rounded-8;
                @apply flex justify-center;

                & .block {
                    @apply flex items-center mx-32;
                    & .c-icon {
                        @apply mr-16;
                        height: 16px;
                        width: 16px;
                    }
                    & .count {
                        @apply mr-24;
                        @apply text-20 leading-regular font-semibold text-darkGray;
                    }
                    & .info {
                        @apply text-16 leading-paragraph;

                        & h3 {
                            @apply font-semibold text-darkGray;
                        }
                        & .subtitle {
                            @apply text-textColor6;
                        }
                    }
                    &.common .c-icon {
                        @apply text-commonBadge;
                    }
                    &.rare .c-icon {
                        @apply text-rareBadge;
                    }
                    &.ultimate .c-icon {
                        @apply text-orange;
                    }
                    &.legendary .c-icon {
                        @apply text-red;
                    }
                }
            }
            & .badges {
                @apply grid grid-cols-3 gap-x-48 gap-y-32;
            }
        }
    }
}
