#page-profile-contributions {
    @apply mb-80;
    & article {
        @apply pt-32;
        & .tabs {
            @apply flex items-center;
            @apply mb-20;

            & .c-tab {
                line-height: 50px;
                & .c-icon {
                    height: 32px;
                    width: 32px;
                    filter: none;
                }
            }
        }
        & .building,
        & .maintaining,
        & .other {
            & .reputation-token {
                @apply flex items-center;
                @apply mb-16 rounded-8;
                @apply py-16 pl-20 sm:pr-40 pr-20;
                @apply shadow-base;

                & .primary-icon {
                    height: 48px;
                    width: 48px;
                    @apply mr-24;
                }
                & .info {
                    @apply flex-grow sm:mr-0 mr-8;
                    & .title {
                        @apply sm:text-h5 text-h6 mb-6;
                        @apply font-medium;
                        & strong {
                            @apply font-semibold;
                        }
                    }
                    & .extra {
                        @apply flex items-center;

                        & .exercise {
                            @apply flex items-center;
                            @apply text-16 text-textColor6;
                            & .c-icon {
                                height: 24px;
                                width: 24px;
                                @apply ml-8 mr-12;
                            }
                            & .name {
                                @apply text-textColor1 font-semibold;
                            }
                        }
                        & .generic {
                            @apply text-16 text-textColor6;
                        }
                        & time {
                            @apply ml-16 text-textColor6;
                        }
                    }
                }
                & .c-primary-reputation {
                    @apply flex-shrink-0;
                }
                .c-icon.action-button {
                    @apply filter-textColor6;
                }
                & .action-button {
                    height: 24px;
                    width: 24px;
                    @apply ml-96;
                }
            }
        }
        & .authoring {
            & .exercises {
                @apply grid md:grid-cols-2 grid-cols-1 gap-x-16 gap-y-16;
            }

            & .c-exercise-widget {
                @apply py-16 px-24 w-100;
                height: 100%;
                @apply flex-col sm:flex-row;

                .c-exercise-icon {
                    @apply mr-0 mb-16 sm:mr-16 sm:mb-0;
                }

                .--track {
                    .--track-title {
                        @apply sm:block hidden;
                    }
                }

                & .c-exercise-status-tag {
                    display: none;
                }
            }
        }
    }
}
