@import "../styles";

#page-profile {
    @apply bg-backgroundColorA;

    & article {
        & section {
            @apply pt-48 pb-64;
            background: linear-gradient(180deg, #ffffff 80%, #fbfbff 100%);
        }
        & header.section-header {
            @apply relative self-center;
            @apply flex flex-col items-center;
            @apply mb-40;

            & .c-icon {
                height: 64px;
                width: 64px;
                @apply mb-12;
            }
            & h2 {
                @apply text-h2 mx-auto text-center mb-20;
                & span {
                    display: block;
                }
            }
            & .total-count {
                @apply absolute px-12 flex items-center;
                @apply font-medium text-14 text-textColor6 leading-regular;
                @apply border-1 border-borderColor4 rounded-100;

                right: -50px;
                top: 84px;
                height: 30px;
            }
        }

        & .container {
            @apply flex flex-col;
        }

        & section.published-solutions-section {
            & .solutions {
                @apply flex justify-center mb-40;
                & > * {
                    @apply mx-8;
                    width: calc((100% / 3) - 16px);
                }
            }
            & .c-prominent-link {
                @apply self-center;
            }
        }

        & section.testimonials-section {
            & .testimonials {
                & .stats {
                    @apply grid grid-cols-3;
                    @apply mb-24;
                    & .stat {
                        @apply py-12 px-24;
                        & .number {
                            @apply text-24 leading-160 font-medium text-textColor2;
                            @apply text-center;
                        }
                        & .metric {
                            @apply text-16 leading-160 text-textColor2;
                            @apply text-center;
                        }
                    }
                }
                @apply flex flex-col items-center;
                & .testimonial {
                    max-width: 840px;
                    @apply mx-auto text-center;

                    @apply text-21 leading-170 mb-16;
                }
                & .stars {
                    @apply flex mb-40;
                    @apply mx-auto text-center;
                    & .c-icon {
                        height: 32px;
                        width: 32px;
                    }
                }

                & .bylines {
                    @apply flex items-center mb-48;

                    & .byline {
                        @apply rounded-8 py-16 px-32 mx-16;
                        @apply flex items-center;

                        & .c-avatar {
                            height: 48px;
                            width: 48px;
                            @apply mr-16;
                        }
                        & .student {
                            @apply text-h6 leading-170;
                        }
                        & .exercise {
                            @apply text-p-base text-textColor6;
                        }
                        &.active {
                            @apply shadow-lg bg-backgroundColorA;
                        }
                        &.unactive {
                            & .c-avatar {
                                filter: grayscale(1);
                            }
                        }
                    }
                }
            }
            & .c-prominent-link {
                @apply self-center;
            }
        }
    }
}
