#page-profile {
    @apply bg-backgroundColorB;

    & article {
        & section {
            @apply pt-48 pb-64;
            background: linear-gradient(
                180deg,
                var(--backgroundColorB) 80%,
                var(--backgroundColorJ) 100%
            );
        }
        & header.section-header {
            @apply relative self-center;
            @apply flex flex-col items-center;
            @apply mb-40;

            & .c-icon {
                height: 64px;
                width: 64px;
                @apply mb-12;
            }
            & h2 {
                @apply text-h2 mx-auto text-center mb-20;
                @apply relative;
                &.published-solutions::after {
                    content: attr(data-total-count);
                    @apply absolute px-12 sm:flex hidden items-center;
                    @apply font-medium text-14 text-textColor6 leading-regular;
                    @apply border-1 border-borderColor4 rounded-100;
                    @apply h-[30px] top-[6px] left-[100%] ml-8;
                }
                & span {
                    display: block;
                }
            }
        }

        & section.contributions-section {
            & .section-header {
                @apply flex-row mb-24;
                & .c-icon {
                    @apply mb-0 mr-16;
                }
                & h2 {
                    @apply text-left ml-0 mb-0;
                }
            }
        }

        & section.published-solutions-section {
            & .container {
                @apply flex flex-col;
            }

            & .solutions {
                @apply flex flex-col lg:flex-row justify-center mb-40 gap-16;
                & > * {
                    @apply lg:w-[33%] w-auto;
                }
                & .c-community-solution {
                    height: 100%;
                }
            }
            & .c-prominent-link {
                @apply self-center;
            }
        }

        & section.testimonials-section {
            & .container {
                @apply relative;
                @apply flex flex-col;

                &:before {
                    @apply md:block hidden;
                    @apply absolute;
                    content: "";
                    top: 20px;
                    left: 0;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODkiIGhlaWdodD0iMTgwIiB2aWV3Qm94PSIwIDAgODkgMTgwIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNzAuNjgyNiAyNS40NDI2QzcwLjY4MjYgMzAuNDA3NiA3NC43MDc1IDM0LjQzMjYgNzkuNjcyNSAzNC40MzI2Qzg0LjYzNzUgMzQuNDMyNiA4OC42NjI1IDMwLjQwNzYgODguNjYyNSAyNS40NDI2Qzg4LjY2MjUgMjAuNDc3NiA4NC42Mzc1IDE2LjQ1MjcgNzkuNjcyNSAxNi40NTI3Qzc0LjcwNzUgMTYuNDUyNyA3MC42ODI2IDIwLjQ3NzYgNzAuNjgyNiAyNS40NDI2WiIgZmlsbD0iI0ZBRTU0RSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTc1LjczOTYgMjguNDM5MkM3MS45MTI0IDI4LjQzOTIgNjguODA5OCAyNS4zMzY3IDY4LjgwOTggMjEuNTA5NUM2OC44MDk4IDE3LjY4MjMgNzEuOTEyNCAxNC41Nzk3IDc1LjczOTYgMTQuNTc5N0M3OS41NjY3IDE0LjU3OTcgODIuNjY5MyAxNy42ODIzIDgyLjY2OTMgMjEuNTA5NUM4Mi42NjkzIDI1LjMzNjcgNzkuNTY2NyAyOC40MzkyIDc1LjczOTYgMjguNDM5MlpNNzUuNzM5NiAzMS40MzU5QzcwLjI1NzMgMzEuNDM1OSA2NS44MTMxIDI2Ljk5MTcgNjUuODEzMSAyMS41MDk1QzY1LjgxMzEgMTYuMDI3MyA3MC4yNTczIDExLjU4MzEgNzUuNzM5NiAxMS41ODMxQzgxLjIyMTggMTEuNTgzMSA4NS42NjYgMTYuMDI3MyA4NS42NjYgMjEuNTA5NUM4NS42NjYgMjYuOTkxNyA4MS4yMjE4IDMxLjQzNTkgNzUuNzM5NiAzMS40MzU5WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMCAxNjMuNTc4TDExLjY1NDIgMTUxLjkyNEwyMy4zMDg0IDE2My41NzhMMTEuNjU0MiAxNzUuMjMyTDAgMTYzLjU3OFoiIGZpbGw9IiM1OUQyQUUiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjQxNjQxIDE2MS40NTlMMTYuNDIxOSAxNTIuNDU0QzE3LjczODUgMTUxLjEzNyAxOS44NzMgMTUxLjEzNyAyMS4xODk2IDE1Mi40NTRMMzAuMTk1MSAxNjEuNDU5QzMxLjUxMTcgMTYyLjc3NiAzMS41MTE3IDE2NC45MSAzMC4xOTUxIDE2Ni4yMjdMMjEuMTg5NiAxNzUuMjMyQzE5Ljg3MyAxNzYuNTQ5IDE3LjczODUgMTc2LjU0OSAxNi40MjE5IDE3NS4yMzJMNy40MTY0MSAxNjYuMjI3QzYuMDk5ODcgMTY0LjkxIDYuMDk5ODYgMTYyLjc3NiA3LjQxNjQxIDE2MS40NTlaTTkuNTM1MzYgMTYzLjU3OEM5LjM4OTA4IDE2My43MjQgOS4zODkwOCAxNjMuOTYyIDkuNTM1MzYgMTY0LjEwOEwxOC41NDA5IDE3My4xMTNDMTguNjg3MiAxNzMuMjYgMTguOTI0NCAxNzMuMjYgMTkuMDcwNiAxNzMuMTEzTDI4LjA3NjIgMTY0LjEwOEMyOC4yMjI1IDE2My45NjIgMjguMjIyNSAxNjMuNzI0IDI4LjA3NjIgMTYzLjU3OEwxOS4wNzA2IDE1NC41NzNDMTguOTI0NCAxNTQuNDI2IDE4LjY4NzIgMTU0LjQyNiAxOC41NDA5IDE1NC41NzNMOS41MzUzNiAxNjMuNTc4WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTEuNjQ0IDEuODczMDlDMTEuNjQ0IDIuOTA3NDcgMTAuODA1NSAzLjc0NTk5IDkuNzcxMSAzLjc0NTk5QzguNzM2NzIgMy43NDU5OSA3Ljg5ODE5IDIuOTA3NDcgNy44OTgxOSAxLjg3MzA5QzcuODk4MTkgMC44Mzg3MTEgOC43MzY3MiAwLjAwMDE4MzEwNSA5Ljc3MTEgMC4wMDAxODMxMDVDMTAuODA1NSAwLjAwMDE4MzEwNSAxMS42NDQgMC44Mzg3MTEgMTEuNjQ0IDEuODczMDlaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik0xMS42NDM0IDguNjE1NDNDMTEuNjQzNCA5LjY0OTgxIDEwLjgwNDkgMTAuNDg4MyA5Ljc3MDQ5IDEwLjQ4ODNDOC43MzYxMSAxMC40ODgzIDcuODk3NTggOS42NDk4MSA3Ljg5NzU4IDguNjE1NDNDNy44OTc1OCA3LjU4MTA1IDguNzM2MTEgNi43NDI1MiA5Ljc3MDQ5IDYuNzQyNTJDMTAuODA0OSA2Ljc0MjUyIDExLjY0MzQgNy41ODEwNSAxMS42NDM0IDguNjE1NDNaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik0xMS42NDM0IDE1LjM1NzlDMTEuNjQzNCAxNi4zOTIyIDEwLjgwNDkgMTcuMjMwOCA5Ljc3MDQ5IDE3LjIzMDhDOC43MzYxMSAxNy4yMzA4IDcuODk3NTggMTYuMzkyMiA3Ljg5NzU4IDE1LjM1NzlDNy44OTc1OCAxNC4zMjM1IDguNzM2MTEgMTMuNDg1IDkuNzcwNDkgMTMuNDg1QzEwLjgwNDkgMTMuNDg1IDExLjY0MzQgMTQuMzIzNSAxMS42NDM0IDE1LjM1NzlaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik0xOC4zODU5IDEuODcyOTdDMTguMzg1OSAyLjkwNzM0IDE3LjU0NzQgMy43NDU4NyAxNi41MTMgMy43NDU4N0MxNS40Nzg2IDMuNzQ1ODcgMTQuNjQwMSAyLjkwNzM0IDE0LjY0MDEgMS44NzI5N0MxNC42NDAxIDAuODM4NTg5IDE1LjQ3ODYgNi4xMDM1MmUtMDUgMTYuNTEzIDYuMTAzNTJlLTA1QzE3LjU0NzQgNi4xMDM1MmUtMDUgMTguMzg1OSAwLjgzODU4OSAxOC4zODU5IDEuODcyOTdaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik0xOC4zODU5IDguNjE1NDNDMTguMzg1OSA5LjY0OTgxIDE3LjU0NzQgMTAuNDg4MyAxNi41MTMgMTAuNDg4M0MxNS40Nzg2IDEwLjQ4ODMgMTQuNjQwMSA5LjY0OTgxIDE0LjY0MDEgOC42MTU0M0MxNC42NDAxIDcuNTgxMDUgMTUuNDc4NiA2Ljc0MjUyIDE2LjUxMyA2Ljc0MjUyQzE3LjU0NzQgNi43NDI1MiAxOC4zODU5IDcuNTgxMDUgMTguMzg1OSA4LjYxNTQzWiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTguMzg1OSAxNS4zNTc5QzE4LjM4NTkgMTYuMzkyMiAxNy41NDc0IDE3LjIzMDggMTYuNTEzIDE3LjIzMDhDMTUuNDc4NiAxNy4yMzA4IDE0LjY0MDEgMTYuMzkyMiAxNC42NDAxIDE1LjM1NzlDMTQuNjQwMSAxNC4zMjM1IDE1LjQ3ODYgMTMuNDg1IDE2LjUxMyAxMy40ODVDMTcuNTQ3NCAxMy40ODUgMTguMzg1OSAxNC4zMjM1IDE4LjM4NTkgMTUuMzU3OVoiIGZpbGw9IiMzMzM2M0YiLz4KPHBhdGggZD0iTTI1LjEyODQgMS44NzI5N0MyNS4xMjg0IDIuOTA3MzQgMjQuMjg5OSAzLjc0NTg3IDIzLjI1NTUgMy43NDU4N0MyMi4yMjExIDMuNzQ1ODcgMjEuMzgyNiAyLjkwNzM0IDIxLjM4MjYgMS44NzI5N0MyMS4zODI2IDAuODM4NTg5IDIyLjIyMTEgNi4xMDM1MmUtMDUgMjMuMjU1NSA2LjEwMzUyZS0wNUMyNC4yODk5IDYuMTAzNTJlLTA1IDI1LjEyODQgMC44Mzg1ODkgMjUuMTI4NCAxLjg3Mjk3WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMjUuMTI4NCA4LjYxNTQzQzI1LjEyODQgOS42NDk4MSAyNC4yODk5IDEwLjQ4ODMgMjMuMjU1NSAxMC40ODgzQzIyLjIyMTEgMTAuNDg4MyAyMS4zODI2IDkuNjQ5ODEgMjEuMzgyNiA4LjYxNTQzQzIxLjM4MjYgNy41ODEwNSAyMi4yMjExIDYuNzQyNTIgMjMuMjU1NSA2Ljc0MjUyQzI0LjI4OTkgNi43NDI1MiAyNS4xMjg0IDcuNTgxMDUgMjUuMTI4NCA4LjYxNTQzWiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMjUuMTI4NCAxNS4zNTc5QzI1LjEyODQgMTYuMzkyMiAyNC4yODk5IDE3LjIzMDggMjMuMjU1NSAxNy4yMzA4QzIyLjIyMTEgMTcuMjMwOCAyMS4zODI2IDE2LjM5MjIgMjEuMzgyNiAxNS4zNTc5QzIxLjM4MjYgMTQuMzIzNSAyMi4yMjExIDEzLjQ4NSAyMy4yNTU1IDEzLjQ4NUMyNC4yODk5IDEzLjQ4NSAyNS4xMjg0IDE0LjMyMzUgMjUuMTI4NCAxNS4zNTc5WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNNTEuMjg5NiA4OC45ODU2QzUxLjg3NDggODguNDAwNSA1Mi44MjM1IDg4LjQwMDUgNTMuNDA4NiA4OC45ODU2TDYxLjM1NDcgOTYuOTMxN0M2MS45Mzk4IDk3LjUxNjggNjEuOTM5OCA5OC40NjU1IDYxLjM1NDcgOTkuMDUwNkM2MC43Njk1IDk5LjYzNTggNTkuODIwOCA5OS42MzU4IDU5LjIzNTcgOTkuMDUwNkw1MS4yODk2IDkxLjEwNDZDNTAuNzA0NSA5MC41MTk0IDUwLjcwNDUgODkuNTcwOCA1MS4yODk2IDg4Ljk4NTZaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik00Ny45MTgzIDk1LjcyODFDNDguNTAzNCA5NS4xNDMgNDkuNDUyMSA5NS4xNDMgNTAuMDM3MyA5NS43MjgxTDU3Ljk4MzMgMTAzLjY3NEM1OC41Njg1IDEwNC4yNTkgNTguNTY4NSAxMDUuMjA4IDU3Ljk4MzMgMTA1Ljc5M0M1Ny4zOTgyIDEwNi4zNzggNTYuNDQ5NSAxMDYuMzc4IDU1Ljg2NDQgMTA1Ljc5M0w0Ny45MTgzIDk3Ljg0NzFDNDcuMzMzMiA5Ny4yNjE5IDQ3LjMzMzIgOTYuMzEzMiA0Ny45MTgzIDk1LjcyODFaIiBmaWxsPSIjMzMzNjNGIi8+Cjwvc3ZnPgo=");
                    height: 180px;
                    width: 89px;
                }
                &:after {
                    @apply md:block hidden;
                    @apply absolute;
                    content: "";
                    top: 20px;
                    right: 0;
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE3IiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDExNyAxODAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik03Ni41NzcgNDIuODk1TDg4Ljc3MTUgMzAuNjczMUwxMDAuOTY2IDQyLjg5NUw4OC43NzE1IDU1LjExNjhMNzYuNTc3IDQyLjg5NVoiIGZpbGw9IiM1OUQyQUUiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04NC4zMzc1IDQwLjY3MjhMOTMuNzYwNSAzMS4yMjg2Qzk1LjEzODEgMjkuODQ4IDk3LjM3MTYgMjkuODQ4IDk4Ljc0OTIgMzEuMjI4NkwxMDguMTcyIDQwLjY3MjhDMTA5LjU1IDQyLjA1MzQgMTA5LjU1IDQ0LjI5MiAxMDguMTcyIDQ1LjY3MjZMOTguNzQ5MiA1NS4xMTY4Qzk3LjM3MTYgNTYuNDk3NCA5NS4xMzgxIDU2LjQ5NzQgOTMuNzYwNSA1NS4xMTY4TDg0LjMzNzUgNDUuNjcyNkM4Mi45NTk5IDQ0LjI5MiA4Mi45NTk5IDQyLjA1MzQgODQuMzM3NSA0MC42NzI4Wk04Ni41NTQ3IDQyLjg5NDlDODYuNDAxNiA0My4wNDgzIDg2LjQwMTYgNDMuMjk3MSA4Ni41NTQ3IDQzLjQ1MDVMOTUuOTc3NyA1Mi44OTQ2Qzk2LjEzMDggNTMuMDQ4IDk2LjM3OSA1My4wNDggOTYuNTMyIDUyLjg5NDZMMTA1Ljk1NSA0My40NTA1QzEwNi4xMDggNDMuMjk3MSAxMDYuMTA4IDQzLjA0ODMgMTA1Ljk1NSA0Mi44OTQ5TDk2LjUzMiAzMy40NTA4Qzk2LjM3OSAzMy4yOTc0IDk2LjEzMDggMzMuMjk3NCA5NS45Nzc3IDMzLjQ1MDhMODYuNTU0NyA0Mi44OTQ5WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMCAwSDE3LjI0NTdWMTcuMjg0M0gwVjBaIiBmaWxsPSIjRkFFNTRFIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4wNTUwNSAzLjkyODIySDIwLjM4MTNDMjIuMzI5NSAzLjkyODIyIDIzLjkwODggNS41MTEwOCAyMy45MDg4IDcuNDYzNjVWMjAuODE5N0MyMy45MDg4IDIyLjc3MjMgMjIuMzI5NSAyNC4zNTUxIDIwLjM4MTMgMjQuMzU1MUg3LjA1NTA1QzUuMTA2ODYgMjQuMzU1MSAzLjUyNzUzIDIyLjc3MjMgMy41Mjc1MyAyMC44MTk3VjcuNDYzNjVDMy41Mjc1MyA1LjUxMTA5IDUuMTA2ODUgMy45MjgyMiA3LjA1NTA1IDMuOTI4MjJaTTcuMDU1MDUgNy4wNzA4MkM2LjgzODU5IDcuMDcwODIgNi42NjMxMSA3LjI0NjcgNi42NjMxMSA3LjQ2MzY1VjIwLjgxOTdDNi42NjMxMSAyMS4wMzY2IDYuODM4NTkgMjEuMjEyNSA3LjA1NTA1IDIxLjIxMjVIMjAuMzgxM0MyMC41OTc3IDIxLjIxMjUgMjAuNzczMiAyMS4wMzY2IDIwLjc3MzIgMjAuODE5N1Y3LjQ2MzY1QzIwLjc3MzIgNy4yNDY3IDIwLjU5NzcgNy4wNzA4MiAyMC4zODEzIDcuMDcwODJINy4wNTUwNVoiIGZpbGw9IiMzMzM2M0YiLz4KPHBhdGggZD0iTTM3LjIzNzkgOTkuODI2NEMzNy4yMzc5IDEwMC42NzkgMzYuNTQ4MSAxMDEuMzcgMzUuNjk3MyAxMDEuMzdDMzQuODQ2NSAxMDEuMzcgMzQuMTU2NyAxMDAuNjc5IDM0LjE1NjcgOTkuODI2NEMzNC4xNTY3IDk4Ljk3MzcgMzQuODQ2NSA5OC4yODI0IDM1LjY5NzMgOTguMjgyNEMzNi41NDgxIDk4LjI4MjQgMzcuMjM3OSA5OC45NzM3IDM3LjIzNzkgOTkuODI2NFoiIGZpbGw9IiMzMzM2M0YiLz4KPHBhdGggZD0iTTM3LjIzNzkgMTA1LjM4NUMzNy4yMzc5IDEwNi4yMzcgMzYuNTQ4MSAxMDYuOTI5IDM1LjY5NzMgMTA2LjkyOUMzNC44NDY1IDEwNi45MjkgMzQuMTU2NyAxMDYuMjM3IDM0LjE1NjcgMTA1LjM4NUMzNC4xNTY3IDEwNC41MzIgMzQuODQ2NSAxMDMuODQxIDM1LjY5NzMgMTAzLjg0MUMzNi41NDgxIDEwMy44NDEgMzcuMjM3OSAxMDQuNTMyIDM3LjIzNzkgMTA1LjM4NVoiIGZpbGw9IiMzMzM2M0YiLz4KPHBhdGggZD0iTTM3LjIzNzkgMTEwLjk0M0MzNy4yMzc5IDExMS43OTYgMzYuNTQ4MSAxMTIuNDg3IDM1LjY5NzMgMTEyLjQ4N0MzNC44NDY1IDExMi40ODcgMzQuMTU2NyAxMTEuNzk2IDM0LjE1NjcgMTEwLjk0M0MzNC4xNTY3IDExMC4wOSAzNC44NDY1IDEwOS4zOTkgMzUuNjk3MyAxMDkuMzk5QzM2LjU0ODEgMTA5LjM5OSAzNy4yMzc5IDExMC4wOSAzNy4yMzc5IDExMC45NDNaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik00Mi43ODM4IDk5LjgyNjNDNDIuNzgzOCAxMDAuNjc5IDQyLjA5NDEgMTAxLjM3IDQxLjI0MzMgMTAxLjM3QzQwLjM5MjQgMTAxLjM3IDM5LjcwMjcgMTAwLjY3OSAzOS43MDI3IDk5LjgyNjNDMzkuNzAyNyA5OC45NzM1IDQwLjM5MjQgOTguMjgyMyA0MS4yNDMzIDk4LjI4MjNDNDIuMDk0MSA5OC4yODIzIDQyLjc4MzggOTguOTczNSA0Mi43ODM4IDk5LjgyNjNaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik00Mi43ODM4IDEwNS4zODVDNDIuNzgzOCAxMDYuMjM3IDQyLjA5NDEgMTA2LjkyOSA0MS4yNDMzIDEwNi45MjlDNDAuMzkyNCAxMDYuOTI5IDM5LjcwMjcgMTA2LjIzNyAzOS43MDI3IDEwNS4zODVDMzkuNzAyNyAxMDQuNTMyIDQwLjM5MjQgMTAzLjg0MSA0MS4yNDMzIDEwMy44NDFDNDIuMDk0MSAxMDMuODQxIDQyLjc4MzggMTA0LjUzMiA0Mi43ODM4IDEwNS4zODVaIiBmaWxsPSIjMzMzNjNGIi8+CjxwYXRoIGQ9Ik00Mi43ODM4IDExMC45NDNDNDIuNzgzOCAxMTEuNzk2IDQyLjA5NDEgMTEyLjQ4NyA0MS4yNDMzIDExMi40ODdDNDAuMzkyNCAxMTIuNDg3IDM5LjcwMjcgMTExLjc5NiAzOS43MDI3IDExMC45NDNDMzkuNzAyNyAxMTAuMDkgNDAuMzkyNCAxMDkuMzk5IDQxLjI0MzMgMTA5LjM5OUM0Mi4wOTQxIDEwOS4zOTkgNDIuNzgzOCAxMTAuMDkgNDIuNzgzOCAxMTAuOTQzWiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNNDguMzMwMSA5OS44MjYzQzQ4LjMzMDEgMTAwLjY3OSA0Ny42NDA0IDEwMS4zNyA0Ni43ODk1IDEwMS4zN0M0NS45Mzg3IDEwMS4zNyA0NS4yNDkgMTAwLjY3OSA0NS4yNDkgOTkuODI2M0M0NS4yNDkgOTguOTczNSA0NS45Mzg3IDk4LjI4MjMgNDYuNzg5NSA5OC4yODIzQzQ3LjY0MDQgOTguMjgyMyA0OC4zMzAxIDk4Ljk3MzUgNDguMzMwMSA5OS44MjYzWiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNNDguMzMwMSAxMDUuMzg1QzQ4LjMzMDEgMTA2LjIzNyA0Ny42NDA0IDEwNi45MjkgNDYuNzg5NSAxMDYuOTI5QzQ1LjkzODcgMTA2LjkyOSA0NS4yNDkgMTA2LjIzNyA0NS4yNDkgMTA1LjM4NUM0NS4yNDkgMTA0LjUzMiA0NS45Mzg3IDEwMy44NDEgNDYuNzg5NSAxMDMuODQxQzQ3LjY0MDQgMTAzLjg0MSA0OC4zMzAxIDEwNC41MzIgNDguMzMwMSAxMDUuMzg1WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNNDguMzMwMSAxMTAuOTQzQzQ4LjMzMDEgMTExLjc5NiA0Ny42NDA0IDExMi40ODcgNDYuNzg5NSAxMTIuNDg3QzQ1LjkzODcgMTEyLjQ4NyA0NS4yNDkgMTExLjc5NiA0NS4yNDkgMTEwLjk0M0M0NS4yNDkgMTEwLjA5IDQ1LjkzODcgMTA5LjM5OSA0Ni43ODk1IDEwOS4zOTlDNDcuNjQwNCAxMDkuMzk5IDQ4LjMzMDEgMTEwLjA5IDQ4LjMzMDEgMTEwLjk0M1oiIGZpbGw9IiMzMzM2M0YiLz4KPHBhdGggZD0iTTEwMy44MTYgMTU4LjA2MUMxMDQuMDU0IDE1OC4wNDYgMTA0LjIxNCAxNTguMzAyIDEwNC4wOTYgMTU4LjUxTDk2LjAyMjggMTcyLjgyNEM5NS45MTA1IDE3My4wMjMgOTUuNjI2NiAxNzMuMDI5IDk1LjUwNTcgMTcyLjgzNUw4Ny4yMDQxIDE1OS41MkM4Ny4wODMyIDE1OS4zMjYgODcuMjEzMiAxNTkuMDczIDg3LjQ0MSAxNTkuMDU5TDEwMy44MTYgMTU4LjA2MVoiIGZpbGw9IiNGNjk2MDUiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik05My4wOTk2IDE2My41MDJDOTIuODc1OCAxNjMuNTIyIDkyLjc1MTYgMTYzLjc3MSA5Mi44NzA3IDE2My45NjJMMTAwLjYzNiAxNzYuNDE3QzEwMC43NTUgMTc2LjYwOCAxMDEuMDMzIDE3Ni42MDUgMTAxLjE0OSAxNzYuNDEyTDEwOS40NjMgMTYyLjU0N0MxMDkuNTkgMTYyLjMzNSAxMDkuNDI0IDE2Mi4wNjkgMTA5LjE3OSAxNjIuMDkxTDkzLjA5OTYgMTYzLjUwMlpNMTExLjUyNiAxNjMuNzg5TDEwMy4yMTIgMTc3LjY1NUMxMDIuMTcxIDE3OS4zOTIgOTkuNjY1OCAxNzkuNDE0IDk4LjU5NDMgMTc3LjY5NUw5MC44MjkzIDE2NS4yNDFDODkuNzU3NyAxNjMuNTIyIDkwLjg3NTMgMTYxLjI3NSA5Mi44ODk2IDE2MS4wOTlMMTA4Ljk2OSAxNTkuNjg3QzExMS4xNzMgMTU5LjQ5NCAxMTIuNjY2IDE2MS44ODggMTExLjUyNiAxNjMuNzg5WiIgZmlsbD0iIzMzMzYzRiIvPgo8L3N2Zz4K");
                    height: 180px;
                    width: 117px;
                }
            }

            & .testimonials {
                @apply flex flex-col items-center;

                & .stats {
                    @apply grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1;
                    @apply mb-24;
                    & .stat {
                        @apply py-12 px-24;
                        & .number {
                            @apply text-24 leading-160 font-medium text-textColor2;
                            @apply text-center;
                        }
                        & .metric {
                            @apply text-16 leading-160 text-textColor2;
                            @apply text-center;
                        }
                    }
                }

                & .testimonial {
                    @apply lg:max-w-[840px] max-w-[720px];
                    @apply md:h-[unset] h-[150px] md:mb-16;
                    @apply mx-auto text-center;
                    @apply text-21 leading-170;
                    -webkit-mask-image: linear-gradient(
                        to bottom,
                        white,
                        transparent 110%
                    );
                    mask-image: linear-gradient(
                        to bottom,
                        white,
                        transparent 110%
                    );
                }
                @screen md {
                    .testimonial {
                        -webkit-mask-image: none;
                        mask-image: none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .stars {
                    @apply flex mb-40;
                    @apply mx-auto text-center;
                    & .c-icon {
                        height: 32px;
                        width: 32px;
                    }
                }

                & .bylines {
                    @apply flex lg:flex-row flex-col gap-32 items-center mb-48;
                    & .byline {
                        @apply rounded-8 py-16 px-32 w-100;
                        @apply flex items-center;
                        @apply text-left;

                        & .c-avatar {
                            height: 48px;
                            width: 48px;
                            @apply mr-16;
                        }
                        & .student {
                            @apply text-h6 leading-170;
                        }
                        & .mentored-by {
                            @apply flex text-15 leading-160 text-textColor6 flex-wrap;
                        }

                        & .exercise {
                            @apply text-15 leading-160 text-textColor6;

                            & strong {
                                @apply font-medium;
                            }
                        }
                        &.active {
                            @apply shadow-lg bg-backgroundColorA;
                        }
                        &.unactive {
                            & .c-avatar {
                                filter: grayscale(1);
                            }
                            &:hover {
                                @apply shadow-base bg-backgroundColorA;
                                & .c-avatar {
                                    filter: grayscale(0.5);
                                }
                            }
                        }
                    }
                }
            }
            & .c-prominent-link {
                @apply self-center;
            }
        }
    }
}
