@import "../styles";

#page-concepts-index,
#page-exercises-index {
    & article.content {
        @apply pt-40;
        background: linear-gradient(
            180deg,
            #e1ebff 0%,
            rgba(225, 235, 255, 0) 250px
        );
    }

    & section.external-cta {
        @apply mb-56 py-24 px-80 rounded-12;
        @apply border-2 border-anotherPurple bg-randomBlue;
        @apply flex items-center;

        & .c-track-icon {
            height: 64px;
            width: 64px;
            @apply mr-64;
        }

        & .info {
            @apply flex-grow mr-24;
            & h2 {
                @apply text-h4 mb-6;
            }
            & p {
                @apply text-16 leading-paragraph;
                max-width: 440px;
            }
        }
    }
    & header.page-header {
        & .container {
            @apply flex items-center justify-center mb-48;
        }

        & .graphic {
            height: 140px;
            width: 140px;
            @apply mr-48;
        }
        & .info {
            & h1 {
                @apply text-h1 flex items-center mb-8;
                & .c-icon {
                    height: 54px;
                    width: 54px;
                    @apply mx-16;
                }
            }
            & p {
                @apply mb-24;
                @apply text-18 leading-paragraph;
            }
            & progress {
                @apply appearance-none w-100 rounded-8 overflow-hidden mb-12;
                height: 8px;

                &::-webkit-progress-bar {
                    @apply bg-veryLightBlue;
                }
                &[value] {
                    &::-webkit-progress-value {
                        @apply bg-lightBlue;
                    }
                }
            }
            & .progress-text {
                @apply text-lightBlue font-medium;
            }
        }
    }
}
