@import "../styles";

#page-track-show-joined {
    & .track-header {
        & .container {
            @apply flex items-center py-32;
            height: 190px;
        }
        background: linear-gradient(
            180deg,
            #e1ebff 0%,
            rgba(225, 235, 255, 0) 100%
        );
        & .c-track-icon {
            @apply mr-40;

            height: 125px;
            width: 125px;
        }
        & .info {
            @apply flex-grow;

            & h1 {
                @apply text-h1 mb-8;
            }
            & .joined {
                @apply flex items-center text-16;

                & .c-icon {
                    @apply mr-12 text-textColor6;
                    height: 21px;
                    width: 21px;
                }
                & time {
                    @apply ml-4;
                }
            }
        }
        & .progress {
            @apply ml-40 w-100;
            max-width: 600px;

            & progress {
                @apply appearance-none w-100 rounded-8 overflow-hidden;
                @apply mb-12;
                height: 8px;

                &::-webkit-progress-bar {
                    @apply bg-veryLightBlue;
                }
                &[value] {
                    &::-webkit-progress-value {
                        @apply bg-lightBlue;
                    }
                }
            }
            & .progress-key {
                @apply flex items-center;

                & .dot {
                    @apply bg-lightBlue rounded-3 mr-24;
                    height: 12px;
                    width: 12px;
                }

                & .metric {
                    @apply font-mono font-bold text-18 leading-code;
                }
                & .text {
                    @apply text-16 leading-code;
                }
            }
        }
    }
    & article {
        & .container {
            @apply flex;
        }

        & .lhs {
            @apply flex-grow;
        }
        & .rhs {
            @apply w-1-3 ml-32 flex-shrink-0;
        }
    }
    & section.contributors {
        @apply bg-backgroundColorA rounded-8 pt-24 pb-32 px-32 mb-32 shadow-lg;

        & .c-heading-with-count {
            @apply mb-16;
        }

        & .showcase {
            @apply flex flex-col gap-8 mb-24;

            & a {
                @apply flex items-center;
                @apply border-1 border-borderLight rounded-8;
                @apply px-16 py-8;

                & .c-rounded-bg-img {
                    height: 48px;
                    width: 48px;
                    @apply mr-16;
                }
                & .name {
                    @apply mr-12;
                    @apply font-semibold text-16 truncate;
                }
            }
        }
        & .faces {
            @apply flex flex-wrap items-center gap-16 mb-24;

            & a {
                width: 48px;
            }
            & a.face {
                @apply block flex-grow-0 flex-shrink-0;
                @apply bg-center bg-cover rounded-circle;
                height: 48px;
            }
            & a.all {
                @apply block flex-grow-0 flex-shrink-0;
                @apply font-semibold text-lightBlue;
            }
        }

        & .cta {
            @apply bg-unnamed15 rounded-8 py-16 px-24;

            & h3 {
                @apply text-16 font-semibold mb-8;
            }
            & p {
                @apply text-14 leading-paragraph mb-8;
            }
            & a {
                @apply block text-14 text-lightBlue font-semibold;
            }
        }
    }
    & section.updates {
        @apply bg-backgroundColorA rounded-8 py-24 px-32 shadow-lg;
        & h2 {
            @apply flex items-center text-h4 mb-16;

            & .c-icon {
                width: 24px;
                height: 24px;
                @apply mr-16;
            }
        }

        & .updates {
            & .update {
                @apply grid gap-20 mb-12;
                grid-template-columns: 32px auto 72px;

                & .icon {
                    & .c-icon {
                        height: 32px;
                        width: 32px;
                    }
                }

                & .info {
                    & .desc {
                        @apply text-16 leading-paragraph;
                        & strong {
                            @apply font-medium;
                        }
                    }

                    & time {
                        @apply text-label-timestamp;
                    }
                }

                & .faces {
                    & .c-rounded-bg-img {
                        height: 32px;
                        width: 32px;
                    }
                }
            }
        }
        & .c-prominent-link {
            @apply mt-24;
        }
    }

    & section.start-track {
        @apply mb-64;

        & .start-track-cta,
        & .placeholder-activity {
            @apply shadow-lg bg-backgroundColorA rounded-8;
            @apply flex;
        }

        & .start-track-cta {
            @apply py-24 px-32;

            & h3 {
                @apply text-h4 mb-8;
            }

            & p {
                @apply text-16 leading-paragraph mb-24;
            }

            & .info {
                @apply text-14 leading-paragraph text-textColor6;
            }

            & .c-icon {
                height: 48px;
                width: 48px;
                @apply mr-24;
            }
            & .actions {
                @apply flex items-center;

                & .btn-cta {
                    @apply mr-32;
                    width: 160px;
                }
                & .info {
                    @apply flex-shrink;
                    max-width: 300px;
                }
            }
        }
        & .placeholder-activity {
            @apply py-16 px-24 items-center;

            & .c-icon {
                height: 24px;
                width: 24px;
                @apply mr-24;
            }
            & p {
                @apply text-18 leading-paragraph text-textColor6;
            }
        }
    }

    & section.activities {
        @apply mb-64;

        & > .exercise {
            @apply flex flex-col;
            @apply shadow-base rounded-8 bg-backgroundColorA;
            @apply py-16 px-24;

            & > header {
                @apply flex items-center;

                & > .content {
                    @apply flex items-center flex-grow;

                    & .c-exercise-icon {
                        height: 64px;
                        width: 64px;
                        @apply mr-28;
                    }
                    & .info {
                        @apply flex-grow;

                        & .title {
                            @apply text-h4 mb-6;
                        }
                        & .tags {
                            @apply flex;

                            & .tag {
                                @apply rounded-5;
                                @apply border-1;
                                @apply flex items-center px-12;
                                @apply mr-12;
                                height: 32px;

                                &.in-progress {
                                    @apply border-lightBlue bg-veryLightBlue;
                                    @apply text-lightBlue font-semibold leading-code;
                                }
                                &.mentor-comments {
                                    @apply text-textColor3 font-medium;

                                    &.unread {
                                        @apply border-orange bg-lightOrange;
                                        & .c-icon {
                                            @apply text-orange;
                                        }
                                    }
                                    & .c-icon {
                                        height: 16px;
                                        width: 16px;
                                        @apply mr-8;
                                    }
                                }
                            }
                            & .unsubmitted-code {
                                @apply flex items-center px-12;
                                @apply text-textColor6 font-medium;

                                & .c-icon {
                                    height: 16px;
                                    width: 16px;
                                    @apply mr-12;
                                }
                            }
                        }
                    }
                }
            }
            & > .latest-iteration {
                @apply flex items-center;
                @apply rounded-5 border-1 border-borderColor5;
                @apply py-8 px-16;
                @apply mt-16;

                & .action-icon {
                    height: 16px;
                    width: 16px;
                    @apply ml-32;
                    @apply text-textColor6;
                }
            }
            & > .activities {
                @apply mt-8;

                & > .activity {
                    @apply flex items-center;
                    @apply py-4 pl-8;
                    /* Line this up with the iteration summary above */
                    padding-right: 18px;

                    &:hover {
                        @apply bg-backgroundColorE;
                    }

                    & > .icon {
                        @apply rounded-circle bg-backgroundColorA shadow-sm;
                        @apply grid place-items-center;
                        @apply py-8 px-8 mr-16;

                        & > .c-icon {
                            height: 16px;
                            width: 16px;
                        }
                    }
                    & > .description {
                        @apply flex-grow;
                        @apply text-15 leading-140;
                        & strong {
                            @apply font-medium text-textColor5;
                        }
                    }
                    & > time {
                        @apply text-13 text-textColor6;
                        @apply ml-32;
                    }
                    & > .action-icon {
                        height: 12px;
                        width: 12px;
                        @apply ml-32;
                        @apply text-textColor6;
                    }
                }
            }
        }
        & > * {
            & + * {
                @apply mt-16 relative;
                &:before {
                    content: "";
                    @apply absolute bg-borderLight;

                    width: 2px;
                    height: 16px;
                    top: -16px;
                    left: 36px;
                }
            }
        }
    }
    & section.uncompleted-exercises,
    & section.concepts {
        @apply mb-64;

        & .header {
            @apply flex items-center mb-28;

            & .c-icon {
                width: 32px;
                height: 32px;
                @apply mr-16;
            }
            & h2 {
                @apply text-h3;
                @apply mr-16;

                & em {
                    @apply text-h5 not-italic text-textColor6;
                }
            }
        }
    }

    & section.uncompleted-exercises {
        & .exercises {
            @apply grid gap-16;
            grid-template-columns: repeat(2, 50%);
        }
    }

    & section.concepts {
        & .header {
            & .progress {
                @apply py-8 px-12 text-textColor6 font-medium;
                @apply border-1 border-borderColor4 rounded-100;
            }
        }

        & .concepts {
            @apply grid gap-12;
            grid-template-columns: repeat(1, auto);

            & .concept {
                @apply flex items-center py-24 px-32;
                @apply bg-backgroundColorA rounded-8 shadow-lg;

                & .c-concept-icon {
                    @apply mr-24;
                }
                & .info {
                    @apply flex-grow;

                    & .name {
                        @apply flex items-center text-h5 mb-6;

                        & .c-icon {
                            height: 24px;
                            width: 24px;
                            @apply ml-12;
                        }
                    }
                    & .completion {
                        @apply text-textColor6 font-medium;
                    }
                }
                & .c-concept-progress-bar {
                    max-width: 320px;
                    @apply flex-grow ml-64;
                    height: 6px;
                }
                & .action-icon {
                    height: 16px;
                    width: 16px;
                    @apply ml-64;
                }

                &.completed {
                    & .info .completion {
                        @apply text-darkGreen;
                    }
                }
            }
        }
    }
}
