@import "../styles";

#page-track-show-joined {
    & .track-header {
        & .container {
            @apply flex items-center py-32;
            height: 190px;
        }
        background: linear-gradient(
            180deg,
            #e1ebff 0%,
            rgba(225, 235, 255, 0) 100%
        );
        & .c-track-icon {
            @apply mr-48;

            height: 125px;
            width: 125px;
            /*width: calc(var(--c-track-icon-width-ratio) * 125px);*/
        }
        & h1 {
            @apply text-h1 mb-8;
        }
        & .joined {
            @apply text-16;
        }
    }
    & article {
        & .container {
            @apply flex;
        }

        & .lhs {
            @apply flex-grow;
        }
        & .rhs {
            @apply w-1-3 ml-32 flex-shrink-0;
        }
    }
    & section.contributors {
        @apply bg-white rounded-8 pt-24 pb-32 px-32 mb-32 shadow-lg;

        & header {
            @apply flex items-center mb-16;
            & h2 {
                @apply flex items-center text-h4 mr-12;
                & svg {
                    height: 24px;
                    width: 24px;
                    @apply mr-16;
                }
            }
            & .count {
                @apply rounded-100 px-12;
                @apply text-textLight text-14 font-medium;
                @apply border-textLight border-1;
                line-height: 28px;
            }
        }

        & .showcase {
            @apply flex flex-col gap-8 mb-24;

            & a {
                @apply flex items-center;
                @apply border-1 border-borderLight rounded-8;
                @apply px-16 py-8;

                & .c-rounded-bg-img {
                    height: 48px;
                    width: 48px;
                    @apply mr-16;
                }
                & .name {
                    @apply mr-12;
                    @apply font-semibold text-16 truncate;
                }
            }
        }
        & .faces {
            @apply flex flex-wrap items-center gap-16 mb-24;

            & a {
                width: 48px;
            }
            & a.face {
                @apply block flex-grow-0 flex-shrink-0;
                @apply bg-center bg-cover rounded-circle;
                height: 48px;
            }
            & a.all {
                @apply block flex-grow-0 flex-shrink-0;
                @apply font-semibold text-lightBlue;
            }
        }

        & .cta {
            @apply bg-unnamed15 rounded-8 py-16 px-24;

            & h3 {
                @apply text-16 font-semibold mb-8;
            }
            & p {
                @apply text-14 leading-paragraph mb-8;
            }
            & a {
                @apply block text-14 text-lightBlue font-semibold;
            }
        }
    }
    & section.activities {
        & .start-track-cta,
        & .placeholder-activity {
            @apply shadow-lg bg-white rounded-8;
            @apply flex;
        }

        & .start-track-cta {
            @apply py-24 px-32;

            & h3 {
                @apply text-h4 mb-8;
            }

            & p {
                @apply text-16 leading-paragraph mb-24;
            }

            & .info {
                @apply text-14 leading-paragraph text-textLight;
            }

            & .c-icon {
                height: 48px;
                width: 48px;
                @apply mr-24;
            }
            & .actions {
                @apply flex items-center;

                & .btn-cta {
                    @apply mr-32;
                    width: 160px;
                }
                & .info {
                    @apply flex-shrink;
                    max-width: 300px;
                }
            }
        }
        & .placeholder-activity {
            @apply py-16 px-24 items-center;

            & .c-icon {
                height: 24px;
                width: 24px;
                @apply mr-24;
            }
            & p {
                @apply text-18 leading-paragraph text-textLight;
            }
        }
        & > * {
            & + * {
                @apply mt-16 relative;
                &:before {
                    content: "";
                    @apply absolute bg-borderLight;

                    width: 2px;
                    height: 16px;
                    top: -16px;
                    left: 36px;
                }
            }
        }
    }
}
