@import "../styles";

.contributor-credit-block {
    @apply flex items-center justify-between mb-8;
    @apply border-1 border-borderLight rounded-8 px-16 py-8;

    & .contributor {
        @apply text-16 font-semibold leading-150 text-textColor1;
        @apply flex items-center;

        & img {
            width: 32px;
            height: 32px;
            @apply rounded-circle mr-12;
        }
    }
}

.report-stat {
    @apply flex flex-col py-16 px-24 shadow-sm;
    & .stat-name {
        @apply flex items-center;
        @apply label-large;
        & img {
            @apply filter-textColor6 ml-12;
            width: 15px;
            height: 15px;
        }
    }
    & .current-number {
        @apply text-32 leading-150 font-semibold text-purple;
    }
    & .growth {
        @apply text-16 font-semibold leading-150 text-healthyGreen;
    }
}

.tooling-status-label {
    @apply label-large text-16 mb-8;
}
.tooling-status-group {
    @apply flex flex-row;
}

.track-status {
    @apply rounded-16 px-32 py-24 shadow-lgZ1 text-textColor1 mb-32;
}

.tooling-status {
    @apply flex items-center border-2 border-black rounded-circle mr-16;
    @apply bg-lightPurple;
    height: 48px;
    width: 48px;

    & img {
        height: 20px;
        width: 20px;
        @apply mx-auto;
    }
}

.tooling-status--healthy {
    @apply tooling-status relative;
    @apply border-healthyGreen;

    & img {
        @apply filter-healthyGreen;
    }

    &:after {
        content: url("icons/healthy-green-check.svg");
        @apply absolute;
        @apply right-0 translate-x-1/4;
        @apply top-0 -translate-y-1/4;
        width: 24px;
        height: 24px;
    }
}

.tooling-status--needs-attention {
    @apply tooling-status;
    @apply border-warning;
    & img {
        @apply filter-warning;
    }
}

.tooling-status--critical {
    @apply tooling-status;
    @apply border-danger;
    & img {
        @apply filter-danger;
    }
}

.tooling-status--dead {
    @apply tooling-status;
    @apply border-textColor6;
    & img {
        @apply filter-textColor6;
    }
}
