#page-auth
  %section.form-section
    .inner
      = link_to root_path, class: 'logo' do
        = icon "exercism-with-logo-black", "Exercism's Logo"

      .intro
        %h2 Welcome! Check your email.
        %p Welcome to Exercism. We've sent you an email to confirm you're a human.
        %p To protect us from abuse, we validate all email addresses are valid. If you check your email now, it should already be there. If you can't see it, check spam, and then give it 10 minutes in case things are running slowly.
        %p If it's not turned up soon, #{link_to 'we can resend it', new_confirmation_path(resource_name)}.

  = render "devise/shared/information"
