# JS files
*.js       @erikschierboom @iHiD @dem4ron
*.jsx      @erikschierboom @iHiD @dem4ron

# TypeScript files
*.ts       @erikschierboom @iHiD @dem4ron
*.tsx      @erikschierboom @iHiD @dem4ron

# CSS Files
*.css       @iHiD

# Ruby files
*.rb      @iHiD
*.ru      @iHiD
Gemfile*  @iHiD
config/   @iHiD
db/       @iHiD
lib/      @iHiD
Rakefile  @iHiD

# Docker and deployment files
docker/   @iHiD
Procfile* @iHiD
.github   @iHiD

# Bin files
bin/     @iHiD
