.m-badge.c-modal.--cover.--ultimate
  .--modal-content
    .c-badge-medallion.--ultimate
      // The badge icon
      = graphical_icon 'concept-exercise'

    %h2 New Badge Earned
    .name 2020 Winter Markathon
    .rarity Ultimate
    %hr.c-divider.--small
    .reason For participation in the 2020 Winter Markathon
    .earned-at Earned on 20 Jan 2021
