.m-finish-student-mentor-discussion.c-modal.--cover
  .--modal-content
    %section.celebrate-step.neon-cat
      = image_tag "https://media.giphy.com/media/sIIhZliB2McAo/source.gif", class: 'gif'
      %h2 Thank you for leaving a testimonial 💙
      %p
        %strong You’ve helped make iHiD’s day. 
        Be sure to share your experiences on Exercism with others.
      = link_to '#', class: "btn-primary btn-l" do
        %span Back to the discussion
        = graphical_icon "arrow-right"

