- if current_user.github_solution_syncer.present?
  %p
    Connected to
    %code= current_user.github_solution_syncer.repo_full_name
  = button_to "Disconnect", settings_github_solution_syncer_path, method: :delete, class: "btn btn-danger"
- else
  = link_to "Connect GitHub Repo", "https://github.com/apps/exercism-solutions-syncer/installations/new", class: "btn btn-primary"
