# Use UNIX line endings for all files to allow them
# to be used when mapped in a UNIX docker container
* text eol=lf
*.png binary
*.jpg binary
*.webp binary

# The bare repositories used for testing purposes
# should be treated as binary files
test/repos/** binary

config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials
