.c-tooltip-base
  .flex.gap-16
    = graphical_icon 'analyzer'
    %div
      %h5.text-h5
        The #{@track.title} analyzer
        %span.text-warning needs attention!
      %p.text-p-base Your display rate is below 1%!
