- content_for :canonical_url, tracks_url
- require_stylesheet "tracks"

#page-tracks
  %header.tracks-header
    .lg-container.container
      .track-icons
        - @track_icon_urls.each do |icon_url|
          = image_tag icon_url, alt: '', class: "c-icon c-track-icon"

      %h1.text-h1= t('.header.title', num_tracks: @num_tracks)
      %p.text-p-large
        = t('.header.description_html', contributors_link: link_to(t('.header.contributors_link_text'), contributing_contributors_path, class: 'text-prominentLinkColor')).html_safe

  = render ReactComponents::Student::TracksList.new(current_user, @tracks, params)

- content_for :meta_tags do
  %meta{ name: "turbo-visit-control", content: "reload" }
