.c-tooltip-base
  .flex.gap-16
    = graphical_icon 'test-runner'
    %div
      %h5.text-h5
        The #{@track.title} test runner is
        %span.text-healthyGreen healthy!
      %p.text-p-base It has run 22 times!
