.lg-container
  %h1.text-h1= t('.title')
  = render "form", mailshot: @mailshot, communication_preferences_keys: @communication_preferences_keys
  %br/
  %div
  = link_to t('.back_link'), admin_mailshots_path
