%section#confirmation
  .xs-container
    #pending
      .container
        .flex.flex-col.items-center.w-fill
          = icon "spinner", "Processing", css_class: "spinner"
    #success.hidden
      .container
        .tag Let's get you coding!
        %h2
          %strong Congratulations! 🥳
        %p.intro
          Your payment has been successfully processed and you're all set!
        %hr

        %p.info
          We're so excited to have you on board! 💙
        - if current_user
          %p.info.mb-10
            Your Exercism account has been granted Bootcamp access.
            Please use the following button to get started.
            If you have any questions, please email us at
            %strong.font-medium bootcamp@exercism.org
            and we'll be happy to help.
          = link_to "Go to the Bootcamp", bootcamp_dashboard_path, class: 'button'
        - else
          %p.info
            %strong As you're not logged into your Exercism account, we need to manually connect things for you.
            Firstly, please make sure you have an Exercism account. If you don't, #{link_to 'create one here', 'https://exercism.org/users/sign_up', class: 'text-primary-blue font-semibold'}.
          %p.info
            Then please email us at
            %strong.font-medium bootcamp@exercism.org
            with your Exercism username/handle and the email address you've enrolled with (#{@bootcamp_data.email}). We'll then check everything and give you access.
          %p.info
            You should also shortly receive an email welcoming you to the Bootcamp, and asking you to say hello. Please do take a few minutes to tell us your story - it's both incredibly motivating for us to hear about who's taking the Bootcamp, and also means we can better tailor what we're making!
          %p.info
            Thanks for trusting us with your learning 🙂
