%section#enroll
  .xs-container
    .container
      .tag Let's get you coding!
      %h2
        %strong Congratulations! 🥳
      %p.intro
        You're on the course...!

        -# TODO: iHiD add copy here.
