%section#payment
  .lg-container
    .container
      .lhs
        .tag Let's get you coding!
        %h2
          %strong You're almost set up!
        %p.intro
          We've reserved a space on the Bootcamp for you!
          %strong Add your payment details to finish enrolling 👉
        %hr

        %p.info.mb-8
          %strong Please complete payment
          of $#{@bootcamp_data.price}.
        %h3 Here's a reminder of what you geg
        %ul
          %li 100 hours of teaching
          %li etc
          %li etc
          %li etc
          %li etc
        %h3 Success Gauranteed
        %p
          You're protected by our 100% Learn to Code Guanratee. If you take the course but can't code at the end, we'll give you your money back!

      .rhs
        #checkout
