%section#enroll
  .xs-container
    .container
      .tag Let's get you coding!
      %h2
        %strong Congratulations! 🥳
      %p.intro
        - if @package == 'part_1'
          We've reserved a slot on
          %span.whitespace-nowrap Part 1
          of the Bootcamp for you!
        - else
          We've reserved a slot on the Complete Bootcamp for you!
      %hr

      %p.info
        %strong Please complete your payment
        of $#{@bootcamp_data.price} below...
        
        -# TODO: Aron do the stuff here.