- content_for :canonical_url, community_brief_introductions_url
#page-community
  %header
  .lg-container.relative
    .flex.lg:flex-row.flex-col.items-start.pt-40.lg:gap-128.gap-64.mb-40
      .block
        = graphical_icon "brief-introductions-gradient", css_class: "h-[48px] w-[48px] mb-8"
        %h1.text-h1.mb-8 The Brief Introduction Series
        %p.text-p-xlarge.leading-150.mb-8
          Explore new languages with our "Brief Introduction" series.
          Join Erik as he looks at the history, and fundamentals of a language, and solves an exercise in it.
        %p.text-p-xlarge.leading-150.mb-8
          Check out his latest video to the right, or explore the full series below.

      .flex-shrink-0{ class: "lg:w-[400px] w-100" }
        = render ReactComponents::Common::YoutubePlayer.new(@latest_id, 'brief_introductions')

  %hr.border-borderColor6

  .lg-container.relative
    .grid.lg:grid-cols-3.sm:grid-cols-2.grid-cols-1.gap-24.pt-40
      - @ids.each do |id|
        = render ReactComponents::Common::YoutubePlayer.new(id, 'brief_introductions')
