%ul
  %li
    Over 70 hours of
    %strong live teaching
    (that you can watch back forever).
  %li
    Weekly sessions to
    %strong answer your questions.
  %li
    Hundreds of hours of
    %strong exercises and projects,
    teaching you both code and web development.
  %li
    A
    %strong dedicated community
    Discord server.
  %li
    An
    %strong official certificate
    of completion to put on your resume.