%ul
  %li
    Hundreds of hours of fun, interesting
    %strong exercises and projects
    that will help your brain really master the fundamentals of both
    %strong coding
    and
    %strong front-end development.
  %li
    Over 70 hours of
    %strong live teaching
    (that you can watch back forever).
  %li
    %strong Beatifully illustrated diagrams
    that make coding make sense.
  %li
    A
    %strong specially designed interface
    that gives you a ton of tools to make your life easier and get you focusing on the bits that matter!
  %li
    Weekly sessions to
    %strong answer your questions.
  %li
    A
    %strong community
    Discord server and forum, with friendly mentors.
  %li
    An
    %strong official certificate
    of completion to put on your resume.
