%ul
  %li
    Hundreds of hours of
    %strong exercises and projects
    that will help your brain really master the fundamentals of front-end development.
  %li
    Over 35 hours of
    %strong live teaching
    (that you can watch back forever!)
  %li
    Weekly sessions to
    %strong answer your questions.
  %li 
    Learn 
    %strong HTML, CSS, JavaScript, Git and VSCode. 
    And how to piece them all together to make 
    %strong awesome web projects!
  %li
    A
    %strong dedicated community
    Discord server.
  %li
    An
    %strong official certificate
    of completion to put on your resume.