@import "../../styles";

.c-mentor-discussion {
    --header-height: 68px;
    --tabs-height: 69px;

    @apply flex fixed;
    width: 100%;
    height: 100%;

    & .lhs {
        overflow: hidden;

        @apply border-r-2 border-lightGray flex-grow;
        @apply flex flex-col items-stretch bg-backgroundColorA;

        & .discussion-header {
            height: var(--header-height);
            width: 100%;
            @apply bg-white;

            @apply flex items-center px-32 border-b-1 border-lightGray;

            & .close-btn {
                @apply flex;
                & .c-icon {
                    height: 16px;
                    width: 16px;
                    @apply mr-24;
                }
            }
            & .c-track-icon {
                height: 42px;
                width: 42px;
                @apply mr-32;
            }
            & .student {
                @apply flex items-center;
                & .c-rounded-bg-img {
                    height: 48px;
                    width: 48px;
                    @apply mr-8;
                }
                & .info {
                    @apply flex flex-col;
                    & .handle {
                        @apply font-mono font-semibold text-16 text-darkGray leading-regular;
                    }

                    & .exercise {
                        @apply font-mono font-medium text-16 text-textLight leading-regular;
                        & strong {
                            @apply font-medium text-darkGray;
                        }
                    }
                }
            }
            & .iterations {
                @apply flex flex-grow items-center justify-end;

                & .iteration {
                    height: 32px;
                    width: 32px;
                    @apply relative flex items-center justify-center ml-20;
                    @apply rounded-circle border-1 border-borderLight;
                    @apply font-semibold font-mono text-13;

                    & .comments {
                        top: -12px;
                        left: 20px;

                        @apply absolute py-4 px-6 rounded-5;
                        @apply border-1 border-borderLight bg-white;
                        @apply text-darkGray text-13 font-semibold font-mono;

                        &.unread {
                            @apply border-orange bg-lightOrange;
                        }
                    }

                    &.active {
                        @apply text-darkGray border-lightBlue bg-veryLightBlue;
                    }
                }
            }
        }

        & .iteration-header {
            @apply flex items-center px-32;
            @apply border-b-1 border-lightGray;
            height: 69px;

            & .info {
                @apply flex-grow mr-24;

                & .title {
                    @apply flex items-center;

                    & h2 {
                        @apply font-mono font-semibold text-16 leading-huge text-darkGray;
                    }
                    & .latest {
                        height: 22px;
                        @apply flex items-center ml-16 rounded-5;
                        @apply font-medium text-12 text-textLight px-8;
                        @apply border-1 border-borderLight;
                    }
                }
                & .submitted-time {
                    @apply flex items-center;
                    @apply text-label-timestamp;
                    @apply leading-huge;
                    & .c-icon {
                        height: 14px;
                        width: 14px;

                        @apply mr-12;
                    }
                }
            }
            & .download-btn {
            }
        }
    }
    & .rhs {
        @apply relative flex flex-col;
        @apply shadow-base;
        width: 570px;
        height: 100%;
        overflow: hidden;

        & .comment-section {
            @apply flex flex-col relative;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0px 4px 24px 0px rgba(79, 114, 205, 0.3);

            @apply px-24 py-16 bg-backgroundColorA;

            & button.faux-input {
                @apply relative;
                @apply border-1 border-borderColor4 rounded-5;
                @apply py-12 px-16;
                @apply text-16 leading-paragraph text-textColor6;
                @apply text-left;
            }
            & .comment-form {
                @apply border-1 border-borderColor4 rounded-5;
                & .editor-toolbar {
                    border-width: 0; /* Override default */
                    @apply border-b-1 border-borderColor5;
                }
                /* TODO: Decide what to do with this */
                & .editor-statusbar {
                    display: none;
                }
                & .CodeMirror {
                    height: 160px;
                    min-height: 160px;
                    border: none;
                    @apply text-textColor5 text-15 leading-huge;

                    & .CodeMirror-scroll {
                        height: 140px;
                        min-height: 140px !important;
                    }
                }
                & .comment-form-footer {
                    @apply p-16;
                    @apply flex justify-end;
                }
            }
        }

        & .tabs {
            @apply flex;
            top: 0;
            left: 0;
            right: 0;
            height: var(--tabs-height);

            @apply border-b-1 border-lightGray bg-backgroundColorA;
            @apply px-24 pt-20 pb-12;

            & .c-tab {
                height: 36px;
                @apply mr-24;

                & svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        & .--tab-panel {
            @apply flex-grow;
            overflow-y: scroll;
        }

        & .discussion {
            & .post {
                @apply py-16 px-24 bg-backgroundColorA;

                &:hover {
                    @apply bg-backgroundColorB;
                }

                & .post-header {
                    @apply flex items-center mb-8;

                    & .c-rounded-bg-img {
                        height: 32px;
                        width: 32px;
                        @apply mr-12;
                    }
                    & .handle {
                        @apply font-mono font-semibold text-16 text-darkGray;
                    }
                    & .tag {
                        height: 30px;
                        @apply flex items-center ml-16 rounded-100;
                        @apply font-medium text-textLight px-12;
                        @apply border-1 border-textLight;
                    }
                }
                & .post-content {
                    @apply text-15 leading-huge mb-8;
                }
                & .post-at {
                    @apply text-label-timestamp;
                }
            }
        }
    }
}
