@import "../../styles";

.c-mentor-discussion {
    --header-height: 68px;
    --footer-height: 80px;

    @apply flex fixed;
    width: 100%;
    height: 100%;

    & .lhs {
        overflow: hidden;

        @apply flex-grow;
        @apply flex flex-col items-stretch bg-backgroundColorA;

        & .discussion-header {
            height: var(--header-height);
            width: 100%;
            @apply bg-backgroundColorA;

            @apply flex items-center px-24 border-b-1 border-borderColor6;

            & .close-btn {
                @apply flex;
                @apply p-16;
                @apply mr-8;
                & .c-icon {
                    height: 24px;
                    width: 24px;
                }
            }
            & .c-track-icon {
                height: 42px;
                width: 42px;
                @apply mr-12;
            }
            & .c-exercise-icon {
                height: 48px;
                width: 48px;
                @apply mr-16;
            }
            & .student {
                @apply flex-grow flex items-center;
                & .c-rounded-bg-img {
                    height: 48px;
                    width: 48px;
                    @apply mr-16;
                }
                & .info {
                    @apply flex flex-col;
                    & .handle {
                        @apply font-medium text-16 text-textColor3 leading-huge;
                    }

                    & .exercise {
                        @apply text-14 text-textColor6 leading-regular;
                    }
                }
            }
            & .info-for-student {
                @apply text-14 leading-150 text-textColor6;
                & strong {
                    @apply font-medium text-textColor3;
                }
                & .exercise-title {
                    @apply text-16 font-medium text-textColor3;
                }
            }
            & .finish-button {
            }
            & .finished {
                @apply flex items-center;
                /* Leading-150 */
                @apply text-16 leading-paragraph font-semibold text-textColor3;

                & .c-icon {
                    height: 24px;
                    width: 24px;
                    @apply mr-16;
                }
            }
        }
        & .discussion-footer {
            @apply flex items-center px-24;

            height: var(--footer-height);
            background: linear-gradient(
                180deg,
                var(--backgroundColorB) 0%,
                var(--backgroundColorA) 50%
            );
            box-shadow: 0px -4px 16px var(--backgroundColorB);

            & .iterations {
                @apply flex flex-grow items-center;

                & .iteration {
                    height: 32px;
                    width: 32px;
                    @apply relative flex items-center justify-center ml-20;
                    @apply rounded-circle border-1 border-borderLight;
                    @apply font-semibold font-mono text-13;

                    & .comments {
                        top: -12px;
                        left: 20px;

                        @apply absolute py-4 px-6 rounded-5;
                        @apply border-1 border-borderLight bg-backgroundColorA;
                        @apply text-darkGray text-13 font-semibold font-mono;

                        &.unread {
                            @apply border-orange bg-lightOrange;
                        }
                    }

                    &.active {
                        @apply text-darkGray border-lightBlue bg-veryLightBlue;
                    }
                }
                & .previous {
                    @apply ml-64 mr-12;
                }
            }
            & .settings-button {
                & .c-icon {
                    height: 16px;
                    width: 16px;
                }
                @apply ml-24;
            }
        }

        & .iteration-header {
            @apply flex items-center py-8 px-32;
            @apply border-b-1 border-borderColor6;

            & .info {
                @apply flex-grow mr-24;

                & .title {
                    @apply flex items-center;

                    & h2 {
                        @apply font-medium text-15 leading-huge text-textColor1;
                    }
                    & .latest {
                        height: 22px;
                        @apply flex items-center ml-16 rounded-5;
                        @apply font-medium text-12 text-textColor6 px-8;
                        @apply border-1 border-borderColor5;
                    }
                    & .tests-status {
                        @apply ml-24;
                    }
                }

                & .submitted-time {
                    @apply flex items-center;
                    @apply font-medium text-textColor6;
                    @apply leading-huge;
                }
            }
            & .download-btn {
            }
        }
        & .c-iteration-pane {
            @apply flex-grow h-1;
        }
    }
    & .rhs {
        @apply flex flex-col;
        @apply shadow-base bg-backgroundColorA;
        width: 570px;
        height: 100%;
        overflow: hidden;

        & .comment-section {
            @apply flex flex-col relative;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0px 4px 24px 0px rgba(79, 114, 205, 0.3);

            @apply px-24 py-16 bg-backgroundColorA;

            & .c-markdown-editor {
                min-height: 315px;
            }
            & .new-messages-button {
                @apply absolute;
                left: 24px;
                right: 24px;
                top: -54px;
                width: calc(100% - 48px);
                background: rgba(255, 211, 143, 0.95);

                @apply flex items-center justify-center p-8;
                @apply text-textColor3 font-semibold leading-paragraph;
                @apply leading-paragraph;
                @apply rounded-8;
                & .c-icon {
                    height: 16px;
                    width: 16px;
                    @apply mr-16;
                }
            }

            & button.faux-input {
                @apply relative;
                @apply border-1 border-buttonBorderColor2 rounded-5;
                @apply py-12 px-16;
                @apply text-16 leading-paragraph text-textColor6;
                @apply text-left;
            }
        }

        & .tabs {
            @apply flex relative;
            top: 0;
            left: 0;
            right: 0;
            height: var(--header-height);

            @apply bg-backgroundColorA;
            @apply shadow-sm;
            @apply px-24 pt-20 pb-12;

            & .c-tab {
                height: 36px;
                @apply mr-24;

                & svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }

        & .--tab-panel {
            @apply flex-grow;
            overflow-y: scroll;
        }

        & #panel-discussion {
            /* Specify this again for the student view
             * where we don't use tabs so can't rely on tab-panel */
            @apply flex-grow;
            overflow-y: scroll;

            @apply pb-64;
            & .student-info,
            & .mentor-info {
                @apply bg-backgroundColorA;
                @apply flex;

                @apply py-16 px-24 mb-8;

                & .subtitle {
                    @apply text-textColor6 leading-paragraph mb-6;
                }
                & .name-block {
                    @apply flex items-center;
                    & .name {
                        @apply text-h5 mr-12;
                    }
                }
                & .handle {
                    @apply text-16 text-textColor6 font-medium leading-regular;
                    @apply mb-6;
                }
                & .bio {
                    @apply text-15 leading-huge mr-40 mb-20;
                    & .flags {
                        @apply ml-8;
                    }
                }
                & .options {
                    @apply flex items-center;

                    & .button-wrapper {
                        @apply flex;
                        width: 173px;
                        height: 36px;
                        @apply mr-24;

                        & button {
                            @apply flex-grow text-textColor6;
                        }

                        & button.unfavorite-button {
                            @apply border-orange;
                            @apply bg-lightOrange;
                            @apply text-orange;
                            &.hover {
                                @apply text-red;
                                @apply border-red;
                                @apply bg-lightRed;
                            }
                        }
                    }
                    & .previous-sessions {
                        @apply flex items-center;
                        @apply font-semibold text-textColor6 leading-huge;
                        & .c-icon {
                            height: 14px;
                            width: 14px;
                            @apply ml-12;
                        }
                    }
                }
                & .c-rounded-bg-img {
                    height: 64px;
                    width: 64px;
                    @apply ml-16;
                }
            }

            & .discussion {
                & .iteration-marker {
                    @apply flex items-center;
                    @apply mx-24 py-8 px-16;
                    @apply bg-backgroundColorD rounded-8;
                    @apply text-textColor6 leading-paragraph;

                    & .info {
                        @apply flex-grow flex items-center;
                        @apply text-15;
                        & .c-icon {
                            height: 16px;
                            width: 16px;
                            @apply mr-8;
                        }

                        & strong {
                            @apply font-medium text-textColor1 mr-6;
                        }
                    }
                    & time {
                    }
                }

                & details.auto-feedback {
                    @apply mx-24 mt-8;
                    @apply relative;
                    @apply border-1 border-borderColor6 rounded-8;
                    @apply py-8 px-16;

                    &:before {
                        content: "";
                        top: -8px;
                        height: 8px;
                        left: 24px;

                        @apply absolute;
                        @apply border-l-1 border-borderColor6;
                    }

                    & summary {
                        @apply flex items-center;
                        & .info-icon {
                            height: 16px;
                            width: 16px;
                            @apply text-orange mr-12;
                        }
                        & .info {
                            @apply flex-grow;
                            @apply text-15 text-textColor6 font-medium leading-paragraph;
                        }
                    }
                    & .feedback {
                        @apply border-t-1 border-borderColor6;
                        @apply mt-8 pt-12 mb-12;
                        @apply flex flex-col items-start;

                        & .byline {
                            @apply flex items-center mb-12;

                            & .c-rounded-bg-img {
                                @apply mr-8;
                                height: 32px;
                                width: 32px;
                            }
                            & .name {
                                @apply mr-12;
                                @apply text-14 leading-paragraph text-textColor6 font-medium;
                            }
                            & .c-icon {
                                @apply text-textColor6;
                            }
                        }
                        & .more {
                            @apply border-1 border-borderColor6 rounded-8;
                            @apply px-16 py-6;
                            @apply font-medium leading-huge text-textColor6;
                            @apply flex items-center;
                            & .c-icon {
                                height: 14px;
                                width: 14px;
                                @apply ml-12;
                            }
                        }
                    }
                }

                & .post {
                    @apply pt-20 pb-16 px-24 bg-backgroundColorA;

                    &:hover {
                        @apply bg-backgroundColorB;
                        & .post-header {
                            & .edit-button {
                                @apply visible;
                            }
                        }
                    }

                    & .post-header {
                        @apply flex items-center mb-8;

                        & .author {
                            @apply flex-grow flex items-center;

                            & .c-rounded-bg-img {
                                height: 32px;
                                width: 32px;
                                @apply mr-12;
                            }
                            & .handle {
                                @apply font-mono font-semibold text-16 text-darkGray;
                            }
                            & .tag {
                                height: 30px;
                                @apply flex items-center ml-16 rounded-100;
                                @apply font-medium text-textColor6 px-12;
                                @apply border-1 border-borderColor4;
                            }
                        }

                        & .edit-button {
                            @apply flex items-center ml-32 p-8;
                            @apply text-textColor6 font-medium leading-huge;
                            @apply invisible;
                            & .c-icon {
                                @apply mr-12;
                                height: 16px;
                                width: 16px;
                            }
                        }
                    }
                    & .post-content {
                    }
                    & .post-at {
                        @apply text-textColor6 leading-huge;
                    }
                }
            }
            & .finished-wizard {
                @apply mt-24 mx-24 pt-20 pb-24 px-24;
                @apply flex items-start;
                @apply border-1 border-borderColor5 rounded-8;

                & > .c-icon {
                    height: 32px;
                    width: 32px;
                    @apply mr-16;
                }
                & > .--details {
                    & h3 {
                        @apply text-h5;
                        @apply pb-16 mb-16;
                        @apply border-b-1 border-borderColor6;
                    }
                    & > .--step {
                        /* Leading-160 */
                        & p {
                            @apply text-16 leading-code font-medium;
                            @apply mb-12;
                        }
                        & .buttons {
                            @apply flex items-center;
                            & button {
                                @apply mr-12;
                            }
                        }
                    }
                }
            }
        }
        & #panel-scratchpad {
            &[hidden] {
                @apply hidden;
            }
            @apply flex flex-col;
            @apply py-24 px-20;
            & > .c-explainer {
                @apply mb-20;
            }
            & > .title {
                @apply flex items-center mb-12;
                @apply leading-160;

                & strong {
                    @apply font-medium text-textColor3;
                    @apply mx-4;
                }
                & .c-track-icon {
                    height: 32px;
                    width: 32px;
                    @apply mx-8;
                }
            }
            & .c-markdown-editor {
                @apply flex-grow;
            }
        }
        & #panel-guidance {
            @apply py-16 px-24;
        }
    }
}
