.c-mentor-inbox {
    @apply shadow-lg bg-backgroundColorA rounded-8;

    & header.c-search-bar {
        @apply py-16 px-24;

        & .track-filter {
            @apply mr-16;
            /* Stop jumping around */
            min-width: 75px;

            & button {
                @apply flex items-center;
                & .c-track-icon {
                    width: 42px;
                    height: 42px;
                    @apply mr-20;
                }
                & .action-icon {
                    width: 13px;
                    height: 13px;
                }
            }
        }
        & .--search {
            @apply mr-16;
            width: 60%;
            max-width: 450px;
        }
        & .c-select {
            margin-left: auto;
        }
    }
    & footer {
        @apply px-24 py-16;
        @apply border-lightGray border-t-1;
    }
}
