.c-mentor-inbox {
    @apply shadow-lg bg-backgroundColorA rounded-8;

    & header.c-search-bar {
        @apply py-16 px-24;

        & .track-filter {
            @apply mr-16;
        }
        & .--search {
            @apply mr-16;
            width: 60%;
            max-width: 450px;
        }
        & .c-select {
            margin-left: auto;
        }
    }
    & footer {
        @apply px-24 py-16;
        @apply border-lightGray border-t-1;
    }
}
