.c-mentor-queue {
    @apply shadow-lg bg-backgroundColorA rounded-8;

    & header.c-search-bar {
        @apply py-16 px-24;

        & .--search {
            @apply flex-grow;
            width: 100%;
        }
    }
    & footer {
        @apply px-24 py-16;
        @apply border-lightGray border-t-1;
    }
}
