.c-mentor-inbox,
.c-mentor-automation,
.c-training-data,
.c-mentor-queue {
    & .--solution,
    .--code-sample {
        @apply border-backgroundColorC border-t-1;
        @apply flex items-center;
        @apply py-8 px-20;

        &:hover {
            @apply bg-backgroundColorE;
        }
        &:first-child {
            @apply border-t-0;
        }

        & .c-track-icon,
        & .c-exercise-icon {
            height: 32px;
            width: 32px;

            @apply mr-24;
        }

        & .c-avatar {
            height: 48px;
            width: 48px;

            @apply mr-16;
        }
        & .--info {
            @apply flex-grow;

            & .--handle {
                @apply flex items-center;
                @apply font-medium text-16 text-textColor2 leading-160;
                & .dot,
                & .c-icon {
                    @apply ml-8;
                }
                .handle-with-flair-icon {
                    @apply m-0;
                }

                & .favorited {
                    height: 22px;
                    width: 22px;
                }
                & .previously-mentored {
                    height: 18px;
                    width: 18px;
                    filter: var(--orange-filter);
                }
            }
            & .--exercise-title {
                @apply text-14 text-textColor6 leading-150;
            }
        }

        & .--new-iteration {
            @apply flex items-center ml-56;
            @apply font-semibold leading-code text-orange;
            & .c-icon {
                @apply mr-12;
                height: 22px;
                width: 22px;
            }
        }
        & .--comments-count {
            @apply flex items-center justify-center ml-56;
            @apply font-semibold text-14 text-textColor6 leading-code;
            @apply py-4 px-12 border-1 rounded-5;
            background: var(--backgroundColorTracksListNew);
            color: var(--textColorCommentsCount);
            width: 66px;
            & .c-icon {
                @apply mr-6;
                height: 16px;
                width: 16px;
                filter: var(--iconFilterCommentsCount);
            }
        }
        & .--status {
            @apply font-medium text-14 text-textColor6 leading-code;
            @apply py-4 px-12 border-borderLight border-1 rounded-100;
            @apply ml-56;
        }
        & time {
            @apply font-medium text-14 text-textColor6 leading-code;
            @apply ml-32 text-right;
            width: 140px;
        }

        & .action-icon {
            @apply ml-36;
            @apply filter-textColor6;

            height: 16px;
            width: 16px;
        }
    }
    .--code-sample {
        @apply py-16;
    }
}
