.c-mentor-text-filter {
    @apply relative flex items-center;
    @apply bg-unnamed15;

    & .c-icon {
        @apply absolute;

        left: 24px;
        height: 24px;
        width: 24px;
    }

    & input {
        @apply flex-grow py-12 pr-24 rounded-5;
        @apply bg-transparent;
        @apply text-16 font-medium leading-code text-textLight;
        padding-left: 60px;
    }
}
