.lg-container
  %h1.text-h1.mb-16= t('.editing_partner', partner_name: @partner.name)
  = render "form", partner: @partner
  %br/
  .flex.gap-16
    = link_to t('.show_this_partner'), [:admin, @partner]
    = link_to t('.back_to_partners'), admin_partners_path
