/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    /* TODO: Rename these to match figma */
    --c-CBC9D9: #cbc9d9;
    --c-322C44: #322c44;
    --c-343741: #343741;
    --c-6D6986: #6d6986;
    --c-6A93FF: #6a93ff;
    --c-8480A0: #8480a0;
    --c-EAECF3: #eaecf3;
    --c-26282D: #26282d;
    --c-000000: #000000;
    --c-FFFFFF: #ffffff;
    --c-FBFCFE: #fbfcfe;
    --c-282339: #282339;
    --c-A9A6BD: #a9a6bd;
    --c-604FCD: #604fcd;
    --c-B0A8E3: #b0a8e3;
    --c-433F56: #433f56;
    --c-4FCDA7: #4fcda7;
    --c-F0F3F9: #f0f3f9;
    --c-D5D8E4: #d5d8e4;
    --c-F4F7FD: #f4f7fd;
    --c-E1EBFF: #e1ebff;

    --darkThemeBackgroundColor: var(--c-282339);
}

.theme-light {
    --backgroundColorA: var(--c-FFFFFF);
    --backgroundColorB: var(--c-FBFCFE);
    --backgroundColorC: var(--c-EAECF3);
    --backgroundColorD: var(--c-F0F3F9);
    --backgroundColorE: var(--c-F4F7FD);
    --borderColor1: var(--c-000000);
    --borderColor3: var(--c-26282D);
    --borderColor4: var(--c-6D6986);
    --borderColor5: var(--c-CBC9D9);
    --borderColor6: var(--c-D5D8E4);
    --borderColor7: var(--c-EAECF3);
    --borderColor9: var(--c-FFFFFF);
    --textColor1: var(--c-000000);
    --textColor3: var(--c-26282D);
    --textColor5: var(--c-343741);
    --textColor6: var(--c-6D6986);
    --textColor7: var(--c-8480A0);
    --textColor8: var(--c-E1EBFF);
    --textColor9: var(--c-FFFFFF);

    --buttonBorderColor1: var(--c-26282D);
    --buttonBorderColor2: var(--c-A9A6BD);
    --inputBackgroundColor: var(--c-EAECF3);
    --inputBorderColor: var(--c-8480A0);
    --inputBorderColorFocus: var(--c-6A93FF);
    --tabBackgroundColorSelected: var(--c-E1EBFF);
    --tabColorSelected: var(--c-000000);
    --modalBackgroundColor: rgba(251, 252, 254, 0.7);

    @apply text-textColor5 bg-backgroundColorB;
}

.theme-dark {
    --backgroundColorA: var(--c-111111);
    --backgroundColorB: var(--c-282339);
    --backgroundColorC: var(--c-322C44);
    --borderColor3: var(--c-8480A0);
    --borderColor5: #ccc;
    --borderColor7: var(--c-433F56);
    --textColor1: var(--c-FFFFFF);
    --textColor5: var(--c-CBC9D9);
    --textColor6: var(--c-A9A6BD);
    --textColor7: #ccc;
    --textColor9: var(--c-000000);

    --inputBackgroundColor: var(--c-322C44);
    --inputBorderColorFocus: var(--c-8480A0);
    --tabBackgroundColorSelected: var(--c-604FCD);
    --tabColorSelected: var(--c-FFFFFF);
    --successColor: var(--c-4FCDA7);

    @apply text-textColor5 bg-backgroundColorB;
}

body {
    @apply font-body antialiased;
    line-height: 1;
    font-size: 14px;
    scroll-behavior: smooth;

    /* This stops the page jumping around on Windows
       when the scrollbar appears or disappears. */
    overflow-y: scroll;
    overflow-x: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
code {
    @apply leading-code;
}

[data-react-data] {
    width: 100%;
    height: 100%;
}

.js-focus-visible :focus {
    outline: 5px auto -webkit-focus-ring-color;
    &:not(.focus-visible) {
        outline: none;
    }
}
