/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    /* TODO: Rename these to match figma */
    --c-2E57E8: #2e57e8;
    --c-2E57E8: #2e57e8;
    --c-76709F: #76709f;
    --c-5C5589: #5c5589;
    --c-130B43: #130b43;
    --c-130b43: #130b43;
    --c-CBC9D9: #cbc9d9;
    --c-322C44: #322c44;
    --c-3F3A5A: #3f3a5a;
    --c-6D6986: #6d6986;
    --c-6A93FF: #6a93ff;
    --c-8480A0: #8480a0;
    --c-EAECF3: #eaecf3;
    --c-26282D: #26282d;
    --c-000000: #000000;
    --c-FFFFFF: #ffffff;
    --c-FBFCFE: #fbfcfe;
    --c-282339: #282339;
    --c-A9A6BD: #a9a6bd;
    --c-604FCD: #604fcd;
    --c-B0A8E3: #b0a8e3;
    --c-433F56: #433f56;
    --c-4FCDA7: #4fcda7;
    --c-F0F3F9: #f0f3f9;
    --c-D5D8E4: #d5d8e4;
    --c-F4F7FD: #f4f7fd;
    --c-E1EBFF: #e1ebff;
    --c-C8D5EF: #c8d5ef;
    --c-FAFAFF: #fafaff;
    --c-E8EDF7: #e8edf7;
    --c-F6F7FB: #f6f7fb;

    --darkThemeBackgroundColor: var(--c-282339);
    --track-color-c: 52, 19, 148;
    --track-color-kotlin: 249, 138, 10;
    --track-color-javascript: 240, 219, 79;
    --track-color-ruby: 235, 87, 87;
    --track-color-bash: 0, 0, 0;
    --track-color-clojure: 88, 129, 216;
    --track-color-coffeescript: 205, 124, 79;
    --track-color-common-lisp: 45, 58, 62;
    --track-color-crystal: 0, 0, 0;
    --track-color-d: 193, 95, 94;
    --track-color-dart: 44, 183, 246;
    --track-color-elm: 95, 180, 203;
    --track-color-emacs-lisp: 127, 93, 182;
    --track-color-erlang: 169, 5, 51;
    --track-color-f: 48, 185, 219;
    --track-color-go: 0, 172, 215;
    --track-color-haskell: 94, 81, 135;
    --track-color-java: 234, 45, 46;
    --track-color-julia: 64, 99, 216;
    --track-color-lua: 0, 0, 125;
    --track-color-ocaml: 237, 110, 13;
    --track-color-perl5: 58, 60, 91;
    --track-color-python: 55, 112, 160;
    --track-color-elixir: 125, 65, 164;
    --track-color-nim: 239, 199, 67;
    --track-color-clojurescript: 99, 177, 50;
    --track-color-ceylon: 52, 73, 94;
    --track-color-ballerina: 81, 194, 192;
    --track-color-cf: 12, 42, 114;
    --track-color-cfml: 52, 23, 114;
    --track-color-delphi: 243, 39, 53;
    --track-color-ecmascript: 248, 220, 61;
    --track-color-groovy: 97, 156, 188;
    --track-color-haxe: 246, 135, 18;
    --track-color-idris: 138, 8, 25;
    --track-color-lfe: 102, 120, 40;
    --track-color-objective-c: 11, 90, 157;
    --track-color-raku: 255, 51, 102;
    --track-color-pharo-smalltalk: 43, 152, 216;
    --track-color-php: 80, 94, 156;
    --track-color-plsql: 248, 0, 0;
    --track-color-powershell: 54, 40, 123;
    --track-color-prolog: 241, 75, 37;
    --track-color-purescript: 20, 22, 26;
    --track-color-r: 160, 161, 166;
    --track-color-racket: 159, 29, 32;
    --track-color-reasonml: 221, 75, 57;
    --track-color-rust: 57, 46, 46;
    --track-color-scala: 222, 52, 35;
    --track-color-scheme: 0, 0, 0;
    --track-color-sml: 118, 73, 214;
    --track-color-swift: 240, 81, 56;
    --track-color-tcl: 30, 92, 179;
    --track-color-typescript: 49, 120, 198;
    --track-color-vimscript: 1, 152, 51;
    --track-color-vbnet: 0, 78, 140;
    --track-color-x86-64-assembly: 98, 65, 192;
    --track-color-gnu-apl: 0, 0, 0;
}

.theme-light {
    --backgroundColorA: var(--c-FFFFFF);
    --backgroundColorA-RGB: 255, 255, 255;
    --backgroundColorB: var(--c-FBFCFE);
    --backgroundColorC: var(--c-EAECF3);
    --backgroundColorD: var(--c-F0F3F9);
    --backgroundColorE: var(--c-F4F7FD);
    --backgroundColorF: var(--c-FAFAFF);
    --backgroundColorG: var(--c-F6F7FB);
    --borderColor1: var(--c-000000);
    --borderColor3: var(--c-26282D);
    --borderColor4: var(--c-6D6986);
    --borderColor5: var(--c-CBC9D9);
    --borderColor6: var(--c-D5D8E4);
    --borderColor7: var(--c-EAECF3);
    --borderColor9: var(--c-FFFFFF);
    --textColor1: var(--c-000000);
    --textColor2: var(--c-130B43);
    --textColor3: var(--c-26282D);
    --textColor5: var(--c-3F3A5A);
    --textColor6: var(--c-5C5589);
    --textColor7: var(--c-76709F);
    --textColor8: var(--c-E1EBFF);
    --textColor9: var(--c-FFFFFF);

    --linkColor: var(--c-2E57E8);
    --buttonBorderColor1: var(--c-26282D);
    --buttonBorderColor2: var(--c-A9A6BD);
    --inputBackgroundColor: var(--c-F0F3F9);
    --inputBorderColor: var(--c-8480A0);
    --inputBorderColorFocus: var(--c-2E57E8);
    --inputBoxShadowColorFocus: rgba(46, 87, 232, 0.25);
    --tabBackgroundColorSelected: var(--c-E1EBFF);
    --tabIconColorSelected: var(--c-604FCD);
    --modalBackgroundColor: rgba(251, 252, 254, 0.7);
    --lockedColor: var(--c-E8EDF7);

    /* https://codepen.io/sosuke/pen/Pjoqqp */
    --notifications-active-filter: invert(76%) sepia(54%) saturate(3406%)
        hue-rotate(349deg) brightness(92%) contrast(111%);
    --notifications-inactive-filter: invert(17%) sepia(25%) saturate(368%)
        hue-rotate(188deg) brightness(93%) contrast(86%);
    --primary-reputation-filter: invert(88%) sepia(37%) saturate(870%)
        hue-rotate(355deg) brightness(90%) contrast(96%);
    --link-blue-filter: invert(49%) sepia(99%) saturate(6416%)
        hue-rotate(225deg) brightness(94%) contrast(93%);
    --white-filter: invert(99%) sepia(33%) saturate(62%) hue-rotate(352deg)
        brightness(109%) contrast(100%);
    --purple-filter: invert(23%) sepia(90%) saturate(1818%) hue-rotate(236deg)
        brightness(97%) contrast(80%);

    /* TODO: Replace with purple-filter */
    --another-purple-filter: invert(23%) sepia(90%) saturate(1818%)
        hue-rotate(236deg) brightness(97%) contrast(80%);
    --textColor2-filter: invert(7%) sepia(25%) saturate(7470%)
        hue-rotate(241deg) brightness(100%) contrast(107%);
    --textColor6-filter: invert(35%) sepia(3%) saturate(6422%)
        hue-rotate(208deg) brightness(94%) contrast(87%);
    --textColor7-filter: invert(47%) sepia(9%) saturate(1718%)
        hue-rotate(208deg) brightness(94%) contrast(83%);
    --orange-filter: invert(57%) sepia(90%) saturate(682%) hue-rotate(354deg)
        brightness(95%) contrast(104%);
    --dark-green-filter: invert(55%) sepia(64%) saturate(367%)
        hue-rotate(111deg) brightness(99%) contrast(87%);
    --red-filter: invert(78%) sepia(76%) saturate(7147%) hue-rotate(332deg)
        brightness(105%) contrast(84%);
    --buttonBorderColor1: invert(10%) sepia(2%) saturate(5253%)
        hue-rotate(186deg) brightness(92%) contrast(84%);

    /* #A7B7D6 */
    --mid-gray-filter: invert(72%) sepia(16%) saturate(458%) hue-rotate(181deg)
        brightness(101%) contrast(84%);

    --exercise-header-gradient: linear-gradient(
        180deg,
        #e1ebff 0%,
        rgba(225, 235, 255, 0) 100%
    );

    @apply text-textColor5 bg-backgroundColorB;
}

.theme-dark {
    --backgroundColorA: var(--c-282339);
    --backgroundColorA-RGB: 40, 35, 57;
    --backgroundColorB: var(--c-282339);
    --backgroundColorC: var(--c-322C44);
    --borderColor3: var(--c-8480A0);
    --borderColor5: #ccc;
    --borderColor7: var(--c-433F56);
    --textColor1: var(--c-FFFFFF);
    --textColor2: var(--c-FFFFFF);
    --textColor5: var(--c-CBC9D9);
    --textColor6: var(--c-A9A6BD);
    --textColor7: #ccc;
    --textColor9: var(--c-000000);

    --linkColor: var(--c-CBC9D9);
    --buttonBorderColor1: var(--c-8480A0);
    --inputBackgroundColor: var(--c-322C44);
    --inputBorderColorFocus: var(--c-8480A0);
    --tabBackgroundColorSelected: var(--c-604FCD);
    --successColor: var(--c-4FCDA7);

    --textColor6-filter: invert(71%) sepia(18%) saturate(258%)
        hue-rotate(208deg) brightness(93%) contrast(86%);
    --buttonBorderColor1-filter: invert(52%) sepia(9%) saturate(862%)
        hue-rotate(208deg) brightness(97%) contrast(95%);
    --primary-reputation-filter: invert(88%) sepia(37%) saturate(870%)
        hue-rotate(355deg) brightness(90%) contrast(96%);

    @apply text-textColor5 bg-backgroundColorB;
}

body {
    @apply font-body antialiased;
    line-height: 1;
    font-size: 14px;
    scroll-behavior: smooth;

    /* This stops the page jumping around on Windows
       when the scrollbar appears or disappears. */
    overflow-y: scroll;
    overflow-x: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
@media screen and (prefers-reduced-motion: reduce) {
    body {
        scroll-behavior: auto;
    }
}
code {
    @apply leading-code;
}

.js-focus-visible :focus {
    outline: 5px auto -webkit-focus-ring-color;
    &:not(.focus-visible) {
        outline: none;
    }
}

pre {
    @apply font-mono text-14 leading-160;
}
