/**************/
/* Containers */
/**************/
.md-container,
.lg-container {
    width: 100%;
    @apply mx-auto;
}

.md-container {
    max-width: 1248px;
    padding: 0 48px;
}

.lg-container {
    max-width: 1440px;
    padding: 0 48px;
}

.c-react-component {
    width: fit-content;
    height: fit-content;
}
