/*******************/
/* HTML/Body Setup */
/*******************/
html {
    height: 100%;
}
body {
    min-height: 100%;
    @apply flex flex-col;
}

/**************/
/* Containers */
/**************/
.sm-container,
.md-container,
.lg-container {
    width: 100%;
    @apply mx-auto;
}

.sm-container {
    max-width: 1056px;
    padding: 0 48px;
}

.md-container {
    max-width: 1248px;
    padding: 0 48px;
}

.lg-container {
    max-width: 1440px;
    padding: 0 var(--lg-container-padding-x);
}

[data-react-data] {
    /* width: 100%; */
    /* height: 100%; */
}

.c-react-component {
    /* width: stretch; */

    &.--fitted {
        width: fit-content;
        height: fit-content;
    }
}
