.text-h1 {
    font-size: 40px;
    line-height: 1.25;
    @apply font-bold text-black;
}
.text-h2 {
    font-size: 31px;
    line-height: 1.25;
    @apply font-semibold text-black;
}
.text-h3 {
    @apply text-black font-semibold;
    font-size: 25px;
    line-height: 1.25;
}
.text-h3-mono {
    @apply text-h3 font-mono font-bold;
}
.text-h4 {
    font-size: 20px;
    line-height: 1.25;
    @apply font-semibold text-black;
}
.text-h5 {
    line-height: 1.38;
    @apply text-18 font-semibold text-black;
}
.text-h6 {
    line-height: 1.38;
    @apply text-16 font-semibold text-darkGray;
}
.text-prose {
    @apply text-18 leading-paragraph;
}
.text-label-code-caps {
    @apply font-mono text-14 leading-regular uppercase text-darkGray font-bold;
}
.text-label-timestamp {
    @apply font-mono font-medium text-14 text-textLight leading-huge;
}

.btn--cta {
    @apply bg-anotherPurple text-white border-anotherPurple;
}
.btn {
    height: 48px;
    @apply flex items-center px-20 border-1 rounded-5;
    @apply text-16 font-semibold justify-center;

    & svg {
        @apply mr-12;
        height: 18px;
        width: 18px;
    }
}
.btn-cta {
    @apply btn btn--cta;
}

.btn-large {
    @apply flex items-center px-32 border-3;
    @apply text-18 font-semibold rounded-5;
    line-height: 54px;

    & svg {
        @apply mr-12 text-white;
        height: 16px;
        width: 16px;
    }
}
.btn-large-cta {
    @apply btn-large btn--cta;
}
.btn-large-secondary {
    @apply btn-large;
    @apply bg-white text-anotherPurple border-anotherPurple;
}
