.text-h1 {
    @apply text-40 font-bold text-textColor1;
    line-height: 1.25;
}
.text-h2 {
    @apply text-31 font-semibold text-textColor1;
    line-height: 1.25;
}
.text-h3 {
    @apply text-25 text-textColor1 font-semibold;
    line-height: 1.48;
}
.text-h3-mono {
    @apply text-h3 font-mono font-bold;
}
.text-h4 {
    @apply font-semibold text-textColor1 text-20;
    line-height: 1.38;
}
.text-h5 {
    line-height: 1.38;
    @apply text-18 font-semibold text-textColor1;
}
.text-h5-mono {
    @apply text-h5 font-mono font-bold;
}
.text-h6 {
    line-height: 1.38;
    @apply text-16 font-semibold text-textColor1;
}
.text-prose {
    @apply text-18 leading-paragraph;
}
.text-label-code-caps {
    @apply font-mono text-14 leading-regular uppercase text-darkGray font-bold;
}
.text-label-timestamp {
    @apply font-mono font-medium text-14 text-textColor6 leading-huge;
}

.btn--cta {
    @apply bg-anotherPurple text-textColor9 border-anotherPurple;
}
.btn--secondary {
    @apply bg-backgroundColorA text-anotherPurple border-anotherPurple;
}
.btn--discourage {
    @apply bg-backgroundColorA text-textColor6 border-borderColor5;
}
.btn {
    @apply flex items-center justify-center px-20;
    @apply border-1 border-buttonBorderColor1 rounded-5;
    @apply text-16 font-semibold;
    height: 48px;

    & svg {
        @apply mr-12;
        height: 18px;
        width: 18px;
    }

    & .kb-shortcut {
        @apply ml-8;
    }

    &:disabled {
        opacity: 0.5;
    }
}
.btn-cta {
    @apply btn btn--cta;
}
.btn-secondary {
    @apply btn btn--secondary;
}

.btn-large {
    @apply btn;
    @apply px-32 border-3 text-18;
    height: 54px;

    & svg {
        @apply mr-12;
        height: 16px;
        width: 16px;
    }
}
.btn-large-cta {
    @apply btn-large btn--cta;
}
.btn-large-secondary {
    @apply btn-large btn--secondary;
}

.btn-small {
    @apply btn border-1 border-buttonBorderColor2;
    @apply text-14 rounded-5 px-16;
    height: 36px;

    & svg {
        @apply mr-12;
        height: 14px;
        width: 14px;
    }
}
.btn-small-cta {
    @apply btn-small btn--cta;
}
.btn-small-secondary {
    @apply btn-small btn--secondary;
}
.btn-small-discourage {
    @apply btn-small btn--discourage;
}
.btn-keyboard-shortcut {
    @apply flex items-center;
    @apply py-6 px-12;

    &:hover {
    }

    & > :first-child {
        @apply mr-12;
    }
    & .--kb {
        @apply py-6 px-8;
        @apply border-1 border-borderColor5 rounded-5;
        @apply text-textColor6;
        box-shadow: 0px 1px 0px 1px #cbc9d9 60%;

        & .c-icon {
            height: 12px;
            width: 12px;
        }
    }
    & .--hint {
        @apply text-textColor6 font-semibold;
    }
}
