.text-h1 {
    font-size: 40px;
    line-height: 1.25;
    @apply font-bold text-black;
}
.text-h2 {
    font-size: 31px;
    line-height: 1.25;
    @apply font-semibold text-black;
}
.text-h3 {
    @apply text-black font-semibold;
    font-size: 25px;
    line-height: 1.25;
}
.text-h3-mono {
    @apply text-h3 font-mono font-bold;
}
.text-h4 {
    font-size: 20px;
    line-height: 1.25;
    @apply font-semibold text-black;
}
.text-prose {
    @apply text-18 leading-paragraph;
}
.btn-large {
    @apply flex items-center px-32 border-3;
    @apply text-18 font-semibold rounded-5;
    line-height: 54px;

    & svg {
        @apply mr-12 text-white;
        height: 16px;
        width: 16px;
    }
}
.btn-large-cta {
    @apply btn-large;
    @apply bg-anotherPurple text-white border-anotherPurple;
}
.btn-large-secondary {
    @apply btn-large;
    @apply bg-white text-anotherPurple border-anotherPurple;
}
