#page-iterations-index
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :iterations)
  / TODO: This component needs to cope without a solution
  / as there's often not a solution when there are no iterations
  - if @solution
    = ReactComponents::Student::IterationPage.new(@solution)
  - else
    .lg-container.container
      %section.zero-state
        %h2 You haven’t submitted any iterations yet.
        %p
          You’ll get to see all your iterations with test results and automated
          feedback once you submit a solution.
        .box
          .editor
            %h4 Via Exercism Editor
            .editor-btn.btn-cta
              = graphical_icon "editor"
              %span Start in Editor

          .cli
            %h4 Work locally (via CLI)

        = render ViewComponents::ProminentLink.new("Learn more about solving exercises locally", "#")

