- if exercise.approaches?
  - if completed
    .inner-box.completed
      .inner-box-content
        .text-h6.mb-2= t('.viewed_approach.title')
        %p.mb-4
          = t('.viewed_approach.description_html', link: link_to(t('viewed_approach.link_text'), track_exercise_dig_deeper_path(track, exercise), class: "text-linkColor border-b-1")).html_safe
  - else
    .inner-box.pending
      .inner-box-content
        .text-h6.mb-2= t('.discover_approaches.title')
        %p.mb-4
          = t('.discover_approaches.description_html', link: link_to(t('discover_approaches.link_text'), track_exercise_dig_deeper_path(track, exercise), class: "text-linkColor border-b-1")).html_safe
