.action-box
  %h3
    = graphical_icon 'completed-check-circle'
    You’ve completed this exercise
  %p
    %strong You have submitted 5 iterations for this exercise and marked it as complete.
    You can still submit further iterations or choose a different exercise to solve.

  = render "tracks/exercises/show/action_box_buttons"
