- if solution.published?
  .action-box.completed
    .action-box-content
      %h3 Exercise Published
      .publish-section
        You've published your exercise for others to learn from. Thank you! You can view and manage your published solution below.
        You can
        = render ReactComponents::Student::ChangePublishedIterationModalButton.new(solution, "change published iteration")
        or
        = render ReactComponents::Student::UnpublishSolutionModalButton.new(solution, "unpublish your solution.")
        = render ReactComponents::Common::CommunitySolution.new(solution, context: :exercise)

- else
  .action-box.completed
    .action-box-content
      %h3 Exercise Completed
      %p
        You have marked this exercise as complete.

  .action-box.pending
    .action-box-content
      %h3 Publish your Exercise
      %p.mb-4 Publish your exercise to earn reputation and help others discover new tips and tricks.
      = render ReactComponents::Student::PublishSolutionButton.new(solution)
