- community_solutions_completed = user_track.viewed_community_solution?(exercise)
- approaches_completed = user_track.viewed_approach?(exercise)
- completed = solution.mentoring_finished? && community_solutions_completed && (approaches_completed || !exercise.approaches?)

.action-box{ class: completed ? 'completed' : 'pending' }
  .action-box-content
    %h3 Dig Deeper
    %p.mb-16
      Solving the exercise is just the first step to improving. It's now time to learn from others. These steps are optional but will vastly enhance your knowledge.

    = render("tracks/exercises/show/action_box_dig_deeper_mentoring", track:, exercise:, solution:)
    = render "tracks/exercises/show/action_box_dig_deeper_community_solutions", track:, exercise:, solution:, user_track:, completed: community_solutions_completed
    = render "tracks/exercises/show/action_box_dig_deeper_approaches", track:, exercise:, solution:, user_track:, completed: approaches_completed
    = render("tracks/exercises/show/action_box_dig_deeper_youtube_video", exercise:)
