%p.mb-16
  There aren't too many correct ways to solve our learning exercises, but it's still always interesting to explore how others have solved this in our
  = succeed(".") do
    = link_to "Community Solutions", "#", class: "text-linkColor border-b-1"

- if exercise.approaches?
  .inner-box.pending
    .inner-box-content
      .text-h6.mb-2 Discover different approaches
      %p.mb-4
        Explore the different common approaches to this exercise in our
        = succeed(".") do
          = link_to "Dig Deeper section", "#", class: "text-linkColor border-b-1"
