%h4 Via Exercism Editor
= link_to start_track_exercise_path(@track, @exercise), method: :patch, class: "editor-btn btn-cta" do
  = graphical_icon :editor
  Start in Editor

%h4 Work locally (via CLI)
%button.c-copy-text-to-clipboard
  .text exercism download --exercise=pattern
  = icon :clipboard, "Copy to clipboard"
/= ReactComponents::Common::CopyToClipboardButton.new("exercism download --exercise=pattern")


= render ViewComponents::ProminentLink.new("Learn more about solving exercises locally", "#")
