.inner-box{ class: completed ? 'completed' : 'pending' }
  .inner-box-content
    .text-h6.mb-2= completed ? t('.explored_community_solutions') : t('.explore_community_solutions')
    %p
      = t('.explore_text')
      = succeed(".") do
        = link_to t('.community_solutions_link'), track_exercise_solutions_path(track, exercise), class: "text-linkColor border-b-1"
