%p.mb-16
  There aren't too many correct ways to solve our learning exercises, but it's still always interesting to explore how others have solved this in our
  = succeed(".") do
    = link_to "Community Solutions", "#", class: "text-linkColor border-b-1"

= render("tracks/exercises/show/action_box_dig_deeper_approaches", track:, exercise:, solution:)
