= render("tracks/exercises/show/action_box_solve", track:, exercise:, solution:)
= render("tracks/exercises/show/action_box_dig_deeper_locked", exercise:)
= render "tracks/exercises/show/action_box_complete_locked"
= render "tracks/exercises/show/action_box_publish_locked"


