= render("tracks/exercises/show/action_box_solved", track:, exercise:, solution:, user_track:)
= render("tracks/exercises/show/action_box_dig_deeper", track:, exercise:, solution:, user_track:)
= render("tracks/exercises/show/action_box_complete", track:, exercise:, solution:, user_track:)

