*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    aspect-ratio: 1;
}
main {
    background: blue;
    display: grid;
    height: 100%;
}
#outer-section {
    background: green;
    display: grid;
}
#inner-section {
    background: red;
}
