.track-progress {
    background: rgb(230, 237, 254);

    margin: 10px;
    padding: 15px;

    display: flex;
    align-items: center;
    gap: 15px;

    .track-icon {
        height: 65px;
    }
    .stats {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        max-width: 250px;

        .track-title {
            font-size: 20px;
            font-weight: bold;
            color: #130b43;
            margin-bottom: 10px;
        }
        .progress-bar {
            height: 10px;
            margin-bottom: 5px;
            border-radius: 20px;
            overflow: hidden;
            background: white;
            display: flex;

            .complete {
                background: blue;
                width: 20%;
            }
        }
        .exercises {
            font-size: 16px;
            font-weight: 500;
            color: #5c5589;
        }
    }
    .chevron {
        margin-left: auto;
        height: 20px;
    }
}
