#page-community-solutions-index
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :community_solutions)

  = render ReactComponents::Common::CommunitySolutionList.new(@exercise, context: :exercise)
