- content_for :meta_title, t('.meta_title', exercise_title: @exercise.title, track_title: @track.title)
- content_for :meta_description, t('.meta_description', exercise_title: @exercise.title, track_title: @track.title).html_safe
- content_for :canonical_url, track_exercise_solutions_url(@track, @exercise, order: params[:order].presence, page: params[:page].to_i > 1 ? params[:page] : nil)
- require_stylesheet "track"

#page-community-solutions-index
  = render ViewComponents::Track::ExerciseHeader.new(@exercise, @solution, @user_track, :community_solutions)
  = render ReactComponents::Track::ExerciseCommunitySolutionsList.new(@exercise, params)
