.c-generic-tooltip.text-14{ class: "!py-16 !px-24 !max-w-[420px]" }
  %p.text-16.text-white.font-semibold.leading-170.mb-12
    Struggling with this exercise?

  - if @solution.downloaded? || @solution.submitted?
    %p.mb-4.leading-150
      Unlock Community Solutions to see how the community approached and solved #{@exercise.title}.

    = button_to unlock_help_api_solution_url(@solution.uuid), method: :patch, class: 'btn-primary btn-s' do
      = graphical_icon 'unlock'
      Unlock this tab
  - else
    %p.mb-4.leading-150
      You can only view Community Solutions if you've downloaded or submitted a solution to this exercise.

  .font-semibold.text-lightGold.text-14.leading-170.flex.flex-row.items-center
    Warning! We highly recommend you try your best without revealing Community Solutions first.
