#page-bootcamp-projects
  %header
    .c-breadcrumbs
      .lg-container.container
        .title
          = graphical_icon 'bootcamp-projects'
          Projects

    .lg-container
      .title-bar
        %h1.font-semibold.text-20.mb-8 Projects
        %p.text-18{ class: "max-w-[850px]" }
          Throughout the bootcamp you'll build a variety of projects. Each contains multiple exercises that will unlock as the bootcamp progresses.
          More projects will unlock as you progress.

  .lg-container
    .grid.grid-cols-3.gap-8
      - Bootcamp::Project.unlocked.each do |project|
        - user_project = @user_projects[project.id]
        = render ViewComponents::Bootcamp::ProjectWidget.new(project, user_project:)
