#page-bootcamp-projects
  %header
    .c-breadcrumbs
      .lg-container.container
        .title Projects

    .lg-container
      .title-bar
        %h1.font-semibold.text-20.mb-8 Projects
        %p More projects will unlock as you progress through the Bootcamp.

  .lg-container
    .grid.grid-cols-3.gap-8
      - Bootcamp::Project.unlocked.each do |project|
        - user_project = @user_projects[project.id]
        = render ViewComponents::Bootcamp::ProjectWidget.new(project, user_project:)
