- require_stylesheet "maintaining"

:css
  #maintaining-submissions {
    padding:25px 5%;
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    border: 1px solid #ddd;
    border-bottom: 1px solid #888;
    padding: 10px;
    text-align:left;
    font-weight:600px;
  }
  td {
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    padding: 10px;
    white-space: pre;
    font:monospace;
    vertical-align:top;
    white-space: pre-wrap;
  }
  td:nth-child(1) { width:50px; }
  td:nth-child(2) { width:50px; }
  td:nth-child(3) { width:50px; }
  td:nth-child(4) { width:auto; font-family: monospace;}
  td:nth-child(5) { width:50px; font-family: monospace; }
  td:nth-child(6) { width:50px; font-family: monospace; }

#maintaining-submissions
  %h2.text-h3 Submissions
  = ReactComponents::Maintaining::SubmissionsSummaryTable.new(@submissions)
