.text-center.flex.flex-col.items-center.items-stretch.pt-32.px-24
  %h2.text-h3.mb-4 The Exercism Bootcamp
  %p.text-p-base.font-semibold.mb-12
    Live teaching. Fun projects. Fair pricing.
  %p.text-p-base.mb-8
    Starting out on your coding journey?
    Looking to build rock-solid foundations?
    Want to learn by doing, not watching or listening?
    Want to actually enjoy your learning?
  %p.text-p-base.mb-16
    Then this bootcamp might be for you!

  = link_to "Explore the bootcamp", Exercism::Routes.bootcamp_url, class: 'btn-primary btn-s mb-12'

  %p.text-p-small.mb-8
    Sign up now for January 2025 start.
