%h2.text-h4.mb-8 The #12in23 Challenge
%p.text-p-base.mb-8
  Try out 12 different programming languages in 2023, curated and guided by us!
%p.text-p-small.mb-8
  For each month we've designed a different theme, with featured exercises, swag, interviews, badges, live streaming and more.
%p.text-p-small.mb-8
  This month is
  %strong Mindshifting May,
  exploring languages that make you think differently: Ballerina, Pharo, Prolog, Red, Tcl and Unison.

= link_to "Explore #12in23", challenge_path("12in23"), class: 'btn-primary btn-s'

