.mb-20.bg-cover{ class: "h-[125px] bg-[url(graphics/12in23-header.svg)]" }
.text-center.flex.flex-col.items-center.items-stretch.px-24
  %h2.text-h4.mb-8 The #12in23 Challenge
  %p.text-p-base.font-semibold.mb-8
    Try out 12 different programming languages in 2023, curated and guided by us!
  %p.text-p-base.mb-16
    This month is the Summer of Sexps,
    exploring languages that are Lisp dialects: Clojure, Common Lisp, Emacs Lisp, Racket and Scheme.

  = link_to "Explore #12in23", challenge_path("12in23"), class: 'btn-primary btn-s mb-12'

  %p.text-p-small.mb-8
    For each month we've designed a different theme, with featured exercises, swag, interviews, badges, live streaming and more.
