.flex.flex-col.items-center.items-stretch.pt-20.px-24
  %h2.text-h3.mb-4 Front-end Fundamentals
  %p.text-p-base.font-semibold.mb-12
    Live Teaching. Fun projects. Fair pricing.
  %p.text-p-base.mb-8
    Join us for the second part of Exercism's Bootcamp, where we'll
    teach you
    %strong front-end development
    through interactive, live teaching, and
    %strong 100s of hours of fun projects.
  %p.text-p-base.mb-16
    Master the basics of HTML, CSS, JavaScript, Git and Visual Studio Code.
    Build games like
    %strong Breakout and Snake.
    Interact with APIs like
    %strong NASA and ChatGPT.

  = link_to "Explore Front-end Fundamentals", Courses::FrontEndFundamentals.url, class: 'btn-primary btn-s mb-6'
