.text-h4.mb-12 Your recent tracks

- user_tracks = current_user.user_tracks.order(last_touched_at: :desc).limit(5).includes(:track)
.flex.flex-col.gap-12
  - user_tracks.map do |user_track|
    - track = user_track.track

    = link_to track_path(track), class: 'shadow-base hover:shadow-baseZ1 py-8 px-12 bg-backgroundColorA border-1 border-borderColor8 rounded-8' do
      .flex.flex-row.items-center
        = image_tag track.icon_url, class: 'w-[44px] h-[44px] mr-16'
        .flex.flex-col
          .text-h6= track.title
          .text-p-small Last touched #{time_ago_in_words(user_track.last_touched_at)}
