- content_for :head do
  %meta{ name: "turbo-visit-control", content: "reload" }

- if @solution.exercise.slug == "happy-text"
  = render ReactComponents::Bootcamp::CSSExercise.new(@solution)
- else
  = render ReactComponents::Bootcamp::JikiscriptExercise.new(@solution)
