body {
    background: #520266;
}
#game {
    width: 80vmin;
    height: 80vmin;
    margin: 10vmin auto;
    background: rgb(10, 18, 21);
    position: relative;
}
#ball {
    border-radius: 100%;
    width: 4%;
    height: 4%;
    position: absolute;
    left: 50%;
    top: 96%;
    transform: translateX(-5%);
    background: white;
}
