.mentoring-requested
  .content
    %h2= t('.heading')
    -# TODO
    %p= t('.waiting_text')
  = link_to t('.view_request_button'), track_exercise_mentor_request_path(track, exercise), class: 'btn-primary btn-s'
