.introduction
  .header
    .content
      %h2= t('.heading')
      %p
        = t('.body_html', exercise_title: exercise.title).html_safe
      .btns
        = link_to t('.button'), new_track_exercise_mentor_request_path(track, exercise), class: 'btn-primary btn-m'

    = graphical_icon "mentoring-prompt", category: 'graphics'
