.c-generic-tooltip.text-14{ class: "!py-16 !px-24 !max-w-[420px]" }
  %p.text-16.font-semibold.leading-170.mb-12
    Struggling with this exercise?

  %p.mb-4.leading-150
    You can only receive mentoring if you&apos;ve submitted a solution to this exercise. If you&apos;re struggling, try exploring Community Solutions or Dig Deeper.

  .font-semibold.text-lightGold.text-14.leading-170.flex.flex-row.items-center
    We highly recommend you try your best without revealing Community Solutions or Dig Deeper first.
