.c-generic-tooltip.text-14{ class: "!py-16 !px-24 !max-w-[420px]" }
  %p.text-16.font-semibold.leading-170.mb-12
    = t('.heading')

  %p.mb-4.leading-150
    = t('.body')

  .font-semibold.text-lightGold.text-14.leading-170.flex.flex-row.items-center
    = t('.recommendation')
