%section.start-track
  .start-track-cta
    = graphical_icon "hello-world", category: "graphics"
    .content
      %h3
        Introduce yourself to the Elixir world by completing
        %strong ”Hello, World!”
      %p Familiarise yourself with how Exercism works and submit your first bit of code on the platform by completing the “Hello, World!” tutorial exercise.
      = link_to "Go to the “Hello, World!” exercise", track_exercise_path(track, "hello-world"), class: 'btn-cta'
  .placeholder-activity
    = graphical_icon :pulse
    %p This is where your activity on the track is displayed once you begin completing exercises
