/ TODO: This can be cached against track.updated_at and track.num_contributors
%article.updates-article
  .lg-container
    %header
      = graphical_icon(:updates, hex: true, css_class: "graphical-icon")
      %h2 What's going on with #{track.title}
      %hr.c-divider

  .lg-container.container
    = render "tracks/show/joined/updates_section", track: track
    = render "tracks/show/joined/contributors_section", track: track, contributors: track.top_10_contributors, num_contributors: track.num_contributors
