#frame-wood {
    background-color: #4e342e;
    /* Add something here */
}

#frame-glass {
    background-color: #eee;
    /* Add something here */
}

#frame-rim {
    background-color: yellow;
    /* Add something here */
}

#frame-canvas {
    background-color: #f5f5dc;
    /* Add something here */
}

img {
    /* Add something here */
}
