#flag {
    background: white;
    display: flex;
    flex-direction: column;

    div {
        flex-grow: 1;

        &:nth-child(1) {
            background: #f2a800;
        }

        &:nth-child(2) {
            background: #0033a0;
        }

        &:nth-child(3) {
            background: #d90012;
        }
    }
}
