#flag {
    background: white;
    display: flex;
    flex-direction: column;
}

#top,
#bottom {
    flex-basis: 0;
    min-height: 0;
}
#top {
    display: flex;
    flex-grow: 5;
    align-items: stretch;
}
#star {
    aspect-ratio: 1;
    background: #002868;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        width: 60%;
    }
}
#rhs,
#bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#bottom {
    flex-grow: 6;
}

#rhs div,
#bottom div {
    flex-grow: 1;
}
#rhs div:nth-child(odd),
#bottom div:nth-child(even) {
    background: #bf0a30;
}
