#mentor-inbox-page
  = render ViewComponents::Mentor::Header.new(:workspace)

  %article
    .lg-container
      .tabs
        .c-tab.selected
          Inbox
          .count 23
        .c-tab
          Awaiting Student
          .count 23
        .c-tab
          Finished
          .count 23

      = ReactComponents::Mentoring::Inbox.new
