main {
    display: grid;
    height: 100%;
    place-items: center;

    .notifications {
        margin: 15px;
        box-shadow: 0px 4px 24px rgb(156, 130, 38);
        background: #fff4e3;
        border-radius: 10px;
        position: relative;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;

        img {
            width: 25px;
        }
        .count {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%) translateY(-50%);
            color: white;
            background: #eb5757;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            font-weight: 600;
            font-size: 12px;
            display: grid;
            place-items: center;
        }
    }
}
