@import "../minimal_tailwind.css";
@import "../ui-kit/minimal.css";

@import "../pages/contributing-dashboard";
@import "../pages/contributing-contributors";
@import "../pages/contributing-tasks";

@import "../components/contributing/header";

@import "../tooltips/task";
