@import "../minimal_tailwind.css";
@import "../ui-kit/minimal.css";

@import "../pages/maintaining/dashboard";
@import "../pages/maintaining/track";
@import "../pages/maintaining/site-updates-form";
@import "../pages/admin/table";
