*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: ui-serif, serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
}
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
