*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
}
/* 
* {
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    image-rendering: pixelated;
    -webkit-font-smoothing: none;
} */
