- content_for :meta_title, "Exercism's Track Docs".html_safe
- content_for :meta_description, "Track specific docs on how to use that language alongside Exercism"
- content_for :canonical_url, docs_tracks_url
- require_stylesheet "docs"

= render ViewComponents::DocsMainNav.new(:tracks)

#page-docs-tracks
  .sm-container
    .header
      %h1 Track-specific docs
      %p Explore the docs of tracks you're learning, mentoring or helping to build.

    = render ViewComponents::DocsTrackList.new
