body {
    padding: 10%;
    container-type: size;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: lightblue;
    color: #222;
}
h1 {
    font-size: 15cqh;
    font-weight: 600;
    margin-bottom: 7cqh;
}
p {
    font-size: 8cqh;
    margin-bottom: 4cqh;
}
strong {
    font-weight: semibold;
}
