- require_stylesheet "maintaining"

#maintaining-site-update-form.c-site-updates-form
  %h2.text-h3= t('.new_site_update_heading')
  = render "form", update: @update, url: %i[maintaining site_updates], button_label: t('.create_button_label'), tracks: @tracks
