%p.info
  We're so excited to have you on board! 💙
- if enrollment.user
  %p.info
    %strong Your Exercism account has been granted access to the course.
    Please use the button below to get started.
  %p.info
    You should shortly receive an email welcoming you and asking you to say hello.
    %strong Please do reply
    and tell us your story - it's both incredibly motivating for us to hear about who's taking our courses, and also means we can better tailor what we're making!
  %p.info.mb-10
    If you have any questions, please email us at
    %strong.font-medium bootcamp@exercism.org
    and we'll be happy to help.
  = link_to "Go to the Bootcamp", bootcamp_dashboard_path, class: 'button'
- else
  %p.info
    %strong As you're not logged into your Exercism account, we need to connect things up for you.
    Firstly, please make sure you have an Exercism account:
  %ul.mt-8.mb-12.list-disc.ml-20.font-light
    %li.text-18 If you do, logging in should give you access.
    %li.text-18
      If you don't, the easiest way to get access is to #{link_to 'create one here', 'https://exercism.org/users/sign_up', class: 'text-primary-blue font-semibold'} with the email address "#{enrollment.email}".
      If you use a different email and don't get access, please email us at
      %strong.font-medium bootcamp@exercism.org
      with your Exercism username/handle and the email address you've enrolled with (#{enrollment.email}) and we'll give you access manually.

  %p.info
    You should also shortly receive an email welcoming you, and asking you to say hello.
    %strong Please do reply
    and tell us your story - it's both incredibly motivating for us to hear about who's taking the course, and also means we can better tailor what we're making!
  %p.info
    Thanks for trusting us with your learning 🙂
