%p.info
  %strong We're so excited to have you on board! 💙
%p.info
  You should shortly receive an email welcoming you to the Bootcamp, and asking you to say hello.
  %strong Please do reply
  and tell us your story - it's both incredibly motivating for us to hear about who's taking the Bootcamp, and also means we can better tailor what we're making!
%p.info
  The first session of the Front-end Fundamentals Bootcamp is scheduled for 
  %strong April 26th.
  We'll contact you shortly before to make sure you're all set up.
%p.info
  In the meantime, if you have any questions, please email us at
  %strong.font-medium bootcamp@exercism.org
  and we'll be happy to help 🙂