#page-bootcamp-faqs.pt-24
  .lg-container
    .flex.mb-40
      .lhs.mr-48{ class: 'w-full max-w-[780px]' }
        %h1.text-h1 Frequently Asked Questions
        %p.intro
          Welcome to our FAQs.
          We've collated the most common questions we're asked about the Bootcamp below.

        .c-prose= raw @content
