.c-admin-page
  .lg-container
    %h1.text-h1.mb-16= t('.editing_perk_heading', partner_name: @partner.name, perk_id: @perk.id)

    = form_with(model: @perk, url: admin_partner_perk_path(@partner, @perk)) do |f|
      = render "form", f:, partner: @partner, perk: @perk

    %br/
    %div
      = link_to t('.back_to_partner'), [:admin, @partner]
