.c-admin-page
  .lg-container
    %h1.text-h1.mb-16 Adding perk for #{@partner.name}

    = form_with(model: @perk, url: admin_partner_perks_path(@partner)) do |f|
      = render "form", f:, partner: @partner, perk: @perk

    %br/
    %div
      = link_to "Back to partner", [:admin, @partner]


