- require_stylesheet "contributing"
- content_for :canonical_url, contributing_tasks_url

#contributing-tasks
  = render ViewComponents::Contributing::Header.new(:tasks)

  = render ReactComponents::Contributing::TasksList.new(params)
