#page-settings-preferences.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:communication)

    %article
      %h1= t('.communication_preferences.heading')

      %section
        = render ReactComponents::Settings::CommunicationPreferencesForm.new
