#page-settings-preferences.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:insiders)

    %article
      %h1= t('.insiders.heading')

      %section{ id: 'insider-benefits-form' }
        = render ReactComponents::Settings::InsiderBenefitsForm.new
