body,
.--jiki-faux-body {
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

div,
img {
    flex-grow: 1;
}

img {
    width: 100%;
}
