@import "../styles";

.c-track-nav {
    --nav-height: 40px;

    @apply bg-white py-12 shadow-base;

    & .container {
        @apply flex;
    }

    & .back {
        @apply block mr-24;
        line-height: var(--nav-height);
    }

    & .c-track-icon {
        height: var(--nav-height);
        width: calc(var(--c-track-icon-width-ratio) * var(--nav-height));
        @apply mr-20;
    }

    & .title {
        @apply mr-64;
        @apply text-16 font-semibold font-mono;
        line-height: var(--nav-height);
    }
    & .tabs {
        @apply flex;

        & a {
            line-height: var(--nav-height);
            @apply flex items-center;
            @apply px-16 rounded-100;
            @apply text-16 text-textBase font-normal;

            /* TODO: If we have normal font here - everything 
             * jumps around when you change tab. We will need
             * to hardcode some actual widths when we're
             * happy with the final layout to avoid this, then
             * we can remove this */
            @apply font-semibold;

            & svg {
                height: 24px;
                width: 24px;
                @apply mr-12 text-textLight;
            }

            &.selected {
                @apply bg-veryLightBlue text-black font-semibold;
                & svg {
                    @apply mr-12 text-anotherPurple;
                }
            }
        }
    }
}
