@import "../styles";

.c-track {
    @apply border-black bg-white shadow-1 rounded-8;
    & .content {
        @apply flex items-start p-24;

        & .c-track-icon {
            width: 57px;
            @apply mr-28;
        }
        & .info {
            @apply flex-grow;

            & .title {
                @apply mr-16;
                @apply text-h3-mono text-black;
            }

            & .joined {
                @apply text-14 font-medium text-textLight;
            }

            & .counts {
                @apply flex gap-12 mb-12;
                @apply font-medium text-16;
            }

            & .tags {
                /* This flex behaviour and max-height combo causes 
                 * the tags to wrap but to be hidden if they overflow 
                 * one line. This means we only see whole tags on 
                 * the cards but we only ever see one row. */
                @apply flex flex-wrap overflow-hidden gap-8;
                max-height: 32px;

                & li {
                    @apply border-borderLight border-1 border-solid rounded-100;
                    @apply font-medium text-14 text-textLight leading-none;
                    @apply py-8 px-12;
                    @apply whitespace-no-wrap;
                }
            }
        }
        & i {
            @apply self-center;
        }
    }

    & .progress-bar {
        height: 6px;
        @apply flex flex-row;

        & > * {
            height: 100%;
        }

        & .cp {
            @apply bg-darkBlue;
        }
        & .ucp {
            @apply bg-lightBlue;
        }
        & .ce {
            @apply bg-darkGreen;
        }
        & .uce {
            @apply bg-lightGreen;
        }
    }
}
