@import "../styles";

.c-tracks-list {
    & .search-bar {
        @apply p-12 mb-32;
        @apply bg-white shadow-headerBottom;

        & input.search {
            max-width: 550px;
            width: 100%;

            @apply mr-24 rounded-5 bg-lightGray p-12;
            &::placeholder {
                @apply text-textLight;
            }
        }
        & .filter-btn,
        & .reset-btn {
            @apply py-12;
            @apply text-16 font-semibold;
            @apply border-2;
            line-height: 20px;
        }

        & .filter-btn {
            @apply mr-40;
            @apply border-darkGray rounded-5;
            @apply px-24;
        }
        & .reset-btn {
            @apply border-transparent;
        }
        & .tag-option-list {
            @apply absolute left-0 right-0 mt-12;
            @apply bg-white;

            box-shadow: 0px 4px 24px rgba(79, 114, 205, 0.15);

            & .md-container {
                @apply py-24;
            }

            & .categories {
                @apply flex flex-row gap-spacedColumns;
            }

            & .category {
                @apply flex flex-col gap-8;

                & h4 {
                    @apply text-14 font-semibold font-mono;
                    @apply mb-12;
                }
                & .option {
                    & input {
                        @apply mr-8;
                    }
                }
            }
            & .buttons {
                @apply flex gap-16 mt-spacedColumns;

                & .apply-btn,
                & .close-btn {
                    @apply py-12 px-24 rounded-5 border-2;
                    @apply font-semibold;
                    line-height: 18px;
                }

                & .apply-btn {
                    @apply text-white bg-purple border-purple;
                }

                & .close-btn {
                    @apply border-darkGray;
                }
            }
        }
    }
    & h2 {
        @apply text-h2;
        @apply mb-16;
    }
    & .status-filters {
        @apply mb-24;

        & button {
            @apply py-8 px-16 rounded-100 mr-12;
            @apply text-16 font-medium;

            & .count {
                @apply ml-8 px-8 rounded-100 border-1 border-gray;
                @apply text-13;
                line-height: 170%;
            }

            &.selected {
                @apply bg-veryLightBlue;

                & .count {
                    @apply text-purple border-lightPurple;
                }
            }
        }
    }
    & .tracks {
        @apply grid gap-16;
        @screen md {
            @apply grid-cols-2;
        }
    }
}
