- require_stylesheet "maintaining"

#page-maintaining-dashboard
  .lg-container.container
    %h1 Maintaining Exercism

    .links
      %h2 Track Management
      %ul
        %li
          = link_to "Site Updates", maintaining_site_updates_path
