#mentor-queue-page
  = render ViewComponents::Mentor::Header.new(:queue)

  .lg-container
    %header.header
      = graphical_icon "conversation-1", category: 'graphics'
      %h2 Mentoring Queue
      .subtitle
        All of the mentoring requests on Exercism

    = ReactComponents::Mentoring::Queue.new(current_user)
