.hello hello 

-solution = Solution.first
-iterations = [{id: 1, time: Time.current.to_f}]
%div{data: {react: {"iterations-summary-table": true, data: {solution_id: solution.id, iterations: iterations.to_json}}}}
