Hello, World!
%hr/
%h2 Temporary useful buttons
%ul
  %li
    = link_to "List Iterations", maintaining_iterations_path
  %li
    = link_to "Create Iteration", tmp_iterations_path, method: :post, remote: true
