#page-staging
  .lg-container
    %h1 Welcome to Exercism v3
    .c-textual-content
      %p
        First things first!
        This is a work in progress.
        %strong You should presume everything is broken.
        This is the expected state.
        The styling will not be responsive.
        In fact, every single bit of styling is unpolished.
        Even on pages that have lots of content, there are lots of UI elements that are missing, which will add balance.
        At least 80% of pages are missing. All the modals are missing. All but one of the tooltips are missing. You are seeing a tiny fraction of what is to come.
        Pages will break. They will 500.
        %strong There is no login - what you do affects everyone!
        Every time we deploy, the whole database is removed and recreated.
        This is not a beta. This is nowhere
        %strong near
        even being an alpha. But it won't take us long to get there now. Things will move fast.
      %p
        There is a button below to sync the site to the HEAD of master of the v3 git repo.
        Note that this will not create new exercises or change the slugs of old ones.
        So if you rename things, you will need to wait for the next arbitary deploy/db-recreation.
      %p That said, please consider installing the #{link_to 'development environment', 'https://github.com/exercism/development-environment'} so that you can check things more easily locally.

      %p With all that in mind. There are two rules:
      %ol
        %li
          If something doesn't work for
          %strong your track
          but does work elsewhere, please tell us, and we will help you fix it.
          %strong This is the purpose of this site.
        %li
          %strong
            PLEASE DO NOT SEND @iHiD BUG REPORTS ABOUT ANYTHING ELSE AT THIS STAGE ELSE HE WILL HAVE A BREAKDOWN 😬
      %p There will come a time, hopefully within the few weeks, where things work to an extent that those bug reports become incredibly valuable, but right now they will just add noise.
      %p
        The key reason we've put this staging site up so that we can work together to bring Exercism v3 into fruition.
        It exists so that we can all see how the work of the UX,
        the test runners, analyzers and representers, the functionality, and most importantly the content are all
        coming together. It acts as a place where we can track progress and we can feel
        proud of what we are achieving together. It's a place to get excited.
      %p Please don't share this site with people outside of the community creating v3. It's for our eyes only.
      %p
        Thank you for helping. Thank you for making Exercism what it is, and more importantly what it has the potential to become. You are Exercism - it does not exist without you, and I am infinitely grateful that you volunteer your time to help it. Thank you!
        %br
        Jeremy

      %p P.S. You'll want to be starting #{link_to 'here', tracks_path}.

      %hr/

      %h2 Temporary useful buttons

      %ul
        %li
          = link_to "Maintainers", maintaining_root_path
