.md-container
  .tw-text-green-400
    Hello
    .tw-inline-block.md:tw-font-bold World!

  %hr/

  %h2 Temporary useful buttons

  %ul
    %li
      = link_to "Tracks", tracks_path
    %li
      = link_to "List Submissions", maintaining_submissions_path
    %li
      = link_to "Create Submission", tmp_submissions_path, method: :post, remote: true
    %li
      = link_to "Pull latest v3 repo", tmp_pull_git_url, method: :post, remote: true
