Hi #{@user&.handle || "there"},
\
Thank you so much for choosing Front-End Fundamentals! We're so excited to have you on board!
\
- if @user
  Your Exercism account has been granted access to the course.
  You can get access here at https://exercism.org/bootcamp/dashboard (you might want to bookmark this link!)
- else
  As you're not logged into your Exercism account, we need to manually connect things for you.
  The easiest way is to create an exercism account (https://exercism.org/users/sign_up) with the email address #{@enrollment.email}. That will automatically give you access.
  \
  If you create your account with a different email address, please reply to this email with your Exercism username/handle and the email address you've enrolled with (#{@enrollment.email}) and we'll give you access manually.
\
We'd love you to join our Discord server (https://exercism.org/r/discord) and say hello. Becoming part of the community is a great way to keep motivated when things feel tough! Connect your Exercism and Discord accounts at https://exercism.org/settings/integrations and then you should be able to see the #bootcamp channel. Any problems, just post in the public #bootcamp-onboarding channel and someone will help you out!
\
Finally, it would be great to connect and I'd love to hear about your goals with coding, and why you chose the course. Please reply to this email and say hello! 🙂
\
Thank you again!

