- content_for :canonical_url, donate_url
#page-donate
  %header.pt-24.pd:mt-40.md:shadow-lgZ1
    .lg-container.flex.flex-col.items-center.c-shapes
      = graphical_icon "community-with-exercism-logo", category: :graphics
      %h1.text-h1.mb-4
        %strong.text-gradient Thank you!
