#page-donate
  .lg-container
    %header
      %h1.text-h1
        %strong Goal:
        Help everyone get better at programming, regardless of their background ✨

    .flex.items-start
      = render ReactComponents::Donations::FormWithModal.new(current_user)

