.flex.flex-col.items-center
  %h1.text-64.font-bold.leading-130.text-textColor2.mt-64.mb-12= t('.whoops')
  %h2.text-h2.mb-20= t('.no_slots_available')
  %p.text-p-xlarge.mb-32
    = t('.replenish_slots')
  = render ViewComponents::ProminentLink.new(t('.go_to_track_link'), track_path(@track))
