#page-community-videos
  .lg-container
    .flex.pt-32
      .flex-grow.mr-64
        = render ReactComponents::Community::VideoGrid.new(params, items_per_row: 3)
      .flex-shrink-0.pt-8{ class: 'w-[380px]' }
        = render "rhs", live_event: @live_event, featured_event: @featured_event, scheduled_events: @scheduled_events

