main {
    background: lightblue;
    display: grid;
    height: 100%;
    margin: 5%;
}
#outer-section {
    background: lightgreen;
    display: grid;
}
#inner-section {
    background: lightpink;
}
