default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  pool: 50
  username: exercism
  password: exercism
  timeout: 5000

  host: <%= Exercism.config.mysql_master_endpoint %>
  port: <%= Exercism.config.mysql_port %>

  variables:
    sql_mode: traditional

development:
  primary:
    <<: *default
    database: exercism_development

test:
  primary:
    <<: *default
    database: exercism_test

production:
  primary:
    <<: *default
    database: exercism
