default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  pool: 50
  username: exercism_v3
  password: exercism_v3
  socket: <%= Exercism.config.mysql_socket %>
  timeout: 5000

  host: <%= Exercism.config.mysql_master_endpoint %>
  port: <%= Exercism.config.mysql_port %>

  variables:
    sql_mode: traditional

development:
  primary:
    <<: *default
    database: exercism_v3_development

test:
  primary:
    <<: *default
    database: exercism_v3_test

production:
  primary:
    <<: *default
    database: exercism_v3_etl
