# Every minute
clear_mentor_request_locks:
  interval: "1m"
  class: "ClearMentorRequestLocksJob"
  queue: cron

# Every minute
sweep_reputation_periods:
  interval: "1m"
  class: "SweepReputationPeriodsJob"
  queue: reputation

# 3am every day (avoid DST issues)
mark_outdated_reputation_week_periods:
  cron: "1 0 * * *"
  class: "MarkOutdatedReputationPeriodsJob"
  queue: reputation
  args: ["week"]

# 4am every date (1hr after above)
mark_outdated_reputation_month_periods:
  cron: "5 0 * * *"
  class: "MarkOutdatedReputationPeriodsJob"
  queue: reputation
  args: ["month"]

# 5am every date (1hr after above)
mark_outdated_reputation_year_periods:
  cron: "15 0 * * *"
  class: "MarkOutdatedReputationPeriodsJob"
  queue: reputation
  args: ["year"]

# 1am Monday
fetch_and_sync_all_pull_requests_reputation:
  cron: "0 1 * * 1"
  class: "FetchAndSyncAllPullRequestsReputationJob"
  queue: dribble

# 1am Tuesday
sync_issues_and_tasks:
  cron: "0 1 * * 2"
  class: "SyncIssuesAndTasksJob"
  queue: dribble

# 1am Wednesday
sync_tracks:
  cron: "0 1 * * 3"
  class: "SyncTracksJob"
  queue: dribble

sync_team_permissions:
  cron: "0 1 * * 3"
  class: "SyncTeamPermissionsJob"
  queue: dribble

# 1am Thursday
update_median_wait_times:
  cron: "0 1 * * 4"
  class: "UpdateMedianWaitTimesJob"
  queue: dribble

# 12mins past every hour
nudge_users_to_request_mentoring:
  cron: "12 * * * *"
  class: "NudgeUsersToRequestMentoringJob"
  queue: dribble

# At start of every minute
update_minute_metrics:
  cron: "* * * * *"
  class: "UpdateMinuteMetricsJob"
  queue: metrics

# At start of every day
update_day_metrics:
  cron: "0 0 * * *"
  class: "UpdateDayMetricsJob"
  queue: metrics

# At start of every month
update_month_metrics:
  cron: "0 0 1 * *"
  class: "UpdateMonthMetricsJob"
  queue: metrics

# Every 15 minutes
update_last_hour_metrics:
  cron: "*/15 0 * * *"
  class: "UpdateLastHourMetricsJob"
  queue: metrics

# Every day at noon
update_last_week_metrics:
  cron: "0 12 * * *"
  class: "UpdateLastWeekMetricsJob"
  queue: metrics

# Every day at noon
update_last_quarter_metrics:
  cron: "0 12 * * *"
  class: "UpdateLastQuarterMetricsJob"
  queue: metrics
