test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

amazon:
  service: S3
  region: <%= Exercism.config.aws_attachments_region %>
  bucket: <%= Exercism.config.aws_attachments_bucket %>

amazon_v2:
  service: S3
  region: "eu-west-1"
  bucket: "exercism-uploads"
