- require_stylesheet "about"

#page-organisation-supporter
  %header.pb-60
    .md-container.flex.flex-col.items-center.c-shapes.c-shapes-1.text-center
      = link_to about_partners_path, class: "c-prominent-link mt-48 mb-24" do
        = graphical_icon "arrow-left"
        See all our supporters

      %h1.text-h0.flex.flex-col.items-center.text-center
        Exercism is supported by
        %br
        = icon "gobridge", "GoBridge", category: :partners, css_class: "logo gobridge"

  .md-container
    %article.flex.flex-col.md:flex-row
      .lhs
        %h2.text-h2 How GoBridge supports Exercism
        %hr.c-divider.mt-20.mb-28
        %p.text-p-xlarge.mb-40 In 2021 GoBridge make a significant donation to support the development of Exercism Teams, specifically allowing us to lay the foundations of student-mentor interactions within the new Exercism editor.

        %h2.text-h2 About GoBridge
        %hr.c-divider.mt-20.mb-28
        %p.text-p-xlarge.mb-16 GoBridge's mission is to enable minorities in tech to use Go as a tool to learn and teach programming and, ultimately, to empower underrepresented groups in tech to help increase diversity in the Go community. That fits perfectly with our mission of providing opportunity through the development of programming, and so we're really excited to be able to launch this partnership. GoBridge and the GDN will be promoting Exercism across their networks, and we'll be hoping for a large influx of both Go mentors and students.

      .rhs.mt-24.md:mt-0.md:ml-40
        - @blog_posts.each do |blog_post|
          = render ViewComponents::BlogPost.new(blog_post)
