/* See also app/css/pages/contributing-tasks.css */
.c-task-tooltip {
    @apply shadow-lg rounded-8 py-20 px-24 bg-backgroundColorA;
    @apply relative z-tooltip;

    width: 540px;

    & section {
        @apply py-8 px-8;
        @apply flex items-center;

        &:first-child {
            @apply pt-0;
        }
        &:last-child {
            @apply pb-0;
        }

        & + section {
            @apply border-t-1 border-borderColor6;
        }

        & > .icon {
            @apply flex-shrink-0 grid place-items-center;
            @apply mr-24;
            width: 45px;

            .c-icon {
                @apply filter-textColor6;
            }

            & .action-icon {
                @apply border-none;
                .c-icon {
                    @apply filter-textColor6;
                }
            }
            & .knowledge-tag {
                @apply border-none p-0;
                & .c-icon {
                    @apply hidden;
                }
                & .dot {
                    height: 8px;
                    width: 8px;
                    margin-right: 3px;
                    margin-left: 0;
                }
            }
        }
        & h3 {
            @apply leading-150 font-medium;
            & strong {
                @apply font-semibold;
            }
        }
        & p {
            @apply leading-150;
        }
        &.summary {
            @apply pb-16;
            & .task-icon {
                @apply rounded-3 border-none;
                background: var(--backgroundColorMentorTestimonialsNew);
                color: var(--textColorMentorTestimonialsNew);
                @apply text-12 font-bold leading-150 font-mono uppercase;
                @apply py-4 px-8;
            }
            & h3 {
                @apply text-18 leading-150 font-medium;
            }
        }
    }
}
