#page-error.pt-60.pt-40
  .sm-container
    .flex.items-center
      .mr-40
        .text-purple.leading-110{ style: "font-size: 128px" } 404
        %h1.text-h1.mb-16 Page not found
        %p.text-textColor6.text-24.leading-150.font-semibold Looks like we can’t find that page. Sorry!
      = graphical_icon "error-404", category: :graphics, css_class: 'ml-auto'
