#page-bootcamp-admin-exercises {
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        thead {
            background-color: #f5f5f5;
        }
        th {
            text-align: left;
        }
        thead th {
            border-bottom: 1px solid #ddd;
        }
        tbody {
            td {
                border-bottom: 1px solid #ddd;
                a {
                    @apply text-blue-500 font-semibold;
                }
            }
        }
        th,
        td {
            padding: 10px;
            border: 1px solid #eee;

            &:first-child {
                width: 1px;
            }
            &:nth-child(2) {
                width: 250px;
            }
            &:nth-child(3) {
            }

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                width: 1px;
                @apply whitespace-nowrap;
                @apply text-right;
            }
        }
        .level {
            @apply absolute inset-0 p-10;
            @apply flex flex-col justify-center;
            @apply font-semibold text-right;
            &.positive {
                @apply bg-green-100 text-green-700;
            }
            &.negative {
                @apply bg-red-100 text-red-700;
            }
        }
        .bubbles {
            @apply flex flex-wrap gap-6;
        }
        .bubble {
            @apply text-gray-600;
            @apply border-1 border-gray-400;
            @apply rounded-5;
            @apply py-2 px-4;
            @apply text-13 font-semibold;
            &.locked {
                @apply bg-red-100 text-red-500 border-red-300;
            }
            &.unlocked {
                @apply bg-green-100 text-green-500 border-green-300;
            }
        }
    }
}
