#page-settings-preferences.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:communication)

    %article
      %h1 Communication

      %section
        = render ReactComponents::Settings::CommunicationPreferencesForm.new
