%p= t('.greeting', user_handle: @user.handle)
%p
  = t('.trophy_unlocked_message', track_title: @track.title)
  %br
  = t('.visit_track_message', track_title: @track.title)
= email_button_to t('.button_text'), track_url(@track, anchor: "trophy-cabinet")
