Hi #{@user.handle},
\
Congratulations! You've unlocked a new trophy on the #{@track.title} Track.
Visit the #{@track.title} track page and check the trophy cabinet to see what you earned.
\
Reveal it here: #{track_url(@track, anchor: 'trophy-cabinet')}
