%p Hi #{@user.handle},
%p You have now been added to Exercism's official list of contributors. If you have a public Exercism profile, that will link from the page too.
%p Thank you so much for being a part of Exercism and helping us provide free, world-class programming education to as many people as possible.
= email_button_to "Explore the contributors page", contributing_contributors_url

