Hi #{@user.handle},
\
You have now been added to Exercism's official list of contributors and show up on our contributors page.
\
Thank you so much for being a part of Exercism and helping us provide free, world-class programming education to as many people as possible.
\
View the contributors page here: #{contributing_contributors_url}
