%p= t('.greeting', user_handle: @user.handle)
%p= t('.new_feedback_message', iteration_idx: @iteration.idx, exercise_title: @exercise.title, track_title: @track.title, emphasis: @emphasis)
= email_button_to t('.see_feedback_button'), track_exercise_iterations_url(@track, @exercise)
