= t('.greeting', user_handle: @user.handle)
\
= t('.feedback_message', iteration_idx: @iteration.idx, exercise_title: @exercise.title, track_title: @track.title, emphasis: @emphasis)
\
= t('.go_to_iteration_link', iterations_url: track_exercise_iterations_url(@track, @exercise))
