= Markdown.parse(t('.body_markdown', insiders_url: insiders_url, youtube_video_url: "https://www.youtube.com/watch?v=iwhahd41h0A", youtube_thumbnail_url: "https://assets.exercism.org/images/thumbnails/introducing-insiders-with-play-icon.jpg"))
