Hey!
\
I'm excited to let you know you're eligible for Exercism Insiders - our rewards program for people who contribute, mentor, or donate to Exercism.
You can activate your Insiders account on the Insiders Page: #{insiders_url}
\
Insiders gives you three main benefits:
1. Exercism Premium for free. You now have access to Dark Mode, ChatGPT Integration, extra mentoring slots and more.
2. Behind the scenes content. You can watch videos from me and the team, keeping you in the loop, as we work on Exercism.
3. Closer access to the team and key community members, with our dedicated #insiders Discord channel.
\
The Insiders Page contains lots more detail!
We've granted you Lifetime status, which means you'll always have access to Insiders.
\
Thanks so much for being part of Exercism's story. I really hope you enjoy Insiders!
\
Jeremy Walker
Exercism's Co-founder &amp; CEO
\
Activate Insiders: #{insiders_url}


