%p Hey!

%p
  I'm excited to let you know you're eligible for Exercism Insiders - our rewards program for people who contribute, mentor, or donate to Exercism.
  You can activate your Insiders account on the #{link_to 'Insiders Page', insiders_url}.

%p Insiders gives you a few extra benefits:
%ol
  %li Access to our sexy Dark Mode
  %li ChatGPT Integration for when you get stuck on exercises
  %li Behind the scenes content. You can watch videos from me and the team, keeping you in the loop, as we work on Exercism.
  %li Closer access to the team and key community members, with our dedicated #insiders Discord channel.
  %li Extra mentoring slots.
  %li Exclusive Badges
  %li And more!


%p
  We've granted you Lifetime status, which means you'll always have access to Insiders.
  The #{link_to 'Insiders Page', insiders_url} contains lots more detail or watch the video below to learn more 👇

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=iwhahd41h0A", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/introducing-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p Thanks so much for being part of Exercism's story. I really hope you enjoy Insiders!

%p
  Jeremy Walker
  %br
  Exercism's Co-founder &amp; CEO

= email_button_to 'Activate Insiders', insiders_url

