%p Hi #{@user.handle},
%p
  We're so glad you've signed up. Exercism is a not-for-profit organisation dedicated to helping as many people as possible improve their programming fluency.
%p
  We have over 50 languages for you to explore, many with full-on courses for learning that language. All tracks have volunteer mentors who want to help you get as good as possible in programming in their favourite languages.
%p
  We hope you have a great time on Exercism and find it both useful and fun!

= email_button_to "Visit Exercism", root_url
