= t('.body_markdown', exercism_insiders_url: "https://exercism.org/insiders", intro_vlog_url: "https://www.youtube.com/watch?v=WDUqfCMbh_8", discord_channel_url: "https://discord.com/channels/854117591135027261/1103737555490447460", root_url: root_url)
