= raw Markdown::Parse.(t('.body_markdown', youtube_video_url: "https://www.youtube.com/watch?v=zomfphsDQrs", youtube_thumbnail_url: "https://assets.exercism.org/images/thumbnails/welcome-to-insiders-with-play-icon.jpg", root_url: root_url))
