Hi #{@user.handle},
\
We're so glad you've signed up! Exercism is a not-for-profit organisation dedicated to helping as many people as possible improve their programming fluency.
\
We have over 50 languages for you to explore, many with full-on courses for learning that language. All tracks have volunteer mentors who want to help you develop an understanding of why they love those languages, and help you get fluent in them.
\
We hope you have a great time on Exercism and find it both useful and fun!
\
Visit Exercism: #{root_url}
