Hey!
\
Welcome to Exercism Premium!
Thanks for upgrading! We really hope you enjoy the new features and functionality you've unlocked.
\
We've created Premium as a way of keping the core Exercism product free for everyone.
By upgrading to Premium, not only have you unlocked new features and functionality, you've also helped an open-source, not-for-profit organisation that's determined to make access to education more equal.
So thank you so much for supporting us! 💙
\
To get started with Premium, explore the various features and functionality on the Premium Page: https://exercism.org/premium
\
I'd love to hear all your thoughts and ideas on how we can expand Premium, so please do post any thoughts on the forum!
\
Have fun!
\
Jeremy Walker
Exercism's Co-founder &amp; CEO
