= raw Markdown::Parse.(t('.body_markdown', insiders_url: 'https://exercism.org/insiders', youtube_video_url: "https://www.youtube.com/watch?v=zomfphsDQrs", youtube_thumbnail_url: "https://assets.exercism.org/images/thumbnails/welcome-to-insiders-with-play-icon.jpg", discord_channel_url: "https://discord.com/channels/854117591135027261/1103737555490447460", root_url: root_url))
