%p Hey!

%p
  Welcome to #{link_to 'Exercism Insiders', 'https://exercism.org/insiders'}!
  Thank you for being part of our story and helping making Exercism the huge success that it is. Insiders is a small way of us saying thank you for your support.

%p
  To learn about what's in Insiders, please check out the #{link_to 'Insiders Page', 'https://exercism.org/insiders'}, or watch our introductory video below 👇

%p{ style: "margin-bottom: 24px" }
  %a{ href: "https://www.youtube.com/watch?v=zomfphsDQrs", style: "display:block; box-shadow: 0px 2px 4px #0F0923" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/welcome-to-insiders-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  I'd love to hear all your thoughts and ideas on our dedicated #{link_to '#insiders channel on Discord', 'https://discord.com/channels/854117591135027261/1103737555490447460'}. So come along and say hello!

%p Thanks for being part of our journey. I'm excited for what comes next 🙂

%p
  Jeremy Walker
  %br
  Exercism's Co-founder &amp; CEO

= email_button_to 'Visit Exercism', root_url

