= raw Markdown::Parse.(t('.body_markdown', youtube_video_url: "https://www.youtube.com/watch?v=8rmbTWAncb8", youtube_thumbnail_url: "https://assets.exercism.org/images/thumbnails/yt-onboarding-welcome-to-exercism-with-play-icon.jpg", root_url: root_url))
