Hey!
\
Welcome to Exercism Insiders (https://exercism.org/insiders)!
Thank you for being part of our story and helping making Exercism the huge success that it is. Insiders is a small way of us saying thank you for your support.
\
To learn about what's in Insiders, please check out the dedicated page, or watch our introductory vlog: https://www.youtube.com/watch?v=WDUqfCMbh_8

I'd love to hear all your thoughts and ideas on our dedicated #insiders channel on Discord (https://discord.com/channels/854117591135027261/1103737555490447460). So come along and say hello!
\
Thanks for being part of our journey. I'm excited for what comes next 🙂
\
Jeremy Walker

Exercism Co-founder & CEO
\
Visit Exercism: #{root_url}

