= Markdown.parse(t('.body_markdown', user_handle: @user.handle, student_handle: @discussion.student.handle, num_days_waiting: @num_days_waiting, discussion_url: mentoring_discussion_url(@discussion), exercise_title: @exercise.title, track_title: @track.title, num_days_to_time_out: @num_days_to_time_out))
