= Markdown.parse(t('.body_markdown', exercism_url: 'https://exercism.org', insiders_url: "https://exercism.org/insiders", thumbnail_src: "https://assets.exercism.org/images/thumbnails/why-donate-to-exercise-with-play-icon.jpg", root_url: root_url))
