Hello there!
\
I hope you're enjoying your first few days on Exercism. As you continue to explore our platform, I wanted to take a moment to tell you about our amazing community.
\
Exercism is an open-source, community-powered project. In fact we're one of the biggest open-source organisations on GitHub with over 350 repositories. Our community is centered around our values of empathy, kindness, and inclusivity.
\
Check out this video or read more below: https://www.youtube.com/watch?v=fSh-nGw3IP8
\
We have several community areas that you might find interesting and enjoyable:
\- Our Discord (https://exercism.org/r/discord) channel is a the place to go to hang out with the Exercism community, join community calls, and get quick support.
\- Our forum (https://exercism.org/r/forum) is a great place to ask longer-form questions, share ideas, and connect with others who are passionate about coding.
\- Our YouTube Channel (https://exercism.org/r/youtube) is the space to find our best video content - educational walkthrough, Exercism updates, community stories, and interviews with industry experts.
\- On Twitch (https://exercism.org/r/twitch), we host live streams featuring both our community and guests from the coding ecosystem.
\
We would love for you to join in and become an active member of our community. Whether you're a seasoned developer or just starting out, there is a place for you here. So don't be shy, come say hello and get involved!

Best regards,
\
Jeremy Walker
Exercism Co-founder & CEO
