%p Hello there,

%p I wanted to take a moment to talk to you about something that is really important to us here at Exercism - our social mission.

%p
  We are a not-for-profit platform, which means that we rely on donations from our community to keep our platform running.
  However, our priority is not to make money, but rather to help as many people as possible to excel in programming, regardless of their background.

%p
  That's why we offer Exercism for free.
  We believe that access to quality programming education should not be restricted by financial barriers.
  Our platform is designed to be inclusive and accessible to all, no matter where you come from or what your level of experience is.

%p
  We hope that you find our platform helpful and that it will help you achieve your programming goals.
  If you do find our platform useful, we would appreciate it if you considered supporting us by making a donation.
  However, please know that this is not a requirement and our platform will always be available to you for free.

%p
  Your support, whether through a donation or simply spreading the word about Exercism, is critical in helping us achieve our social mission.
  Every bit counts and helps us bring quality programming education to more people around the world.

%p
  Thank you for being a part of our community and for supporting our social mission.
  We look forward to seeing all the amazing things you will achieve with Exercism.

%p Best regards,

%p
  Loretta
  %br
  Head of Partnerships at Exercism

= email_button_to 'Visit Exercism', root_url


