= raw Markdown::Parse.(t('.body_markdown', youtube_video_url: "https://www.youtube.com/watch?v=fSh-nGw3IP8", youtube_thumbnail_url: "https://assets.exercism.org/images/thumbnails/yt-onboarding-community-with-play-icon.jpg", root_url: root_url))
