%p Hey there,

%p
  I hope you're enjoying #{link_to 'Exercism', 'https://exercism.org'} so far!
  Did you know that
  %strong{ style: "font-weight:500" } we're a not-for-profit organisation?
  We want everyone to be able to benefit from Exercism, no matter how much money they have, so we keep the site 100% free.

%p
  To do that, we rely on donations to keep Exercism running.
  We're an extremely lean operation and considering we serve over 1.5 million people, we have very low costs (~$250k/year).
  I put a video together that explains more 👇

%p
  %a{ href: "https://exercism.org/insiders", style: "display:block; box-shadow: 0px 2px 4px #0F0923; margin-bottom:16px" }
    %img{ src: "https://assets.exercism.org/images/thumbnails/why-donate-to-exercise-with-play-icon.jpg", style: "width:100%; display:block" }

%p
  If you do find Exercism useful and if you can afford to do so, please support us by making a donation.
  However, if you can't afford it, please know that this is not a requirement and our platform will always be available to you for free.

%p
  Your support, whether through a donation or simply spreading the word about Exercism, is critical in helping us achieve our social mission.
  Every bit counts and helps us bring quality programming education to more people around the world.

%p
  Thank you for being a part of our community and for supporting our social mission.
  We look forward to seeing all the amazing things you will achieve with Exercism.

%p Best regards,

%p
  Jeremy Walker
  %br
  Exercism Co-founder &amp; CEO

= email_button_to 'Visit Exercism', root_url


