= raw Markdown::Parse.(t('.body_markdown', user_handle: @user.handle, student_handle: @discussion.student.handle, iteration_idx: @iteration.idx, exercise_title: @exercise.title, track_title: @track.title, mentoring_discussion_url: mentoring_discussion_url(@discussion)))
