%p= t('.greeting', user_handle: @user.handle)
%p= t('.notification_message', student_handle: @discussion.student.handle, exercise_title: @exercise.title, track_title: @track.title)

= email_button_to t('.button_text'), mentoring_discussion_url(@discussion)
