= Markdown.parse(t('.body_markdown', user_handle: @user.handle, student_handle: @discussion.student.handle, exercise_title: @exercise.title, track_title: @track.title, discussion_url: mentoring_discussion_url(@discussion)))
