= t('.greeting', user_handle: @user.handle)
\
= t('.notification_message', student_handle: @discussion.student.handle, exercise_title: @exercise.title, track_title: @track.title)
\
= t('.go_to_discussion_link', discussion_url: mentoring_discussion_url(@discussion))
