%p= t('.greeting', user_handle: @user.handle)
%p= t('.new_iteration_submitted', student_handle: @discussion.student.handle, iteration_idx: @iteration.idx, exercise_title: @exercise.title, track_title: @track.title)
= email_button_to t('.button_text'), mentoring_discussion_url(@discussion)
