%p Hey!

%p
  I'm excited to let you know that you've been upgraded to Lifetime membership of #{link_to 'Exercism Insiders', 'https://exercism.org/insiders'}!
%p
  As a Lifetime Insider, you're one of the few people who have had a huge impact on the platform and shaped it into what it is today. You've helped thousands of people and made a huge difference - thank you.
  Insiders is a tiny way of us saying thank you for all you've done.

%p Congratulations on reaching the Lifetime threshold and thanks again for being part of Exercism 🙂

%p
  Jeremy Walker
  %br
  Exercism's Co-founder &amp; CEO

= email_button_to 'Visit Exercism', root_url


