%nav
  %ul
    %li.haml
      = icon('reputation', "Reputation")

    %li.view-component
      = ReactComponents::Common::Icon.new("reputation", "Reputation")

    %li.haml
      = graphical_icon(:contributors)

    %li.view-component
      = ReactComponents::Common::GraphicalIcon.new("contributors")
