#contributing-dashboard
  = render ViewComponents::Contributing::Header.new(:dashboard)

  .lg-container.container
    .funding
      = graphical_icon "pointing-hand", category: "graphics"
      .content
        %h2
          Exercism needs
          %strong YOUR
          help to fulfil its potential.
        %p
          We have big plans for Exercism!
          With over
          %strong 800,000 users, 2M+ solutions,
          automated feedback and a staff building out features and maintaining, running Exercism is expensive, and
          we need your help to take us forward.
        .cta
          = link_to "Help fund Exercism", "#", class: "btn-primary btn-m"
          .total
            You’ve contributed
            = link_to "$85.80 total", "#"
            to Exercism 💙


    .methods
      %header.header
        %h2 Ways you can help build Exercism
        %hr.c-divider

