@import "../../styles";

.c-concept-tooltip {
    max-width: 460px;

    @apply shadow-lg rounded-8 py-20 px-24 bg-backgroundColorA;

    /* TODO: add fade in transition for opacity */

    & .c-concept-icon {
        @apply mr-16;
    }

    & .heading {
        @apply flex items-center mb-8;

        & .title {
            @apply flex items-center;

            & .name {
                @apply text-h5 mr-8;
            }
            & .in {
                @apply mr-8;
            }
            & .c-icon {
                height: 32px;
                width: 32px;
            }
        }
        & .num-exercises {
            @apply text-15 leading-160 font-medium text-textColor6;
        }
    }
    & .blurb {
        @apply text-15 leading-160;
    }

    & .exercises-section {
        @apply mt-12;

        & h3 {
            @apply leading-150 font-semibold text-textColor1;
            @apply mb-8;
        }
        & .exercises {
            @apply flex flex-wrap;
            & .c-ed {
                @apply mr-8 mb-8;
            }
        }
    }

    & .progress {
        @apply flex font-semibold mb-8 text-darkGray leading-paragraph;
    }

    & .c-concept-progress-bar {
        @apply mb-12;
        height: 6px;
    }

    & .learn,
    & .learnt {
        @apply flex items-center mt-12 mb-8;
        @apply text-textColor1 leading-140 font-semibold;

        & .icon {
            background: #130b43;
            height: 24px;
            width: 24px;
            @apply flex-shrink-0;
            @apply grid place-items-center;
            @apply mr-12;
            @apply rounded-circle;

            & .c-icon {
                width: 12px;
                height: 12px;
                filter: var(--white-filter);
            }
        }
    }
    & .learn-extras {
        @apply leading-160;
        & strong {
            @apply font-medium;
        }
    }
    & .learnt-extras {
        @apply flex items-center;
        @apply text-textColor1 leading-160 font-medium;
        & .c-icon {
            width: 24px;
            height: 24px;
            @apply mr-12;
        }
    }
    & .mastered {
        @apply mt-4;
        @apply text-everyoneLovesAGreen leading-140 font-semibold;
    }

    /* Required for functionality */
    /* Without this pseudo-element, unable to mouseover from concept to the tooltip */
    &::before {
        content: "";
        width: 8px;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        background: transparent;
        position: absolute;
    }

    /* Required for functionality */
    /* Without this pseudo-element, unable to mouseover from concept to the tooltip */
    &::after {
        content: "";
        width: 8px;
        height: 100%;
        right: 0;
        top: 0;
        transform: translateX(100%);
        background: transparent;
        position: absolute;
    }
}
