@import "../../styles";

.c-concept-tooltip {
    max-width: 460px;

    @apply shadow-lg rounded-8 py-20 px-24 bg-white;

    /* TODO: add fade in transition for opacity */

    & .c-concept-icon {
        @apply mr-16;
    }

    & .heading {
        @apply flex mb-12;

        & .title {
            @apply flex items-center;

            & .name {
                @apply text-h5 mr-8;
            }
            & .in {
                @apply mr-8;
            }
            & .c-icon {
                height: 32px;
                width: 32px;
            }
        }
        & .num-exercises {
            @apply text-15 font-medium text-textLight;
        }
    }
    & .blurb {
        @apply text-15 leading-paragraph;
    }

    & .progress {
        @apply flex font-semibold mb-8 text-darkGray leading-paragraph;
    }

    & .c-concept-progress-bar {
        @apply mb-12;
        height: 6px;
    }

    & .available {
        @apply mt-16;

        & .info {
            @apply leading-paragraph;
            & strong {
                @apply font-medium;
            }
        }
        & .c-concept-progress-bar {
            @apply mb-20;
        }

        & .learn-heading {
            @apply flex items-center mb-8 text-h6;

            & .c-icon {
                width: 16px;
                height: 16px;
                @apply mr-12;
            }
        }
        & .c-exercise-widget {
            @apply mb-12 inline-flex;
        }
    }

    & .mastered {
        @apply mt-16;

        & .c-icon {
            height: 16px;
            width: 16px;
            @apply mr-12;
        }

        & .progress {
            @apply text-darkGreen;
        }

        & .c-concept-progress-bar {
            @apply mb-12;
        }

        & .info {
            @apply text-darkGray leading-paragraph font-medium;
        }
    }
}
