.chat-textarea {
    margin: auto;
    resize: none;
    cursor: text;
    padding: 6px;
}

.ai-chat-container {
    @apply h-100 content-end;
}

.chat-input-container {
    @apply p-8;
    @apply flex flex-col items-center hover:cursor-text rounded-12;
    @apply border-1 border-[#ccc] focus-within:border-[#2e57e8];
    @apply overflow-hidden;

    textarea {
        &::placeholder {
            @apply text-textColor7;
        }

        &:focus,
        &:focus-within {
            @apply border-none shadow-none outline-none;
        }
        @apply border-none shadow-none outline-none;
        @apply outline-none;
    }
}

.chat-thread {
    @apply flex flex-col gap-8 p-16;
    @apply max-h-[calc(100vh-200px)] overflow-y-auto;
}

.chat-message {
    @apply text-16;
    @apply bg-textColor6 px-12 py-8 rounded-12 text-white font-medium w-fit;
    @apply self-end;
    @apply leading-180;

    &.llm {
        @apply bg-bootcamp-light-purple;
        @apply self-start max-w-[100%];
        @apply text-textColor1 border-1 border-bootcamp-purple;

        p:not(:last-child) {
            @apply mb-16;
        }

        pre {
            @apply bg-thin-border-blue rounded-8 my-8;
        }

        & :not(pre) > code {
            @apply inline-flex items-center justify-center rounded-5;
            @apply not-italic;
            @apply px-6 text-textColor10 leading-regular;
            background: var(--backgroundColorI);
        }
    }
}
