.c-exercise-widget {
    @apply py-12 px-12 rounded-8 border-1 border-borderColor5 block;
    @apply flex flex-col items-stretch;
    @apply bg-white;
    @apply relative;
    @apply shadow-sm;

    img {
        @apply w-[80px] h-[80px] mr-12;
    }

    img.mandatory {
        @apply w-[20px] h-[20px];
        @apply absolute bottom-[12px] right-[0];
    }

    .title {
        @apply mr-12;
    }
    .project-title {
        @apply text-14 leading-150;
        @apply font-semibold text-gray-900;
    }
    .exercise-title {
        @apply text-17 leading-140;
        @apply font-semibold;
        @apply mb-2;
    }
    .description {
        @apply text-15 leading-140 pr-24;
    }
    .tag {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background-position: center center;
        background-size: 12px;
        background-repeat: no-repeat;

        @apply ml-auto;
        @apply border-1 rounded-circle;
    }

    &.available,
    &.in_progress {
        @apply shadow-base;

        .tag {
            @apply border-gray-300;
            background-image: url("icons/bootcamp-available.svg");
        }
    }
    &.locked {
        @apply bg-gray-200;
        @apply opacity-[0.5] cursor-not-allowed;
        @apply shadow-none;

        .tag {
            @apply border-gray-400;
            background-image: url("icons/lock.svg");
        }
    }

    &.completed {
        .tag {
            background: #e7fdf6;
            border-color: #43b593;
            color: #43b593;
            background-image: url("icons/bootcamp-completed-check-circle.svg");
            background-repeat: no-repeat;
        }
    }
    &.size-large {
        .project-title {
            @apply mb-2;
        }
        .exercise-title {
            @apply text-22;
            @apply mb-4;
        }

        .description {
            @apply text-17 leading-140;
        }
    }
}
