#scrubber {
    background: white;
    padding: 8px;
    @apply border-t-2 border-t-bootcamp-light-purple;
    @apply flex justify-center items-center gap-8;

    input[type="range"] {
        -webkit-appearance: none;
        @apply flex-grow p-0;
        height: 9px;
        border-radius: 100px;
        border: 1px solid;
        @apply border-jiki-purple;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.12) inset;
        min-width: 30px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            @apply outline-2 outline-white;
            @apply bg-jiki-purple;
            box-shadow: 0 0 1px 1px white;
            cursor: pointer;
            background-image: url("icons/bootcamp-scrubber.svg");
            background-size: 13px;
            @apply bg-no-repeat bg-center;
            &:hover {
                @apply bg-jiki-purple;
            }
        }
        &::-moz-range-thumb {
            @apply bg-jiki-purple;
            width: 35px;
            width: 18px;
            border-radius: 20px;
            cursor: pointer;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
    .play-button {
        &:disabled {
            opacity: 0.5;
        }
    }

    .frame-stepper-buttons,
    .breakpoint-stepper-buttons,
    .play-pause-button {
        img {
            width: 20px;
            height: 20px;
            filter: invert(27%) sepia(88%) saturate(6980%) hue-rotate(260deg)
                brightness(95%) contrast(102%);
        }
    }

    .frame-stepper-buttons,
    .breakpoint-stepper-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }

    .frame-stepper-buttons button {
        @apply border-1 border-indigo-300 rounded-5;
    }
    .breakpoint-stepper-buttons button {
        @apply bg-orange rounded-circle;
        @apply grid place-items-center w-[24px] h-[24px];
        img {
            @apply filter-white w-[18px] h-[18px];
        }
        &:disabled {
            opacity: 0.5;
        }
    }
    .frame-stepper-buttons button {
        &:disabled {
            opacity: 0.5;
        }
    }
}
