#bootcamp-solve-exercise-page {
    @apply flex flex-col w-full h-screen;

    .page-header {
        @apply flex-shrink-0;
        @apply py-8 px-12;
        @apply flex;
        @apply border-b-1 border-gray-300;

        .ident {
            @apply flex items-center gap-8;
            @apply text-16;
            img {
                @apply h-[20px];
                filter: invert(1);
            }
        }
    }
    .page-body {
        @apply flex-grow;
        @apply flex;
        @apply overflow-hidden;
        & > button {
            @apply bg-bootcamp-light-purple;
            @apply px-[2px];
            &:active {
                @apply relative;
                &:after {
                    @apply absolute top-0 bottom-0 left-[4px];
                    @apply w-[3px];
                    content: "";
                    @apply bg-bootcamp-purple;
                }
            }
        }
    }

    .page-body-lhs {
        @apply p-8;
        @apply flex flex-col;
        @apply bg-bootcamp-very-light-purple;

        & > button {
            @apply h-[12px];
            &:active {
                @apply relative;
                &:after {
                    @apply absolute left-0 right-0 top-[5px];
                    @apply h-[3px];
                    content: "";
                    @apply bg-bootcamp-purple;
                }
            }
        }
    }
    .page-body-lhs-bottom {
        @apply flex flex-col;
    }
    .page-body-rhs {
        @apply flex-grow h-full;
    }

    .scenario-lhs {
        @apply w-[50%] min-w-[300px];
        @apply flex-shrink-0 flex-grow;
    }

    .scenarios-button {
        @apply flex items-center gap-8;
    }

    .btn-primary {
        @apply bg-bootcamp-purple;
    }
    .autorun-button {
        @apply btn-primary btn-s;
        @apply flex items-stretch;
        @apply p-0;

        box-shadow: 0px 3px 6px rgba(var(--shadowColorMain), 0.4);

        .primary-segment,
        .autorun-segment {
            transition: background 0.1s ease-in;
        }
        &:not(:disabled):not(.--disabled):hover {
            @apply bg-purple !important;
        }

        .primary-segment {
            @apply flex items-center;
            @apply font-semibold;
            @apply px-16;
            @apply border-r-1 border-borderColor3;

            &.disabled {
                @apply bg-purpleDarkened;
                opacity: 0.5;
                cursor: not-allowed;
            }

            &:not(.disabled) {
                &:hover {
                    @apply !bg-purpleDarkened;
                }
            }
        }
        .autorun-segment {
            @apply grid place-items-center px-12;
            @apply rounded-r-3;
            & .c-icon {
                height: 18px;
                width: 18px;
            }

            &:hover {
                @apply bg-purpleDarkened;
            }
            &.on {
                @apply bg-purpleDarkened;
                & .c-icon {
                    @apply filter-lightGold;
                }
            }
            &.off {
                & .c-icon {
                    @apply filter-white;
                }
            }
        }
    }
}

body.namespace-bootcamp.controller-exercises.action-edit {
    overflow: hidden;
}
