#bootcamp-solve-exercise-page {
    .test-button {
        @apply relative p-4 w-[40px] h-[40px] grid place-content-center;
        transition: background-color 0.3s ease-out;

        @apply border-2 rounded-3;
        @apply bg-no-repeat;

        &.idle {
            @apply border-[#efefef];
            background-color: white;
            &.selected {
                @apply border-bootcamp-purple;
            }
            &:after {
                @apply border-t-6 border-bootcamp-purple;
            }
        }

        &.pass {
            border-color: #ddefe6;
            @apply bg-bootcamp-success-light;
            @apply text-bootcamp-success-dark;
            background-image: url("icons/bootcamp-tick-green.svg");
            background-size: 12px;
            background-position: 23px 2px;
            &.selected {
                @apply border-bootcamp-success-dark;
            }
            &:after {
                @apply border-t-6 border-bootcamp-success-dark;
            }
        }

        &.fail {
            border-color: #ffdddd;
            background-color: #ffe5e5; /* Deliberately different to be more visible */
            @apply text-bootcamp-fail-text;
            background-image: url("icons/bootcamp-cross-red.svg");
            background-size: 9px;
            background-position: 25px 2px;
            &.selected {
                @apply border-bootcamp-fail-dark;
            }
            &:after {
                @apply border-t-6 border-bootcamp-fail-dark;
            }
        }

        &.selected {
            @apply relative;
            @apply font-semibold;

            &:after {
                content: "";

                @apply absolute bottom-[-10px] left-[50%];
                transform: translateX(-50%);

                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
            }
        }
    }
}
