%h1 Tooltips

%h2 Mentored Student

%ol.mentored-students
  %li{ "data-tooltip-type": "mentored-student", "data-endpoint": mentored_student_test_components_tooltips_tooltip_path(1) }
    Mentored student #1

  %li{ "data-tooltip-type": "mentored-student", "data-endpoint": mentored_student_test_components_tooltips_tooltip_path(2) }
    Mentored student #2

%h2 Users

%ol.users
  %li{ "data-tooltip-type": "user", "data-endpoint": tooltip_profile_path('mentee'), "data-handle": "mentee" }
    User #1

  %li{ "data-tooltip-type": "user", "data-endpoint": tooltip_profile_path('Frank'), "data-handle": "Frank" }
    User #2
