%h1 Tooltips

%h2 Mentored Student

%span{ "data-tooltip-type": "mentored-student", "data-tooltip-url": mentored_student_test_components_tooltips_tooltip_path(1) }
  Mentored student #1

%span{ "data-tooltip-type": "mentored-student", "data-tooltip-url": mentored_student_test_components_tooltips_tooltip_path(2) }
  Mentored student #2

%h2 User summary

%span{ "data-tooltip-type": "user-summary", "data-tooltip-url": user_summary_test_components_tooltips_tooltip_path(1) }
  User #1

%span{ "data-tooltip-type": "user-summary", "data-tooltip-url": user_summary_test_components_tooltips_tooltip_path(2) }
  User #2
