%h1 Tooltips
%h2 Mentored Student

%span{ "data-tooltip-type": "mentored-student", "data-tooltip-url": student_test_components_tooltips_tooltip_path(1) }
  Mentored student #1 tooltip

%span{ "data-tooltip-type": "mentored-student", "data-tooltip-url": student_test_components_tooltips_tooltip_path(2) }
  Mentored student #2 tooltip
