%h1 Tooltips
%h2 Student

%span{ "data-tooltip-type": "student", "data-tooltip-url": student_test_components_tooltips_tooltip_path(1) }
  Student #1 tooltip

%span{ "data-tooltip-type": "student", "data-tooltip-url": student_test_components_tooltips_tooltip_path(2) }
  Student #2 tooltip
