%h1 Tooltips

%h2 Mentored Student

%ol.mentored-students
  %li{ "data-tooltip-type": "mentored-student", "data-endpoint": api_mentoring_student_path(User.first.handle) }
    Mentored student #1

  %li{ "data-tooltip-type": "mentored-student", "data-endpoint": api_mentoring_student_path(User.second.handle) }
    Mentored student #2

%h2 Users

%ol.users
  %li{ "data-tooltip-type": "user", "data-endpoint": tooltip_profile_path('mentee'), "data-handle": "mentee" }
    User #1

  %li{ "data-tooltip-type": "user", "data-endpoint": tooltip_profile_path('Frank'), "data-handle": "Frank" }
    User #2
