@import "../styles";

.c-modal.m-activate-learning-mode,
.c-modal.m-activate-practice-mode {
    & .--modal-content {
        @apply flex flex-col items-center;
        @apply text-center;
        max-width: 680px;
    }

    & .c-icon {
        height: 96px;
        width: 96px;
        @apply mb-4;
    }

    & h2 {
        @apply text-h2 mb-12;
    }
    & p {
        @apply text-p-large mb-20;
    }
    & .warning {
        @apply py-12 px-24 mb-28;
        @apply text-16 font-medium leading-160;
        @apply border-2 border-orange rounded-8;
        @apply w-100;
        background: var(--backgroundColorCAlert);
        color: var(--textColorCAlert);
    }
}
