@import "../styles";

.m-change-published-iteration {
    & .--modal-content {
        max-width: 820px;
    }
    & h3 {
        @apply text-h3 mb-8;
    }
    & p {
        @apply text-18 leading-160 mb-24;
    }
    & .iteration-selector {
        @apply mb-24;
        & label {
            @apply flex items-center mb-4;
            @apply text-20;
            @apply cursor-pointer;

            & .label {
                @apply text-18 font-medium leading-huge;
                @apply pl-16;
            }
        }
        & label + label {
            @apply mt-6;
        }
        & .c-select {
            @apply ml-32 mt-8;
            max-width: 200px;
            & select {
                @apply py-8;
            }
        }
    }
    & .btns {
        @apply flex items-center;
        & button {
            @apply mr-16;
        }
    }
}
