@import "../styles";

.c-modal.m-completed-tutorial-exercise {
    & .--modal-content {
        width: 100%;
        max-width: 834px;
        @apply pt-88 pb-56 px-48 bg-backgroundColorA;
        @apply flex flex-col items-center;
        @apply relative;
        @apply overflow-visible;
    }
    & .c-icon {
        height: 128px;
        width: 128px;
        top: -64px;
        @apply absolute mb-24;
        filter: drop-shadow(0px -5px 42px rgba(79, 114, 205, 0.3));
    }

    & h2 {
        @apply text-h1 mb-16;
    }

    & h3 {
        @apply text-h4 mb-24;
    }
    & p {
        @apply text-p-large mb-24 text-center;
        & a {
            @apply text-lightBlue font-semibold;
        }
    }
    & .info {
        @apply bg-lightOrange py-8 px-24 mb-40;
        @apply text-p-large text-center;
        max-width: 650px;
        & a {
            @apply text-lightBlue font-semibold;
        }
    }
    & .btns {
        @apply flex;
        & .btn-cta {
            @apply mr-12;
        }
        & .btn {
            @apply ml-12;
        }
    }
}
