@import "../styles";

.m-completed-exercise {
    & .--modal-content {
        width: 100%;
        max-width: 834px;
        @apply py-32 px-48 bg-backgroundColorA;
    }

    & header {
        @apply flex mb-32;
        & .c-exercise-icon {
            height: 96px;
            width: 96px;
            @apply mr-32;
        }
        & .exercise-title {
            @apply text-h1;
        }
    }
    & .progressed-concepts {
        @apply mb-24;
    }
    & .btn-primary {
        @apply mt-24;
    }
}
