@import "../styles";

.m-crop-avatar {
    & .--modal-content {
        @apply flex flex-col items-center;
        @apply py-32 px-64;
        min-width: 600px;
    }
    & h3 {
        @apply text-h4 mb-16;
    }

    & .cropper-container {
        position: relative;
    }
    & .cropped-image {
        height: 128px;
        width: 128px;
        @apply rounded-circle;
        @apply shadow-xsZ1;
        @apply border-1 border-borderColor6;
    }

    & .btns {
        @apply self-stretch;
        @apply flex items-center justify-center;
        @apply border-t-2 border-borderColor6;
        @apply mt-24 pt-24;

        & button + button {
            @apply ml-24;
        }
    }
}
