.m-donation-confirmation {
    & .--modal-content {
        @apply flex flex-col items-center text-center;
        max-width: 780px;

        & .c-badge-medallion {
            height: 40px;
            width: 40px;
            @apply mr-8;
        }
        & .c-icon.main-icon {
            height: 64px;
            width: 64px;
            @apply mb-20;
        }

        .badge-container {
            @apply flex items-center rounded-5 shadow-xsZ1 py-6 px-24 mb-32 border-1 border-lightGold;
            background: var(--backgroundColorCAlert);
        }
    }
}
