@import "../styles";

.c-modal.m-testimonial {
    & .--modal-container {
        @apply pt-80 pb-48 px-48;
        & .--modal-content {
            width: 100%;
            max-width: 780px;
            min-height: auto;
            @apply p-0;
            @apply relative;
            @apply overflow-visible;
            @apply bg-backgroundColorA;
            @apply shadow-lgZ1 rounded-8;
        }
    }
    & .c-avatar {
        width: 80px;
        height: 80px;
        @apply absolute mb-24;
        top: -40px;
        left: 50%;
        margin-left: -40px;
        filter: drop-shadow(0px -5px 42px rgba(var(--shadowColorMain), 0.3));
    }
    & .testimonial-section {
        @apply px-48 py-32;

        & .content {
            @apply text-31 leading-150 text-textColor2 font-medium;
            @apply mt-32 mb-16;
        }
        & .student {
            @apply text-h4 font-medium text-textColor5 mb-4;
            & strong {
                @apply font-semibold text-textColor2;
            }
        }
        & .exercise {
            @apply flex items-center;
            @apply text-17 leading-160 text-textColor6;
            @apply mb-16;
            & strong {
                @apply font-medium;
                @apply mx-6;
            }
            & .c-track-icon {
                height: 32px;
                width: 32px;
                @apply mx-8;
            }
            & .track-title {
                @apply text-textColor2 font-semibold;
            }
        }
        & time {
            @apply text-16 leading-160 text-textColor6;
        }
    }
    & .c-share-panel {
        @apply px-48 pt-24 pb-32;
        @apply border-t-1 border-borderColor6;
    }
}
