@import "../styles";

.m-welcome-to-v3 {
    & .wrapper {
        overflow-y: scroll;
        max-height: 100%;
        width: 100%;
        @apply flex items-start justify-center;
    }
    & .--modal-content {
        padding: 0;
        max-height: none;

        @apply mt-20 mb-40;
        @apply py-40 px-48 bg-backgroundColorA;
        @apply flex items-start;
        width: 100%;
        max-width: 1180px;
    }

    & .lhs {
        @apply flex-grow;

        & header {
            @apply mb-16;

            & h1 {
                @apply text-h1 mb-12;
            }
            & p {
                @apply text-18 leading-huge;

                & strong {
                    @apply font-medium;
                }
            }
        }
        & h2 {
            @apply text-h3 mb-6;
        }
        & p {
            @apply text-16 leading-huge;
        }
        & .improvements {
            @apply mt-24 mb-40;

            & .improvement {
                @apply flex items-start;

                & + .improvement {
                    @apply mt-24;
                }
                & .c-icon {
                    height: 64px;
                    width: 64px;
                    @apply flex-shrink-0 mr-24;
                }
                & h3 {
                    @apply text-h5 mb-4;
                }
                p {
                    @apply text-textColor3;
                }
            }
        }
    }

    & .rhs {
        @apply flex-shrink-0 ml-48;
        width: 450px;

        & .video {
            @apply mb-40;
        }
        & .thank-you {
            @apply bg-backgroundColorD;
            @apply rounded-8 py-24 px-32;

            & h3 {
                @apply text-h4 mb-8;
            }
            & p {
                @apply text-16 leading-paragraph;
                @apply mb-24;
            }

            & .contributors {
                @apply grid gap-16 grid-cols-6;

                & .c-rounded-bg-img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
}
