#page-settings-github-syncer.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:github_syncer)

    - if current_user.lifetime_insider?
      %article
        - if current_user.github_solution_syncer
          %h1 GitHub Syncer

        = render ReactComponents::Settings::GithubSyncerForm.new
