.scrolling-testimonials
  -# = image_tag "bootcamp/hamster.gif", class: "hamster"
  #hamster-animation-container.hamster
  #smoke-container
  .inner
    %ul
      %li “Perfect mixture of challenge and fun”
      %li “Amazing value”
      %li “My best time investment for years”
      %li “Incredibly Fun!”
      %li “Its been transformative!”
      %li “You *will* learn to code”
      %li “Learning, as it should be!”
      %li “The best course I've done”
      %li “Made learning a joy again”
      %li “This bootcamp is pure gold.”
      %li “A wonderful Learning Experience”
      %li “Proper Hands-on learning”
      %li “The knowledge you didn't think you needed”
      %li “100% recommended!”
      %li “So glad I stumbled on this”
      %li “A great way to learn!”
      %li “Fun exercises, clear explanations, cool hats”
      %li “Exceptional course, truly outstanding”
      %li “Addictive in a good way”
      %li “Amazing fun”
      %li “Fantastic community”
      %li “Zero coding experience required”
      %li “Fun and inspiring”
      %li “It's changed the way I think about learning”
      %li “An incredibly rewarding journey”
      %li “Insane value”
      %li “An opportunity to learn from a bonafide master”
      %li “It's really an amazing and lovely thing”
      %li “The best investment I made in myself this year”
      %li “Its massively increased my confidence and motivation”
      %li “Very supportive community!”
      %li “Even as a prior programmer, its transformative!”
