.scrolling-testimonials
  .inner
    %ul
      %li “Perfect mixture of challenge and fun”
      %li “Amazing value”
      %li “My best time investment for years”
      %li “Incredibly Fun!”
      %li “Its been transformative!”
      %li “Proper Hands-on learning”
      %li “The knowledge you didn't think you needed”
      %li “100% recommended!”
      %li “So glad I stumbled on this”
      %li “Fun exercises, clear explanations, cool hats”
      %li “Exceptional course, truly outstanding”
      %li “Addictive in a good way”
      %li “Amazing fun”
      %li “Fantastic community”
      %li “Zero coding experience required”
      %li “It's changed the way I think about learning”
      %li “An incredibly rewarding journey”
      %li “Insane value”
      %li “An opportunity to learn from a bonafide master”
      %li “It's really an amazing and lovely thing”
      %li “The best investment I made in myself this year”
      %li “Its massively increased my confidence and motivation”
      %li “Very supportive community!”
      %li “Even as a prior programmer, its transformative!”