body {
    overflow: hidden;
    font-family: ui-serif, system-ui, serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
    background: pink;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    & > * {
        flex: 1;
    }
}
