body,
.--jiki-faux-body {
    aspect-ratio: 1;
    overflow: hidden;

    padding: 5%;
    container-type: size;
    font-family: Verdana, ui-sans-serif, system-ui, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background: #e1d3c6;
}
h1,
p,
ul {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: black;
    font-weight: normal;
}
h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5%;
    color: #2b1a0b;
}
p,
ul {
    font-size: 17px;
    color: #2b1a0b;
}
p {
    margin-bottom: 5%;
}
ul {
    padding: 0 0 0 10%;
    margin-bottom: 5%;
}
strong {
    font-weight: bold;
}
a {
    color: darkmagenta;
    text-decoration: underline;
}
