:root {
    --c-concept-map-background: #ffffff;
    --c-concept-map-card-background: #ffffff;

    --c-concept-map-check-green: #59d2ae;

    --c-concept-map-line-complete: #64b294;
    --c-concept-map-line-available: #dce3ef;
    --c-concept-map-line-locked: #c9c8d7;
    --c-concept-map-line-faded: #eff2f8;

    --c-concept-map-line-dasharray-dashed: 5, 7;
    --c-concept-map-line-dasharray-solid: 1, 0;
    --c-concept-map-text-unlocked: #26282d;
    --c-concept-map-text-locked: #6d6986;

    --c-concept-map-hover-opacity: 0.3;

    --c-concept-map-line-width: 2;
    --c-concept-map-circle-radius: 4;
    --c-concept-map-drawing-margin: 50;

    --c-concept-map-progress-green: #59d2ae;
    --c-concept-map-progress-blue: #2e57e8;
}

.c-concepts-map {
    min-width: 300px;

    & .track {
        @apply pointer-events-none block;

        & .layer {
            @apply flex justify-evenly items-center flex-wrap;

            & .card {
                @apply rounded-t-8;
                @apply box-border pointer-events-auto shadow-base;
                @apply flex flex-col justify-between m-40;

                background-color: var(--c-concept-map-card-background);
                opacity: var(--c-concept-map-hover-opacity);
                transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1);

                &.unavailable,
                &.no-exercises,
                &.not-started {
                    @apply rounded-b-8;
                }

                &.unavailable {
                    @apply bg-bgGray;
                    color: var(--c-concept-map-text-locked);
                }
                &.not-started:not(.unavailable) {
                    box-shadow: 0px 4px 24px rgba(100, 143, 255, 0.4);
                }

                &.active {
                    opacity: 1;
                }

                &.completed {
                    @apply text-textBase;
                }

                &.hidden {
                    visibility: hidden;
                }

                & .display {
                    @apply py-12 px-24 flex items-center justify-between;

                    & .name {
                        @apply text-16 font-medium leading-code;
                    }

                    & .complete-icon {
                        @apply ml-12;
                        width: 16px;
                        height: 16px;
                    }
                }

                & progress {
                    @apply appearance-none w-100;
                    height: 4px;

                    &.hidden {
                        @apply hidden;
                    }
                }

                & progress::-webkit-progress-bar {
                    background-color: white;
                }

                & progress[value] {
                    border-radius: 0px;

                    &::-webkit-progress-value {
                        background-color: var(--c-concept-map-progress-blue);
                    }

                    &.complete::-webkit-progress-value {
                        background-color: var(--c-concept-map-progress-green);
                    }
                }
            }
        }
    }

    & .connection {
        @apply absolute -z-1 top-0 left-0;
        transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1);
        touch-action: none;
        opacity: var(--c-concept-map-hover-opacity);
        stroke-width: 2px;
        fill: none;

        &.active {
            opacity: 1;
        }

        &.hidden {
            opacity: 0;
        }

        &.unavailable {
            @apply -z-3;
            stroke: var(--c-concept-map-line-faded);
            stroke-dasharray: var(--c-concept-map-line-dasharray-solid);
        }

        &.available {
            @apply -z-2;
            stroke: var(--c-concept-map-line-available);
            stroke-dasharray: var(--c-concept-map-line-dasharray-solid);
        }

        & circle {
            fill: var(--c-concept-map-card-background);
            stroke-dasharray: var(--c-concept-map-line-dasharray-solid);
        }
    }
}
