:root {
    --c-concept-map-background: #ffffff;
    --c-concept-map-card-background: #ffffff;

    --c-concept-map-check-green: #59d2ae;

    --c-concept-map-line-complete: #64b294;
    --c-concept-map-line-available: #dce3ef;
    --c-concept-map-line-locked: #c9c8d7;
    --c-concept-map-line-faded: #d2ddf3;

    --c-concept-map-line-dasharray-dashed: 12, 5;
    --c-concept-map-line-dasharray-solid: 1, 0;
    --c-concept-map-text-unlocked: #26282d;
    --c-concept-map-text-locked: #6d6986;

    --c-concept-map-hover-opacity: 0.3;

    --c-concept-map-line-width: 2;
    --c-concept-map-circle-radius: 3;
    --c-concept-map-drawing-margin: 50;

    --c-concept-map-progress-green: #59d2ae;
    --c-concept-map-progress-blue: #2e57e8;
}

.c-concepts-map {
    min-width: 300px;

    & .track {
        @apply pointer-events-none block;

        & .layer {
            @apply flex justify-evenly items-center flex-wrap;

            & .card {
                @apply rounded-8 pt-12 px-24;
                @apply box-border pointer-events-auto shadow-base;
                @apply flex flex-col justify-between m-40;

                background-color: var(--c-concept-map-card-background);
                opacity: var(--c-concept-map-hover-opacity);

                &.locked {
                    @apply bg-bgGray pb-12;
                    color: var(--c-concept-map-text-locked);
                }
                &.not-started:not(.unavailable) {
                    box-shadow: 0px 4px 24px rgba(100, 143, 255, 0.4);
                }

                &.active {
                    opacity: 1;
                }

                &.completed {
                    @apply text-textColor5;
                }

                &.hidden {
                    visibility: hidden;
                }

                & .display {
                    @apply flex items-center justify-center;

                    & .name {
                        @apply ml-8 text-16 font-medium leading-code;
                    }

                    & .complete-icon {
                        @apply ml-12;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }

    & .exercise-status-bar {
        @apply py-16 px-24 flex justify-center align-middle;

        & .c-exercise-dot {
            @apply rounded-8 m-4;
            height: 16px;
            width: 16px;

            &.locked {
                background-color: grey;
            }

            &.available {
                box-shadow: 0px 1px 4px 2px rgba(0, 80, 255, 0.25);
                background-color: white;
            }

            &.in-progress {
                box-shadow: 0px 1px 4px 2px rgba(0, 80, 255, 0.25);
                background-color: purple;
            }

            &.complete {
                background-color: green;
            }
        }
    }

    & .connection {
        @apply absolute -z-1 top-0 left-0;
        touch-action: none;
        opacity: var(--c-concept-map-hover-opacity);
        stroke-width: 2px;
        fill: none;

        &.active {
            opacity: 1;
        }

        &.hidden {
            opacity: 0;
        }

        &.locked {
            @apply -z-3;
            stroke: var(--c-concept-map-line-faded);
            stroke-dasharray: var(--c-concept-map-line-dasharray-dashed);
        }

        &.unlocked {
            @apply -z-2;
            stroke: var(--c-concept-map-line-available);
            stroke-dasharray: var(--c-concept-map-line-dasharray-solid);
        }

        & circle {
            fill: var(--c-concept-map-card-background);
            stroke-dasharray: var(--c-concept-map-line-dasharray-solid);
        }
    }
}
