@import "../../styles.css";

.c-track-concept-nav {
    --nav-height: 40px;

    @apply bg-backgroundColorA py-12 shadow-base;

    & .container {
        @apply flex items-center;
    }

    & .back {
        @apply block mr-24;
        line-height: var(--nav-height);
        & .c-icon {
            height: 21px;
            width: 21px;
        }
    }

    & .c-track-icon {
        height: var(--nav-height);
        width: var(--nav-height);
        @apply mr-20;
    }

    & .title {
        @apply text-16 font-semibold font-mono;
        line-height: var(--nav-height);
        @apply mr-12;
    }
    & .divider {
        @apply text-textColor6 text-16 mr-12;
    }
    & .item {
        @apply font-mono text-16;
    }
}
