@import "../../styles";

.c-track-generic-nav {
    --nav-height: 40px;

    @apply bg-white py-12 shadow-base;

    & .container {
        @apply flex items-center;
    }

    & .back {
        @apply block mr-24;
        line-height: var(--nav-height);
        & svg {
            height: 21px;
            width: 21px;
        }
    }

    & .c-track-icon {
        height: var(--nav-height);
        /*width: calc(var(--c-track-icon-width-ratio) * var(--nav-height));*/
        width: 40px;
        @apply mr-20;
    }

    & .title {
        @apply text-16 font-semibold font-mono;
        line-height: var(--nav-height);
    }
}
