@import "./generic-nav.css";

.c-track-top-level-nav {
    @apply c-track-generic-nav;
    @apply relative;

    & .title {
        @apply mr-64;
    }

    & .tabs {
        @apply flex flex-grow;

        & .c-tab {
            height: var(--nav-height);
            @apply mr-8;
        }
    }

    & .faux-btn-joined {
        @apply btn w-auto;
        @apply text-anotherPurple border-anotherPurple;
        @apply px-16 text-14;

        height: 34px;

        & .c-icon {
            width: 14px;
            height: 14px;
        }
    }
}
