- content_for :meta_title, t('.meta_title')
- content_for :meta_description, t('.meta_description')
- content_for :canonical_url, hiring_about_url
- require_stylesheet "about"

= render ViewComponents::AboutNav.new(:hiring)

#page-hiring
  %header
    .lg-container.c-shapes
      = graphical_icon "exercism-face"
      %h1.text-h1.mb-12= t('.header.title')
      %p.text-p-2xlarge= t('.header.description')
