.lg-container
  %h1.text-h1.mb-16= t('.editing_community_video')
  = render "form", community_video: @community_video
  %br/
  %div
    = link_to t('.show_this_community_video'), [:admin, @community_video]
    |
    = link_to t('.back_to_community_videos'), admin_community_videos_path
