<p style="color: green"><%= notice %></p>

<h1>Community videos</h1>

<div id="community_videos">
  <% @community_videos.each do |community_video| %>
    <%= render community_video %>
    <p>
      <%= link_to "Show this community video", [:admin, community_video] %>
    </p>
  <% end %>
</div>

<%= link_to "New community video", new_admin_community_video_path %>
