%p Welcome to Exercism!
%p
  To check you're a real person and not a bot, we need to confirm this is a real email address.
  Click the button below to confirm your account and start using Exercism.
= email_button_to 'Confirm your account', confirmation_url(@resource, confirmation_token: @token)

