Welcome to Exercism!
\
To check you're a real person and not a bot, we need to confirm this is a real email address.
Visit the URL below to confirm your account and start using Exercism.
\
= confirmation_url(@resource, confirmation_token: @token)
