= t('.body_markdown', user_handle: @user.handle, unconfirmed_email: @resource.try(:unconfirmed_email?), resource_unconfirmed_email: @resource.unconfirmed_email, resource_email: @resource.email).html_safe
