%p Hey @#{@user.handle},
- if @resource.try(:unconfirmed_email?)
  %p
    We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email}.
    You'll get a confirmation email to your new address to complete the process.
  %p
    If you haven't started this process, please email us at #{link_to 'support@exercism.io', 'mailto:support@exercism.io'} immediately.
- else
  %p
    We're contacting you to notify you that your email has been changed to #{@resource.email}.
