%p Hey @#{@user.handle},
%p We're contacting you to notify you that your password has been changed.
%p If you didn't do this, please email us at #{link_to 'support@exercism.io', 'mailto:support@exercism.io'} immediately.

