body,
.--jiki-faux-body {
    aspect-ratio: 1;
    overflow: hidden;

    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
