main {
    margin: 15px;
    background: #e1ebff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 15px;
    gap: 10px;

    img.journey {
        height: 25px;
    }
    div {
        flex-grow: 1;
        color: #2e57e8;
        font-size: 16px;
        strong {
            font-weight: 600;
        }
    }
    img.chevron {
        height: 15px;
    }
}
