body,
.--jiki-faux-body {
    overflow: hidden;
    font-family: ui-serif, system-ui, serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;

    background: #132f44;

    display: grid;
    place-content: center;
}
