.bubbles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;

    .bubble {
        font-size: 15px;
        background: white;
        color: #333;
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        img {
            width: 16px;
            height: 16px;
        }

        strong {
            font-weight: 600;
        }
    }
}
