%section.hello-world
  = graphical_icon "hello-world", category: "graphics"
  .content
    %h3
      = t('.introduce_yourself_html', track_title: track.title).html_safe
    %p= t('.familiarize_yourself')
    = link_to t('.go_to_hello_world_exercise_link'), track_exercise_path(track, "hello-world"), class: 'btn-primary btn-m'
