%section.hello-world
  = graphical_icon "hello-world", category: "graphics"
  .content
    %h3
      = t('.hello_world_heading', track_title: track.title)
    %p= t('.hello_world_text')
    = link_to t('.hello_world_button'), track_exercise_path(track, "hello-world"), class: 'btn-primary btn-m'
