%section.live-section
  %h3.text-h4.mb-8 Now on the C# track

  .flex.items-start
    = image_tag "team/jeremy-walker.jpg", class: 'w-[36px] h-[36px] rounded-circle mr-12 mt-4'
    .flex.flex-col
      .text-16.leading-140.mb-4
        = link_to "@iHiD", "#", class: 'text-linkColor font-semibold'
        published a
        = link_to "new solution", "#", class: 'text-linkColor font-semibold'
        to Some Really Long Exercise Name.
      .text-14.text-textColor7
        25 minutes ago
