%section.updates-section
  %h2 What's going on with #{track.title}
  %hr.c-divider

  = render ReactComponents::Common::SiteUpdatesList.new(updates, :update)

  -# TODO
    = render ViewComponents::ProminentLink.new("See all #{track.title} updates", "#")

