-# TODO: This can be cached against track.updated_at and track.num_contributors
%article.updates-article
  .lg-container
    %header
      = graphical_icon(:updates, hex: true, css_class: "graphical-icon")

  .lg-container.container
    = render "tracks/show/updates_section", track: track, updates: updates
    = render "tracks/show/contributors_section", track: track, contributors: track.top_contributors, num_contributors: track.num_contributors
