%h1= @track.title
- if @user_track
  You have joined this track
- else
  = button_to "Join Track", join_track_path(@track), method: :post

=link_to "Concepts", concepts_track_path(@track)
=link_to "Exercises", exercises_track_path(@track)
