*,
::before,
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
    line-height: 1.4;
    font-family: ui-serif, system-ui, serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol, Noto Color Emoji;
}

p {
    margin: 0;
}
