.card {
    margin: 20px;
    padding: 25px;
    border: 2px solid #e3caa5;
    border-radius: 10px;
    color: #4b3f2f;
    background-image: url("/bootcamp/images/lemons.jpg");
    background-size: cover;
    background-position: top right;
    font-size: 16px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ingredients {
    margin: 0 0 10px 0;
    padding-left: 20px;
}

.ingredients li {
    margin-bottom: 5px;
    list-style-type: "🍯 ";
}

.instructions {
    margin-right: 90px;
    margin-bottom: 10px;
}

.note {
    font-size: 14px;
    font-style: italic;
    color: #777;
}
