#page-settings-api.page-settings
  .lg-container
    = render ViewComponents::SettingsNav.new(:api)

    %article
      %h1 API &amp; CLI Settings

      %section
        = render ReactComponents::Settings::TokenForm.new
