@import "../styles";

.c-combo-button {
    @apply btn-small-cta;

    @apply flex items-stretch;
    @apply p-0;

    & .--editor-segment {
        @apply flex items-center;
        @apply font-semibold;
        @apply px-16;
        @apply border-r-1 border-borderColor3;
    }
    & .--dropdown-segment {
        @apply grid place-items-center px-12;
        & .c-icon {
            height: 13px;
            width: 13px;
            color: #cbc9d9;
        }
    }
}
