.c-concept-icon {
    width: 24px;
    height: 24px;

    @apply flex items-end;
    @apply border-1 border-borderColor1;
    @apply text-textColor2;
    vertical-align: bottom;
    line-height: 0.9;

    &.c--small {
        width: 24px;
        height: 24px;
        padding: 3px;

        font-size: 11px;
        @apply font-semibold;
    }

    &.c--medium {
        width: 32px;
        height: 32px;
        padding: 4px;

        @apply text-14 font-semibold;
    }

    &.c--base {
        width: 40px;
        height: 40px;
        padding: 5px;

        @apply border-2 border-textColor2;
        @apply text-16 font-semibold;
    }

    &.c--large {
        width: 48px;
        height: 48px;
        padding: 6px;

        @apply border-2 border-textColor2;
        @apply text-16 font-semibold;
    }

    &.c--huge {
        width: 96px;
        height: 96px;
        font-size: 42px;
        @apply border-4 border-textColor2;
        @apply font-bold flex p-8;
    }
}
