@import "../styles";

.c-react-wrapper-common-copy-to-clipboard-button {
    min-height: 58px;
}
.c-copy-text-to-clipboard {
    @apply border-1 border-borderColor4 rounded-5;
    @apply py-12 px-20 bg-backgroundColorA text-left;
    @apply font-mono font-normal text-14 text-textColor3;

    @apply flex items-center w-100;

    & .text {
        @apply flex-grow;
        @apply truncate;
    }
    & .c-icon {
        height: 24px;
        width: 24px;
        @apply ml-16;
    }
}
