@import "../styles";

.c-react-wrapper-common-copy-to-clipboard-button {
    min-height: 58px;
}
.c-copy-text-to-clipboard {
    @apply border-1 border-borderColor4 rounded-5;
    @apply py-16 px-20 bg-backgroundColorA text-left;
    @apply font-mono font-normal text-14;

    @apply flex items-center;

    & .text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .c-icon {
        height: 24px;
        width: 24px;
        @apply ml-16;
    }
}
