.c-details {
    & > summary {
        @apply cursor-pointer;
        @apply select-none;
        list-style-type: none;
        &::marker,
        &::-webkit-details-marker {
            @apply hidden;
        }

        & .--summary-inner {
            & > .c-icon.--closed-icon,
            & > .c-icon.--open-icon {
                height: 12px;
                width: 12px;
                @apply ml-16 filter-textColor6;
            }
        }
    }

    &[open] {
        & > summary {
            & .--closed-icon {
                @apply hidden !important;
            }
        }
    }

    &:not([open]) {
        & > summary {
            & .--open-icon {
                @apply hidden !important;
            }
        }
    }
}
