@import "../components/tag";
.c-difficulty-tag {
    @apply c-tag;

    & .icon {
        height: 8px;
        width: 8px;
        @apply mr-8;
        border-radius: 1px;
    }
    &.--easy {
        & .icon {
            @apply bg-easy;
        }
        @apply text-easy border-easy;
        background: var(--backgroundColorEasyTag);
    }
    &.--medium {
        & .icon {
            @apply bg-medium;
        }
        @apply text-medium border-medium;
        background: var(--backgroundColorMediumTag);
    }
    &.--hard {
        & .icon {
            @apply bg-hard;
        }
        @apply text-hard border-hard;
        background: var(--backgroundColorMediumTag);
    }
}
