/*
 * Based on Diff to HTML (diff2html.css)
 * Author: rtfpessoa
 */

.c-diff {
    @apply py-12;
    & .d2h-diff-table {
        @apply font-mono leading-160;
        @apply w-100;
    }

    & .d2h-files-diff {
        display: block;
        width: 100%;
    }

    & .d2h-code-linenumber {
        @apply text-textColor6;
        text-align: right;
        cursor: pointer;
        @apply flex items-center;

        & .line-num1,
        & .line-num2 {
            @apply py-0 px-12;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.d2h-ins {
            background: rgba(79, 205, 144, 0.4);
        }

        &.d2h-del {
            /* TODO background color */
        }

        /* Adds a null char for if there is no content */
        &:after {
            content: "\200b";
        }
    }

    & .d2h-code-line {
        white-space: nowrap;
        user-select: none;
        width: 100%;
        @apply flex items-center;

        &.d2h-ins {
            background: rgba(79, 205, 144, 0.15);
        }
        &.d2h-del {
            /* TODO background color */
        }
        & .d2h-code-line-prefix {
            width: 20px;
            @apply text-center font-semibold;
        }

        & .d2h-code-line-ctn {
            word-wrap: normal;
            white-space: pre;
            user-select: text;
        }
    }

    & .d2h-code-line del,
    & .d2h-code-side-line del {
        display: inline-block;
        margin-top: -1px;
        text-decoration: none;
        background-color: #ffb6ba;
        border-radius: 0.2em;
        vertical-align: middle;
    }

    & .d2h-code-line ins,
    & .d2h-code-side-line ins {
        display: inline-block;
        margin-top: -1px;
        text-decoration: none;
        background-color: #97f295;
        border-radius: 0.2em;
        text-align: left;
        vertical-align: middle;
    }

    & .d2h-code-line-prefix {
    }

    & .d2h-code-side-linenumber {
        /* Keep the numbers fixed on line contents scroll */
        position: absolute;
        display: inline-block;
        width: 4em;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.3);
        text-align: right;
        border: solid #eeeeee;
        border-width: 0 1px 0 1px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.5em 0 0.5em;
    }

    & .d2h-code-side-linenumber:after {
        content: "\200b";
    }

    & .d2h-code-side-emptyplaceholder,
    & .d2h-emptyplaceholder {
        background-color: #f1f1f1;
        border-color: #e1e1e1;
    }

    & .d2h-code-linenumber,
    & .d2h-code-side-linenumber,
    & .d2h-code-line-prefix,
    & .d2h-emptyplaceholder {
        user-select: none;
    }

    & .d2h-code-linenumber,
    & .d2h-code-side-linenumber {
        direction: rtl;
    }

    /*
     * Changes Highlight
     */

    & .d2h-info {
        background-color: #f8fafd;
        color: rgba(0, 0, 0, 0.3);
        border-color: #d5e4f2;
    }

    & .d2h-file-diff .d2h-del.d2h-change {
        background-color: #fdf2d0;
    }

    & .d2h-file-diff .d2h-ins.d2h-change {
        background-color: #ded;
    }
}
