@import "../styles";

.c-docs-tracks-list {
    & .tracks {
        @apply lg:flex lg:flex-wrap grid md:grid-cols-4 grid-cols-2 lg:gap-x-0 gap-x-20;
        @apply items-start justify-center justify-items-center;
    }
    & .track {
        @apply px-8;
        @apply pb-56;
        width: 20%;
        @apply flex flex-col items-center;

        & .c-track-icon {
            width: 80px;
            height: 80px;
            @apply mb-12;
            filter: drop-shadow(0px 5px 2px rgba(var(--track-icon-color), 0.2));
        }
        & .title {
            @apply mb-4;
            @apply text-20 leading-140 font-mono font-bold;
            @apply truncate;
        }
        & .count {
            @apply text-16 leading-170 font-mono font-medium;
            @apply whitespace-nowrap;
        }
    }
}
