.c-donations-form {
    @apply shadow-baseZ1 rounded-8;
    @apply py-16 px-24;
    @apply flex flex-col;

    & .tabs {
        @apply flex items-center justify-center;
        @apply mb-16;
        @apply pb-12;
        @apply border-b-1 border-borderColor6;
        & .c-tab {
            line-height: 40px;
            @apply rounded-8;
        }
    }

    & .amounts {
        @apply self-center;
        @apply grid grid-cols-2 gap-16;
        @apply mb-32;
        max-width: 300px;

        & .c-faux-input {
            @apply py-0;
            input {
                max-width: 75px;
            }
        }
        & button.selected,
        & .c-faux-input.selected {
            @apply border-1 border-darkSuccessGreen;
            @apply bg-veryLightGreen;
            @apply shadow-baseZ1;
        }
        & button.selected,
        & .c-faux-input.selected input {
            @apply text-darkSuccessGreen;
            @apply font-bold;
        }
    }
    & .card-container {
        @apply rounded-8;
        @apply bg-backgroundColorC;
        @apply p-6;
        & .title {
            @apply pb-6;
            @apply text-textColor5 font-medium leading-150 text-center;
        }
        & .card-element {
            @apply bg-backgroundColorA rounded-5;
            @apply py-12 px-16;

            & button {
                @apply mt-12 w-100;
            }
            & .card-error {
                @apply mt-12 text-center;
                @apply text-darkRed font-medium;
            }
        }
    }
}
