@import "../styles";

.c-exercise-header {
    /* is it necessary? it creates a 2px top border (site header has 1px bottom-border)
    while it has a 1px bottom border
    which looks a bit disturbing
    */
    /* @apply border-t-1 border-color22; */
    @apply mb-12;

    background: var(--exercise-header-gradient);

    & .c-track-breadcrumbs {
        @apply mb-24;
    }

    & .c-react-wrapper-student-update-exercise-notice {
        min-height: 49px;

        /* Override the bottom border from the header */
        margin-top: -8px;
        @apply mb-24;
    }
    & .update-bar {
        background: var(--backgroundColorCAlert);
        @apply border-2 border-lightGold rounded-8;
        @apply py-10 px-24;
        @apply text-textColor2 text-16 leading-160 font-semibold;
        @apply flex items-center w-100;
        & .c-icon {
            height: 22px;
            width: 22px;
            filter: var(--textColor2-filter);
            @apply mr-12;
        }

        & .faux-link {
            @apply text-prominentLinkColor ml-auto;
        }
    }

    & .content {
        @apply mb-24;

        & .c-exercise-icon {
            width: 64px;
            height: 64px;
            @apply mr-12 md:mr-32;
            @screen md {
                width: 118px;
                height: 118px;
            }
        }
        & .info {
            @apply flex-grow;
        }
        & h1 {
            @apply flex items-center text-h1 mb-12;
            & > .c-icon {
                height: 32px;
                width: 32px;
                @apply ml-16;
            }
        }
        & .tags {
            @apply flex items-center;

            & .c-exercise-status-tag {
                @apply mr-12;
            }
        }
        & .decorations {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTU2IDcyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTIxIDUzLjk0NEwxMzMuMjIyIDQxLjcyMjFMMTQ1LjQ0NCA1My45NDRMMTMzLjIyMiA2Ni4xNjU4TDEyMSA1My45NDRaIiBmaWxsPSIjNTlEMkFFIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTI4Ljc3OCA1MS43MjE5TDEzOC4yMjIgNDIuMjc3N0MxMzkuNjAyIDQwLjg5NzEgMTQxLjg0MSA0MC44OTcxIDE0My4yMjIgNDIuMjc3N0wxNTIuNjY2IDUxLjcyMTlDMTU0LjA0NiA1My4xMDI1IDE1NC4wNDYgNTUuMzQxMSAxNTIuNjY2IDU2LjcyMTdMMTQzLjIyMiA2Ni4xNjU5QzE0MS44NDEgNjcuNTQ2NSAxMzkuNjAyIDY3LjU0NjUgMTM4LjIyMiA2Ni4xNjU5TDEyOC43NzggNTYuNzIxN0MxMjcuMzk3IDU1LjM0MTEgMTI3LjM5NyA1My4xMDI1IDEyOC43NzggNTEuNzIxOVpNMTMxIDUzLjk0NEMxMzAuODQ2IDU0LjA5NzQgMTMwLjg0NiA1NC4zNDYyIDEzMSA1NC40OTk2TDE0MC40NDQgNjMuOTQzN0MxNDAuNTk3IDY0LjA5NzEgMTQwLjg0NiA2NC4wOTcxIDE0MC45OTkgNjMuOTQzN0wxNTAuNDQ0IDU0LjQ5OTZDMTUwLjU5NyA1NC4zNDYyIDE1MC41OTcgNTQuMDk3NCAxNTAuNDQ0IDUzLjk0NEwxNDAuOTk5IDQ0LjQ5OTlDMTQwLjg0NiA0NC4zNDY1IDE0MC41OTcgNDQuMzQ2NSAxNDAuNDQ0IDQ0LjQ5OTlMMTMxIDUzLjk0NFoiIGZpbGw9IiMzMzM2M0YiLz4KPHBhdGggZD0iTTAgMEgxNy4yODQzVjE3LjI4NDNIMFYwWiIgZmlsbD0iI0ZBRTU0RSIvPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTcuMDcxMDQgMy45MjgyMkgyMC40MjcxQzIyLjM3OTYgMy45MjgyMiAyMy45NjI1IDUuNTExMDggMjMuOTYyNSA3LjQ2MzY1VjIwLjgxOTdDMjMuOTYyNSAyMi43NzIzIDIyLjM3OTYgMjQuMzU1MSAyMC40MjcxIDI0LjM1NTFINy4wNzEwNEM1LjExODQ4IDI0LjM1NTEgMy41MzU2MSAyMi43NzIzIDMuNTM1NjEgMjAuODE5N1Y3LjQ2MzY1QzMuNTM1NjEgNS41MTEwOSA1LjExODQ4IDMuOTI4MjIgNy4wNzEwNCAzLjkyODIyWk03LjA3MTA0IDcuMDcwODJDNi44NTQwOSA3LjA3MDgyIDYuNjc4MjEgNy4yNDY3IDYuNjc4MjEgNy40NjM2NVYyMC44MTk3QzYuNjc4MjEgMjEuMDM2NiA2Ljg1NDA5IDIxLjIxMjUgNy4wNzEwNCAyMS4yMTI1SDIwLjQyNzFDMjAuNjQ0IDIxLjIxMjUgMjAuODE5OSAyMS4wMzY2IDIwLjgxOTkgMjAuODE5N1Y3LjQ2MzY1QzIwLjgxOTkgNy4yNDY3IDIwLjY0NCA3LjA3MDgyIDIwLjQyNzEgNy4wNzA4Mkg3LjA3MTA0WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNOTUuMDg4MSAxNi41NDRDOTUuMDg4MSAxNy4zOTY3IDk0LjM5NjkgMTguMDg4IDkzLjU0NDEgMTguMDg4QzkyLjY5MTQgMTguMDg4IDkyLjAwMDEgMTcuMzk2NyA5Mi4wMDAxIDE2LjU0NEM5Mi4wMDAxIDE1LjY5MTMgOTIuNjkxNCAxNSA5My41NDQxIDE1Qzk0LjM5NjkgMTUgOTUuMDg4MSAxNS42OTEzIDk1LjA4ODEgMTYuNTQ0WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNOTUuMDg4IDIyLjEwMjVDOTUuMDg4IDIyLjk1NTIgOTQuMzk2NyAyMy42NDY1IDkzLjU0NCAyMy42NDY1QzkyLjY5MTMgMjMuNjQ2NSA5MiAyMi45NTUyIDkyIDIyLjEwMjVDOTIgMjEuMjQ5OCA5Mi42OTEzIDIwLjU1ODUgOTMuNTQ0IDIwLjU1ODVDOTQuMzk2NyAyMC41NTg1IDk1LjA4OCAyMS4yNDk4IDk1LjA4OCAyMi4xMDI1WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNOTUuMDg4IDI3LjY2MDhDOTUuMDg4IDI4LjUxMzYgOTQuMzk2NyAyOS4yMDQ4IDkzLjU0NCAyOS4yMDQ4QzkyLjY5MTMgMjkuMjA0OCA5MiAyOC41MTM2IDkyIDI3LjY2MDhDOTIgMjYuODA4MSA5Mi42OTEzIDI2LjExNjggOTMuNTQ0IDI2LjExNjhDOTQuMzk2NyAyNi4xMTY4IDk1LjA4OCAyNi44MDgxIDk1LjA4OCAyNy42NjA4WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTAwLjY0NyAxNi41NDRDMTAwLjY0NyAxNy4zOTY3IDk5Ljk1NTMgMTguMDg4IDk5LjEwMjUgMTguMDg4Qzk4LjI0OTggMTguMDg4IDk3LjU1ODUgMTcuMzk2NyA5Ny41NTg1IDE2LjU0NEM5Ny41NTg1IDE1LjY5MTMgOTguMjQ5OCAxNSA5OS4xMDI1IDE1Qzk5Ljk1NTMgMTUgMTAwLjY0NyAxNS42OTEzIDEwMC42NDcgMTYuNTQ0WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTAwLjY0NyAyMi4xMDI1QzEwMC42NDcgMjIuOTU1MiA5OS45NTUzIDIzLjY0NjUgOTkuMTAyNSAyMy42NDY1Qzk4LjI0OTggMjMuNjQ2NSA5Ny41NTg1IDIyLjk1NTIgOTcuNTU4NSAyMi4xMDI1Qzk3LjU1ODUgMjEuMjQ5OCA5OC4yNDk4IDIwLjU1ODUgOTkuMTAyNSAyMC41NTg1Qzk5Ljk1NTMgMjAuNTU4NSAxMDAuNjQ3IDIxLjI0OTggMTAwLjY0NyAyMi4xMDI1WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTAwLjY0NyAyNy42NjA4QzEwMC42NDcgMjguNTEzNiA5OS45NTUzIDI5LjIwNDggOTkuMTAyNSAyOS4yMDQ4Qzk4LjI0OTggMjkuMjA0OCA5Ny41NTg1IDI4LjUxMzYgOTcuNTU4NSAyNy42NjA4Qzk3LjU1ODUgMjYuODA4MSA5OC4yNDk4IDI2LjExNjggOTkuMTAyNSAyNi4xMTY4Qzk5Ljk1NTMgMjYuMTE2OCAxMDAuNjQ3IDI2LjgwODEgMTAwLjY0NyAyNy42NjA4WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTA2LjIwNSAxNi41NDRDMTA2LjIwNSAxNy4zOTY3IDEwNS41MTQgMTguMDg4IDEwNC42NjEgMTguMDg4QzEwMy44MDggMTguMDg4IDEwMy4xMTcgMTcuMzk2NyAxMDMuMTE3IDE2LjU0NEMxMDMuMTE3IDE1LjY5MTMgMTAzLjgwOCAxNSAxMDQuNjYxIDE1QzEwNS41MTQgMTUgMTA2LjIwNSAxNS42OTEzIDEwNi4yMDUgMTYuNTQ0WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTA2LjIwNSAyMi4xMDI1QzEwNi4yMDUgMjIuOTU1MiAxMDUuNTE0IDIzLjY0NjUgMTA0LjY2MSAyMy42NDY1QzEwMy44MDggMjMuNjQ2NSAxMDMuMTE3IDIyLjk1NTIgMTAzLjExNyAyMi4xMDI1QzEwMy4xMTcgMjEuMjQ5OCAxMDMuODA4IDIwLjU1ODUgMTA0LjY2MSAyMC41NTg1QzEwNS41MTQgMjAuNTU4NSAxMDYuMjA1IDIxLjI0OTggMTA2LjIwNSAyMi4xMDI1WiIgZmlsbD0iIzMzMzYzRiIvPgo8cGF0aCBkPSJNMTA2LjIwNSAyNy42NjA4QzEwNi4yMDUgMjguNTEzNiAxMDUuNTE0IDI5LjIwNDggMTA0LjY2MSAyOS4yMDQ4QzEwMy44MDggMjkuMjA0OCAxMDMuMTE3IDI4LjUxMzYgMTAzLjExNyAyNy42NjA4QzEwMy4xMTcgMjYuODA4MSAxMDMuODA4IDI2LjExNjggMTA0LjY2MSAyNi4xMTY4QzEwNS41MTQgMjYuMTE2OCAxMDYuMjA1IDI2LjgwODEgMTA2LjIwNSAyNy42NjA4WiIgZmlsbD0iIzMzMzYzRiIvPgo8L3N2Zz4K");
            height: 71px;
            width: 155px;
            background-size: 155px;
            @apply mr-32;
        }
        & .c-react-wrapper-track-exercise-makers-button {
            @apply lg:ml-auto;
        }
    }
    & .navbar {
        @apply flex items-center;
        @apply pb-12;

        & .tabs {
            @apply flex items-center;
            @apply flex-grow;
            @apply overflow-x-auto;

            & .c-tab {
                line-height: 40px;
            }
        }
    }
}
