@import "../components/tag";

.c-exercise-status-tag {
    @apply c-tag;

    &.--locked {
        @apply border-borderLight;
        @apply text-textColor6;
        background: var(--backgroundColorExerciseStatusTagLocked);

        &:before {
            content: "";
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAxNiAxOCI+CiAgPGRlZnMvPgogIDxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTIuNSA5YzAtLjgyODQzLjY3MTU3LTEuNSAxLjUtMS41aDhjLjgyODQgMCAxLjUuNjcxNTcgMS41IDEuNXY2YzAgLjgyODQtLjY3MTYgMS41LTEuNSAxLjVINGMtLjgyODQzIDAtMS41LS42NzE2LTEuNS0xLjVWOXoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPgogIDxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTQuNSA3LjVWNWMwLTEuOTMzIDEuNTY3LTMuNSAzLjUtMy41czMuNSAxLjU2NyAzLjUgMy41djIuNU04IDExLjVjLS4xMzgwNyAwLS4yNS4xMTE5LS4yNS4yNXMuMTExOTMuMjUuMjUuMjUuMjUtLjExMTkuMjUtLjI1Yy4wMDAxOC0uMDY2NC0uMDI2MS0uMTMtLjA3MzAzLS4xNzctLjA0NjkyLS4wNDY5LS4xMTA2MS0uMDczMi0uMTc2OTctLjA3M3YwIi8+Cjwvc3ZnPg==");
            background-size: contain;
            background-repeat: no-repeat;
            height: 16px;
            width: 16px;
            filter: var(--textColor6-filter);
            @apply mr-8;
        }
    }

    &.--wip {
        @apply border-warningBtnBorder bg-warning;
        @apply text-white;
    }
    &.--in-progress {
        border-color: var(--borderColorExerciseStatusTagInProgress);
        background: var(--backgroundColorExerciseStatusTagInProgress);
        color: var(--textColorExerciseStatusTagInProgress);
    }
    &.--available {
        @apply border-buttonBorderColor2;
        @apply bg-backgroundColorA;
    }
    &.--recommended {
        @apply border-buttonBorderColor2;
        @apply bg-backgroundColorA;
    }
    &.--completed,
    &.--published {
        @apply border-darkGreen;
        background: var(--backgroundColorConceptMastered);
        @apply text-everyoneLovesAGreen;

        &:before {
            content: "";
            background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxjaXJjbGUgY3g9IjgiIGN5PSI4IiByPSI4IiBmaWxsPSIjNTlEMkFFIi8+CjxwYXRoIGQ9Ik0xMC44NTY5IDUuMTQyNThMNy4wMjM5NyAxMC42MTc5QzYuOTIxMzggMTAuNzY1MyA2Ljc1NDE4IDEwLjg1NDQgNi41NzQ2IDEwLjg1NzRDNi4zOTUwMyAxMC44NjAzIDYuMjI0OTcgMTAuNzc2OCA2LjExNzU2IDEwLjYzMjlMNS4xNDI1OCA5LjMzMzA1IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==");
            background-size: cover;
            height: 16px;
            width: 16px;
            @apply mr-8;
        }
    }
}
