@import "../components/tag";
.c-exercise-type-tag {
    @apply c-tag;
    @apply bg-textColor1 border-textColor1 text-textColor9;

    & .c-icon {
        height: 16px;
        width: 16px;
        @apply mr-10;
        filter: var(--yellow-filter);
    }
}
