@import "../components/tag";
.c-exercise-type-tag {
    @apply c-tag;
    @apply text-textColor2;
    @apply border-borderColor6;

    & .c-icon {
        height: 16px;
        width: 16px;
        @apply mr-8;
        filter: var(--textColor6-filter);
    }
}
