.c-faces {
    @apply relative flex;
    height: 32px;

    & .face {
        &:not(:first-child) {
            margin-left: -16px;
        }
        transition: margin 0.2s ease-out;
        cursor: pointer;

        & .c-avatar,
        &.c-avatar {
            height: 32px;
            width: 32px;
        }
    }
}
