.c-faces {
    @apply relative flex;
    height: 32px;
    padding-left: 16px;

    & .face {
        margin-left: -16px;
        transition: margin 0.2s ease-out;
        cursor: pointer;

        & .c-avatar {
            height: 32px;
            width: 32px;
        }
    }

    &:hover {
        & .face {
            margin-left: 4px;
        }
    }
}
