/* Taken from https://github.com/lipis/flag-icons */

.fib,
.fi {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.fi {
    position: relative;
    display: inline-block;
}
.fi:before {
    content: " ";
}
.fi-xx {
    background-image: url("flags/4x3/xx.svg");
}
.fi-ad {
    background-image: url("flags/4x3/ad.svg");
}
.fi-ae {
    background-image: url("flags/4x3/ae.svg");
}
.fi-af {
    background-image: url("flags/4x3/af.svg");
}
.fi-ag {
    background-image: url("flags/4x3/ag.svg");
}
.fi-ai {
    background-image: url("flags/4x3/ai.svg");
}
.fi-al {
    background-image: url("flags/4x3/al.svg");
}
.fi-am {
    background-image: url("flags/4x3/am.svg");
}
.fi-ao {
    background-image: url("flags/4x3/ao.svg");
}
.fi-aq {
    background-image: url("flags/4x3/aq.svg");
}
.fi-ar {
    background-image: url("flags/4x3/ar.svg");
}
.fi-as {
    background-image: url("flags/4x3/as.svg");
}
.fi-at {
    background-image: url("flags/4x3/at.svg");
}
.fi-au {
    background-image: url("flags/4x3/au.svg");
}
.fi-aw {
    background-image: url("flags/4x3/aw.svg");
}
.fi-ax {
    background-image: url("flags/4x3/ax.svg");
}
.fi-az {
    background-image: url("flags/4x3/az.svg");
}
.fi-ba {
    background-image: url("flags/4x3/ba.svg");
}
.fi-bb {
    background-image: url("flags/4x3/bb.svg");
}
.fi-bd {
    background-image: url("flags/4x3/bd.svg");
}
.fi-be {
    background-image: url("flags/4x3/be.svg");
}
.fi-bf {
    background-image: url("flags/4x3/bf.svg");
}
.fi-bg {
    background-image: url("flags/4x3/bg.svg");
}
.fi-bh {
    background-image: url("flags/4x3/bh.svg");
}
.fi-bi {
    background-image: url("flags/4x3/bi.svg");
}
.fi-bj {
    background-image: url("flags/4x3/bj.svg");
}
.fi-bl {
    background-image: url("flags/4x3/bl.svg");
}
.fi-bm {
    background-image: url("flags/4x3/bm.svg");
}
.fi-bn {
    background-image: url("flags/4x3/bn.svg");
}
.fi-bo {
    background-image: url("flags/4x3/bo.svg");
}
.fi-bq {
    background-image: url("flags/4x3/bq.svg");
}
.fi-br {
    background-image: url("flags/4x3/br.svg");
}
.fi-bs {
    background-image: url("flags/4x3/bs.svg");
}
.fi-bt {
    background-image: url("flags/4x3/bt.svg");
}
.fi-bv {
    background-image: url("flags/4x3/bv.svg");
}
.fi-bw {
    background-image: url("flags/4x3/bw.svg");
}
.fi-by {
    background-image: url("flags/4x3/by.svg");
}
.fi-bz {
    background-image: url("flags/4x3/bz.svg");
}
.fi-ca {
    background-image: url("flags/4x3/ca.svg");
}
.fi-cc {
    background-image: url("flags/4x3/cc.svg");
}
.fi-cd {
    background-image: url("flags/4x3/cd.svg");
}
.fi-cf {
    background-image: url("flags/4x3/cf.svg");
}
.fi-cg {
    background-image: url("flags/4x3/cg.svg");
}
.fi-ch {
    background-image: url("flags/4x3/ch.svg");
}
.fi-ci {
    background-image: url("flags/4x3/ci.svg");
}
.fi-ck {
    background-image: url("flags/4x3/ck.svg");
}
.fi-cl {
    background-image: url("flags/4x3/cl.svg");
}
.fi-cm {
    background-image: url("flags/4x3/cm.svg");
}
.fi-cn {
    background-image: url("flags/4x3/cn.svg");
}
.fi-co {
    background-image: url("flags/4x3/co.svg");
}
.fi-cr {
    background-image: url("flags/4x3/cr.svg");
}
.fi-cu {
    background-image: url("flags/4x3/cu.svg");
}
.fi-cv {
    background-image: url("flags/4x3/cv.svg");
}
.fi-cw {
    background-image: url("flags/4x3/cw.svg");
}
.fi-cx {
    background-image: url("flags/4x3/cx.svg");
}
.fi-cy {
    background-image: url("flags/4x3/cy.svg");
}
.fi-cz {
    background-image: url("flags/4x3/cz.svg");
}
.fi-de {
    background-image: url("flags/4x3/de.svg");
}
.fi-dj {
    background-image: url("flags/4x3/dj.svg");
}
.fi-dk {
    background-image: url("flags/4x3/dk.svg");
}
.fi-dm {
    background-image: url("flags/4x3/dm.svg");
}
.fi-do {
    background-image: url("flags/4x3/do.svg");
}
.fi-dz {
    background-image: url("flags/4x3/dz.svg");
}
.fi-ec {
    background-image: url("flags/4x3/ec.svg");
}
.fi-ee {
    background-image: url("flags/4x3/ee.svg");
}
.fi-eg {
    background-image: url("flags/4x3/eg.svg");
}
.fi-eh {
    background-image: url("flags/4x3/eh.svg");
}
.fi-er {
    background-image: url("flags/4x3/er.svg");
}
.fi-es {
    background-image: url("flags/4x3/es.svg");
}
.fi-et {
    background-image: url("flags/4x3/et.svg");
}
.fi-fi {
    background-image: url("flags/4x3/fi.svg");
}
.fi-fj {
    background-image: url("flags/4x3/fj.svg");
}
.fi-fk {
    background-image: url("flags/4x3/fk.svg");
}
.fi-fm {
    background-image: url("flags/4x3/fm.svg");
}
.fi-fo {
    background-image: url("flags/4x3/fo.svg");
}
.fi-fr {
    background-image: url("flags/4x3/fr.svg");
}
.fi-ga {
    background-image: url("flags/4x3/ga.svg");
}
.fi-gb {
    background-image: url("flags/4x3/gb.svg");
}
.fi-gd {
    background-image: url("flags/4x3/gd.svg");
}
.fi-ge {
    background-image: url("flags/4x3/ge.svg");
}
.fi-gf {
    background-image: url("flags/4x3/gf.svg");
}
.fi-gg {
    background-image: url("flags/4x3/gg.svg");
}
.fi-gh {
    background-image: url("flags/4x3/gh.svg");
}
.fi-gi {
    background-image: url("flags/4x3/gi.svg");
}
.fi-gl {
    background-image: url("flags/4x3/gl.svg");
}
.fi-gm {
    background-image: url("flags/4x3/gm.svg");
}
.fi-gn {
    background-image: url("flags/4x3/gn.svg");
}
.fi-gp {
    background-image: url("flags/4x3/gp.svg");
}
.fi-gq {
    background-image: url("flags/4x3/gq.svg");
}
.fi-gr {
    background-image: url("flags/4x3/gr.svg");
}
.fi-gs {
    background-image: url("flags/4x3/gs.svg");
}
.fi-gt {
    background-image: url("flags/4x3/gt.svg");
}
.fi-gu {
    background-image: url("flags/4x3/gu.svg");
}
.fi-gw {
    background-image: url("flags/4x3/gw.svg");
}
.fi-gy {
    background-image: url("flags/4x3/gy.svg");
}
.fi-hk {
    background-image: url("flags/4x3/hk.svg");
}
.fi-hm {
    background-image: url("flags/4x3/hm.svg");
}
.fi-hn {
    background-image: url("flags/4x3/hn.svg");
}
.fi-hr {
    background-image: url("flags/4x3/hr.svg");
}
.fi-ht {
    background-image: url("flags/4x3/ht.svg");
}
.fi-hu {
    background-image: url("flags/4x3/hu.svg");
}
.fi-id {
    background-image: url("flags/4x3/id.svg");
}
.fi-ie {
    background-image: url("flags/4x3/ie.svg");
}
.fi-il {
    background-image: url("flags/4x3/il.svg");
}
.fi-im {
    background-image: url("flags/4x3/im.svg");
}
.fi-in {
    background-image: url("flags/4x3/in.svg");
}
.fi-io {
    background-image: url("flags/4x3/io.svg");
}
.fi-iq {
    background-image: url("flags/4x3/iq.svg");
}
.fi-ir {
    background-image: url("flags/4x3/ir.svg");
}
.fi-is {
    background-image: url("flags/4x3/is.svg");
}
.fi-it {
    background-image: url("flags/4x3/it.svg");
}
.fi-je {
    background-image: url("flags/4x3/je.svg");
}
.fi-jm {
    background-image: url("flags/4x3/jm.svg");
}
.fi-jo {
    background-image: url("flags/4x3/jo.svg");
}
.fi-jp {
    background-image: url("flags/4x3/jp.svg");
}
.fi-ke {
    background-image: url("flags/4x3/ke.svg");
}
.fi-kg {
    background-image: url("flags/4x3/kg.svg");
}
.fi-kh {
    background-image: url("flags/4x3/kh.svg");
}
.fi-ki {
    background-image: url("flags/4x3/ki.svg");
}
.fi-km {
    background-image: url("flags/4x3/km.svg");
}
.fi-kn {
    background-image: url("flags/4x3/kn.svg");
}
.fi-kp {
    background-image: url("flags/4x3/kp.svg");
}
.fi-kr {
    background-image: url("flags/4x3/kr.svg");
}
.fi-kw {
    background-image: url("flags/4x3/kw.svg");
}
.fi-ky {
    background-image: url("flags/4x3/ky.svg");
}
.fi-kz {
    background-image: url("flags/4x3/kz.svg");
}
.fi-la {
    background-image: url("flags/4x3/la.svg");
}
.fi-lb {
    background-image: url("flags/4x3/lb.svg");
}
.fi-lc {
    background-image: url("flags/4x3/lc.svg");
}
.fi-li {
    background-image: url("flags/4x3/li.svg");
}
.fi-lk {
    background-image: url("flags/4x3/lk.svg");
}
.fi-lr {
    background-image: url("flags/4x3/lr.svg");
}
.fi-ls {
    background-image: url("flags/4x3/ls.svg");
}
.fi-lt {
    background-image: url("flags/4x3/lt.svg");
}
.fi-lu {
    background-image: url("flags/4x3/lu.svg");
}
.fi-lv {
    background-image: url("flags/4x3/lv.svg");
}
.fi-ly {
    background-image: url("flags/4x3/ly.svg");
}
.fi-ma {
    background-image: url("flags/4x3/ma.svg");
}
.fi-mc {
    background-image: url("flags/4x3/mc.svg");
}
.fi-md {
    background-image: url("flags/4x3/md.svg");
}
.fi-me {
    background-image: url("flags/4x3/me.svg");
}
.fi-mf {
    background-image: url("flags/4x3/mf.svg");
}
.fi-mg {
    background-image: url("flags/4x3/mg.svg");
}
.fi-mh {
    background-image: url("flags/4x3/mh.svg");
}
.fi-mk {
    background-image: url("flags/4x3/mk.svg");
}
.fi-ml {
    background-image: url("flags/4x3/ml.svg");
}
.fi-mm {
    background-image: url("flags/4x3/mm.svg");
}
.fi-mn {
    background-image: url("flags/4x3/mn.svg");
}
.fi-mo {
    background-image: url("flags/4x3/mo.svg");
}
.fi-mp {
    background-image: url("flags/4x3/mp.svg");
}
.fi-mq {
    background-image: url("flags/4x3/mq.svg");
}
.fi-mr {
    background-image: url("flags/4x3/mr.svg");
}
.fi-ms {
    background-image: url("flags/4x3/ms.svg");
}
.fi-mt {
    background-image: url("flags/4x3/mt.svg");
}
.fi-mu {
    background-image: url("flags/4x3/mu.svg");
}
.fi-mv {
    background-image: url("flags/4x3/mv.svg");
}
.fi-mw {
    background-image: url("flags/4x3/mw.svg");
}
.fi-mx {
    background-image: url("flags/4x3/mx.svg");
}
.fi-my {
    background-image: url("flags/4x3/my.svg");
}
.fi-mz {
    background-image: url("flags/4x3/mz.svg");
}
.fi-na {
    background-image: url("flags/4x3/na.svg");
}
.fi-nc {
    background-image: url("flags/4x3/nc.svg");
}
.fi-ne {
    background-image: url("flags/4x3/ne.svg");
}
.fi-nf {
    background-image: url("flags/4x3/nf.svg");
}
.fi-ng {
    background-image: url("flags/4x3/ng.svg");
}
.fi-ni {
    background-image: url("flags/4x3/ni.svg");
}
.fi-nl {
    background-image: url("flags/4x3/nl.svg");
}
.fi-no {
    background-image: url("flags/4x3/no.svg");
}
.fi-np {
    background-image: url("flags/4x3/np.svg");
}
.fi-nr {
    background-image: url("flags/4x3/nr.svg");
}
.fi-nu {
    background-image: url("flags/4x3/nu.svg");
}
.fi-nz {
    background-image: url("flags/4x3/nz.svg");
}
.fi-om {
    background-image: url("flags/4x3/om.svg");
}
.fi-pa {
    background-image: url("flags/4x3/pa.svg");
}
.fi-pe {
    background-image: url("flags/4x3/pe.svg");
}
.fi-pf {
    background-image: url("flags/4x3/pf.svg");
}
.fi-pg {
    background-image: url("flags/4x3/pg.svg");
}
.fi-ph {
    background-image: url("flags/4x3/ph.svg");
}
.fi-pk {
    background-image: url("flags/4x3/pk.svg");
}
.fi-pl {
    background-image: url("flags/4x3/pl.svg");
}
.fi-pm {
    background-image: url("flags/4x3/pm.svg");
}
.fi-pn {
    background-image: url("flags/4x3/pn.svg");
}
.fi-pr {
    background-image: url("flags/4x3/pr.svg");
}
.fi-ps {
    background-image: url("flags/4x3/ps.svg");
}
.fi-pt {
    background-image: url("flags/4x3/pt.svg");
}
.fi-pw {
    background-image: url("flags/4x3/pw.svg");
}
.fi-py {
    background-image: url("flags/4x3/py.svg");
}
.fi-qa {
    background-image: url("flags/4x3/qa.svg");
}
.fi-re {
    background-image: url("flags/4x3/re.svg");
}
.fi-ro {
    background-image: url("flags/4x3/ro.svg");
}
.fi-rs {
    background-image: url("flags/4x3/rs.svg");
}
.fi-ru {
    background-image: url("flags/4x3/ru.svg");
}
.fi-rw {
    background-image: url("flags/4x3/rw.svg");
}
.fi-sa {
    background-image: url("flags/4x3/sa.svg");
}
.fi-sb {
    background-image: url("flags/4x3/sb.svg");
}
.fi-sc {
    background-image: url("flags/4x3/sc.svg");
}
.fi-sd {
    background-image: url("flags/4x3/sd.svg");
}
.fi-se {
    background-image: url("flags/4x3/se.svg");
}
.fi-sg {
    background-image: url("flags/4x3/sg.svg");
}
.fi-sh {
    background-image: url("flags/4x3/sh.svg");
}
.fi-si {
    background-image: url("flags/4x3/si.svg");
}
.fi-sj {
    background-image: url("flags/4x3/sj.svg");
}
.fi-sk {
    background-image: url("flags/4x3/sk.svg");
}
.fi-sl {
    background-image: url("flags/4x3/sl.svg");
}
.fi-sm {
    background-image: url("flags/4x3/sm.svg");
}
.fi-sn {
    background-image: url("flags/4x3/sn.svg");
}
.fi-so {
    background-image: url("flags/4x3/so.svg");
}
.fi-sr {
    background-image: url("flags/4x3/sr.svg");
}
.fi-ss {
    background-image: url("flags/4x3/ss.svg");
}
.fi-st {
    background-image: url("flags/4x3/st.svg");
}
.fi-sv {
    background-image: url("flags/4x3/sv.svg");
}
.fi-sx {
    background-image: url("flags/4x3/sx.svg");
}
.fi-sy {
    background-image: url("flags/4x3/sy.svg");
}
.fi-sz {
    background-image: url("flags/4x3/sz.svg");
}
.fi-tc {
    background-image: url("flags/4x3/tc.svg");
}
.fi-td {
    background-image: url("flags/4x3/td.svg");
}
.fi-tf {
    background-image: url("flags/4x3/tf.svg");
}
.fi-tg {
    background-image: url("flags/4x3/tg.svg");
}
.fi-th {
    background-image: url("flags/4x3/th.svg");
}
.fi-tj {
    background-image: url("flags/4x3/tj.svg");
}
.fi-tk {
    background-image: url("flags/4x3/tk.svg");
}
.fi-tl {
    background-image: url("flags/4x3/tl.svg");
}
.fi-tm {
    background-image: url("flags/4x3/tm.svg");
}
.fi-tn {
    background-image: url("flags/4x3/tn.svg");
}
.fi-to {
    background-image: url("flags/4x3/to.svg");
}
.fi-tr {
    background-image: url("flags/4x3/tr.svg");
}
.fi-tt {
    background-image: url("flags/4x3/tt.svg");
}
.fi-tv {
    background-image: url("flags/4x3/tv.svg");
}
.fi-tw {
    background-image: url("flags/4x3/tw.svg");
}
.fi-tz {
    background-image: url("flags/4x3/tz.svg");
}
.fi-ua {
    background-image: url("flags/4x3/ua.svg");
}
.fi-ug {
    background-image: url("flags/4x3/ug.svg");
}
.fi-um {
    background-image: url("flags/4x3/um.svg");
}
.fi-us {
    background-image: url("flags/4x3/us.svg");
}
.fi-uy {
    background-image: url("flags/4x3/uy.svg");
}
.fi-uz {
    background-image: url("flags/4x3/uz.svg");
}
.fi-va {
    background-image: url("flags/4x3/va.svg");
}
.fi-vc {
    background-image: url("flags/4x3/vc.svg");
}
.fi-ve {
    background-image: url("flags/4x3/ve.svg");
}
.fi-vg {
    background-image: url("flags/4x3/vg.svg");
}
.fi-vi {
    background-image: url("flags/4x3/vi.svg");
}
.fi-vn {
    background-image: url("flags/4x3/vn.svg");
}
.fi-vu {
    background-image: url("flags/4x3/vu.svg");
}
.fi-wf {
    background-image: url("flags/4x3/wf.svg");
}
.fi-ws {
    background-image: url("flags/4x3/ws.svg");
}
.fi-ye {
    background-image: url("flags/4x3/ye.svg");
}
.fi-yt {
    background-image: url("flags/4x3/yt.svg");
}
.fi-za {
    background-image: url("flags/4x3/za.svg");
}
.fi-zm {
    background-image: url("flags/4x3/zm.svg");
}
.fi-zw {
    background-image: url("flags/4x3/zw.svg");
}
.fi-arab {
    background-image: url("flags/4x3/arab.svg");
}
.fi-cefta {
    background-image: url("flags/4x3/cefta.svg");
}
.fi-cp {
    background-image: url("flags/4x3/cp.svg");
}
.fi-dg {
    background-image: url("flags/4x3/dg.svg");
}
.fi-eac {
    background-image: url("flags/4x3/eac.svg");
}
.fi-es-ct {
    background-image: url("flags/4x3/es-ct.svg");
}
.fi-es-ga {
    background-image: url("flags/4x3/es-ga.svg");
}
.fi-es-pv {
    background-image: url("flags/4x3/es-pv.svg");
}
.fi-eu {
    background-image: url("flags/4x3/eu.svg");
}
.fi-gb-eng {
    background-image: url("flags/4x3/gb-eng.svg");
}
.fi-gb-nir {
    background-image: url("flags/4x3/gb-nir.svg");
}
.fi-gb-sct {
    background-image: url("flags/4x3/gb-sct.svg");
}
.fi-gb-wls {
    background-image: url("flags/4x3/gb-wls.svg");
}
.fi-ic {
    background-image: url("flags/4x3/ic.svg");
}
.fi-pc {
    background-image: url("flags/4x3/pc.svg");
}
.fi-sh-ac {
    background-image: url("flags/4x3/sh-ac.svg");
}
.fi-sh-hl {
    background-image: url("flags/4x3/sh-hl.svg");
}
.fi-sh-ta {
    background-image: url("flags/4x3/sh-ta.svg");
}
.fi-un {
    background-image: url("flags/4x3/un.svg");
}
.fi-xk {
    background-image: url("flags/4x3/xk.svg");
}
