@import "../styles";

.c-heading-with-count {
    @apply flex items-center;
    & .--text {
        @apply flex items-center mr-12;
        & svg {
            height: 24px;
            width: 24px;
            @apply mr-16;
        }
    }
    & .--count {
        @apply rounded-100 px-12;
        @apply text-textColor6 text-14 font-medium;
        @apply border-borderColor4 border-1;
        line-height: 28px;
    }
}
