@import "../styles";

.c-heading-with-count {
    @apply flex items-center;
    & .--text {
        @apply flex items-center mr-16;
        & .c-icon {
            height: 24px;
            width: 24px;
            @apply mr-16;
        }
    }
    & .--count {
        @apply rounded-100 py-4 px-12;
        @apply text-textColor6 text-14 font-medium leading-170;
        @apply border-borderColor5 border-1;
    }
}
