.c-icon {
    @apply flex-shrink-0;
    @apply relative;
    & img {
        filter: var(--textColor2-filter);
    }
}

.c-icon.--hex {
    @apply flex-shrink-0;
    @apply relative;
    @apply grid place-items-center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.theme-light .c-icon.--hex,
.theme-accessibility-dark .c-icon.--hex {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+CiAgPGRlZnMvPgogIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0zNC45OTk5IDIuODg2NzRjMy4wOTQtMS43ODYzMyA2LjkwNi0xLjc4NjMyIDEwIDBsMjQuNjQxIDE0LjIyNjQ2YzMuMDk0IDEuNzg2NCA1IDUuMDg3NiA1IDguNjYwM3YyOC40NTNjMCAzLjU3MjYtMS45MDYgNi44NzM5LTUgOC42NjAybC0yNC42NDEgMTQuMjI2NWMtMy4wOTQgMS43ODY0LTYuOTA2IDEuNzg2NC0xMCAwbC0yNC42NDEtMTQuMjI2NWMtMy4wOTQwMy0xLjc4NjMtNS4wMDAwMS01LjA4NzYtNS4wMDAwMS04LjY2MDJ2LTI4LjQ1M2MwLTMuNTcyNyAxLjkwNTk5LTYuODczOSA1LjAwMDAxLTguNjYwM2wyNC42NDEtMTQuMjI2NDZ6Ii8+CiAgPHBhdGggZmlsbD0iIzEzMEI0MyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNjcuNzY1OSAyMC4zNjA4TDQzLjEyNDkgNi4xMzQzNGMtMS45MzM4LTEuMTE2NDYtNC4zMTYyLTEuMTE2NDYtNi4yNSAwTDEyLjIzMzkgMjAuMzYwOGMtMS45MzM4IDEuMTE2NS0zLjEyNTAxIDMuMTc5OC0zLjEyNTAxIDUuNDEyN3YyOC40NTNjMCAyLjIzMjkgMS4xOTEyMSA0LjI5NjIgMy4xMjUwMSA1LjQxMjZsMjQuNjQxIDE0LjIyNjVjMS45MzM4IDEuMTE2NSA0LjMxNjIgMS4xMTY1IDYuMjUgMGwyNC42NDEtMTQuMjI2NGMxLjkzMzgtMS4xMTY1IDMuMTI1LTMuMTc5OCAzLjEyNS01LjQxMjd2LTI4LjQ1M2MwLTIuMjMyOS0xLjE5MTItNC4yOTYyLTMuMTI1LTUuNDEyN3pNNDQuOTk5OSAyLjg4Njc0Yy0zLjA5NC0xLjc4NjMyLTYuOTA2LTEuNzg2MzMtMTAgMEwxMC4zNTg5IDE3LjExMzJjLTMuMDk0MDIgMS43ODY0LTUuMDAwMDEgNS4wODc2LTUuMDAwMDEgOC42NjAzdjI4LjQ1M2MwIDMuNTcyNiAxLjkwNTk5IDYuODczOSA1LjAwMDAxIDguNjYwMmwyNC42NDEgMTQuMjI2NWMzLjA5NCAxLjc4NjQgNi45MDYgMS43ODY0IDEwIDBsMjQuNjQxLTE0LjIyNjVjMy4wOTQtMS43ODYzIDUtNS4wODc2IDUtOC42NjAydi0yOC40NTNjMC0zLjU3MjctMS45MDYtNi44NzM5LTUtOC42NjAzTDQ0Ljk5OTkgMi44ODY3NHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4K");

    & img,
    & svg {
        width: 45%;
        height: 45%;
    }
}
.theme-dark .c-icon.--hex {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNDkiIHZpZXdCb3g9IjAgMCA0OSA0OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjI5MDUgMi4xMzk4QzIzLjEzMTEgMS4wNzcxIDI1LjM5ODkgMS4wNzcxIDI3LjIzOTYgMi4xMzk4TDQxLjg5ODggMTAuNjAzM0M0My43Mzk1IDExLjY2NiA0NC44NzM0IDEzLjYzIDQ0Ljg3MzQgMTUuNzU1NFYzMi42ODI0QzQ0Ljg3MzQgMzQuODA3OCA0My43Mzk1IDM2Ljc3MTggNDEuODk4OCAzNy44MzQ1TDI3LjIzOTYgNDYuMjk4QzI1LjM5ODkgNDcuMzYwNyAyMy4xMzExIDQ3LjM2MDcgMjEuMjkwNSA0Ni4yOThMNi42MzEyNCAzNy44MzQ1QzQuNzkwNTggMzYuNzcxOCAzLjY1NjY4IDM0LjgwNzggMy42NTY2OCAzMi42ODI0VjE1Ljc1NTRDMy42NTY2OCAxMy42MyA0Ljc5MDU4IDExLjY2NiA2LjYzMTI0IDEwLjYwMzNMMjEuMjkwNSAyLjEzOThaIiBmaWxsPSIjMTkxNTI1Ii8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNDAuNzgzMyAxMi41MzUzTDI2LjEyNDEgNC4wNzE4NEMyNC45NzM3IDMuNDA3NjQgMjMuNTU2MyAzLjQwNzY0IDIyLjQwNTkgNC4wNzE4M0w3Ljc0NjcgMTIuNTM1M0M2LjU5NjI5IDEzLjE5OTUgNS44ODc2IDE0LjQyNyA1Ljg4NzYgMTUuNzU1NFYzMi42ODI0QzUuODg3NiAzNC4wMTA4IDYuNTk2MjkgMzUuMjM4MyA3Ljc0NjcgMzUuOTAyNUwyMi40MDU5IDQ0LjM2NkMyMy41NTYzIDQ1LjAzMDIgMjQuOTczNyA0NS4wMzAyIDI2LjEyNDEgNDQuMzY2TDQwLjc4MzMgMzUuOTAyNUM0MS45MzM4IDM1LjIzODMgNDIuNjQyNCAzNC4wMTA4IDQyLjY0MjQgMzIuNjgyNFYxNS43NTU0QzQyLjY0MjQgMTQuNDI3IDQxLjkzMzggMTMuMTk5NSA0MC43ODMzIDEyLjUzNTNaTTI3LjIzOTYgMi4xMzk4QzI1LjM5ODkgMS4wNzcxIDIzLjEzMTEgMS4wNzcxIDIxLjI5MDUgMi4xMzk4TDYuNjMxMjQgMTAuNjAzM0M0Ljc5MDU4IDExLjY2NiAzLjY1NjY4IDEzLjYzIDMuNjU2NjggMTUuNzU1NFYzMi42ODI0QzMuNjU2NjggMzQuODA3OCA0Ljc5MDU4IDM2Ljc3MTggNi42MzEyNCAzNy44MzQ1TDIxLjI5MDUgNDYuMjk4QzIzLjEzMTEgNDcuMzYwNyAyNS4zOTg5IDQ3LjM2MDcgMjcuMjM5NiA0Ni4yOThMNDEuODk4OCAzNy44MzQ1QzQzLjczOTUgMzYuNzcxOCA0NC44NzM0IDM0LjgwNzggNDQuODczNCAzMi42ODI0VjE1Ljc1NTRDNDQuODczNCAxMy42MyA0My43Mzk1IDExLjY2NiA0MS44OTg4IDEwLjYwMzNMMjcuMjM5NiAyLjEzOThaIiBmaWxsPSIjMTkxNTI1Ii8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzkuNTk1IDE0LjA4TDI1LjM4MDUgNS44NzMzMUMyNC42OTAyIDUuNDc0NzkgMjMuODM5OCA1LjQ3NDc5IDIzLjE0OTYgNS44NzMzMUw4LjkzNTEgMTQuMDhDOC4yNDQ4NSAxNC40Nzg2IDcuODE5NjQgMTUuMjE1IDcuODE5NjQgMTYuMDEyMVYzMi40MjU1QzcuODE5NjQgMzMuMjIyNiA4LjI0NDg1IDMzLjk1OSA4LjkzNTEgMzQuMzU3NkwyMy4xNDk2IDQyLjU2NDNDMjMuODM5OCA0Mi45NjI4IDI0LjY5MDIgNDIuOTYyOCAyNS4zODA1IDQyLjU2NDNMMzkuNTk1IDM0LjM1NzZDNDAuMjg1MiAzMy45NTkgNDAuNzEwNCAzMy4yMjI2IDQwLjcxMDQgMzIuNDI1NVYxNi4wMTIxQzQwLjcxMDQgMTUuMjE1IDQwLjI4NTIgMTQuNDc4NiAzOS41OTUgMTQuMDhaTTI2LjQ5NTkgMy45NDEyOEMyNS4xMTU0IDMuMTQ0MjUgMjMuNDE0NiAzLjE0NDI1IDIyLjAzNDEgMy45NDEyOEw3LjgxOTY0IDEyLjE0OEM2LjQzOTE0IDEyLjk0NSA1LjU4ODcyIDE0LjQxOCA1LjU4ODcyIDE2LjAxMjFWMzIuNDI1NUM1LjU4ODcyIDM0LjAxOTYgNi40MzkxNCAzNS40OTI2IDcuODE5NjQgMzYuMjg5NkwyMi4wMzQxIDQ0LjQ5NjNDMjMuNDE0NiA0NS4yOTMzIDI1LjExNTQgNDUuMjkzMyAyNi40OTU5IDQ0LjQ5NjNMNDAuNzEwNCAzNi4yODk2QzQyLjA5MDkgMzUuNDkyNiA0Mi45NDEzIDM0LjAxOTYgNDIuOTQxMyAzMi40MjU1VjE2LjAxMjFDNDIuOTQxMyAxNC40MTggNDIuMDkwOSAxMi45NDUgNDAuNzEwNCAxMi4xNDhMMjYuNDk1OSAzLjk0MTI4WiIgZmlsbD0iIzNGM0E1QSIvPgo8L3N2Zz4K");

    & img,
    & svg {
        width: 37%;
        height: 37%;
    }
}

@media (prefers-color-scheme: light) {
    .theme-system .c-icon.--hex {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCA4MCA4MCI+CiAgPGRlZnMvPgogIDxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0zNC45OTk5IDIuODg2NzRjMy4wOTQtMS43ODYzMyA2LjkwNi0xLjc4NjMyIDEwIDBsMjQuNjQxIDE0LjIyNjQ2YzMuMDk0IDEuNzg2NCA1IDUuMDg3NiA1IDguNjYwM3YyOC40NTNjMCAzLjU3MjYtMS45MDYgNi44NzM5LTUgOC42NjAybC0yNC42NDEgMTQuMjI2NWMtMy4wOTQgMS43ODY0LTYuOTA2IDEuNzg2NC0xMCAwbC0yNC42NDEtMTQuMjI2NWMtMy4wOTQwMy0xLjc4NjMtNS4wMDAwMS01LjA4NzYtNS4wMDAwMS04LjY2MDJ2LTI4LjQ1M2MwLTMuNTcyNyAxLjkwNTk5LTYuODczOSA1LjAwMDAxLTguNjYwM2wyNC42NDEtMTQuMjI2NDZ6Ii8+CiAgPHBhdGggZmlsbD0iIzEzMEI0MyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNjcuNzY1OSAyMC4zNjA4TDQzLjEyNDkgNi4xMzQzNGMtMS45MzM4LTEuMTE2NDYtNC4zMTYyLTEuMTE2NDYtNi4yNSAwTDEyLjIzMzkgMjAuMzYwOGMtMS45MzM4IDEuMTE2NS0zLjEyNTAxIDMuMTc5OC0zLjEyNTAxIDUuNDEyN3YyOC40NTNjMCAyLjIzMjkgMS4xOTEyMSA0LjI5NjIgMy4xMjUwMSA1LjQxMjZsMjQuNjQxIDE0LjIyNjVjMS45MzM4IDEuMTE2NSA0LjMxNjIgMS4xMTY1IDYuMjUgMGwyNC42NDEtMTQuMjI2NGMxLjkzMzgtMS4xMTY1IDMuMTI1LTMuMTc5OCAzLjEyNS01LjQxMjd2LTI4LjQ1M2MwLTIuMjMyOS0xLjE5MTItNC4yOTYyLTMuMTI1LTUuNDEyN3pNNDQuOTk5OSAyLjg4Njc0Yy0zLjA5NC0xLjc4NjMyLTYuOTA2LTEuNzg2MzMtMTAgMEwxMC4zNTg5IDE3LjExMzJjLTMuMDk0MDIgMS43ODY0LTUuMDAwMDEgNS4wODc2LTUuMDAwMDEgOC42NjAzdjI4LjQ1M2MwIDMuNTcyNiAxLjkwNTk5IDYuODczOSA1LjAwMDAxIDguNjYwMmwyNC42NDEgMTQuMjI2NWMzLjA5NCAxLjc4NjQgNi45MDYgMS43ODY0IDEwIDBsMjQuNjQxLTE0LjIyNjVjMy4wOTQtMS43ODYzIDUtNS4wODc2IDUtOC42NjAydi0yOC40NTNjMC0zLjU3MjctMS45MDYtNi44NzM5LTUtOC42NjAzTDQ0Ljk5OTkgMi44ODY3NHoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4K") !important;

        & img,
        & svg {
            width: 45%;
            height: 45%;
        }
    }
}
@media (prefers-color-scheme: dark) {
    .theme-system .c-icon.--hex {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNDkiIHZpZXdCb3g9IjAgMCA0OSA0OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjI5MDUgMi4xMzk4QzIzLjEzMTEgMS4wNzcxIDI1LjM5ODkgMS4wNzcxIDI3LjIzOTYgMi4xMzk4TDQxLjg5ODggMTAuNjAzM0M0My43Mzk1IDExLjY2NiA0NC44NzM0IDEzLjYzIDQ0Ljg3MzQgMTUuNzU1NFYzMi42ODI0QzQ0Ljg3MzQgMzQuODA3OCA0My43Mzk1IDM2Ljc3MTggNDEuODk4OCAzNy44MzQ1TDI3LjIzOTYgNDYuMjk4QzI1LjM5ODkgNDcuMzYwNyAyMy4xMzExIDQ3LjM2MDcgMjEuMjkwNSA0Ni4yOThMNi42MzEyNCAzNy44MzQ1QzQuNzkwNTggMzYuNzcxOCAzLjY1NjY4IDM0LjgwNzggMy42NTY2OCAzMi42ODI0VjE1Ljc1NTRDMy42NTY2OCAxMy42MyA0Ljc5MDU4IDExLjY2NiA2LjYzMTI0IDEwLjYwMzNMMjEuMjkwNSAyLjEzOThaIiBmaWxsPSIjMTkxNTI1Ii8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNDAuNzgzMyAxMi41MzUzTDI2LjEyNDEgNC4wNzE4NEMyNC45NzM3IDMuNDA3NjQgMjMuNTU2MyAzLjQwNzY0IDIyLjQwNTkgNC4wNzE4M0w3Ljc0NjcgMTIuNTM1M0M2LjU5NjI5IDEzLjE5OTUgNS44ODc2IDE0LjQyNyA1Ljg4NzYgMTUuNzU1NFYzMi42ODI0QzUuODg3NiAzNC4wMTA4IDYuNTk2MjkgMzUuMjM4MyA3Ljc0NjcgMzUuOTAyNUwyMi40MDU5IDQ0LjM2NkMyMy41NTYzIDQ1LjAzMDIgMjQuOTczNyA0NS4wMzAyIDI2LjEyNDEgNDQuMzY2TDQwLjc4MzMgMzUuOTAyNUM0MS45MzM4IDM1LjIzODMgNDIuNjQyNCAzNC4wMTA4IDQyLjY0MjQgMzIuNjgyNFYxNS43NTU0QzQyLjY0MjQgMTQuNDI3IDQxLjkzMzggMTMuMTk5NSA0MC43ODMzIDEyLjUzNTNaTTI3LjIzOTYgMi4xMzk4QzI1LjM5ODkgMS4wNzcxIDIzLjEzMTEgMS4wNzcxIDIxLjI5MDUgMi4xMzk4TDYuNjMxMjQgMTAuNjAzM0M0Ljc5MDU4IDExLjY2NiAzLjY1NjY4IDEzLjYzIDMuNjU2NjggMTUuNzU1NFYzMi42ODI0QzMuNjU2NjggMzQuODA3OCA0Ljc5MDU4IDM2Ljc3MTggNi42MzEyNCAzNy44MzQ1TDIxLjI5MDUgNDYuMjk4QzIzLjEzMTEgNDcuMzYwNyAyNS4zOTg5IDQ3LjM2MDcgMjcuMjM5NiA0Ni4yOThMNDEuODk4OCAzNy44MzQ1QzQzLjczOTUgMzYuNzcxOCA0NC44NzM0IDM0LjgwNzggNDQuODczNCAzMi42ODI0VjE1Ljc1NTRDNDQuODczNCAxMy42MyA0My43Mzk1IDExLjY2NiA0MS44OTg4IDEwLjYwMzNMMjcuMjM5NiAyLjEzOThaIiBmaWxsPSIjMTkxNTI1Ii8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzkuNTk1IDE0LjA4TDI1LjM4MDUgNS44NzMzMUMyNC42OTAyIDUuNDc0NzkgMjMuODM5OCA1LjQ3NDc5IDIzLjE0OTYgNS44NzMzMUw4LjkzNTEgMTQuMDhDOC4yNDQ4NSAxNC40Nzg2IDcuODE5NjQgMTUuMjE1IDcuODE5NjQgMTYuMDEyMVYzMi40MjU1QzcuODE5NjQgMzMuMjIyNiA4LjI0NDg1IDMzLjk1OSA4LjkzNTEgMzQuMzU3NkwyMy4xNDk2IDQyLjU2NDNDMjMuODM5OCA0Mi45NjI4IDI0LjY5MDIgNDIuOTYyOCAyNS4zODA1IDQyLjU2NDNMMzkuNTk1IDM0LjM1NzZDNDAuMjg1MiAzMy45NTkgNDAuNzEwNCAzMy4yMjI2IDQwLjcxMDQgMzIuNDI1NVYxNi4wMTIxQzQwLjcxMDQgMTUuMjE1IDQwLjI4NTIgMTQuNDc4NiAzOS41OTUgMTQuMDhaTTI2LjQ5NTkgMy45NDEyOEMyNS4xMTU0IDMuMTQ0MjUgMjMuNDE0NiAzLjE0NDI1IDIyLjAzNDEgMy45NDEyOEw3LjgxOTY0IDEyLjE0OEM2LjQzOTE0IDEyLjk0NSA1LjU4ODcyIDE0LjQxOCA1LjU4ODcyIDE2LjAxMjFWMzIuNDI1NUM1LjU4ODcyIDM0LjAxOTYgNi40MzkxNCAzNS40OTI2IDcuODE5NjQgMzYuMjg5NkwyMi4wMzQxIDQ0LjQ5NjNDMjMuNDE0NiA0NS4yOTMzIDI1LjExNTQgNDUuMjkzMyAyNi40OTU5IDQ0LjQ5NjNMNDAuNzEwNCAzNi4yODk2QzQyLjA5MDkgMzUuNDkyNiA0Mi45NDEzIDM0LjAxOTYgNDIuOTQxMyAzMi40MjU1VjE2LjAxMjFDNDIuOTQxMyAxNC40MTggNDIuMDkwOSAxMi45NDUgNDAuNzEwNCAxMi4xNDhMMjYuNDk1OSAzLjk0MTI4WiIgZmlsbD0iIzNGM0E1QSIvPgo8L3N2Zz4K") !important;

        & img,
        & svg {
            width: 37%;
            height: 37%;
        }
    }
}

.c-track-icon {
    &.--mips {
        --track-icon-color: var(--track-color-mips);
    }
    &.--cpp {
        --track-icon-color: var(--track-color-cpp);
    }
    &.--fsharp {
        --track-icon-color: var(--track-color-fsharp);
    }
    &.--csharp {
        --track-icon-color: var(--track-color-csharp);
    }
    &.--c {
        --track-icon-color: var(--track-color-c);
    }
    &.--ruby {
        --track-icon-color: var(--track-color-ruby);
    }
    &.--kotlin {
        --track-icon-color: var(--track-color-kotlin);
    }
    &.--javascript {
        --track-icon-color: var(--track-color-javascript);
    }
    &.--bash {
        --track-icon-color: var(--track-color-bash);
    }
    &.--clojure {
        --track-icon-color: var(--track-color-clojure);
    }
    &.--coffeescript {
        --track-icon-color: var(--track-color-coffeescript);
    }
    &.--common-lisp {
        --track-icon-color: var(--track-color-common-lisp);
    }
    &.--crystal {
        --track-icon-color: var(--track-color-crystal);
    }
    &.--d {
        --track-icon-color: var(--track-color-d);
    }
    &.--dart {
        --track-icon-color: var(--track-color-dart);
    }
    &.--elm {
        --track-icon-color: var(--track-color-elm);
    }
    &.--emacs-lisp {
        --track-icon-color: var(--track-color-emacs-lisp);
    }
    &.--erlang {
        --track-icon-color: var(--track-color-erlang);
    }
    &.--f {
        --track-icon-color: var(--track-color-f);
    }
    &.--go {
        --track-icon-color: var(--track-color-go);
    }
    &.--haskell {
        --track-icon-color: var(--track-color-haskell);
    }
    &.--java {
        --track-icon-color: var(--track-color-java);
    }
    &.--julia {
        --track-icon-color: var(--track-color-julia);
    }
    &.--lua {
        --track-icon-color: var(--track-color-lua);
    }
    &.--ocaml {
        --track-icon-color: var(--track-color-ocaml);
    }
    &.--perl5 {
        --track-icon-color: var(--track-color-perl5);
    }
    &.--python {
        --track-icon-color: var(--track-color-python);
    }
    &.--elixir {
        --track-icon-color: var(--track-color-elixir);
    }
    &.--nim {
        --track-icon-color: var(--track-color-nim);
    }
    &.--clojurescript {
        --track-icon-color: var(--track-color-clojurescript);
    }
    &.--ceylon {
        --track-icon-color: var(--track-color-celyon);
    }
    &.--ballerina {
        --track-icon-color: var(--track-color-ballernia);
    }
    &.--cf {
        --track-icon-color: var(--track-color-cf);
    }
    &.--cfml {
        --track-icon-color: var(--track-color-cfml);
    }
    &.--delphi {
        --track-icon-color: var(--track-color-delphi);
    }
    &.--groovy {
        --track-icon-color: var(--track-color-groovy);
    }
    &.--haxe {
        --track-icon-color: var(--track-color-haxe);
    }
    &.--idris {
        --track-icon-color: var(--track-color-idris);
    }
    &.--lfe {
        --track-icon-color: var(--track-color-lfe);
    }
    &.--objective-c {
        --track-icon-color: var(--track-color-objective-c);
    }
    &.--raku {
        --track-icon-color: var(--track-color-raku);
    }
    &.--pharo-smalltalk {
        --track-icon-color: var(--track-color-pharo-smalltalk);
    }
    &.--php {
        --track-icon-color: var(--track-color-php);
    }
    &.--plsql {
        --track-icon-color: var(--track-color-plsql);
    }
    &.--powershell {
        --track-icon-color: var(--track-color-powershell);
    }
    &.--prolog {
        --track-icon-color: var(--track-color-prolog);
    }
    &.--purescript {
        --track-icon-color: var(--track-color-purescript);
    }
    &.--r {
        --track-icon-color: var(--track-color-r);
    }
    &.--racket {
        --track-icon-color: var(--track-color-racket);
    }
    &.--reasonml {
        --track-icon-color: var(--track-color-reasonml);
    }
    &.--rust {
        --track-icon-color: var(--track-color-rust);
    }
    &.--scala {
        --track-icon-color: var(--track-color-scala);
    }
    &.--scheme {
        --track-icon-color: var(--track-color-scheme);
    }
    &.--sml {
        --track-icon-color: var(--track-color-sml);
    }
    &.--swift {
        --track-icon-color: var(--track-color-swift);
    }
    &.--tcl {
        --track-icon-color: var(--track-color-tcl);
    }
    &.--typescript {
        --track-icon-color: var(--track-color-typescript);
    }
    &.--vimscript {
        --track-icon-color: var(--track-color-vimscript);
    }
    &.--vbnet {
        --track-icon-color: var(--track-color-vbnet);
    }
    &.--x86-64-assembly {
        --track-icon-color: var(--track-color-x86-64-assembly);
    }
    &.--gnu-apl {
        --track-icon-color: var(--track-color-gnu-apl);
    }
}
