@import "../styles";

.c-introducer {
    @apply mt-40 mb-32;
    @apply bg-randomBlue border-2 rounded-12;
    border-color: #9e00ff;
    @apply shadow-baseZ1;
    @apply py-12 px-48;
    @apply flex items-center;

    & .visual-icon {
        height: 102px;
        width: 102px;
        @apply mr-32;
    }
    & .info {
        max-width: 640px;
        & h2 {
            @apply text-h4 mb-4;
        }
        & p {
            @apply text-p-base;
        }
    }
    & .close {
        @apply ml-auto;
        @apply p-12;
        filter: var(--textColor6-filter);
        & .c-icon {
            width: 24px;
            height: 24px;
        }
    }
}
