@import "../styles";

.c-react-wrapper-common-introducer {
    min-height: 130px;
    @apply mt-8 mb-40;

    /* We get rid of this parent container when
     * things are hidden, rather than the child */
    transition: max-height 0.2s ease-in, margin 0.2s ease-in,
        opacity 0.15s ease-in;
    max-height: 160px;
    overflow: hidden;

    &.hidden {
        min-height: 0;
        max-height: 0;
        margin: 0;
        opacity: 0;
    }
}

.c-introducer {
    @apply bg-randomBlue border-2 rounded-12;
    border-color: #9e00ff;
    @apply shadow-baseZ1;
    @apply py-12 px-48;
    @apply flex items-center;

    &.--small {
        @apply py-16 px-24;

        & .visual-icon {
            height: 48px;
            width: 48px;
            @apply mr-24;
        }
        & .info {
            & h2,
            & h3 {
                @apply text-h6;
            }

            & p {
                @apply text-p-small;
            }
        }
        & .close {
            @apply pr-0;
            & .c-icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    & .visual-icon {
        height: 102px;
        width: 102px;
        @apply mr-32;
    }
    & .info {
        & h2,
        & h3 {
            @apply text-h4 mb-4;
        }
        & p {
            @apply text-p-base;
            max-width: 680px;

            & a {
                @apply text-lightBlue font-medium;
            }
        }
    }
    & .close {
        @apply ml-auto flex-shrink-0 p-12;
        filter: var(--textColor6-filter);
        & .c-icon {
            width: 24px;
            height: 24px;
        }
    }
}
