.c-iteration-pane {
    @apply flex-grow flex flex-col;
    @apply bg-backgroundColorB;

    & .tabs {
        @apply bg-backgroundColorA;
        @apply border-b-1 border-borderColor7;
        & .c-tab {
            @apply bg-backgroundColorA;
            @apply py-6 px-24;
            @apply text-14 text-textColor6 leading-paragraph;
            @apply border-r-1 border-borderColor7;
            @apply rounded-none;
            margin-bottom: -1px;
            border-bottom: 1px solid transparent;

            &.selected {
                @apply bg-backgroundColorB;
                @apply text-textColor3 font-medium;
                border-bottom-color: var(--backgroundColorA);
            }
        }
    }
    & .code {
        @apply py-16;
        & li {
            @apply flex;
            @apply text-15 font-mono leading-huge;
            & .idx {
                @apply text-center text-textColor6;
                @apply mr-20;
                width: 64px;
            }
            & .loc {
                @apply flex-grow;
                @apply pr-24;
            }

            &:hover {
                @apply bg-backgroundColorC;
                cursor: pointer;
            }
        }
    }
}
