@import "../styles";

.c-react-wrapper-track-iteration-summary {
    min-height: 48px;
    width: stretch;
    width: 100%;
    height: 100%;
}

.c-react-wrapper-track-iteration-summary-slim {
    min-height: 25px;
    width: stretch;
    width: 100%;
    height: 100%;
}
.c-iteration-summary {
    @apply flex items-center flex-grow;

    &.--slim {
        & > .--info {
            & > .--idx {
                & > h3 {
                    @apply text-15;
                }
                & > .--latest {
                    @apply hidden;
                }
            }
            & > .--details {
                @apply hidden;
            }
        }
        & > .--time {
            @apply flex;
            @apply ml-48;
            @apply text-textColor6 text-13;
        }
    }

    & > .--upload-method-icon {
        height: 24px;
        width: 24px;
        @apply text-textColor5 mr-16;
    }
    & > .--info {
        @apply flex-grow;

        & > .--idx {
            @apply flex items-center;

            & > h3 {
                @apply font-semibold text-16 leading-170;
                @apply mr-12;
            }
            & > .--dot {
                @apply mr-16 rounded-circle bg-lightBlue;
                height: 8px;
                width: 8px;
            }
            & > .--latest,
            & > .--published {
                @apply text-textColor6 font-medium;
                @apply border-1 border-borderLight rounded-5 px-8;
                font-size: 12px;
                line-height: 20px;
            }
            & > .--latest + .--published {
                @apply ml-8;
            }
        }
        & > .--details {
            @apply text-label-timestamp;
        }
    }
    & .--feedback {
        @apply border-1 border-borderColor5 rounded-5;
        @apply flex items-center;
        @apply py-4 ml-32;

        & .--count {
            @apply text-textColor3 font-bold font-mono;
            @apply flex items-center;
            @apply py-4 px-12;

            &.--essential {
                @apply text-red;
            }

            &.--actionable {
                @apply text-orange;
            }

            & .c-icon {
                height: 16px;
                width: 16px;
                @apply mr-8;
            }

            & + .--count {
                @apply border-l-1 border-borderColor5;
            }
        }
    }
    & > .--time {
        @apply hidden;
    }
}
