.c-iteration-pane {
    @apply flex-grow flex flex-col;
    @apply bg-backgroundColorB;
    .c-copy-text-to-clipboard {
        --message-top-position: 25px;
        position: static;
        @apply border-none border-l-1 rounded-none;
        @apply border-borderColor7 ml-32;
        @apply bg-transparent;
        @apply w-auto;
        @apply py-0 px-8;
        height: 36px;
        & .c-icon {
            @apply filter-textColor6;
            @apply m-0;
            height: 16px;
            width: 16px;
        }
    }
    & .tabs {
        @apply flex items-center;
        @apply bg-backgroundColorB;
        @apply border-b-1 border-borderColor7;
        @apply overflow-y-hidden overflow-x-auto;
        @apply flex-shrink-0;

        & .c-tab {
            @apply grid place-items-center;
            @apply bg-backgroundColorB;
            @apply px-16 py-8 mr-0;
            @apply text-13 text-textColor6 leading-paragraph;
            @apply border-r-1 border-borderColor7;
            @apply rounded-none;
            margin-bottom: -1px;
            @apply border-b-1;

            &.selected {
                @apply bg-backgroundColorA;
                @apply text-textColor2 font-medium;
                border-bottom: 1px solid transparent;
            }
        }
    }
    & .code {
        & code {
            @apply py-16;
        }
    }
}
