.c-iteration-pane {
    @apply flex-grow flex flex-col;
    @apply bg-backgroundColorB;

    & .tabs {
        @apply bg-backgroundColorA;
        @apply border-b-1 border-borderColor7;
        & .c-tab {
            @apply grid place-items-center;
            @apply bg-backgroundColorA;
            @apply px-16 py-8;
            @apply text-13 text-textColor6 leading-paragraph;
            @apply border-r-1 border-borderColor7;
            @apply rounded-none;
            margin-bottom: -1px;
            border-bottom: 1px solid transparent;

            &.selected {
                @apply bg-backgroundColorB;
                @apply text-textColor2 font-semibold;
                border-bottom-color: var(--backgroundColorA);
            }
        }
    }
    & .code {
        @apply overflow-auto;

        & code {
            @apply block;
            @apply py-16;
        }
        & li {
            @apply flex;
            @apply text-15 font-mono leading-huge;

            & .idx {
                @apply flex-shrink-0;
                @apply text-center text-textColor6;
                @apply select-none;
                width: 64px;
            }
            & .loc {
                @apply flex-grow;
                @apply pr-24;
            }

            &:hover {
                @apply bg-backgroundColorC;
                cursor: pointer;
            }
        }
    }
}
