.c-mentoring-session-iteration-header {
    @apply flex items-center flex-grow;

    & > .--info {
        @apply flex-grow;

        & > .--idx {
            @apply flex items-center;

            & > h3 {
                @apply font-semibold text-16 leading-170 text-textColor2;
                @apply mr-12;
            }
            & > .--dot {
                @apply mr-16 rounded-circle bg-lightBlue;
                height: 8px;
                width: 8px;
            }
            & > .--latest,
            & > .--published {
                @apply text-textColor6 font-medium;
                @apply border-1 border-borderLight rounded-5 px-8;
                font-size: 12px;
                line-height: 20px;

                @apply hidden;
                @screen md {
                    @apply block;
                }
            }
            & > .--latest + .--published {
                @apply ml-8;
            }
        }
        & > .--details {
            @apply text-14 text-textColor6 font-medium leading-160;
        }
    }
    & .--out-of-date {
        @apply flex items-center;
        @apply mr-24;
        @apply text-14 font-bold font-mono text-orange;
        & .c-icon {
            height: 16px;
            width: 16px;
            filter: var(--orange-filter);
            @apply mr-12;
        }
    }
}
