.c-modal {
    @apply fixed flex items-center justify-center z-modal;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--modalBackgroundColor);

    &.--cover {
        @apply bg-backgroundColorB items-start;
        overflow-y: auto;

        & .--modal-content {
            @apply py-48;
            width: 100%;
            min-height: 100%;
        }
    }

    &:not(.--cover) {
        & .--modal-content {
            @apply bg-backgroundColorA;
            @apply border-1 border-borderLight rounded-8;
            @apply shadow-lg;
            @apply px-32 py-16;

            max-height: 80%;
            overflow-y: auto;
        }
    }
}
