#site-header {
    --nav-backgroundColor: var(--backgroundColorB);
    --nav-highlightColor: var(--backgroundColorA);
    .nav-element {
        @apply relative;

        span {
            @apply p-24;
        }

        span,
        a {
            &:hover + .nav-element-dropdown,
            &:focus-within + .nav-element-dropdown {
                ul li {
                    &:first-child {
                        .nav-dropdown-element {
                            @apply bg-backgroundColorA;
                        }
                        .nav-dropdown-view {
                            display: inherit;
                        }
                    }
                }
            }
        }
        &:hover,
        &:focus-within {
            .nav-element-dropdown,
            .arrow {
                display: inherit;
                opacity: 1;
                visibility: visible;
            }
            .arrow {
                transform: translateX(-50%) translateY(0) rotate(45deg);
            }
            .nav-element-dropdown {
                transform: translateY(0);
            }
        }

        .nav-element-dropdown,
        .arrow {
            @apply absolute opacity-0;
            transition: all 100ms ease-in-out;
            visibility: hidden;
        }

        .arrow {
            --a-size: 15px;
            @apply -z-1;
            width: var(--a-size);
            height: var(--a-size);
            bottom: 0;
            left: 50%;
            background-color: var(--nav-backgroundColor);
            clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
            transform: translateX(-50%) translateY(-10px) rotate(45deg);
            border-radius: 3px;
            vertical-align: middle;
        }
        .nav-element-dropdown {
            --nd-height: 380px;
            --nd-width: 700px;
            --dropdown-offset: 0px;
            --nd-ul-ratio: 2 / 5;
            --nd-view-ratio: 3 / 5;
            --nd-ul-width: calc(var(--nd-width) * var(--nd-ul-ratio));
            --nd-view-width: calc(var(--nd-width) * var(--nd-view-ratio));

            height: var(--nd-height);
            width: var(--nd-width);
            left: var(--dropdown-offset);
            outline: 8px solid var(--nav-backgroundColor);
            @apply top-64 z-menu;
            transform: translateY(-10px);
            @apply bg-backgroundColorB shadow-base rounded-8;

            ul {
                @apply flex flex-col items-baseline;
                @apply mr-0;
                @apply relative;
                width: var(--nd-ul-width);

                li {
                    @apply pr-8 w-100;
                    .nav-dropdown-view {
                        @apply absolute hidden p-32 rounded-8;
                        background: var(--nav-highlightColor);
                        height: var(--nd-height);
                        top: var(--nd-height);
                        width: var(--nd-view-width);
                        transform: translate(100%, -100%);
                        right: 0;
                    }

                    &:hover,
                    &:focus-within {
                        .nav-dropdown-view {
                            display: inherit;
                        }

                        .nav-dropdown-element {
                            background: var(--nav-highlightColor);
                        }
                    }
                    .nav-dropdown-element {
                        --nd-element-icon-size: 24px;
                        @apply p-16 rounded-8 flex gap-8 items-center;
                        @apply w-100;
                        .c-icon {
                            @apply filter-textColor6;
                            height: var(--nd-element-icon-size);
                            width: var(--nd-element-icon-size);
                        }

                        h6 {
                            @apply text-14 text-textColor1 leading-160;
                        }

                        p {
                            @apply text-p-base text-13;
                            /* li-width - (padding*2+icon-size*2+gap) */
                            width: calc(var(--nd-ul-width) - 72px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
    @media (prefers-reduced-motion: reduce) {
        .nav-element-dropdown,
        .arrow {
            transition: none !important;
        }
    }
}
