.c-pagination {
    @apply flex justify-between items-center;
    @apply mt-32;

    & a,
    & button,
    & .--pagination-more {
        @apply font-medium text-14 text-textColor6 leading-160;
        @apply border-1 border-transparent;

        @apply py-8 px-8 sm:px-16;
    }
    & a,
    & button {
        @apply border-borderColor5 rounded-5;

        &.current {
            @apply border-paginationCurrentBorderColor;
            @apply bg-paginationCurrentBackgroundColor;
            @apply text-textColor2;
        }
    }

    & .--pagination-lhs,
    & .--pagination-rhs {
        @apply flex;
        flex: 1 1 0;

        & a + a,
        & button + button {
            @apply ml-12;
        }

        & button:disabled,
        & a:disabled {
            @apply bg-backgroundColorD;
            @apply text-textColor7;
            @apply border-transparent;
        }
    }

    & .--pagination-lhs {
        @apply justify-start;
    }

    & .--pagination-pages {
        @apply flex-grow justify-center;

        & button,
        & a {
            @apply mx-6;
        }
        @apply hidden md:flex;
    }
    & .--pagination-rhs {
        @apply justify-end;
    }
}
