.c-primary-reputation {
    @apply rounded-100 shadow-sm bg-backgroundColorA;
    @apply relative flex px-8 items-center justify-center;
    background: linear-gradient(180deg, #cc00ff 0%, #3300ff 100%);
    padding: 3px;

    & .--inner {
        @apply flex items-center justify-center;
        @apply text-16 leading-200 font-semibold;
        @apply flex-grow px-16 rounded-100;

        /* These shouldn't change for theme */
        color: #fbfcfe;
        background: #130b43;
    }

    & .c-icon {
        height: 24px;
        width: 24px;
        @apply mr-8;
        filter: var(--primary-reputation-filter);
    }
    &.--small {
        & .c-icon {
            height: 16px;
            width: 16px;
        }
        & .--inner {
            height: 23px;
            @apply text-13 leading-100;
            @apply px-12;
        }
    }
    &.--large {
        & .--inner {
            @apply leading-180 py-4;
        }
    }

    & .--notification {
        @apply absolute flex items-center justify-center;
        @apply rounded-circle bg-backgroundColorA;
        height: 21px;
        width: 21px;
        top: -7px;
        right: -7px;
        transform: scale(0);
        transition: transform 0.5s ease-out;

        &:after {
            @apply rounded-circle bg-red;
            content: "";
            width: 15px;
            height: 15px;
        }

        &.unseen {
            transform: scale(1);
        }
    }
}
