.c-primary-reputation {
    @apply rounded-100 shadow-sm bg-backgroundColorA;
    @apply relative flex px-8 items-center justify-center;
    background: linear-gradient(180deg, #cc00ff 0%, #3300ff 100%);
    padding: 3px;

    & .--inner {
        @apply flex items-center justify-center;
        @apply text-13 text-textColor7;
        @apply flex-grow bg-unnamed10 px-16 rounded-100;
        @apply font-semibold text-16;

        /* This shouldn't change for theme */
        color: #fff;

        line-height: 30px;
    }

    & svg {
        height: 24px;
        width: 24px;
        @apply text-gold mr-8;
    }

    & .--notification {
        @apply absolute flex items-center justify-center;
        @apply rounded-circle bg-backgroundColorA;
        height: 21px;
        width: 21px;
        top: -7px;
        right: -7px;
        transform: scale(0);
        transition: transform 0.5s ease-out;

        &:after {
            @apply rounded-circle bg-red;
            content: "";
            width: 15px;
            height: 15px;
        }

        &.unseen {
            transform: scale(1);
        }
    }
}
