.c-prominent-link {
    @apply flex items-center;
    @apply text-16 leading-170  font-semibold;
    @apply text-prominentLinkColor;

    & .c-icon {
        height: 16px;
        width: 16px;
        filter: var(--c-prominent-link-icon-filter);
        &:first-child {
            @apply mr-12;
        }
        &:last-child {
            @apply ml-12;
        }
    }

    &.--with-bg {
        @apply rounded-100 justify-center;
        @apply py-8 px-24;
        background: var(--c-prominent-link-bg);
    }
}
