@import "../styles";

.c-published-solution {
    @apply shadow-base bg-white;
    @apply px-24 py-16;

    & > .--header {
        @apply flex mb-20;

        & > .--exercise {
            @apply flex flex-grow;

            & > .c-exercise-icon {
                height: 48px;
                width: 48px;
                @apply mr-16;
            }

            & > .--info {
                @apply flex-grow;
                & > .--exercise-title {
                    @apply text-16 font-semibold leading-paragraph;
                }
                & > .--track-title {
                    @apply text-16 leading-paragraph text-textColor6;
                }
            }
            & > .--counts {
                @apply flex;
                & > .--count {
                    @apply flex items-center;
                    @apply ml-24;

                    & > .c-icon {
                        height: 21px;
                        width: 21px;
                        @apply mr-8;
                    }
                    & > .--num {
                        @apply flex-grow;
                        text-align: right;
                    }
                }
            }
        }
    }

    & > pre {
        @apply border-1 border-borderColor7 rounded-8;
        @apply py-16 px-24 mb-16;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & > footer.--footer {
        @apply flex items-center;
        @apply text-textColor6 leading-paragraph;

        & > time {
            @apply mr-24 flex-grow;
        }
        & > .locs {
            @apply flex items-center;
            & > .c-icon {
                height: 16px;
                width: 16px;
                @apply mr-8;
            }
        }
    }
}
