.c-reputation {
    @apply border-1 border-lightGray rounded-100 shadow-sm bg-backgroundColorA;

    @apply flex px-8 items-center justify-center;
    @apply text-13 text-textColor6 font-semibold;
    line-height: 28px;

    & svg {
        height: 24px;
        width: 24px;
        @apply mr-6;
    }
}
