.c-search-bar {
    @apply relative;
    @apply flex items-center;

    & > .container {
        @apply flex items-center;
    }

    & input.--search {
        &:not(:last-child) {
            @apply mr-24;
        }

        @apply rounded-5 border-2 border-transparent h-48;
        @apply pl-40 pr-12;
        @apply text-16 font-medium bg-inputBackgroundColor;

        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: 12px center;

        &:focus {
            @apply border-inputBorderColorFocus outline-none;
            @apply text-textColor2 bg-backgroundColorA;
            @apply shadow-inputSelected;
        }
        &::placeholder {
            @apply text-textColor6;
        }
    }
    & .--filter-btn,
    & .--reset-btn {
        @apply flex items-center;
        @apply px-12 h-48;
        @apply text-16 font-semibold border-2;
    }

    & .--filter-btn {
        @apply mr-40 rounded-5 px-24;
        @apply border-buttonBorderColor1;
        &:focus {
            @apply border-inputBorderColorFocus outline-none;
            @apply shadow-inputSelected;
        }
        & .c-icon {
            @apply ml-12;
            height: 18px;
            width: 18px;
            filter: var(--buttonBorderColor1-filter);
        }
    }
    & .--reset-btn {
        @apply border-transparent;
        @apply text-linkColor;
        & .c-icon {
            @apply mr-12;
            height: 18px;
            width: 18px;
            filter: var(--buttonBorderColor1-filter);
        }
    }
    & .c-select {
        & select {
            height: 48px;
            @apply py-0;
            @apply text-textColor5 font-medium;
        }
    }
}

.theme-light .c-search-bar {
    & input.--search {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6Izc2NzA5RjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjEuNXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+c2VhcmNoPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJhIiBjeD0iOS44MTMiIGN5PSI5LjgxMiIgcj0iOS4wNjMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zLjA1NiA0LjYyKSByb3RhdGUoLTIzLjAyNSkiLz48bGluZSBjbGFzcz0iYSIgeDE9IjE2LjIyMSIgeTE9IjE2LjIyIiB4Mj0iMjMuMjUiIHkyPSIyMy4yNSIvPjwvc3ZnPg==");
    }
}
.theme-dark .c-search-bar {
    & input.--search {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6I0E5QTZCRDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjEuNXB4O308L3N0eWxlPjwvZGVmcz48dGl0bGU+c2VhcmNoPC90aXRsZT48Y2lyY2xlIGNsYXNzPSJhIiBjeD0iOS44MTMiIGN5PSI5LjgxMiIgcj0iOS4wNjMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zLjA1NiA0LjYyKSByb3RhdGUoLTIzLjAyNSkiLz48bGluZSBjbGFzcz0iYSIgeDE9IjE2LjIyMSIgeTE9IjE2LjIyIiB4Mj0iMjMuMjUiIHkyPSIyMy4yNSIvPjwvc3ZnPg==");
    }
}
