.c-share-button {
    background: linear-gradient(180deg, #2200ff 0%, #9e00ff 100%);
    box-shadow: 0px 1px 0px 1px rgba(var(--shadowColorKeystroke), 0.6);
    padding: 2px;
    @apply rounded-5 shadow-xsZ1;
    height: 40px;
    @apply flex items-stretch;

    & .inner {
        @apply px-16;
        @apply bg-backgroundColorA flex items-center;
        @apply font-semibold text-textColor1;
        border-radius: 3px;
        & .c-icon {
            height: 21px;
            width: 21px;
            @apply mr-8;
        }
    }
}
