@import "../styles";

.c-single-select,
.c-multi-select {
    & > button {
        @apply flex items-center;
        @apply border-1 border-buttonBorderColor2;
        @apply shadow-xsZ1 rounded-8 bg-backgroundColorA;
        @apply w-100;
        @apply text-left;
    }
    & > .--options {
        @apply bg-backgroundColorA rounded-8 shadow-lg;
        @apply relative z-dropdown;
        @apply p-8;

        & label {
            & .row {
                @apply rounded-8;
            }
        }
    }
}

.c-single-select {
    & > button {
        @apply py-12 px-24;

        @apply text-16 leading-150 font-medium;

        & .action-icon {
            height: 16px;
            width: 16px;
            @apply ml-24 mr-0;
        }
    }
    & > .--options {
        & label.c-radio-wrapper {
            --row-selected-background-color: var(--backgroundColorD);

            & .row {
                @apply flex items-center;
                @apply py-8 pl-16;

                padding-right: 81px; /* This needs to line up with the dropdown */
                min-width: 360px;
                @apply text-16 leading-150 font-medium;

                & > .c-icon {
                    width: 24px;
                    height: 24px;
                    @apply mr-20;
                }
            }
        }
    }
}
