body.namespace-tracks.controller-exercises.action-edit,
body.namespace-mentoring.controller-discussions.action-show,
body.namespace-mentoring.controller-representations.action-new,
body.namespace-mentoring.controller-requests.action-show,
body.namespace-mentoring.controller-automation.action-edit,
body.namespace-tracks.controller-mentor_requests.action-new,
body.namespace-tracks.controller-mentor_requests.action-show,
body.namespace-tracks.controller-mentor_discussions.action-show,
body.controller-user_onboarding.action-show,
body.devise {
    & #site-header,
    & #site-footer {
        display: none !important;
    }
}

body.namespace-.controller-insiders {
    --reddot-dark: #59d2ae;
    #site-header {
        /* russianViolet is site-header background */
        @apply bg-russianViolet border-[#433F56];
        .c-icon:not(button .c-icon),
        .user-menu .c-icon {
            @apply filter-aliceBlue;
        }

        a:not(a.announcement-bar) {
            @apply text-gray;
        }

        .explore-menu {
            @apply bg-russianViolet text-aliceBlue;
            @apply shadow-none;
            .c-icon {
                @apply filter-aliceBlue;
            }
        }
        .user-menu-dropdown,
        .explore-menu-dropdown {
            box-shadow: 0px 2px 4px #0f0923;
            @apply bg-russianViolet shadow-lg rounded-8;

            .info {
                .name {
                    @apply text-aliceBlue;
                }
                .handle {
                    @apply text-gray;
                }
            }

            li.opt a {
                @apply bg-russianViolet;
                &:hover {
                    background-color: #3a3557;
                }
            }
        }
        .auth-buttons {
            a:first-child {
                @apply text-aliceBlue;
            }
            a:last-child {
                @apply bg-[#282339] text-[#9E8EFF] border-[#9E8EFF];
            }
        }
        .new-badge {
            background-image: url("icons/new-badge-dark.svg");
        }

        .c-notification {
            background: #191525;
            .--count {
                background-color: var(--reddot-dark);
                color: #191525;
            }
            .c-icon {
                @apply filter-notification-bell-dark;
            }
        }

        .--notification {
            @apply bg-russianViolet;
            &:after {
                background-color: var(--reddot-dark);
            }
        }
    }
}

#site-header {
    @apply bg-backgroundColorA border-b-1 border-borderColor7;
    @apply sticky top-0;
    @apply lg:static;

    /* This is needed to raise the menu above other components */
    @apply z-menu;

    & .announcement-bar {
        @apply block;
        @apply bg-[#7029F5] py-8;
        @apply text-aliceBlue font-semibold text-16 leading-160 text-center;
        & strong {
            @apply text-lightGold mx-4 font-semibold;
            @apply underline;
        }

        .lg-container {
            @apply flex justify-center items-center;
            .text-container {
                @apply flex sm:flex-row flex-col;
            }
            .c-icon {
                @apply sm:mr-8 mr-16;
                filter: none !important;
                height: 24px;
                width: 24px;
            }
        }
    }

    & .container {
        /* Should be py-12 when other components have been added */
        @apply flex items-center;
        height: 64px;
    }

    & .exercism-link {
        @apply mr-32 flex-shrink-0;
        @apply max-w-[45px] sm:max-w-[unset] lg:max-w-[32px] xl:max-w-[unset];
        overflow: hidden;

        & .c-icon {
            height: 35px;
            width: 194px;
        }

        @screen sm {
            & .c-icon {
                height: 24px;
                width: 133px;
            }
        }
    }

    & .docs-search {
        @apply hidden;

        @apply flex-grow;
        & input {
            @apply bg-backgroundColorA;
            @apply border-1 border-buttonBorderColor2;
            width: 100%;
            max-width: 540px;
        }
    }

    & nav.signed-in,
    & nav.signed-out {
        @apply hidden;
        @apply lg:block lg:mr-16;

        & ul {
            @apply flex items-center;
        }

        & li {
            &.selected {
                & a {
                    @apply text-textColor2;
                }
            }
        }

        & li:last-child a {
            @apply text-purple;

            & .c-icon {
                filter: var(--purple-filter);
            }
        }

        & a {
            @apply flex items-center relative;
            @apply text-16 text-textColor6 font-semibold;
            @apply whitespace-nowrap;

            & .c-icon {
                height: 16px;
                width: 16px;
            }
        }
    }
    & nav.signed-in {
        @apply flex-grow;

        & li {
            @apply mr-16;
        }
        & a {
            @apply px-8 py-8;
        }
    }

    & nav.signed-out {
        @apply mr-auto;

        & li {
            @apply mr-32;
        }
    }

    & .user-section {
        @apply flex justify-end items-center;
        @apply ml-auto;

        & .new-testimonial,
        & .new-badge {
            width: 28px;
            height: 28px;
            @apply mr-36;
            background-position: center center;
            background-repeat: no-repeat;

            @apply hidden sm:block;
        }
        & .new-testimonial {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAzMSAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi43NSAzLjc1MDAyQzguOTM5MzMgMy43NDQ1MiA1LjQyNTY4IDUuODA2OTUgMy41NzI4IDkuMTM2ODNDMS43MTk5MSAxMi40NjY3IDEuODE5NTMgMTYuNTM5NyAzLjgzMyAxOS43NzVMMC43NSAyNi4yNUw3LjIyNSAyMy4xNjdDMTEuMDExMyAyNS41MjExIDE1Ljg3MTQgMjUuMjI3NCAxOS4zNDY2IDIyLjQzNDVDMjIuODIxOSAxOS42NDE2IDI0LjE1NDQgMTQuOTU4NSAyMi42NzAxIDEwLjc1NDRDMjEuMTg1OSA2LjU1MDI4IDE3LjIwODQgMy43NDE5MiAxMi43NSAzLjc1MDAyWiIgc3Ryb2tlPSJ1cmwoI3BhaW50MF9saW5lYXIpIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTUuNzUgMTYuNUMxNS43NSAxOC4xNTY5IDE0LjQwNjkgMTkuNSAxMi43NSAxOS41QzExLjA5MzEgMTkuNSA5Ljc1IDE4LjE1NjkgOS43NSAxNi41SDE1Ljc1WiIgc3Ryb2tlPSJ1cmwoI3BhaW50MV9saW5lYXIpIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik04LjI1IDEyLjM3NUM4LjA0Mjg5IDEyLjM3NSA3Ljg3NSAxMi41NDI5IDcuODc1IDEyLjc1QzcuODc1IDEyLjk1NzEgOC4wNDI4OSAxMy4xMjUgOC4yNSAxMy4xMjVDOC40NTcxMSAxMy4xMjUgOC42MjUgMTIuOTU3MSA4LjYyNSAxMi43NUM4LjYyNSAxMi41NDI5IDguNDU3MTEgMTIuMzc1IDguMjUgMTIuMzc1IiBzdHJva2U9InVybCgjcGFpbnQyX2xpbmVhcikiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTE3LjI1IDEyLjM3NUMxNy4wNDI5IDEyLjM3NSAxNi44NzUgMTIuNTQyOSAxNi44NzUgMTIuNzVDMTYuODc1IDEyLjk1NzEgMTcuMDQyOSAxMy4xMjUgMTcuMjUgMTMuMTI1QzE3LjQ1NzEgMTMuMTI1IDE3LjYyNSAxMi45NTcxIDE3LjYyNSAxMi43NUMxNy42MjUgMTIuNTQyOSAxNy40NTcxIDEyLjM3NSAxNy4yNSAxMi4zNzUiIHN0cm9rZT0idXJsKCNwYWludDNfbGluZWFyKSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8Y2lyY2xlIGN4PSIyNCIgY3k9IjciIHI9IjUuNSIgZmlsbD0iI0VCNTc1NyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSIxMi4wMDk4IiB5MT0iMy43NSIgeDI9IjEyLjAwOTgiIHkyPSIyNi4yNSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjMjIwMEZGIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzlFMDBGRiIvPgo8L2xpbmVhckdyYWRpZW50Pgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MV9saW5lYXIiIHgxPSIxMi43NSIgeTE9IjE2LjUiIHgyPSIxMi43NSIgeTI9IjE5LjUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzIyMDBGRiIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM5RTAwRkYiLz4KPC9saW5lYXJHcmFkaWVudD4KPGxpbmVhckdyYWRpZW50IGlkPSJwYWludDJfbGluZWFyIiB4MT0iOC4zNzUiIHkxPSIxMi4zNzUiIHgyPSI4LjM3NSIgeTI9IjEzLjM3NSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgo8c3RvcCBzdG9wLWNvbG9yPSIjMjIwMEZGIi8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzlFMDBGRiIvPgo8L2xpbmVhckdyYWRpZW50Pgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50M19saW5lYXIiIHgxPSIxNy4zNzUiIHkxPSIxMi4zNzUiIHgyPSIxNy4zNzUiIHkyPSIxMy4zNzUiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iIzIyMDBGRiIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM5RTAwRkYiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K");
        }
        & .new-badge {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAzMSAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExIDQuNzMyMDVDMTEuNjE4OCA0LjM3NDc5IDEyLjM4MTIgNC4zNzQ3OSAxMyA0LjczMjA1TDIwLjM5MjMgOUMyMS4wMTExIDkuMzU3MjcgMjEuMzkyMyAxMC4wMTc1IDIxLjM5MjMgMTAuNzMyMVYxOS4yNjc5QzIxLjM5MjMgMTkuOTgyNSAyMS4wMTExIDIwLjY0MjcgMjAuMzkyMyAyMUwxMyAyNS4yNjc5QzEyLjM4MTIgMjUuNjI1MiAxMS42MTg4IDI1LjYyNTIgMTEgMjUuMjY3OUwzLjYwNzcgMjFDMi45ODg4OSAyMC42NDI3IDIuNjA3NyAxOS45ODI1IDIuNjA3NyAxOS4yNjhWMTAuNzMyMUMyLjYwNzcgMTAuMDE3NSAyLjk4ODg5IDkuMzU3MjcgMy42MDc3IDlMMTEgNC43MzIwNVoiIGZpbGw9IndoaXRlIiBzdHJva2U9InVybCgjcGFpbnQwX2xpbmVhcikiIHN0cm9rZS13aWR0aD0iMiIvPgo8Y2lyY2xlIGN4PSIyNCIgY3k9IjciIHI9IjUuNSIgZmlsbD0iI0VCNTc1NyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxkZWZzPgo8bGluZWFyR3JhZGllbnQgaWQ9InBhaW50MF9saW5lYXIiIHgxPSIxMiIgeTE9IjMiIHgyPSIxMiIgeTI9IjI3IiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyMjAwRkYiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjOUUwMEZGIi8+CjwvbGluZWFyR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg==");
        }
        & .c-notification {
            @apply ml-8 mr-48;
            box-shadow: none;
        }
        & .c-react-wrapper-dropdowns-reputation {
            @apply hidden xl:block lg:mr-48;
        }
        & .c-react-wrapper-dropdowns-dropdown {
            min-width: 74px;
        }
    }
    & .user-menu {
        @apply flex items-center;

        & .c-avatar {
            height: 42px;
            width: 42px;

            @apply mr-16;
            box-shadow: 0px 4px 16px 0px rgba(79, 114, 205, 0.3);
        }
        & .c-icon {
            height: 16px;
            width: 16px;
        }
    }
    & .user-menu-dropdown,
    & .explore-menu-dropdown {
        @apply bg-backgroundColorA shadow-lg rounded-8;
        @apply px-16 pb-20;

        & li.site-link {
            @apply xl:hidden;
        }

        & li.new {
            & a:after {
                /* text-14px + pt-6 + pb-6 */
                height: 26px;
                content: "New";
                @apply bg-[url("icons/sparkle-warning.svg")] bg-[length:12px] bg-no-repeat bg-[8px_center];
                /* most of this is copied from site_header.rb L70 */
                /* pl-24 = pl-8 + bg-size 12px + mr-4 */
                @apply ml-8 text-warning bg-lightOrange py-6 pr-8 pl-24 rounded-100 font-semibold text-[13px] flex items-center;
            }
        }

        & li.opt {
            & a {
                @apply flex;
                @apply text-textColor6 font-medium;
                @apply text-16 leading-huge;
                @apply bg-backgroundColorA;
                &:hover {
                    @apply bg-backgroundColorD;
                    @apply text-textColor5;
                }
            }
        }
    }
    & .user-menu-dropdown {
        min-width: 350px;

        & li.profile {
            & a {
                @apply flex items-center;
                @apply py-12 mb-4;

                & .c-avatar {
                    height: 42px;
                    width: 42px;

                    @apply mr-16;
                    box-shadow: 0px 4px 16px 0px rgba(79, 114, 205, 0.3);
                }
                & .info {
                    @apply flex-grow;

                    & .name {
                        @apply text-18 leading-tight font-semibold text-textColor1;
                    }
                    & .handle {
                        @apply text-16 leading-tight font-medium text-textColor6;
                    }
                }
                & .c-icon {
                    height: 16px;
                    width: 16px;
                    @apply ml-32 text-textColor6;
                }
            }
        }

        & li.opt {
            & a {
                @apply px-12 py-4;
                @apply lg:px-16 lg:py-8;
            }
        }

        & li.site-link.donate {
            @apply relative;
            &:after {
                content: "";
                @apply border-b-1 border-borderColor7;
                height: 1px;
                bottom: -8px;
                left: 0;
                right: 0;
                @apply absolute;
            }
            @apply mb-16;
        }
        & li.reputation {
            @apply mb-20 xl:hidden;
            & .c-primary-reputation {
                @apply mr-0;
            }
        }
    }
    & .auth-buttons {
        @apply flex items-center justify-end;
        @apply ml-auto;

        & a:first-child {
            @apply mr-8;
        }
    }
    & .auth-buttons a,
    & .explore-menu {
        height: 40px;
        @apply text-15 lg:text-14;
        @screen lg {
            height: 32px;
        }
    }
    & .explore-menu {
        @apply px-16 ml-20;
        @apply lg:hidden;

        & .c-icon {
            filter: var(--textColor2-filter);
        }
    }
    & .explore-menu-dropdown {
        @apply py-8;

        & li.opt {
            & a {
                @apply px-16 py-8;
            }
        }
    }

    @media screen and (max-width: 500px) {
        & .user-menu,
        & .explore-menu {
            /* This is the Popper dropdown, which doesn't have a class */
            & + * {
                position: fixed !important;
                transform: none !important;
                inset: 0px 0px 0px auto !important;
                @apply flex;
                & > ul {
                    border-radius: 0px !important;
                    @apply shadow-lgZ1 !important;
                }
            }
        }
    }
    @media screen and (max-width: 410px) {
        & .user-menu,
        & .explore-menu,
        & .auth-buttons a {
            @apply px-10 text-14;
        }
        & .user-menu,
        & .explore-menu {
            @apply ml-12;
        }
    }
    @media screen and (max-width: 340px) {
        & .exercism-link {
            @apply hidden;
        }
    }
}

body.controller-docs,
body.namespace-docs {
    @apply bg-backgroundColorA;

    & #site-header {
        @apply bg-backgroundColorE;
        @apply border-0;

        & .exercism-link {
            @apply mr-32;
        }

        & .docs-search {
            /* TODO: Readd once implemented */
            /* @apply block; */
        }
        & .signed-in,
        & .signed-out {
            @apply hidden;
        }
    }
}

body.controller-about,
body.namespace-about {
    @apply bg-backgroundColorA;

    & #site-header {
        @apply bg-backgroundColorA;
        @apply border-0;

        & .exercism-link {
            @apply mr-32;
        }

        & .signed-in,
        & .signed-out {
            @apply hidden;
        }
    }
}
