body.namespace-tracks.controller-exercises.action-edit,
body.namespace-mentoring.controller-discussions.action-show,
body.namespace-mentoring.controller-representations.action-new,
body.namespace-mentoring.controller-requests.action-show,
body.namespace-mentoring.controller-automation.action-edit,
body.namespace-tracks.controller-mentor_requests.action-new,
body.namespace-tracks.controller-mentor_requests.action-show,
body.namespace-tracks.controller-mentor_discussions.action-show,
body.controller-user_onboarding.action-show,
body.devise {
    & #site-header,
    & #site-footer {
        display: none !important;
    }
}

body:not(.namespace-.controller-insiders) {
    --exercism-link-filter: var(--textColor1-filter);
}

body.namespace-.controller-insiders {
    #site-header {
        /* russianViolet is site-header background */
        @apply bg-russianViolet border-[#433F56];
        .c-icon:not(button .c-icon),
        .user-menu .c-icon {
            @apply filter-aliceBlue;
        }

        a:not(a.announcement-bar) {
            @apply text-gray;
        }

        .announcement-bar {
            @apply bg-vividPurple;
        }

        .explore-menu {
            @apply bg-russianViolet text-aliceBlue;
            @apply shadow-none;
            .c-icon {
                @apply filter-aliceBlue;
            }
        }
        .user-menu-dropdown,
        .c-notifications-dropdown ul,
        .c-reputation-dropdown ul,
        .explore-menu-dropdown {
            box-shadow: 0px 2px 4px #0f0923;
            @apply bg-russianViolet shadow-lg rounded-8;

            .info {
                .name {
                    @apply text-aliceBlue;
                }
                .handle {
                    @apply text-gray;
                }
            }

            li.opt a,
            .notification,
            .token,
            .c-prominent-link {
                @apply bg-russianViolet;
                &:hover {
                    background-color: #3a3557;
                }
            }

            .c-prominent-link {
                color: var(--c-prominent-link-color);
                .c-icon {
                    filter: var(--c-prominent-link-icon-filter);
                }
            }

            .notification {
                .text {
                    @apply text-aliceBlue;
                }

                .created-at {
                    @apply text-gray;
                }
            }

            .c-reputation {
                @apply bg-eerieBlack text-gray border-lightGray shadow-none;
                .c-icon {
                    @apply filter-gray;
                }
            }
            .earned-on {
                @apply text-gray;
            }
            .description {
                @apply text-aliceBlue;
            }

            .notification .icon {
                @apply filter-aliceBlue;
            }
        }
        .auth-buttons {
            a:first-child {
                @apply text-aliceBlue;
            }
            a:last-child {
                @apply bg-darkBlueViolet text-blueViolet border-blueViolet;
            }
        }
        .new-badge {
            background-image: url("icons/new-badge-dark.svg");
        }
        .new-testimonial {
            background-image: url("icons/new-testimonial-dark.svg");
        }

        .c-notification {
            background: theme(colors.eerieBlack);
            box-shadow: 0px 4px 24px rgba(89, 210, 174, 0.4);

            .--count {
                @apply text-eerieBlack bg-seafoamGreen;
            }
            .c-icon {
                @apply filter-notificationBellDark;
            }
        }

        .--notification {
            @apply bg-russianViolet;
            &:after {
                @apply bg-seafoamGreen;
            }
        }
    }

    .user-menu-dropdown li.site-link.donate:after {
        @apply !border-textColor6;
    }
}

#site-header {
    @apply bg-backgroundColorA border-b-1 border-borderColor7;
    @apply sticky top-0;
    @apply lg:static;

    /* This is needed to raise the menu above other components */
    @apply z-menu;

    & .announcement-bar {
        @apply block;
        @apply py-8;
        @apply text-aliceBlue font-semibold text-16 leading-160 text-center;
        background: var(--backgroundColorAnnouncementBar);
        & strong {
            @apply text-lightGold mx-4 font-semibold;
            @apply underline;
        }

        .lg-container {
            @apply flex justify-center items-center;
            .text-container {
                @apply sm:flex flex-row;
            }
            .c-icon {
                @apply sm:block hidden mr-8;
                filter: none !important;
                height: 24px;
                width: 24px;
            }
        }
    }

    & .container {
        /* Should be py-12 when other components have been added */
        @apply flex items-center;
        height: 64px;
    }

    & .exercism-link {
        /* todo remove this */
        @apply flex items-center gap-6;
        filter: var(--exercism-link-filter);
        @apply mr-32 flex-shrink-0;
        @apply max-w-[45px] sm:max-w-[unset] lg:max-w-[32px] xl:max-w-[unset];
        overflow: hidden;

        & .c-icon {
            height: 35px;
            width: 194px;
        }

        @screen sm {
            & .c-icon {
                height: 24px;
                width: 133px;
            }
        }
    }

    & .docs-search {
        @apply hidden;

        @apply flex-grow;
        & input {
            @apply bg-backgroundColorA;
            @apply border-1 border-buttonBorderColor2;
            width: 100%;
            max-width: 540px;
        }
    }

    & nav.signed-in,
    & nav.signed-out {
        @apply hidden;
        @apply lg:block lg:mr-16;

        & ul {
            @apply flex items-center;
        }

        & li {
            &.selected {
                & a {
                    @apply text-textColor2;
                }
            }
        }

        & li:last-child a {
            color: var(--textColorLastNavElement);

            & .c-icon {
                filter: var(--purple-filter);
            }
        }

        a,
        .learn-nav {
            @apply flex items-center relative;
            @apply text-16 text-textColor6 font-semibold;
            @apply whitespace-nowrap;

            & .c-icon {
                height: 16px;
                width: 16px;
            }
        }

        .learn-nav {
            @apply relative;
            &:hover,
            .learn-nav-dropdown:hover {
                .learn-nav-dropdown {
                    display: inherit;
                }
            }
            .learn-nav-dropdown {
                @apply absolute top-32;
                @apply bg-backgroundColorB shadow-base p-8 rounded-16;
                @apply flex;

                ul {
                    @apply flex flex-col items-baseline;
                    @apply mr-0;

                    li {
                        @apply min-w-full;
                        .nav-dropdown-element {
                            @apply p-16 rounded-8;

                            &:hover {
                                @apply bg-backgroundColorA;
                            }

                            h6 {
                                @apply text-14 text-textColor1 leading-160;
                            }

                            p {
                                @apply text-p-base text-13;
                            }
                        }
                    }
                }
            }
        }
    }

    & nav.signed-in {
        @apply flex-grow;

        & li:not(.learn-nav-dropdown li) {
            @apply mr-16;
        }
        & a {
            @apply px-8 py-8;
        }
    }

    & nav.signed-out {
        @apply mr-auto;

        & li {
            @apply mr-32;
        }
    }

    & .user-section {
        @apply flex justify-end items-center;
        @apply ml-auto;

        & .new-testimonial,
        & .new-badge {
            width: 28px;
            height: 28px;
            @apply mr-36;
            background-position: center center;
            background-repeat: no-repeat;

            @apply hidden sm:block;
        }
        & .new-testimonial {
            background-image: var(--newTestimonialIcon);
        }
        & .new-badge {
            background-image: var(--newBadgeIcon);
        }
        & .c-notification {
            @apply ml-8 mr-48;
        }
        & .c-react-wrapper-dropdowns-reputation {
            @apply hidden xl:block lg:mr-48;
        }
        & .c-react-wrapper-dropdowns-dropdown {
            min-width: 74px;
        }
    }
    & .user-menu {
        @apply flex items-center;

        & .c-avatar {
            height: 42px;
            width: 42px;

            @apply mr-16;
            box-shadow: 0px 4px 16px 0px rgba(var(--shadowColorMain), 0.3);
        }
        & .c-icon {
            height: 16px;
            width: 16px;
            @apply filter-textColor6;
        }
    }
    & .user-menu-dropdown,
    & .explore-menu-dropdown {
        @apply bg-backgroundColorA shadow-lg rounded-8;
        @apply px-16 pb-20;

        & li.site-link {
            @apply xl:hidden;
        }

        & li.new {
            & a:after {
                /* text-14px + pt-6 + pb-6 */
                height: 26px;
                content: "New";
                @apply bg-[url("icons/sparkle-warning.svg")] bg-[length:12px] bg-no-repeat bg-[8px_center];
                /* most of this is copied from site_header.rb L70 */
                /* pl-24 = pl-8 + bg-size 12px + mr-4 */
                @apply ml-8 text-warning bg-lightOrange py-6 pr-8 pl-24 rounded-100 font-semibold text-[13px] flex items-center;
            }
        }

        & li.opt {
            & a {
                @apply flex;
                @apply text-textColor6 font-medium;
                @apply text-16 leading-huge;
                @apply bg-backgroundColorA;
                &:hover {
                    @apply bg-backgroundColorD;
                    @apply text-textColor5;
                }
            }
        }
    }
    & .user-menu-dropdown {
        min-width: 350px;

        & li.profile {
            & a {
                @apply flex items-center;
                @apply py-12 mb-4;

                & .c-avatar {
                    height: 42px;
                    width: 42px;

                    @apply mr-16;
                    box-shadow: 0px 4px 16px 0px
                        rgba(var(--shadowColorMain), 0.3);
                }
                & .info {
                    @apply flex-grow;

                    & .name {
                        @apply text-18 leading-tight font-semibold text-textColor1;
                    }
                    & .handle {
                        @apply text-16 leading-tight font-medium text-textColor6;
                    }
                }
                & .c-icon {
                    height: 16px;
                    width: 16px;
                    @apply ml-32 filter-textColor6;
                }
            }
        }

        & li.opt {
            & a {
                @apply px-12 py-4;
                @apply lg:px-16 lg:py-8;
            }
        }

        & li.site-link.donate {
            @apply relative;
            &:after {
                content: "";
                @apply border-b-1 border-borderColor7;
                height: 1px;
                bottom: -8px;
                left: 0;
                right: 0;
                @apply absolute;
            }
            @apply mb-16;
        }
        & li.reputation {
            @apply mb-20 xl:hidden;
            & .c-primary-reputation {
                @apply mr-0;
            }
        }
    }
    & .auth-buttons {
        @apply flex items-center justify-end;
        @apply ml-auto;

        & a:first-child {
            @apply mr-8;
        }
    }
    & .auth-buttons a,
    & .explore-menu {
        height: 40px;
        @apply text-15 lg:text-14;
        @screen lg {
            height: 32px;
        }
    }
    & .explore-menu {
        @apply px-16 ml-20;
        @apply lg:hidden;

        & .c-icon {
            filter: var(--textColor2-filter);
        }
    }
    & .explore-menu-dropdown {
        @apply py-8;

        & li.opt {
            & a {
                @apply px-16 py-8;
            }
        }
    }

    @media screen and (max-width: 500px) {
        & .user-menu,
        & .explore-menu {
            /* This is the Popper dropdown, which doesn't have a class */
            & + * {
                position: fixed !important;
                transform: none !important;
                inset: 0px 0px 0px auto !important;
                @apply flex;
                & > ul {
                    border-radius: 0px !important;
                    @apply shadow-lgZ1 !important;
                }
            }
        }
    }
    @media screen and (max-width: 410px) {
        & .user-menu,
        & .explore-menu,
        & .auth-buttons a {
            @apply px-10 text-14;
        }
        & .user-menu,
        & .explore-menu {
            @apply ml-12;
        }
    }
    @media screen and (max-width: 340px) {
        & .exercism-link {
            @apply hidden;
        }
    }
}

body.controller-docs,
body.namespace-docs {
    @apply bg-backgroundColorA;

    & #site-header {
        @apply bg-backgroundColorE;
        @apply border-0;

        & .exercism-link {
            @apply mr-32;
        }

        & .docs-search {
            /* TODO: Readd once implemented */
            /* @apply block; */
        }
        & .signed-in,
        & .signed-out {
            @apply hidden;
        }
    }
}

body.controller-about,
body.namespace-about {
    @apply bg-backgroundColorB;

    & #site-header {
        @apply bg-backgroundColorA;
        @apply border-0;

        & .exercism-link {
            @apply mr-32;
        }

        & .signed-in,
        & .signed-out {
            @apply hidden;
        }
    }
}
