.c-split-pane {
    @apply flex flex-grow items-stretch overflow-hidden;
    width: 100%;

    & > .--split-lhs {
        height: 100%;
        min-width: 10%;
    }

    & > .--split-rhs {
        height: 100%;
        min-width: 10%;
        flex: 1;
    }

    & > .--split-divider {
        cursor: col-resize;
        height: 100%;
        width: 1px;
        background: transparent;
        position: relative;
        @apply z-divider;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            @apply z-divider;
        }
        &:before {
            right: 0;
            width: 5px;
        }
        &:after {
            left: 0;
            width: 5px;
        }
    }
}
