/* This component requires you to set a line-height */
.c-tab {
    @apply flex items-center;
    @apply px-16 rounded-100;
    @apply text-16 text-textColor6 font-medium;
    @apply mr-8;

    & .count {
        @apply ml-8;
        @apply text-14 text-textColor6 font-medium;
    }
    & .c-icon {
        height: 24px;
        width: 24px;
        @apply mr-12 text-textColor6;
    }

    &.selected {
        @apply bg-tabBackgroundColorSelected text-textColor2;
        & .c-icon {
            @apply mr-12 text-tabIconColorSelected;
        }
    }
    /* This functionality stops the tab resizing when the
     * font-size changes in .selected */
    & span {
        @apply inline-flex flex-col items-center justify-between;
        &:after {
            content: attr(data-text);
            content: attr(data-text) / "";
            height: 0;
            user-select: none;
            pointer-events: none;
            @apply font-semibold invisible overflow-hidden;

            /* TODO: Does @media nesting work like this with Postcss */
            @media speech {
                display: none;
            }
        }
    }
    &.--small {
        @apply text-14 font-semibold;

        & .c-icon {
            height: 16px;
            width: 16px;
            @apply mr-12;
        }
    }
}
.light-theme .c-tab {
}
.dark-theme .c-tab {
}
