@import "../styles";

@layer base {
    .c-tag {
        @apply rounded-100;
        @apply text-14 leading-170 font-semibold;
        @apply flex items-center px-10;
        @apply px-12 py-4;
        @apply border-1;
        white-space: nowrap;

        & .c-icon {
            height: 16px;
            width: 16px;
            @apply mr-8;
            filter: var(--textColor6-filter);
        }

        &.--small {
            @apply text-13 leading-150 px-10;
        }

        &.--compact {
            @apply leading-130 py-4 px-12;
        }

        &.--practice-mode {
            @apply border-midnightBlue;
            @apply text-aliceBlue bg-textColor6NoDark;

            & .c-icon {
                filter: var(--white-filter);
            }
        }
    }
}
