@import "../styles";

.c-test-run {
    & .summary-status {
        @apply flex items-center justify-center;
        @apply pt-6 pb-8 px-8 border-t-4 mb-24;
        @apply font-bold font-mono uppercase leading-code;
        & .--dot {
            @apply rounded-circle mr-12;
            height: 8px;
            width: 8px;
        }
        &.failed,
        &.errored {
            @apply bg-lightRed text-red;
            @apply border-red;
            & .--dot {
                @apply bg-red;
            }
        }
        &.passed {
            @apply bg-veryLightGreen text-darkGreen;
            @apply border-literallySoManyGreens;
            & .--dot {
                @apply bg-darkGreen;
            }
        }
    }
    & .error-message {
        @apply px-24 pb-48;
        & h3 {
            @apply text-h6 mb-12;
        }
        & pre {
            white-space: pre-wrap;
        }
    }
    & .ops-error {
        @apply px-24 pb-48;
        & p {
            @apply text-p-base mb-12;
        }
    }
    & .v1-output {
        @apply px-24 pb-48;
        white-space: pre-wrap;
    }
    & .success-box {
        @apply flex;
        @apply shadow-base rounded-8;
        @apply py-16 px-24 mt-16 mx-32;

        & > .c-icon {
            height: 64px;
            width: 64px;
            @apply mr-16;
        }
        & h3 {
            @apply text-h5 mb-4;
        }
        & p {
            @apply text-p-small mb-16;
        }
    }
    & .tests-list {
        @apply px-32 pb-16;

        & .tests-group {
            & .tests-group-summary {
                @apply inline-block;
                & .--summary-inner {
                    @apply flex items-center;
                    @apply py-8 px-24;
                    @apply border-2 border-borderColor6 rounded-100;
                    @apply font-semibold text-14 text-textColor2;
                }
                @apply mb-12;
                & .c-icon.indicator {
                    height: 24px;
                    width: 24px;
                    @apply mr-16;
                }
            }
        }

        & .c-test-summary {
            @apply flex items-center;
            @apply font-mono;
            @apply mb-12 rounded-8;
            @apply border-1 border-borderColor6;

            &[open] {
                @apply bg-backgroundColorG;
                & .--summary {
                    @apply mb-6;
                }
            }
            &:not([open]) {
                @apply bg-backgroundColorA;
                & .--summary {
                }
            }

            & .--summary {
                & .--summary-inner {
                    @apply flex items-center;
                    @apply py-10 px-24;
                }

                & .--status {
                    @apply flex-grow-0 flex-shrink-0 mr-24 flex items-center justify-center;
                    @apply font-bold uppercase text-13 leading-huge;
                    width: 70px;
                    & .--dot {
                        height: 8px;
                        width: 8px;
                        @apply mr-12 rounded-circle;
                    }
                }
                & .--summary-details {
                    @apply flex-grow;
                    & .--summary-idx {
                        @apply font-semibold text-textColor6 leading-140;
                    }
                    & .--summary-name {
                        @apply font-body font-semibold text-15 leading-140;
                    }
                }
            }
            & .--explanation {
                @apply px-24 pb-8;

                & .--info {
                    @apply mb-16;
                    & h3 {
                        @apply font-bold text-darkGray uppercase leading-huge mb-8;
                    }
                    & pre {
                        @apply bg-backgroundColorB py-16 px-20 whitespace-pre-wrap rounded-8;
                    }
                }
            }

            &.pass {
                & summary {
                    & .--status {
                        @apply text-darkGreen;
                        & .--dot {
                            @apply bg-darkGreen;
                        }
                    }
                }
            }
            &.error,
            &.fail {
                & summary {
                    & .--status {
                        @apply text-red;
                        & .--dot {
                            @apply bg-red;
                        }
                    }
                }
            }
        }
    }
}
