.c-track-filter {
    /* Stop jumping around */
    min-width: 75px;

    & button {
        @apply flex items-center;
        & .c-track-icon {
            width: 42px;
            height: 42px;
        }
        & .action-icon {
            width: 13px;
            height: 13px;
        }
    }
}
