@import "../styles";

.c-track-switcher {
    &.--small {
        & .current-track {
            height: 48px;
            @apply py-0 px-16;

            & .c-track-icon {
                height: 32px;
                width: 32px;
            }
            & .track-title {
                @apply text-h6;
            }
        }
    }
    & .current-track {
        @apply py-12 px-24;
        @apply flex items-center;
        @apply border-1 border-buttonBorderColor2;
        @apply shadow-xsZ1 rounded-8 bg-backgroundColorA;
        @apply w-100;
        @apply text-left;

        & .c-icon,
        & .c-track-icon {
            height: 40px;
            width: 40px;
            @apply mr-16;
        }
        & .track-title {
            @apply text-h5;
            @apply flex-grow;
        }
        & .count {
            @apply text-textColor6 leading-150 font-medium;
            @apply ml-32 mr-32;
        }
        & .action-icon {
            height: 16px;
            width: 16px;
        }
    }
}
