@import "../styles";

.c-tracks-list {
    & .--search-bar {
        @apply py-12 mb-32 relative;
        @apply bg-white shadow-base;

        & > .container {
            @apply flex items-center;
        }

        & input.--search {
            max-width: 550px;
            width: 100%;

            @apply mr-24 rounded-5 bg-lightGray border-2 border-transparent h-48;
            @apply pl-40 pr-12;
            @apply text-16;

            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6Y3VycmVudENvbG9yO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6MS41cHg7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5zZWFyY2g8L3RpdGxlPjxjaXJjbGUgY2xhc3M9ImEiIGN4PSI5LjgxMyIgY3k9IjkuODEyIiByPSI5LjA2MyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMuMDU2IDQuNjIpIHJvdGF0ZSgtMjMuMDI1KSIvPjxsaW5lIGNsYXNzPSJhIiB4MT0iMTYuMjIxIiB5MT0iMTYuMjIiIHgyPSIyMy4yNSIgeTI9IjIzLjI1Ii8+PC9zdmc+");
            background-size: 18px 18px;
            background-repeat: no-repeat;
            background-position: 12px center;

            &::placeholder {
                @apply text-textLight;
            }
            &:focus {
                @apply border-darkBlue outline-none;
            }
        }
        & .--filter-btn,
        & .--reset-btn {
            @apply flex items-center;
            @apply px-12 h-48;
            @apply text-16 font-semibold border-2;
        }

        & .--filter-btn {
            @apply mr-40;
            @apply border-darkGray rounded-5;
            @apply px-24;
            &:focus {
                @apply bg-black text-white outline-none border-black;
            }
            & .c-icon {
                @apply ml-12;
                height: 18px;
                width: 18px;
            }
        }
        & .--reset-btn {
            @apply border-transparent;
            & .c-icon {
                @apply mr-12;
                height: 18px;
                width: 18px;
            }
        }
        & .--tag-option-list {
            @apply absolute left-0 right-0;
            @apply bg-white;

            top: 60px;

            box-shadow: 0px 18px 24px rgba(79, 114, 205, 0.15);

            &:focus {
                @apply outline-none;
            }

            & .container {
                @apply py-24;
            }

            & .--categories {
                @apply flex flex-row gap-spacedColumns;
            }

            & .--category {
                @apply flex flex-col gap-8;

                & h4 {
                    @apply text-14 font-semibold font-mono;
                    @apply mb-12;
                }
                & .--option {
                    & input {
                        @apply mr-8;
                    }
                }
            }
            & .--buttons {
                @apply flex gap-16 mt-spacedColumns;

                & .--apply-btn,
                & .--close-btn {
                    @apply px-24 py-12 rounded-5 border-2 leading-none;
                    @apply font-semibold;
                }

                & .--apply-btn {
                    @apply text-white bg-purple border-purple;
                }

                & .--close-btn {
                    @apply border-darkGray;
                }
            }
        }
    }
    & h2 {
        @apply text-h2;
        @apply mb-16;
    }
    & .--status-filters {
        @apply mb-24;

        & button {
            @apply py-8 px-16 rounded-100 mr-12;
            @apply text-16 font-medium;

            & .--count {
                @apply ml-8 px-8 rounded-100 border-1 border-gray;
                @apply text-13;
                line-height: 170%;
            }

            &.--selected {
                @apply bg-veryLightBlue;

                & .--count {
                    @apply text-purple border-lightPurple;
                }
            }
        }
    }
    & .--tracks {
        @apply grid gap-16;
        @screen md {
            @apply grid-cols-2;
        }
    }

    & .--track {
        @apply border-black bg-white shadow-base rounded-8;
        & .--content {
            @apply flex items-start p-24;

            & .c-track-icon {
                width: 57px;
                @apply mr-28;
            }
            & .--info {
                @apply flex-grow;

                & .--heading {
                    @apply flex items-center mb-8;
                }

                & .--title {
                    @apply mr-16;
                    @apply text-h3-mono text-black;
                }

                & .--joined {
                    @apply text-14 font-medium text-textLight;
                }

                & .--counts {
                    @apply flex gap-12 mb-12;
                    @apply font-medium text-16;
                }

                & .--tags {
                    /* This flex behaviour and max-height combo causes 
                     * the tags to wrap but to be hidden if they overflow 
                     * one line. This means we only see whole tags on 
                     * the cards but we only ever see one row. */
                    @apply flex flex-wrap overflow-hidden gap-8;
                    max-height: 32px;

                    & li {
                        @apply border-borderLight border-1 border-solid rounded-100;
                        @apply font-medium text-14 text-textLight leading-none;
                        @apply py-8 px-12;
                        @apply whitespace-no-wrap;
                    }
                }
            }
            & i {
                @apply self-center;
            }
            & .c-icon {
                height: 16px;
                width: 16px;
                @apply text-textLight self-center;
            }
        }

        & .--progress-bar {
            height: 6px;
            @apply flex flex-row;

            & > * {
                height: 100%;
            }

            & .--cp {
                @apply bg-darkBlue;
            }
            & .--ucp {
                background: rgba(106, 147, 255, 0.5);
            }
            & .--ce {
                @apply bg-darkGreen;
            }
            & .--uce {
                @apply bg-lightGreen;
            }
        }
    }
}
