@import "../styles";

.c-tracks-list {
    & .c-search-bar {
        @apply bg-backgroundColorA shadow-base;
        @apply py-12 mb-32;

        & input.--search {
            @apply flex-grow;
            max-width: 550px;
        }

        & .--tag-option-list {
            @apply absolute left-0 right-0;
            @apply bg-backgroundColorA;

            top: 60px;

            box-shadow: 0px 18px 24px rgba(79, 114, 205, 0.15);

            &:focus {
                @apply outline-none;
            }

            & .container {
                @apply py-24;
            }

            & .--categories {
                @apply flex flex-row gap-spacedColumns;
            }

            & .--category {
                @apply flex flex-col gap-8;

                & h4 {
                    @apply text-14 font-semibold font-mono;
                    @apply mb-12;
                }
                & .--option {
                    & input {
                        @apply mr-8;
                    }
                }
            }
            & .--buttons {
                @apply flex gap-16 mt-spacedColumns;

                & .--apply-btn,
                & .--close-btn {
                    @apply px-24 py-12 rounded-5 border-2 leading-none;
                    @apply font-semibold;
                }

                & .--apply-btn {
                    @apply text-textColor9 bg-purple border-purple;
                }

                & .--close-btn {
                    @apply border-darkGray;
                }
            }
        }
    }
    & .--tracks {
        @apply grid gap-16;
        @screen md {
            @apply grid-cols-2;
        }
    }

    & .--track {
        @apply flex flex-col;
        @apply bg-backgroundColorA shadow-base rounded-8;
        & .--content {
            @apply flex flex-grow items-start p-24;

            & .c-track-icon {
                width: 57px;
                @apply mr-28;
            }
            & .--info {
                @apply flex-grow;

                & .--heading {
                    @apply flex items-center mb-8;
                }

                & .--title {
                    @apply mr-16;
                    @apply text-h4;
                }

                & .--joined {
                    @apply text-14 font-medium text-textColor6;
                }

                & .--counts {
                    @apply flex items-center mb-12;
                    @apply font-medium text-15 leading-150;
                    & li {
                        @apply flex items-center mr-24;

                        & .c-icon {
                            height: 21px;
                            width: 21px;
                            @apply mr-12;
                        }
                    }
                }

                & .--tags {
                    /* This flex behaviour and max-height combo causes 
                     * the tags to wrap but to be hidden if they overflow 
                     * one line. This means we only see whole tags on 
                     * the cards but we only ever see one row. */
                    @apply flex flex-wrap overflow-hidden gap-8;
                    max-height: 32px;

                    & li {
                        @apply border-borderColor7 border-1 rounded-100;
                        @apply font-medium text-14 text-textColor6 leading-none;
                        @apply py-8 px-12;
                        @apply whitespace-no-wrap;
                    }
                }
            }
            & i {
                @apply self-center;
            }
            & .c-icon {
                height: 16px;
                width: 16px;
                @apply text-textColor6 self-center;
            }
        }

        & .--progress-bar {
            height: 6px;
            @apply flex flex-row;

            & > * {
                height: 100%;
            }

            & .--cp {
                @apply bg-darkBlue;
            }
            & .--ucp {
                background: rgba(106, 147, 255, 0.5);
            }
            & .--ce {
                @apply bg-darkGreen;
            }
            & .--uce {
                @apply bg-lightGreen;
            }
        }
    }
}
