.c-youtube-container {
    @apply relative rounded-8 overflow-hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;

    & iframe,
    & object,
    & embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
