main {
    background-image: url(/bootcamp/images/coffee-beans.png);
    background-size: cover;
    background-color: #e1d3c6;
    padding: 5%;
}
h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5%;
    color: #2b1a0b;
}
p,
ul {
    font-size: 17px;
    color: #2b1a0b;
}
p {
    margin-bottom: 5%;
}
ul {
    margin-bottom: 5%;
}
strong {
    font-weight: bold;
}
a {
    color: darkmagenta;
    text-decoration: underline;
}
