%p Hi #{@user.handle},
%p Thank you for your Premium Payment! As well as giving you some fun benefits, your payment also keeps the core Exercism product free for everyone. So thank you for your support 💙
%p You can see all the payments you've made to Exercism, and download your receipts, in your Settings page. If you have any questions about your payment, please reply to this email.
%p We hope you enjoy Premium!
= email_button_to "Visit Premium", premium_url

