%p Hi #{@user.handle},
%p Thank you for your donation! Exercism exists to bring the joy of programming to everyone, everywhere. Your donation helps make everything we do possible.
%p You can see all the donations you've made to Exercism, and download your receipts, in your Settings page. If you have any questions about your donation, please reply to this email.
%p Thank you again!
= email_button_to "View your donations", donations_settings_url

