Hi #{@user.handle},
\
Thank you for your Donation to Exercism! As well as giving you some fun benefits, your payment also keeps the core Exercism product free for everyone. So thank you.
\
You can see all the payments you've made to Exercism, and download your receipts, in your Settings page. If you have any questions about your payment, please reply to this email.
\
We hope you enjoy Exercism Insiders!
