/ We want to get the holding font rendered straight away
%link{ rel: "preload", href: asset_path('poppins-v20-latin-regular.woff2'), as: "font", type: "font/woff2", crossorigin: :anonymous }
:css
  @font-face {
    font-display: fallback;
    font-family: PoppinsInitial;
    src: url(#{asset_path('poppins-v20-latin-regular.woff2')}) format('woff2');
  }
  body {
    --body-font: Poppins, PoppinsInitial, serif;
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
  }
  body.fonts-loaded {
    --body-font: Poppins, serif;
  }
