.exercise-breakout {
    .ball {
        @apply absolute;
        @apply bg-[red];
        @apply rounded-circle;
        width: 5%;
        height: 5%;
        transform: translate(-50%, -50%);
    }
    .block {
        @apply absolute;
        @apply bg-[lightblue];
        @apply border-[1px] border-[green];
        width: 10%;
        height: 5%;
    }
}
