#bootcamp-solve-exercise-page {
    .exercise-digital-clock {
        background-image: url("bootcamp/assets/digital-clock/background.png");
        background-size: cover;
        position: relative;
        container-type: size;

        .time,
        .meridiem {
            font-family: "DSDigital";
            color: #ec1d26;
            position: absolute;
            font-weight: bold;
        }
        .time {
            top: 30%;
            left: 0;
            right: 7%;
            text-align: center;
            font-size: 26cqw;
            letter-spacing: 1cqw;
        }
        .meridiem {
            font-size: 8cqw;
            letter-spacing: 1cqw;
            right: 10%;
            &.am {
                top: 34%;
            }
            &.pm {
                top: 44%;
            }
        }
    }
}
